In [2]:
import numpy as np
import pandas as pd 
data=pd.read_csv('/Users/withmocha/Desktop/콜센터 민원_일반 행정 문의.csv')

data

,Unnamed: 0,상담사질문(요청),상담사답변
0,0,NaN,NaN
1,1,NaN,이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
2,2,NaN,NaN
3,3,어떤 은행을 이용하고 계십니까?,NaN
4,4,NaN,NaN
...,...,...,...
50331,50331,NaN,"입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다."
50332,50332,NaN,NaN
50333,50333,NaN,1~3순위가 있습니다.
50334,50334,NaN,NaN
50335,50335,NaN,국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

In [3]:
data.drop(columns=['Unnamed: 0'],inplace=True)

In [4]:
data.dtypes

상담사질문(요청)    object
상담사답변        object
dtype: object

In [5]:
data.shape

(50336, 2)

In [6]:
data['상담사질문(요청)'].isnull()

0         True
1         True
2         True
3        False
4         True
         ...
50331     True
50332     True
50333     True
50334     True
50335     True
Name: 상담사질문(요청), Length: 50336, dtype: bool

In [7]:
data1=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[0]),columns=['상담사질문(요청)'])
data2=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[1]),columns=['상담사답변'])

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_4595/3933870051.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data1=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[0]),columns=['상담사질문(요청)'])
/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_4595/3933870051.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data2=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[1]),columns=['상담사답변'])

In [8]:
print(data1.shape)
print(data2.shape)
print(data.shape)

(4497, 1)
(20070, 1)
(50336, 2)

In [9]:
print(type(data1.iloc[0,0]))
print(type(data.iloc[1,1]))

<class 'float'>
<class 'str'>

In [10]:
index=[]
for i in range(data.shape[0]):
    if type(data.iloc[i,0])==str:
        index.append(i)
    else:
        continue
        
data1_index=np.array(index)

In [11]:
index=[]
for i in range(data.shape[0]):
    if type(data.iloc[i,1])==str:
        index.append(i)
    else:
        continue
        
data2_index=np.array(index)

In [12]:
print(data2_index)

[    1     5     7 ... 50331 50333 50335]

In [13]:
for i in range(len(data1_index)):
    data1.iloc[i,0]=data.iloc[data1_index[i],0]

In [14]:
for i in range(len(data2_index)):
    data2.iloc[i,0]=data.iloc[data2_index[i],1]

In [15]:
data1

                                상담사질문(요청)
0                       어떤 은행을 이용하고 계십니까?
1                         어느지점으로 안내해드릴까요?
2                 지금 전화거신 핸드폰이 본인명의 맞습니까?
3                        생년월일을 말씀해주시겠습니까?
4                         살고계신 주소는 어디입니까?
...                                   ...
4492                      서울시에서 진행하는 건가요?
4493                         어떠점이 궁금하십니까?
4494  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?
4495             네. 혼인신고의 어떤 내용을 알고싶으신가요?
4496                  서울에 위치한거 말씀하시는 건가요?

[4497 rows x 1 columns]

In [16]:
data2

                                                상담사답변
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                                        방문납부도 가능합니다.
3                             도보로 10분위치에 서울역지점이 있습니다.
4                                 도보로 가시는게 빠를 것 같습니다.
...                                               ...
20065                                     62400원 입니다.
20066                                   1423200원 입니다.
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.
20068                                    1~3순위가 있습니다.
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

[20070 rows x 1 columns]

In [18]:
data1.to_csv("콜센터민원_일반 행정 문의_상담사질문.csv")

In [19]:
data2.to_csv("콜센터민원_일반 행정 문의_상담사답변.csv")