In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process1/process 1 train data row.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
12492                   사용하시간지 못한 일수에 대한 환불이 진행될 예정입니다.       0.0
2393    네 다름이 아니구요 사장님께서 혹시 안쓰시는 아이디가 있으시면 저희가 월 400에...      1.0
8688                               30날 초과 때 과태료과 부과됩니다.       0.0
3800    예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...      1.0
10492             군인중에서에 군부대에 있어 부대 밖으로 나오지 못하는 경우의 수입니다      0.0
...                                                  ...      ...
1612   1유형으로 선발되시각면 등록금 감면으로 혜택을 받으실꺼고, 2유형으로 선발되시간면 ...      0.0
16588                   OOO-OOOO-OOOO번호로  질문하시각면 될일같습니다.      0.0
12768                             네, 해제 등록 신청도 실행 가능합니다.      0.0
12222                                        6개월 보조 됩니다.      0.0
3374    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...      1.0

[24082 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                                sentence  predict
15812  지방세를 부과 또는 징수에 이의가 있을 경우에 따라 감사원장을 통하여 심사청구 받는...      0.0
7750    아 그렇게는 안되구요. 그러면은 저희가 이제 따로 수납 처리 안 받고 공증을 직접...      1.0
73         아 네 알겠습니다 그 바로 연락 한번 좀 부탁드릴게요 알겠습니다여보세요 네   님      1.0
5735    아 뭐 통장 식별연락처는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 ...      1.0
6224             네 은행 아이디에 화폐을 다 빼가셨더라고요 바로?네 여보세요? 여보세요      1.0
...                                                  ...      ...
5342    수납 담당자님 은행 로그인 계정 식별연락처는 바로 카카오톡으로 보내드릴거구요. 수...      1.0
5856    다른사람한테 피해주지 마시구요 그러다 벌받아요 무슨소리하시는거죠? 지금 그 은행 ...      1.0
7227                              좌석의 30프로 이용함가능성 있음합니다.      0.0
8459   동일 도서로 변상할 수 없는 사례에는 대체자료를 구입하여 변상하셔야 하는데요, 우선...      0.0
10544                 학교를 다니지 않는 18세 미만의 아동도 후원받을 수 있습니다      0.0

[24082 rows x 2 columns]

In [6]:
data.to_csv("process1 train data before nlp(L6).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(24082, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
24077     NaN
24078     NaN
24079     NaN
24080     NaN
24081     NaN

[24082 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

      predict
0         0.0
1         1.0
2         1.0
3         1.0
4         1.0
...       ...
24077     1.0
24078     1.0
24079     0.0
24080     0.0
24081     0.0

[24082 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.018889,0.022339,0.040368,-0.018171,-0.00539,-0.089268,0.001154,0.051661,0.02139,-0.036536,...,-0.00823,0.036579,-0.020854,0.039761,0.064399,-0.037649,-0.013824,-0.01916,-0.027435,0.015318
1,0.007844,0.097301,0.080918,-0.077074,-0.044357,-0.032531,0.109897,0.05208,0.021335,-0.022338,...,-0.025937,0.024803,0.028747,0.044216,0.045877,0.019393,0.074332,0.034338,-0.050989,0.01735
2,0.015301,0.075333,0.004286,-0.055536,-0.003053,-0.079692,0.051661,0.078329,-0.050642,-0.010684,...,0.035377,0.051043,0.019657,-0.019116,0.044463,0.028502,-0.037764,0.02774,-0.108269,0.020193
3,0.020962,0.09635,0.101345,-0.022,-0.032949,-0.034032,0.090498,0.016534,0.01131,-0.060955,...,0.003183,0.019781,0.051385,0.098887,0.031104,0.011011,0.027099,0.056047,-0.052031,-0.029502
4,-0.010296,0.070084,0.003005,-0.022668,0.012399,-0.067702,0.036359,0.083156,-0.051158,-0.037494,...,0.030159,0.053308,0.048471,-0.051897,-0.005299,-0.014841,0.061358,0.030855,-0.061657,-0.015631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,-0.000118,0.058514,0.111212,-0.029815,-0.038628,-0.028302,0.103287,0.021489,-0.004948,-0.01438,...,0.010015,0.03789,0.005103,0.087725,0.012766,0.00106,0.093909,0.084348,-0.081974,-0.027287
24078,0.010605,0.091867,0.040538,-0.050951,0.005925,-0.050297,0.074522,0.048008,-0.050219,-0.059662,...,0.035879,0.040518,0.034473,0.007739,-0.015416,-0.031663,0.066118,0.037482,-0.056622,0.033941
24079,0.019083,-0.018466,-0.033758,0.011054,-0.004876,-0.056864,-0.032254,0.117827,-0.023301,0.048114,...,-0.001199,0.028169,-0.052591,-0.012994,-0.015182,-0.080018,0.0294,-0.029092,0.022299,0.005562
24080,0.005838,0.081527,0.094728,-0.028135,-0.048461,-0.041482,0.055107,0.021757,0.008978,-0.012861,...,0.019906,0.040731,-0.00369,0.033867,0.042414,0.009376,0.077887,0.0803,-0.059102,-0.026149
24081,0.002418,0.111961,0.070975,-0.017278,0.019915,-0.021646,0.097936,0.008841,0.004923,-0.032986,...,0.055539,0.089976,0.04967,-0.000307,0.012426,-0.016867,0.081296,0.037012,-0.080006,-0.052319

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.018889,0.022339,0.040368,-0.018171,-0.00539,-0.089268,0.001154,0.051661,0.02139,-0.036536,...,0.036579,-0.020854,0.039761,0.064399,-0.037649,-0.013824,-0.01916,-0.027435,0.015318,0.0
1,0.007844,0.097301,0.080918,-0.077074,-0.044357,-0.032531,0.109897,0.05208,0.021335,-0.022338,...,0.024803,0.028747,0.044216,0.045877,0.019393,0.074332,0.034338,-0.050989,0.01735,1.0
2,0.015301,0.075333,0.004286,-0.055536,-0.003053,-0.079692,0.051661,0.078329,-0.050642,-0.010684,...,0.051043,0.019657,-0.019116,0.044463,0.028502,-0.037764,0.02774,-0.108269,0.020193,1.0
3,0.020962,0.09635,0.101345,-0.022,-0.032949,-0.034032,0.090498,0.016534,0.01131,-0.060955,...,0.019781,0.051385,0.098887,0.031104,0.011011,0.027099,0.056047,-0.052031,-0.029502,1.0
4,-0.010296,0.070084,0.003005,-0.022668,0.012399,-0.067702,0.036359,0.083156,-0.051158,-0.037494,...,0.053308,0.048471,-0.051897,-0.005299,-0.014841,0.061358,0.030855,-0.061657,-0.015631,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,-0.000118,0.058514,0.111212,-0.029815,-0.038628,-0.028302,0.103287,0.021489,-0.004948,-0.01438,...,0.03789,0.005103,0.087725,0.012766,0.00106,0.093909,0.084348,-0.081974,-0.027287,1.0
24078,0.010605,0.091867,0.040538,-0.050951,0.005925,-0.050297,0.074522,0.048008,-0.050219,-0.059662,...,0.040518,0.034473,0.007739,-0.015416,-0.031663,0.066118,0.037482,-0.056622,0.033941,1.0
24079,0.019083,-0.018466,-0.033758,0.011054,-0.004876,-0.056864,-0.032254,0.117827,-0.023301,0.048114,...,0.028169,-0.052591,-0.012994,-0.015182,-0.080018,0.0294,-0.029092,0.022299,0.005562,0.0
24080,0.005838,0.081527,0.094728,-0.028135,-0.048461,-0.041482,0.055107,0.021757,0.008978,-0.012861,...,0.040731,-0.00369,0.033867,0.042414,0.009376,0.077887,0.0803,-0.059102,-0.026149,0.0
24081,0.002418,0.111961,0.070975,-0.017278,0.019915,-0.021646,0.097936,0.008841,0.004923,-0.032986,...,0.089976,0.04967,-0.000307,0.012426,-0.016867,0.081296,0.037012,-0.080006,-0.052319,0.0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
5865,0.009949,0.054995,0.079648,-0.043508,0.022471,-0.059191,0.105683,0.08494,-0.000696,-0.059531,...,0.068134,0.008094,0.015823,0.027789,0.009674,0.023073,0.037562,-0.121562,0.017454,1.0
10102,0.001506,0.116604,0.044049,-0.041566,0.001852,-0.042091,0.043249,0.013096,-0.038428,-0.050643,...,0.054401,0.026275,0.001782,0.009862,-0.021789,0.049501,0.013589,-0.044698,0.03684,1.0
13015,0.017864,0.05459,0.073618,-0.007276,-0.023881,-0.045364,0.148434,0.019531,-0.007149,-0.031311,...,-0.002272,0.014769,0.030929,0.014273,-0.025,0.038112,0.112984,-0.080131,-0.064617,1.0
23244,0.006219,0.110427,0.065225,-0.041876,0.01573,-0.052987,0.100616,0.02514,-0.015447,-0.05389,...,0.074422,0.04327,0.00742,-0.008262,-0.018528,0.076865,0.038052,-0.088691,-0.005449,1.0
6108,-0.06298,0.114991,0.041361,-0.027343,-0.022971,-0.036823,0.071427,0.009663,0.003208,0.008084,...,0.052127,0.058347,0.003897,0.038526,0.028033,0.074169,0.074059,-0.05746,-0.038015,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10243,0.0534,0.066148,0.03939,0.027838,-0.026685,-0.061008,0.042068,0.021857,-0.019188,-0.012034,...,0.013384,0.017696,0.02306,0.04007,-0.000142,0.151253,0.01331,-0.062616,0.003463,0.0
10182,-0.000098,0.100156,0.044867,-0.068256,-0.099628,-0.068876,0.040993,0.038305,-0.072868,0.000836,...,-0.002296,-0.000588,0.006689,-0.007295,0.011561,0.026949,0.031466,-0.074421,0.012189,0.0
16823,0.00728,0.042923,-0.002158,-0.062152,-0.041051,-0.044581,-0.030073,0.098184,-0.024823,-0.042538,...,0.015081,-0.041551,0.004681,0.082485,0.018585,-0.035266,-0.003835,-0.048839,0.02267,0.0
1533,-0.044718,0.068764,0.073991,-0.026358,-0.078891,-0.03955,0.069166,0.003902,0.038959,-0.01475,...,0.0394,-0.008791,0.034479,0.073915,0.00394,0.074244,0.05959,-0.083643,-0.03265,0.0
11328,0.021439,0.086716,0.097429,-0.040088,-0.013175,-0.065449,0.097149,0.006323,0.018663,-0.009481,...,0.042499,0.045536,0.038219,0.059128,0.010438,0.05214,0.067944,-0.080354,-0.022923,1.0

In [26]:
data.to_csv("process1 train data after nlp(L6).csv")