In [1]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/0506/일반민원.csv",index_col=0)
data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/0506/binary ab row data.csv",index_col=0)

In [2]:
data

                                             sentence  predict
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.        0
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.        0
2                                        방문납부도 가능합니다.        0
3                             도보로 10분위치에 서울역지점이 있습니다.        0
4                                 도보로 가시는게 빠를 것 같습니다.        0
...                                               ...      ...
20065                                     62400원 입니다.        0
20066                                   1423200원 입니다.        0
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.        0
20068                                    1~3순위가 있습니다.        0
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.        0

[16933 rows x 2 columns]

In [3]:
data_ab

                       sentence  predict
5193   '아 신한 캐피탈 다니는 오빠는 있거든요?'        1
8252   '경기도 광명 출신의 38살의 남성인데요.'        1
4859          '이걸 이제 받아 보실 거구요'        1
2119    '아 제가 먼저 돈을 드려야 되는거에요?'        1
2436       '지금 메세지 하나 보내드렸거든요?'        1
...                         ...      ...
7462             '국민은행은 주거래고요.'        1
6006   '농협으로 이동을 좀 해줄 수 있겠습니까.'        1
2884               '짜증좀 그만 내고.'        1
2104           '이렇게 하는 거 아닙니다.'        1
568      '동결 처리하는 게 무슨 뜻인지 알아요'        1

[11909 rows x 2 columns]

In [4]:
data=pd.concat([data,data_ab])

In [5]:
data

                                 sentence  predict
0          이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.        0
1     그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.        0
2                            방문납부도 가능합니다.        0
3                 도보로 10분위치에 서울역지점이 있습니다.        0
4                     도보로 가시는게 빠를 것 같습니다.        0
...                                   ...      ...
7462                       '국민은행은 주거래고요.'        1
6006             '농협으로 이동을 좀 해줄 수 있겠습니까.'        1
2884                         '짜증좀 그만 내고.'        1
2104                     '이렇게 하는 거 아닙니다.'        1
568                '동결 처리하는 게 무슨 뜻인지 알아요'        1

[28842 rows x 2 columns]

In [6]:
data=data.sample(frac=1)

In [7]:
data.to_csv("origin train data.csv")