In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process1/process 1 train data row.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
12492                   사용하시간지 못한 일수에 대한 환불이 진행될 예정입니다.       0.0
2393    네 다름이 아니구요 사장님께서 혹시 안쓰시는 아이디가 있으시면 저희가 월 400에...      1.0
8688                               30날 초과 때 과태료과 부과됩니다.       0.0
3800    예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...      1.0
10492             군인중에서에 군부대에 있어 부대 밖으로 나오지 못하는 경우의 수입니다      0.0
...                                                  ...      ...
1612   1유형으로 선발되시각면 등록금 감면으로 혜택을 받으실꺼고, 2유형으로 선발되시간면 ...      0.0
16588                   OOO-OOOO-OOOO번호로  질문하시각면 될일같습니다.      0.0
12768                             네, 해제 등록 신청도 실행 가능합니다.      0.0
12222                                        6개월 보조 됩니다.      0.0
3374    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...      1.0

[24082 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                                sentence  predict
7669    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 녹음 파일를 통해서 대...      1.0
15494                  네 보통 이상함 징후가 없다면 평균 이 정도 기간이 됩니다.      0.0
11829  말 그대로 녹색교통구역으로 지정된 구역내에서는 5등급차량은 운행하지 못하도록 하는 ...      0.0
5230   현재 시민등록하기상의 거주지의 지역 사회화폐인지 점검하시기고, 거주지가 동일하다면 ...      0.0
7787   네, 간혹 분쟁이 발생되는 항목이라 공인중개사가 거래당사자에게 과세기준일을 안내하도...      0.0
...                                                  ...      ...
2831    자본을 먼저 넣으라는 거는 나는 좀 이해가 안되네요.여보세요 안녕하세요 고객님 김...      1.0
8973    다른사람한테 피해주지 마시구요 그러다 벌받아요 무슨소리하시는거죠? 지금 그 은행 ...      1.0
8919    사용하시는 휴대 전화 식별전화번호 통신사는 어떻게 되세요? SKT요 본인 명의세요? 예      1.0
6720                                   보건소에 방문함하셔야 합니다.       0.0
1252    5년이고요 네 매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로...      1.0

[24082 rows x 2 columns]

In [6]:
data.to_csv("process1 train data before nlp(jhgan).csv")

In [7]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('jhgan/ko-sbert-sts')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(24082, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
24077     NaN
24078     NaN
24079     NaN
24080     NaN
24081     NaN

[24082 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

      predict
0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
...       ...
24077     1.0
24078     1.0
24079     1.0
24080     0.0
24081     1.0

[24082 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,1.08531,1.07676,-0.144575,-0.080004,-1.760049,-0.165614,-0.276869,0.536318,0.307317,-0.554815,...,-0.809779,1.01281,0.487238,0.914602,-0.351745,-0.233601,-0.143584,0.571169,0.069481,0.846928
1,0.570268,0.154872,-0.215775,1.419212,-0.63181,-1.0563,0.647427,0.578185,0.30863,-1.212667,...,-0.162518,0.599232,1.463145,1.90651,-0.569452,-0.853587,-0.279059,-0.759872,-0.067396,1.061305
2,0.135691,-0.048309,-1.021491,-0.30594,-0.297968,-0.708276,1.441532,1.632441,0.054235,-1.143756,...,0.081068,0.37986,0.268899,-0.220213,-0.053512,-0.357856,0.824327,0.132956,-0.504776,1.331912
3,0.292663,0.692878,-0.881593,0.986191,0.05845,-1.190844,0.304237,0.600947,1.241086,0.113924,...,0.932343,0.795832,-0.02272,0.552026,0.593347,0.170385,0.785853,-0.921583,-1.009968,1.483218
4,-0.14841,0.604962,-0.973571,0.8876,-0.271579,0.055024,-0.33946,-0.286193,0.434568,0.126731,...,0.52319,0.578761,-0.30174,0.31011,0.066647,-1.201481,1.288234,-0.226723,0.813756,0.970168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,0.76237,-0.591006,-0.101101,0.768432,-0.144724,-0.422173,-0.662369,0.580594,0.050728,-0.402193,...,0.253231,0.460677,-0.034761,0.328104,-0.72752,-0.334646,-0.014031,-0.033247,-0.264162,-0.293072
24078,1.190552,0.289312,-0.503025,0.479673,-0.417387,-0.419576,-0.458353,0.835555,0.21672,0.439365,...,0.015703,1.04577,1.098587,1.167969,0.197649,-0.285325,1.03489,0.102618,-0.306428,-0.565435
24079,-0.180196,0.723453,-0.711885,0.564843,0.655993,-0.841502,0.117173,1.160769,1.140762,-0.004144,...,0.369135,0.187698,-0.205544,0.879711,0.24016,0.410828,-0.342841,0.382179,-0.53326,0.787173
24080,0.552691,0.507632,0.370093,-0.076611,0.009925,-1.078968,-1.064158,0.895237,0.371598,-1.062954,...,-0.708229,0.021045,0.426098,1.66328,-0.551403,-0.469768,-0.966333,-0.102965,-0.034491,0.629984
24081,0.0535,-0.042564,-0.392013,0.171784,-0.598646,-1.177423,-0.129432,0.169706,-0.781165,-0.21557,...,0.103361,1.407337,0.442774,0.552234,0.219854,-0.272041,0.057543,-0.149707,0.07055,1.41466

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,1.08531,1.07676,-0.144575,-0.080004,-1.760049,-0.165614,-0.276869,0.536318,0.307317,-0.554815,...,1.01281,0.487238,0.914602,-0.351745,-0.233601,-0.143584,0.571169,0.069481,0.846928,1.0
1,0.570268,0.154872,-0.215775,1.419212,-0.63181,-1.0563,0.647427,0.578185,0.30863,-1.212667,...,0.599232,1.463145,1.90651,-0.569452,-0.853587,-0.279059,-0.759872,-0.067396,1.061305,0.0
2,0.135691,-0.048309,-1.021491,-0.30594,-0.297968,-0.708276,1.441532,1.632441,0.054235,-1.143756,...,0.37986,0.268899,-0.220213,-0.053512,-0.357856,0.824327,0.132956,-0.504776,1.331912,0.0
3,0.292663,0.692878,-0.881593,0.986191,0.05845,-1.190844,0.304237,0.600947,1.241086,0.113924,...,0.795832,-0.02272,0.552026,0.593347,0.170385,0.785853,-0.921583,-1.009968,1.483218,0.0
4,-0.14841,0.604962,-0.973571,0.8876,-0.271579,0.055024,-0.33946,-0.286193,0.434568,0.126731,...,0.578761,-0.30174,0.31011,0.066647,-1.201481,1.288234,-0.226723,0.813756,0.970168,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,0.76237,-0.591006,-0.101101,0.768432,-0.144724,-0.422173,-0.662369,0.580594,0.050728,-0.402193,...,0.460677,-0.034761,0.328104,-0.72752,-0.334646,-0.014031,-0.033247,-0.264162,-0.293072,1.0
24078,1.190552,0.289312,-0.503025,0.479673,-0.417387,-0.419576,-0.458353,0.835555,0.21672,0.439365,...,1.04577,1.098587,1.167969,0.197649,-0.285325,1.03489,0.102618,-0.306428,-0.565435,1.0
24079,-0.180196,0.723453,-0.711885,0.564843,0.655993,-0.841502,0.117173,1.160769,1.140762,-0.004144,...,0.187698,-0.205544,0.879711,0.24016,0.410828,-0.342841,0.382179,-0.53326,0.787173,1.0
24080,0.552691,0.507632,0.370093,-0.076611,0.009925,-1.078968,-1.064158,0.895237,0.371598,-1.062954,...,0.021045,0.426098,1.66328,-0.551403,-0.469768,-0.966333,-0.102965,-0.034491,0.629984,0.0
24081,0.0535,-0.042564,-0.392013,0.171784,-0.598646,-1.177423,-0.129432,0.169706,-0.781165,-0.21557,...,1.407337,0.442774,0.552234,0.219854,-0.272041,0.057543,-0.149707,0.07055,1.41466,1.0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
19353,-0.086269,-0.139677,-0.22079,0.535477,-1.05555,-0.83751,-0.005569,0.170419,0.554333,0.004346,...,0.721017,0.962038,1.439573,-0.544509,-0.87007,0.19702,0.401182,-0.86145,0.038808,1.0
11705,-0.238532,0.302719,0.327514,0.732389,0.667684,-0.286364,0.424514,0.285921,0.870762,-0.088969,...,0.951822,2.100012,1.073404,-0.442243,-0.557655,-0.106234,-0.549105,-1.163575,-1.023175,0.0
19076,0.002668,1.246108,-0.265069,1.02438,-0.631384,-0.075521,0.16845,0.617577,-0.299386,-1.091317,...,1.017361,0.208198,0.770668,-0.741129,-0.20234,0.57339,-0.623126,-0.558295,1.015975,1.0
8730,0.42573,0.416134,-0.870762,0.272118,0.193577,-0.187783,1.123275,0.062575,-0.553387,-0.619464,...,1.396789,0.169828,0.65122,0.143213,-0.804168,-0.258918,-0.242286,0.55333,0.359736,0.0
7169,0.71838,0.001324,0.141934,0.564822,-0.167527,-1.030692,0.226645,-0.560738,0.140605,0.191273,...,1.230371,0.764054,0.168737,-0.84048,-0.901748,0.624152,-0.167247,-0.104844,0.084743,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21304,0.175063,1.043103,0.285208,0.250471,0.130595,-0.097597,0.236582,0.084535,-0.950983,-1.503466,...,-0.322587,0.825722,0.771311,-0.645723,1.269361,0.140865,-0.784581,0.96893,1.156471,0.0
18577,-0.140608,-0.38613,0.417368,0.901419,0.524514,-0.36334,-1.154816,0.868821,0.630713,0.615826,...,0.289789,1.053913,0.9005,-0.197475,-0.426223,-0.334639,-1.34075,-0.402205,0.198779,1.0
5156,-0.029453,-0.172795,-0.002025,1.241368,-0.439644,-0.912574,0.246164,0.93067,-0.941461,-1.360922,...,0.39079,0.341172,1.246782,-0.437441,-0.481227,0.331018,-0.488033,0.924151,1.09073,0.0
23106,-0.612423,-0.461425,1.145959,0.723197,0.200271,1.331663,-0.857826,-0.019468,0.030972,0.483067,...,0.415164,-0.346378,0.245532,-0.845248,0.369016,0.402577,-0.541161,0.496782,0.800949,1.0
18622,0.161145,-0.446121,0.083352,0.896813,0.134026,-0.54967,-0.828987,0.485529,-0.336403,0.490819,...,0.385159,-0.124183,1.392049,0.240935,-0.216668,1.823431,-0.226034,0.597845,0.828416,0.0

In [26]:
data.to_csv("process1 train data after nlp(jhgan).csv")