In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/test/test data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
2427                         그렇구나... 대리님 네 속임수 행위치지 마시고요        1
3564    사장님께서 혹시 안쓰시는 은행 계정가 있으시면 저희가 월 400에서 450만원까지...        1
5245                    취업성공패키지는 만 18세~만 69세까지 신청 가능합니다.        0
7705    네 다름이 아니구요 사장님께서 혹시 안쓰시는 은행 계정가 있으시면 저희가 월 40...        2
347                                   최대 2억원까지 대출 가능하세요.        0
...                                                  ...      ...
191     아 뭐 통장 숫자는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 다짜고...        1
2496                네 아이디에 자본을 다 빼가셨더라고요 바로?네 여보세요? 여보세요        1
19578                     아니요, 평일 오전 9시에서 오후6시까지만 가능합니다.        0
7455   보다 어려운 이웃들에게 혜택을 제공할 수 있도록 건강보험료 부담금 기준으로 선정하고...        0
8561    사장님께서 혹시 안쓰시는 입출금 입출금 계좌가 있으시면 저희가 월 400에서 45...        2

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
8898    아 뭐 통장 식별연락처는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 ...        2
7531    대출 승인 나셨을 경우에 대출금 송금 받아 보실 수 있는 은행 사용자 ID 한번 ...        2
7863    아 네 안녕하세요 저희 그 하나캐피탈에서 연락을 드렸습니다 아 그래요? 네네네 고...        2
8771    무슨소리하시는거죠? 지금 그 사용자 계정 제가 신고 해놨거든요? 네 은행 계정에 ...        1
10050                                    현재 사용 중단되었습니다.         0
...                                                  ...      ...
7030    다른거 필요한 건 없나요? 뭐 추가적인 접수는 없으세요 아 뭐 통장 전화연락처는 ...        1
1039                                         아니요. 안됩니다.         0
699     위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 녹음를 통해서 대...        1
15504  층간 소음은 직접충격음과 공기던달음에 따라 범위를 나눠고, 소음을 측정하는 db에 ...        0
9131                               동물등록 방법에 따라 차이가 있습니다.        0

[300 rows x 2 columns]

In [7]:
data.to_csv("test_data_before_vector.csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_test.shape

(300, 768)

In [15]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [16]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [19]:
y_test

    predict
0         2
1         2
2         2
3         1
4         0
..      ...
295       1
296       0
297       1
298       0
299       0

[300 rows x 1 columns]

In [20]:
y_test.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [22]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.07909,-0.021913,-0.02422,0.025326,0.016295,0.009016,0.043237,0.012207,0.04748,-0.045886,...,0.003025,-0.025356,-0.014413,0.01353,-0.048509,-0.055529,0.010217,0.044461,0.020764,0.00354
1,0.064282,-0.045744,-0.041582,-0.006708,0.00841,0.005878,0.04532,0.009691,0.103278,-0.028827,...,-0.006316,-0.045956,-0.007051,0.036833,-0.050676,-0.063575,0.026843,0.036739,0.005595,0.003367
2,0.058986,-0.036946,-0.02548,-0.006198,0.014244,0.001092,-0.048714,0.027927,0.056201,-0.013811,...,-0.029304,-0.026212,-0.034943,0.00211,-0.013898,-0.040588,0.017561,0.022851,0.00725,-0.021191
3,0.075376,-0.057981,-0.015526,0.005595,0.028967,-0.010679,-0.020391,0.015558,0.060939,-0.03011,...,0.010948,-0.008157,0.005811,0.018252,-0.045896,-0.060333,-0.010281,0.026536,0.030697,-0.016832
4,0.016375,-0.041421,0.000457,0.005939,0.059369,0.018951,-0.079974,0.026656,0.072914,-0.010142,...,-0.014453,-0.038604,0.039897,-0.015911,-0.068155,-0.037672,0.01051,0.025955,0.051471,-0.038145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.046868,-0.038633,-0.010575,-0.000947,0.037369,0.008179,-0.022527,0.013618,0.001633,-0.034614,...,-0.016664,-0.021084,-0.066629,0.01022,-0.034382,0.001585,-0.014264,0.007733,0.032534,-0.013776
296,0.027276,0.024208,-0.000149,-0.001408,0.070246,0.029955,-0.072667,0.019166,0.064152,-0.01756,...,-0.001459,0.004292,0.02115,-0.009343,-0.06802,-0.040408,-0.021513,0.030036,0.030965,-0.025964
297,0.087587,-0.037476,-0.028455,0.016815,0.011032,0.014824,-0.013598,0.020393,0.068406,-0.011681,...,-0.027306,-0.008902,-0.032482,0.025605,-0.035227,-0.042573,0.011861,0.026376,0.013514,-0.024459
298,-0.001062,-0.072218,-0.045877,-0.001463,-0.017877,-0.000534,0.027053,0.00429,0.019195,0.012011,...,-0.000955,-0.005627,-0.038659,0.000151,-0.051821,-0.016008,-0.000999,-0.001232,-0.056722,-0.016009
299,0.032949,-0.069756,-0.02049,0.007872,0.019733,0.003552,-0.056588,0.033671,0.073563,-0.000327,...,-0.042742,-0.040128,-0.021228,-0.015259,-0.038751,-0.029721,0.012801,0.02917,0.005408,-0.026886

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data=pd.DataFrame(scaler.fit_transform(x_test))

In [24]:
data=pd.concat([x_test,y_test],axis=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.07909,-0.021913,-0.02422,0.025326,0.016295,0.009016,0.043237,0.012207,0.04748,-0.045886,...,-0.025356,-0.014413,0.01353,-0.048509,-0.055529,0.010217,0.044461,0.020764,0.00354,2
1,0.064282,-0.045744,-0.041582,-0.006708,0.00841,0.005878,0.04532,0.009691,0.103278,-0.028827,...,-0.045956,-0.007051,0.036833,-0.050676,-0.063575,0.026843,0.036739,0.005595,0.003367,2
2,0.058986,-0.036946,-0.02548,-0.006198,0.014244,0.001092,-0.048714,0.027927,0.056201,-0.013811,...,-0.026212,-0.034943,0.00211,-0.013898,-0.040588,0.017561,0.022851,0.00725,-0.021191,2
3,0.075376,-0.057981,-0.015526,0.005595,0.028967,-0.010679,-0.020391,0.015558,0.060939,-0.03011,...,-0.008157,0.005811,0.018252,-0.045896,-0.060333,-0.010281,0.026536,0.030697,-0.016832,1
4,0.016375,-0.041421,0.000457,0.005939,0.059369,0.018951,-0.079974,0.026656,0.072914,-0.010142,...,-0.038604,0.039897,-0.015911,-0.068155,-0.037672,0.01051,0.025955,0.051471,-0.038145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.046868,-0.038633,-0.010575,-0.000947,0.037369,0.008179,-0.022527,0.013618,0.001633,-0.034614,...,-0.021084,-0.066629,0.01022,-0.034382,0.001585,-0.014264,0.007733,0.032534,-0.013776,1
296,0.027276,0.024208,-0.000149,-0.001408,0.070246,0.029955,-0.072667,0.019166,0.064152,-0.01756,...,0.004292,0.02115,-0.009343,-0.06802,-0.040408,-0.021513,0.030036,0.030965,-0.025964,0
297,0.087587,-0.037476,-0.028455,0.016815,0.011032,0.014824,-0.013598,0.020393,0.068406,-0.011681,...,-0.008902,-0.032482,0.025605,-0.035227,-0.042573,0.011861,0.026376,0.013514,-0.024459,1
298,-0.001062,-0.072218,-0.045877,-0.001463,-0.017877,-0.000534,0.027053,0.00429,0.019195,0.012011,...,-0.005627,-0.038659,0.000151,-0.051821,-0.016008,-0.000999,-0.001232,-0.056722,-0.016009,0
299,0.032949,-0.069756,-0.02049,0.007872,0.019733,0.003552,-0.056588,0.033671,0.073563,-0.000327,...,-0.040128,-0.021228,-0.015259,-0.038751,-0.029721,0.012801,0.02917,0.005408,-0.026886,0

In [26]:
data=data.sample(frac=1)

In [27]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
54,0.056867,-0.062314,-0.02195,-0.006954,0.038388,-0.014966,-0.026111,0.021684,0.069457,-0.055876,...,-0.022321,-0.019147,0.002614,-0.048916,-0.091829,-0.005299,0.03255,0.026912,-0.005772,2
234,0.050822,-0.069493,-0.037588,-0.000099,0.01177,-0.000014,-0.017101,0.016548,0.0463,-0.010789,...,-0.02042,-0.016634,0.019503,-0.041433,-0.037881,0.017072,0.021161,0.01282,-0.028064,2
249,0.025293,-0.040446,0.000659,-0.00772,0.045447,0.004686,-0.045494,0.044232,0.061878,0.001915,...,-0.059659,0.016792,-0.025437,-0.066273,-0.016482,0.001668,0.01956,0.002651,-0.05936,0
106,0.055225,-0.048069,0.00179,0.001389,0.02852,-0.004947,-0.02869,-0.003125,0.063008,-0.018724,...,-0.025351,0.02649,0.014794,-0.057974,-0.093751,0.006481,0.022529,0.027503,-0.020578,0
111,0.080937,-0.064057,-0.02592,0.043451,0.011079,-0.000081,-0.0446,0.038998,0.077239,-0.008002,...,0.000841,-0.000587,0.002714,-0.033818,-0.0496,-0.008053,0.024315,0.00265,-0.014901,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,0.042038,-0.083042,-0.022749,0.008666,0.006729,-0.010339,-0.015804,0.014531,0.039368,-0.011508,...,-0.036038,-0.020194,0.004358,-0.031173,-0.018484,0.013631,0.031161,-0.015233,-0.027552,0
236,0.027295,-0.060853,-0.030273,0.019375,0.006263,0.005244,0.063747,0.058403,0.022749,0.055035,...,-0.04475,-0.074097,-0.019038,-0.032662,-0.020427,0.014097,0.016611,-0.035343,-0.038966,0
265,0.085339,-0.063371,-0.005175,0.011261,-0.012499,-0.027009,0.030014,0.000638,0.067172,-0.011589,...,-0.068677,-0.031696,-0.014631,-0.053656,-0.055121,0.041639,0.019622,-0.002904,-0.009526,0
113,0.044859,-0.040986,-0.008908,-0.000841,0.037127,0.005477,-0.019611,0.015795,-0.001073,-0.034209,...,-0.019787,-0.06772,0.008379,-0.03306,0.001823,-0.013098,0.005775,0.034053,-0.01491,1
135,0.062658,-0.045893,-0.017528,0.008289,0.02576,0.000271,-0.007308,0.013962,0.065176,0.033905,...,-0.033349,-0.027134,-0.011067,-0.035797,0.000339,0.009682,0.028563,-0.013179,-0.033524,2

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.

In [ ]:
data.to_csv("test_data_after_vector(1).csv")