In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/train/train data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
2868    사용하시는 휴대 전화 전화전화번호 통신사는 어떻게 되세요? SKT요 본인 명의세요? 예        1
10961               그럼 온라인 구매처 알려드릴게요. 농협몰에서 구입 가능하십니다.         0
4243    네 다름이 아니구요 사장님께서 혹시 안쓰시는 은행 사용자 ID가 있으시면 저희가 ...        1
890     위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 녹음를 통해서 대...        1
7431    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 녹음를 통해서 대...        2
...                                                  ...      ...
5884    무슨소리하시는거죠? 지금 그 은행 사용자 계정 제가 신고 해놨거든요? 네 입출금 ...        1
11073             대학생을 위한 다양한 정책도 마련되어있으니 확인하시고 신청해주세요.         0
2647    수납 담당자님 은행 입출금 계좌 숫자는 바로 카카오톡으로 보내드릴거구요. 수납 가...        1
9097    아 뭐 혹시 온라인에서 가입하신적은 없으세요? 네 가입한적 없는데요 아... 자본...        1
4136    고객님 본인명의세요? 예 예 수납 담당자님 은행 사용자 ID 숫자는 바로 카카오톡...        1

[37311 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
15892                                        네 질문 해 주세요.        0
19924                        주민세, 재산세, 자동차세는 자동이체 가능합니다.        0
9755    수납 담당자님 은행 로그인 계정 숫자는 바로 카카오톡으로 보내드릴거구요. 수납 가...        1
16247                            해당 문화행사는 반려동물 문화행사 입니다.        0
11694                                        네. 강화되었습니다.        0
...                                                  ...      ...
15066                   서울형 지도태깅 공유마당 홈페이지에서 확인할 수 있습니다.        0
9575    그럼? 됐습니다 그럼 공증을 지금 저희가 해드릴 수 있는 담보물이 있어요? 아휴 ...        2
8020    지금 다짜고짜 여쭤보면 어떡합니까? 고객님 신분 증명서도 접수도 안 해줬는데 그냥...        2
4899                                 네 신용카드및 포인트납부가능합니다.        0
5463                                이용권을 구매 후 사용하시면 됩니다.        0

[37311 rows x 2 columns]

In [7]:
data.to_csv("train_data_before_vector.csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_train.shape

(37311, 768)

In [15]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [16]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
37306     NaN
37307     NaN
37308     NaN
37309     NaN
37310     NaN

[37311 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [19]:
y_train

      predict
0           0
1           0
2           1
3           0
4           0
...       ...
37306       0
37307       2
37308       2
37309       0
37310       0

[37311 rows x 1 columns]

In [20]:
y_train.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [22]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.052918,-0.020763,0.003908,-0.027996,0.042026,0.012198,-0.056107,0.020918,0.082026,-0.025446,...,-0.016079,-0.027422,0.016197,-0.020808,-0.059591,-0.097211,-0.018916,0.022056,0.043156,-0.010972
1,0.065439,-0.035893,0.001449,-0.013971,-0.012917,-0.012112,-0.029237,0.018438,0.057094,0.005989,...,-0.057946,-0.05437,-0.007466,-0.018361,-0.04516,-0.07531,0.012697,0.007633,0.013765,-0.031563
2,0.106689,-0.039696,-0.034265,-0.00268,0.020957,-0.011347,0.001984,0.001768,0.042552,-0.023227,...,0.004084,-0.006602,0.00088,0.021391,-0.034711,-0.063359,0.018952,0.025331,0.013584,-0.033135
3,0.066933,-0.053997,-0.016078,-0.007196,0.005051,0.001831,-0.044116,0.005038,0.042685,-0.01207,...,-0.04019,-0.041271,0.002319,0.017938,-0.045358,-0.062098,0.021684,0.012935,0.0046,-0.02121
4,0.022529,0.040844,-0.000396,0.026373,0.047172,0.015659,-0.04871,0.05821,0.051508,0.009712,...,-0.04509,0.003551,0.03844,-0.017535,-0.063413,-0.028415,-0.005629,0.005399,0.026346,-0.035637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37306,0.029656,-0.088938,-0.017746,-0.022932,0.01073,-0.012845,0.015035,-0.020166,0.0467,-0.014601,...,-0.047716,-0.051553,-0.006833,0.013804,-0.027581,-0.056133,0.016897,0.013027,0.017082,-0.018283
37307,0.084627,-0.041813,-0.02538,0.011701,0.01631,-0.004372,-0.013002,0.011901,0.079512,-0.017137,...,0.018716,-0.021622,0.008753,0.018907,-0.044096,-0.060363,0.00502,0.031009,0.003184,-0.02137
37308,0.061474,-0.051989,-0.00476,0.020226,0.002472,-0.008583,0.005279,0.0078,0.059052,-0.005017,...,0.00081,-0.010049,0.017667,0.023622,-0.035534,-0.060973,0.002344,0.015191,0.005273,-0.030428
37309,0.043556,-0.059403,-0.02685,-0.002568,0.04262,-0.00976,-0.060744,0.03505,0.029483,0.007755,...,-0.052559,-0.02434,-0.019096,-0.02071,-0.044055,-0.033084,0.012819,0.008688,0.010584,-0.016597
37310,0.065903,-0.04891,-0.000039,-0.022385,0.016205,0.002718,-0.030229,0.016306,0.072911,-0.027436,...,-0.034203,-0.042369,0.009035,0.012899,-0.045036,-0.06194,0.016567,0.021719,0.033202,-0.009119

In [23]:
data=pd.concat([x_train,y_train],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.052918,-0.020763,0.003908,-0.027996,0.042026,0.012198,-0.056107,0.020918,0.082026,-0.025446,...,-0.027422,0.016197,-0.020808,-0.059591,-0.097211,-0.018916,0.022056,0.043156,-0.010972,0
1,0.065439,-0.035893,0.001449,-0.013971,-0.012917,-0.012112,-0.029237,0.018438,0.057094,0.005989,...,-0.05437,-0.007466,-0.018361,-0.04516,-0.07531,0.012697,0.007633,0.013765,-0.031563,0
2,0.106689,-0.039696,-0.034265,-0.00268,0.020957,-0.011347,0.001984,0.001768,0.042552,-0.023227,...,-0.006602,0.00088,0.021391,-0.034711,-0.063359,0.018952,0.025331,0.013584,-0.033135,1
3,0.066933,-0.053997,-0.016078,-0.007196,0.005051,0.001831,-0.044116,0.005038,0.042685,-0.01207,...,-0.041271,0.002319,0.017938,-0.045358,-0.062098,0.021684,0.012935,0.0046,-0.02121,0
4,0.022529,0.040844,-0.000396,0.026373,0.047172,0.015659,-0.04871,0.05821,0.051508,0.009712,...,0.003551,0.03844,-0.017535,-0.063413,-0.028415,-0.005629,0.005399,0.026346,-0.035637,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37306,0.029656,-0.088938,-0.017746,-0.022932,0.01073,-0.012845,0.015035,-0.020166,0.0467,-0.014601,...,-0.051553,-0.006833,0.013804,-0.027581,-0.056133,0.016897,0.013027,0.017082,-0.018283,0
37307,0.084627,-0.041813,-0.02538,0.011701,0.01631,-0.004372,-0.013002,0.011901,0.079512,-0.017137,...,-0.021622,0.008753,0.018907,-0.044096,-0.060363,0.00502,0.031009,0.003184,-0.02137,2
37308,0.061474,-0.051989,-0.00476,0.020226,0.002472,-0.008583,0.005279,0.0078,0.059052,-0.005017,...,-0.010049,0.017667,0.023622,-0.035534,-0.060973,0.002344,0.015191,0.005273,-0.030428,2
37309,0.043556,-0.059403,-0.02685,-0.002568,0.04262,-0.00976,-0.060744,0.03505,0.029483,0.007755,...,-0.02434,-0.019096,-0.02071,-0.044055,-0.033084,0.012819,0.008688,0.010584,-0.016597,0
37310,0.065903,-0.04891,-0.000039,-0.022385,0.016205,0.002718,-0.030229,0.016306,0.072911,-0.027436,...,-0.042369,0.009035,0.012899,-0.045036,-0.06194,0.016567,0.021719,0.033202,-0.009119,0

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
16950,0.023173,-0.076125,-0.028587,-0.003772,-0.016812,-0.018598,0.008928,0.018236,0.047201,-0.00367,...,-0.026636,-0.022892,0.002865,-0.023015,-0.030173,0.021781,0.030886,0.012097,-0.031581,0
22990,0.012979,-0.050481,-0.002984,-0.015684,0.011385,-0.025796,-0.030966,0.01999,0.073941,-0.008756,...,-0.050256,-0.00958,-0.014961,-0.023938,-0.090484,0.006385,0.028526,0.006054,-0.021664,0
36261,0.07127,-0.028976,-0.024441,0.011716,-0.004142,0.007966,-0.014524,0.003552,0.08035,-0.009775,...,-0.03053,0.008694,-0.011421,-0.044799,-0.08605,0.014258,0.026866,0.015733,-0.026453,2
2857,0.065289,-0.031287,-0.027523,0.008541,0.016772,0.011381,-0.0249,-0.002479,0.065958,0.000898,...,-0.024027,-0.000772,0.014644,-0.043767,-0.029676,0.006801,0.029725,0.027005,-0.029358,1
4735,0.052188,-0.045006,-0.011607,0.012116,0.034633,-0.002775,-0.022303,0.017674,0.067465,0.042079,...,-0.030682,-0.018841,-0.021608,-0.036856,0.000431,0.001276,0.03628,-0.01519,-0.032425,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22366,0.068588,-0.034986,-0.010179,0.022165,0.041041,0.005541,-0.103111,0.034775,0.065827,-0.021681,...,-0.026471,0.026392,-0.014797,-0.035435,-0.00167,0.006664,0.033814,0.006235,-0.000993,0
23568,-0.005006,-0.097469,0.02118,0.021923,0.018832,-0.024086,0.003117,0.026607,0.034599,0.029927,...,-0.031583,0.045399,0.005039,0.007198,0.046299,0.042357,0.014669,-0.018282,-0.036069,0
24325,0.091881,-0.042631,-0.025617,0.026377,0.039474,0.009616,-0.036006,0.043498,0.06947,-0.016281,...,0.017045,-0.023301,0.006075,-0.027622,-0.052866,0.007443,0.01412,0.015284,-0.012558,1
33816,0.05585,-0.007749,-0.035347,0.016026,0.005162,0.00921,-0.013432,0.019863,0.04685,-0.003167,...,-0.006031,-0.020884,0.010917,-0.042974,-0.025637,0.013685,0.037662,0.023304,-0.047668,2
4476,0.059492,-0.002328,-0.03504,0.022904,0.004475,0.005428,-0.037942,0.01521,0.05827,0.017057,...,-0.026049,0.011455,-0.01047,-0.042448,-0.030953,0.008077,0.02877,0.025917,-0.044475,2

In [27]:
data.to_csv("train_data_after_vector(1).csv")