In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process2/process2 train data row.csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
973                    아 그러면 29일 이랬죠? 예 매 월 상환이 그렇죠? 원금        0
184    예 동결 처리가 어떤 뜻인지 알고 계십니까? 네 네 그 안에 들어있던 피해 자금에...        1
531                 5017 5027이요. 네 어 김명희 명의 도용 사건이에요. 네        1
772    심사자료 정리를 바로 진행 진행 도와드리겠습니다. 실제 거주하시는 지역은 울산 남...        0
1227   20만원 먼저 넣어라 이건 아닌거 같은데요? 그래서 말씀 드리잖아요. 20만원 넣...        0
...                                                 ...      ...
324    입출금이요 네 이것도 다른 금융권도 있으세요? 아니요. 아 본인이 이 두개만 사용...        1
198    어 모든 조사 과정은 녹취로서 진행이 될 거고 이 녹취 증거 자료는 본인 피해 입...        1
855    그냥 전화 누르면 전화 갑니까? 1588 2114 하시고 통화 누르시면 됩니다. ...        1
45     네 네 일단은 녹취를 제가 마쳐놨는데 소환장을 발부를 해드려서 저희 쪽에 내방을 ...        1
109       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        0

[2696 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
986           걸어 가면서 듣고 있는 거 맞습니까? 안들리세요? 들려요. 물어 본거에요.        1
1403   내용 중에 이해 안 가시거나 이런 부분이 있으십니까 아 그런 건 없습니다 음 아직...        1
377    수원시에서 통화하신다고 말씀을 하시면 되실 거 같고. 뭐 자택에서 통화하시는 거예...        1
1314            네 ㅇㅇ 맞으신가요? 네네 네 안녕하세요 여기 스포츠 토토 싸이트인데요        0
1305   아 지금은 좀 연락이 이제 가능하신 건가요? 아네네 대리님 그 남의 돈 드시니까 ...        0
...                                                 ...      ...
636    아 그렇게는 안되구요. 그러면은 저희가 이제 따로 수납 처리 안 받고 공증을 직접...        0
484    예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...        0
1381   만약에 은행권 직원들도 혹시라도 불량 은행 직원있을까봐 그게 좀 걱정입니다 걱정이...        1
58     어디에 상환하신거... 수요일에 상환하신..아닌데 잠시만요 목요일날 상환하신거 말...        0
1098                          네 알겠습니다 네네 네 여보세요 뭐 어디세요?        0

[2696 rows x 2 columns]

In [6]:
data.to_csv("process2 train data before nlp(base).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(2696, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2691     NaN
2692     NaN
2693     NaN
2694     NaN
2695     NaN

[2696 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

     predict
0          1
1          1
2          1
3          0
4          0
...      ...
2691       0
2692       0
2693       1
2694       0
2695       0

[2696 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.072856,-0.015605,-0.024837,0.026054,0.023277,0.012844,-0.063104,0.015353,0.098233,-0.028241,...,0.013053,-0.013772,0.020293,0.009892,-0.052313,-0.033612,-0.024195,0.03482,0.014764,-0.020622
1,0.072753,-0.054422,-0.023633,-0.012384,0.013118,0.011278,0.00099,-0.002933,0.036181,-0.023328,...,-0.010727,-0.021229,-0.03422,0.008862,-0.042949,-0.062375,0.029903,0.027777,0.016161,-0.021554
2,0.091666,-0.024426,-0.018208,0.008719,0.012137,-0.004847,-0.006971,-0.001701,0.027371,-0.058007,...,-0.008943,-0.007802,-0.006273,0.018939,-0.047642,-0.051959,0.000074,0.047658,0.028867,-0.008164
3,0.054029,-0.019715,-0.017214,0.046911,0.013056,-0.003961,-0.027291,0.042721,0.054399,0.011832,...,-0.027271,0.00152,0.033726,0.000408,-0.028743,-0.038903,-0.015075,0.006309,0.023967,-0.027461
4,0.093584,-0.010127,-0.02918,0.001598,0.000396,-0.002416,-0.017291,0.017797,0.082248,-0.023267,...,0.020128,-0.024688,-0.003001,-0.000911,-0.040665,-0.051432,-0.004543,0.049485,0.014501,-0.026474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.066418,-0.032359,-0.02864,0.005261,0.017307,0.017704,-0.028922,-0.017681,0.069963,0.004681,...,-0.011224,-0.002032,0.003933,0.004564,-0.046566,-0.029666,0.022078,0.028626,0.013523,-0.036638
2692,0.05562,-0.085037,-0.029334,-0.00299,0.012208,-0.003791,0.021958,-0.000566,0.087824,-0.018338,...,-0.00044,-0.023937,-0.009053,0.020021,-0.05747,-0.03518,0.002049,0.040641,-0.008103,-0.034316
2693,0.061229,-0.051977,-0.033765,-0.013534,-0.018723,0.004323,0.02634,0.000447,0.041383,0.000273,...,-0.028377,-0.030505,-0.043799,0.008427,-0.036351,-0.046685,0.039382,0.019655,-0.002905,-0.033911
2694,0.060597,-0.012897,-0.021746,-0.027918,0.020236,0.004543,0.008162,-0.001343,0.053683,-0.031003,...,-0.003436,-0.007845,-0.024626,0.01375,-0.046445,-0.073904,0.00686,0.038779,0.026006,-0.039885
2695,0.067986,-0.007361,-0.020805,0.012793,0.031181,0.009534,-0.037651,0.02994,0.085795,-0.040589,...,0.008267,-0.006071,-0.009687,-0.001018,-0.06032,-0.072512,-0.022046,0.015249,0.038761,-0.026219

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.072856,-0.015605,-0.024837,0.026054,0.023277,0.012844,-0.063104,0.015353,0.098233,-0.028241,...,-0.013772,0.020293,0.009892,-0.052313,-0.033612,-0.024195,0.03482,0.014764,-0.020622,1
1,0.072753,-0.054422,-0.023633,-0.012384,0.013118,0.011278,0.00099,-0.002933,0.036181,-0.023328,...,-0.021229,-0.03422,0.008862,-0.042949,-0.062375,0.029903,0.027777,0.016161,-0.021554,1
2,0.091666,-0.024426,-0.018208,0.008719,0.012137,-0.004847,-0.006971,-0.001701,0.027371,-0.058007,...,-0.007802,-0.006273,0.018939,-0.047642,-0.051959,0.000074,0.047658,0.028867,-0.008164,1
3,0.054029,-0.019715,-0.017214,0.046911,0.013056,-0.003961,-0.027291,0.042721,0.054399,0.011832,...,0.00152,0.033726,0.000408,-0.028743,-0.038903,-0.015075,0.006309,0.023967,-0.027461,0
4,0.093584,-0.010127,-0.02918,0.001598,0.000396,-0.002416,-0.017291,0.017797,0.082248,-0.023267,...,-0.024688,-0.003001,-0.000911,-0.040665,-0.051432,-0.004543,0.049485,0.014501,-0.026474,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.066418,-0.032359,-0.02864,0.005261,0.017307,0.017704,-0.028922,-0.017681,0.069963,0.004681,...,-0.002032,0.003933,0.004564,-0.046566,-0.029666,0.022078,0.028626,0.013523,-0.036638,0
2692,0.05562,-0.085037,-0.029334,-0.00299,0.012208,-0.003791,0.021958,-0.000566,0.087824,-0.018338,...,-0.023937,-0.009053,0.020021,-0.05747,-0.03518,0.002049,0.040641,-0.008103,-0.034316,0
2693,0.061229,-0.051977,-0.033765,-0.013534,-0.018723,0.004323,0.02634,0.000447,0.041383,0.000273,...,-0.030505,-0.043799,0.008427,-0.036351,-0.046685,0.039382,0.019655,-0.002905,-0.033911,1
2694,0.060597,-0.012897,-0.021746,-0.027918,0.020236,0.004543,0.008162,-0.001343,0.053683,-0.031003,...,-0.007845,-0.024626,0.01375,-0.046445,-0.073904,0.00686,0.038779,0.026006,-0.039885,0
2695,0.067986,-0.007361,-0.020805,0.012793,0.031181,0.009534,-0.037651,0.02994,0.085795,-0.040589,...,-0.006071,-0.009687,-0.001018,-0.06032,-0.072512,-0.022046,0.015249,0.038761,-0.026219,0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
1435,0.020519,-0.093206,-0.016791,0.053059,0.012448,-0.016818,0.037712,0.030266,0.004612,0.017335,...,-0.011692,-0.012325,0.014863,-0.006609,-0.008353,0.00531,0.024597,-0.081348,-0.044376,1
278,0.025021,-0.095848,-0.032978,-0.018652,0.000127,-0.01211,0.023075,-0.00857,0.046729,-0.004216,...,-0.037115,-0.02361,0.008867,-0.020563,-0.043689,0.0283,0.013453,-0.004991,-0.020224,0
1727,0.041712,-0.026425,-0.014249,0.005377,0.019851,0.00441,-0.055502,0.008734,0.044143,-0.018697,...,-0.02372,0.000036,0.011654,-0.049448,-0.029479,0.02077,0.056888,0.008973,-0.018153,1
442,0.077491,-0.05308,-0.016879,0.02392,0.048794,0.012446,-0.040224,0.00959,0.067421,-0.019923,...,-0.011865,0.037181,0.021281,-0.068194,-0.043468,-0.004858,0.03776,0.009402,-0.021379,0
515,0.097528,-0.015237,-0.021008,0.013997,0.016274,-0.010983,-0.046807,0.02088,0.085294,-0.025278,...,-0.023107,0.011012,0.017146,-0.04643,-0.076557,-0.010882,0.028387,0.023764,-0.010379,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,0.007798,-0.030519,-0.009346,0.014549,0.083222,0.003432,-0.039076,0.021647,0.011809,-0.012746,...,-0.017746,0.015492,0.001996,-0.023307,-0.055424,-0.010365,0.037021,-0.032469,-0.022283,1
1248,0.062458,-0.047423,-0.027685,0.030225,0.00452,0.002863,-0.010009,0.012618,0.065137,0.002023,...,-0.004797,0.002373,-0.001228,-0.045245,0.008081,0.003204,0.043726,-0.006542,-0.02879,0
1678,0.081137,-0.046977,-0.004189,0.005075,0.03872,0.007079,-0.026549,0.003719,0.075488,-0.034073,...,-0.017847,0.01466,0.00015,-0.042108,-0.057298,0.00007,0.020892,0.039294,-0.018598,0
1355,0.063739,-0.010802,-0.020493,0.005816,0.012164,0.00564,-0.025157,-0.000285,0.064707,-0.030252,...,-0.019216,-0.004437,0.007799,-0.046586,-0.070337,-0.007383,0.046625,0.015425,-0.01311,0
1054,0.077399,-0.008207,-0.037962,0.04192,0.020304,0.008672,-0.044664,0.03327,0.05923,0.004879,...,-0.005798,0.04533,0.000082,-0.04969,-0.068939,0.004135,0.001029,-0.00552,-0.025054,1

In [26]:
data.to_csv("process2 train data after nlp(base).csv")