In [35]:
import pandas as pd   

normal1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(word)/normal/콜센터 문장 csv/콜센터민원_일반 행정 문의_상담사질문.csv",index_col=0)
normal2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(word)/normal/콜센터 문장 csv/콜센터민원_일반 행정 문의_상담사답변.csv",index_col=0)

In [36]:
normal1

                                상담사질문(요청)
0                       어떤 은행을 이용하고 계십니까?
1                         어느지점으로 안내해드릴까요?
2                 지금 전화거신 핸드폰이 본인명의 맞습니까?
3                        생년월일을 말씀해주시겠습니까?
4                         살고계신 주소는 어디입니까?
...                                   ...
4492                      서울시에서 진행하는 건가요?
4493                         어떠점이 궁금하십니까?
4494  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?
4495             네. 혼인신고의 어떤 내용을 알고싶으신가요?
4496                  서울에 위치한거 말씀하시는 건가요?

[4497 rows x 1 columns]

In [37]:
normal2

                                                상담사답변
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                                        방문납부도 가능합니다.
3                             도보로 10분위치에 서울역지점이 있습니다.
4                                 도보로 가시는게 빠를 것 같습니다.
...                                               ...
20065                                     62400원 입니다.
20066                                   1423200원 입니다.
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.
20068                                    1~3순위가 있습니다.
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

[20070 rows x 1 columns]

In [38]:
normal2=normal2[:normal1.shape[0]]

In [39]:
data_row=pd.DataFrame(index=range(normal1.shape[0]),columns=['sentence','predict'])

In [40]:
for i in range(int(data_row.shape[0]/2)):
    list=[]
    list.append(normal1.iloc[i,0])
    list.append(normal2.iloc[i,0])
    list.append(normal1.iloc[i+1,0])
    list.append(normal2.iloc[i+1,0])
    list.append(normal1.iloc[i+2,0])
    list.append(normal2.iloc[i+2,0])
    data_row.iloc[i,0]=list
    i=i+2

In [41]:
data_row

                                               sentence predict
0     [어떤 은행을 이용하고 계십니까?, 이용하시는 은행의 사이트에서 지방세 납부가 가능...     NaN
1     [어느지점으로 안내해드릴까요?, 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가...     NaN
2     [지금 전화거신 핸드폰이 본인명의 맞습니까?, 방문납부도 가능합니다., 생년월일을 ...     NaN
3     [생년월일을 말씀해주시겠습니까?, 도보로 10분위치에 서울역지점이 있습니다., 살고...     NaN
4     [살고계신 주소는 어디입니까?, 도보로 가시는게 빠를 것 같습니다., 상세주소도 말...     NaN
...                                                 ...     ...
4492                                                NaN     NaN
4493                                                NaN     NaN
4494                                                NaN     NaN
4495                                                NaN     NaN
4496                                                NaN     NaN

[4497 rows x 2 columns]

In [42]:
data_row.iloc[0,0]

['어떤 은행을 이용하고 계십니까?',
 '이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.',
 '어느지점으로 안내해드릴까요?',
 '그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.',
 '지금 전화거신 핸드폰이 본인명의 맞습니까?',
 '방문납부도 가능합니다.']

In [43]:
data_row.iloc[1,0]

['어느지점으로 안내해드릴까요?',
 '그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.',
 '지금 전화거신 핸드폰이 본인명의 맞습니까?',
 '방문납부도 가능합니다.',
 '생년월일을 말씀해주시겠습니까?',
 '도보로 10분위치에 서울역지점이 있습니다.']

In [44]:
data_row.isnull().sum()

sentence    2249
predict     4497
dtype: int64

In [45]:
print(data_row.iloc[0,0][0]+data_row.iloc[0,0][1])

어떤 은행을 이용하고 계십니까?이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.

In [46]:
data_row=pd.DataFrame(data_row['sentence'].dropna(axis=0))

In [47]:
data_row

                                               sentence
0     [어떤 은행을 이용하고 계십니까?, 이용하시는 은행의 사이트에서 지방세 납부가 가능...
1     [어느지점으로 안내해드릴까요?, 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가...
2     [지금 전화거신 핸드폰이 본인명의 맞습니까?, 방문납부도 가능합니다., 생년월일을 ...
3     [생년월일을 말씀해주시겠습니까?, 도보로 10분위치에 서울역지점이 있습니다., 살고...
4     [살고계신 주소는 어디입니까?, 도보로 가시는게 빠를 것 같습니다., 상세주소도 말...
...                                                 ...
2243  [성함이 어떻게 되시나요?, 신청하시면 4년간 유예 되십니다., 기부액이 어떻게 되...
2244  [기부액이 어떻게 되시나요?, 대출자에게 납부고지서가 발송되면 납부고지서에 기재된 ...
2245  [어떤 방식으로 도와드릴까요?, 졸업 후 3년 동안 상환내역이 없는 경우이거나 3년...
2246  [이메일 주소가 어떻게 되시나요?, 불이익이 있습니다. , 출생연도가 어떻게 되시나...
2247  [출생연도가 어떻게 되시나요?, 먼자 연체금을 가산하게 되시고, 미납 금액과 별도로...

[2248 rows x 1 columns]

In [48]:
data=pd.DataFrame(index=range(data_row.shape[0]),columns=['sentence','predict'])

In [49]:
for i in range(data.shape[0]):
    data.iloc[i,0]=data_row.iloc[i,0][0]+data_row.iloc[i,0][1]+data_row.iloc[i,0][2]+data_row.iloc[i,0][3]+data_row.iloc[i,0][4]+data_row.iloc[i,0][5]

In [50]:
data

                                               sentence predict
0     어떤 은행을 이용하고 계십니까?이용하시는 은행의 사이트에서 지방세 납부가 가능합니다...     NaN
1     어느지점으로 안내해드릴까요?그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능...     NaN
2     지금 전화거신 핸드폰이 본인명의 맞습니까?방문납부도 가능합니다.생년월일을 말씀해주시...     NaN
3     생년월일을 말씀해주시겠습니까?도보로 10분위치에 서울역지점이 있습니다.살고계신 주소...     NaN
4     살고계신 주소는 어디입니까?도보로 가시는게 빠를 것 같습니다.상세주소도 말해주시겠습...     NaN
...                                                 ...     ...
2243  성함이 어떻게 되시나요?신청하시면 4년간 유예 되십니다.기부액이 어떻게 되시나요?대...     NaN
2244  기부액이 어떻게 되시나요?대출자에게 납부고지서가 발송되면 납부고지서에 기재된 가상 ...     NaN
2245  어떤 방식으로 도와드릴까요?졸업 후 3년 동안 상환내역이 없는 경우이거나 3년 동안...     NaN
2246  이메일 주소가 어떻게 되시나요?불이익이 있습니다. 출생연도가 어떻게 되시나요?먼자 ...     NaN
2247  출생연도가 어떻게 되시나요?먼자 연체금을 가산하게 되시고, 미납 금액과 별도로 미상...     NaN

[2248 rows x 2 columns]

In [51]:
data.isnull().sum()

sentence       0
predict     2248
dtype: int64

In [52]:
data['predict']=data['predict'].fillna(0)

/var/folders/wl/f37pc6xx0fb2flph2br8t6sw0000gn/T/ipykernel_10671/4094572162.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['predict']=data['predict'].fillna(0)

In [53]:
data

                                               sentence  predict
0     어떤 은행을 이용하고 계십니까?이용하시는 은행의 사이트에서 지방세 납부가 가능합니다...        0
1     어느지점으로 안내해드릴까요?그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능...        0
2     지금 전화거신 핸드폰이 본인명의 맞습니까?방문납부도 가능합니다.생년월일을 말씀해주시...        0
3     생년월일을 말씀해주시겠습니까?도보로 10분위치에 서울역지점이 있습니다.살고계신 주소...        0
4     살고계신 주소는 어디입니까?도보로 가시는게 빠를 것 같습니다.상세주소도 말해주시겠습...        0
...                                                 ...      ...
2243  성함이 어떻게 되시나요?신청하시면 4년간 유예 되십니다.기부액이 어떻게 되시나요?대...        0
2244  기부액이 어떻게 되시나요?대출자에게 납부고지서가 발송되면 납부고지서에 기재된 가상 ...        0
2245  어떤 방식으로 도와드릴까요?졸업 후 3년 동안 상환내역이 없는 경우이거나 3년 동안...        0
2246  이메일 주소가 어떻게 되시나요?불이익이 있습니다. 출생연도가 어떻게 되시나요?먼자 ...        0
2247  출생연도가 어떻게 되시나요?먼자 연체금을 가산하게 되시고, 미납 금액과 별도로 미상...        0

[2248 rows x 2 columns]

In [54]:
data.to_csv("normal data(0528).csv")

In [27]:
data.iloc[1,0]

'어느지점으로 안내해드릴까요?그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.지금 전화거신 핸드폰이 본인명의 맞습니까?방문납부도 가능합니다.'