In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process2/trian/process2 train data row.csv",index_col=0)

In [2]:
data_row

                                              sentence  predict
444   근데 뭐 제 돈을 가져갔다 모를 수도 있는데 그걸 알려주시나요? 그렇죠. 그리고 ...        1
560   너무 복잡하진않죠? 예 알겠습니다. 그럼 전화 제가 다시 끊어 드릴 건데 어 나오...        1
94    아 그거까지 해야되요? 방문을 해달라고 하신 거 아니에요 지금? 아니 뭐 찾아와서...        0
83    피해자 ; 아 네 네 그래서 저 실례가 안 된다면 어디신지 잠시 여쭤봐도 될까요?...        1
977   없어요? 네 그러면  씨 이름 앞으로 사건 코드 번호 16자리를 부여받은 경험이 ...        1
..                                                 ...      ...
103   여기에 대해서만 간단하게 좀 전달 좀 해드릴 겁니다. 네 어 2017년 4월 13...        1
904   네 예 청약을 해지하신 다음에 일반 지금 입출금 사용하고 계시는 농협 은행으로 넣...        1
77    고객님 본인명의세요? 예 예 수납 담당자님 계좌 번호는 바로 카카오톡으로 보내드릴...        0
468   저희는 칠십만원 정도 있고 지금 해외 다른 건 아니 저한테 보냈거든요 그거는 그때...        1
79    모르시면 모르신다 진술만 간단하게 좀 해주시면 돼요. 피해자 :\u3000네 어 ...        1

[1532 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                              sentence  predict
325   금리가 아 예 예 예. 말씀하세요 괜찮으세요? 말씀하세요 아니 괜찮으시냐고요? 아...        0
206   일단 500만원 이상 들어있는 계좌가 없을 거예요. 아 네 네 아이 이게 오백만원...        1
462   그럼? 됐습니다 그럼 공증을 지금 저희가 해드릴 수 있는 담보물이 있어요? 아휴 ...        0
598   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        1
538   네 돈 본인 그 방금 돈을 받으셨다고 했는데 어떤 자금을 뽑으셨다는 거예요? 제가...        1
..                                                 ...      ...
70    아 일단은 그래서 알겠습니다 네 알겠습니다. 제가 점심 시간 이후 때 쯤 다시 한...        0
500   예 알아요 제 일이 삼사번 중에 또가 번호 감자 가까 나와있죠. 네 네 예 그게 ...        1
734   예. 여보세요 네 그 지금 금융 감독원 측에서 연락왔는데요 네  씨가 그 대출 시...        1
496   바로?네 여보세요? 여보세요 네 ㅇㅇ 맞으신가요? 네네 네 안녕하세요 여기 스포츠...        0
87    네 네 국민 은행 같은 경우는 개설 지역이 어디신지 기억 나십니까? 대전이요 대전...        1

[1532 rows x 2 columns]

In [6]:
data.to_csv("process2 train data before nlp(jhgan).csv")

In [7]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('jhgan/ko-sbert-sts')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(1532, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
1527     NaN
1528     NaN
1529     NaN
1530     NaN
1531     NaN

[1532 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

     predict
0          0
1          1
2          0
3          1
4          1
...      ...
1527       0
1528       1
1529       1
1530       0
1531       1

[1532 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.134023,-0.642785,0.075927,0.636543,0.117937,-0.927794,-0.941429,0.438775,0.370282,-0.386788,...,-0.083375,1.271682,0.821302,0.730718,-0.487963,-0.617097,0.075613,-0.272402,-0.277576,0.271351
1,0.498298,0.068438,-0.108758,0.172931,-0.841204,-0.12072,0.150176,0.492777,-0.428867,0.271849,...,0.324956,0.422072,0.52825,0.949522,-0.533883,-0.334717,0.439989,-0.612934,-0.578249,-0.076062
2,0.587571,-0.36993,-0.253759,0.692422,-0.745532,-0.555278,0.306365,0.580402,0.104297,-0.255016,...,-0.013657,0.656188,0.354754,0.67587,-0.66476,0.198394,0.507247,0.307246,-0.451081,0.229422
3,0.79584,0.312406,0.172905,-0.083358,-0.816058,-0.531284,-0.140325,0.489325,-0.172498,0.059972,...,-0.072363,0.07376,0.177413,0.67642,0.404513,-0.347858,-0.023171,0.066444,-0.469474,0.195762
4,-0.07406,0.064674,-0.425837,0.503451,-0.671143,-0.620712,-0.314603,-0.011822,-0.805257,0.029311,...,0.483679,0.792254,-0.802193,0.972425,1.005631,-0.201348,0.990194,-0.514808,-0.12526,0.463336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,-0.653594,0.064974,0.583089,1.125993,-0.413576,-0.534997,-0.264352,0.214572,-0.337593,-0.188165,...,0.051857,0.753254,0.501868,1.296756,-0.575499,-0.022307,0.215005,0.412079,0.110705,0.692904
1528,0.11005,0.710312,-0.252277,0.518157,-0.846447,-0.28266,0.12618,0.663451,0.08512,-0.168852,...,0.142209,0.734477,-0.475141,1.126815,0.301331,-0.286071,0.241465,-0.331522,-0.706859,0.955285
1529,0.662261,-0.140206,0.383392,1.163833,-0.24849,-0.66465,-0.687098,1.541823,-0.358284,0.170969,...,-0.050117,0.588711,0.765572,0.978732,0.326712,-0.685903,0.505776,-0.38307,-0.050769,0.266399
1530,-0.458406,0.646982,0.021125,0.697035,-0.732827,0.084372,0.194246,0.664401,0.051651,-0.533872,...,0.445574,1.102355,0.107068,0.244813,-0.586096,-0.060712,0.597924,-0.879652,-0.502056,0.699398
1531,0.196184,-0.145712,-1.232605,0.337564,-0.675066,-0.489812,-0.338171,0.891615,0.368307,0.489347,...,0.08176,0.731209,0.297629,0.700609,0.459329,0.351884,0.146553,0.013692,-0.921925,0.647166

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,-0.134023,-0.642785,0.075927,0.636543,0.117937,-0.927794,-0.941429,0.438775,0.370282,-0.386788,...,1.271682,0.821302,0.730718,-0.487963,-0.617097,0.075613,-0.272402,-0.277576,0.271351,0
1,0.498298,0.068438,-0.108758,0.172931,-0.841204,-0.12072,0.150176,0.492777,-0.428867,0.271849,...,0.422072,0.52825,0.949522,-0.533883,-0.334717,0.439989,-0.612934,-0.578249,-0.076062,1
2,0.587571,-0.36993,-0.253759,0.692422,-0.745532,-0.555278,0.306365,0.580402,0.104297,-0.255016,...,0.656188,0.354754,0.67587,-0.66476,0.198394,0.507247,0.307246,-0.451081,0.229422,0
3,0.79584,0.312406,0.172905,-0.083358,-0.816058,-0.531284,-0.140325,0.489325,-0.172498,0.059972,...,0.07376,0.177413,0.67642,0.404513,-0.347858,-0.023171,0.066444,-0.469474,0.195762,1
4,-0.07406,0.064674,-0.425837,0.503451,-0.671143,-0.620712,-0.314603,-0.011822,-0.805257,0.029311,...,0.792254,-0.802193,0.972425,1.005631,-0.201348,0.990194,-0.514808,-0.12526,0.463336,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,-0.653594,0.064974,0.583089,1.125993,-0.413576,-0.534997,-0.264352,0.214572,-0.337593,-0.188165,...,0.753254,0.501868,1.296756,-0.575499,-0.022307,0.215005,0.412079,0.110705,0.692904,0
1528,0.11005,0.710312,-0.252277,0.518157,-0.846447,-0.28266,0.12618,0.663451,0.08512,-0.168852,...,0.734477,-0.475141,1.126815,0.301331,-0.286071,0.241465,-0.331522,-0.706859,0.955285,1
1529,0.662261,-0.140206,0.383392,1.163833,-0.24849,-0.66465,-0.687098,1.541823,-0.358284,0.170969,...,0.588711,0.765572,0.978732,0.326712,-0.685903,0.505776,-0.38307,-0.050769,0.266399,1
1530,-0.458406,0.646982,0.021125,0.697035,-0.732827,0.084372,0.194246,0.664401,0.051651,-0.533872,...,1.102355,0.107068,0.244813,-0.586096,-0.060712,0.597924,-0.879652,-0.502056,0.699398,0
1531,0.196184,-0.145712,-1.232605,0.337564,-0.675066,-0.489812,-0.338171,0.891615,0.368307,0.489347,...,0.731209,0.297629,0.700609,0.459329,0.351884,0.146553,0.013692,-0.921925,0.647166,1

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
318,0.671553,0.199994,-0.475266,1.080652,-1.083905,-0.685691,-0.483161,1.192671,-0.173502,-0.740606,...,0.666164,0.558536,1.099014,-0.798139,0.145339,-0.06575,0.332045,-1.037988,0.211755,0
932,-0.264695,-0.088437,-0.015752,0.419237,0.171373,-0.082314,0.496904,0.628129,-0.36046,-0.288529,...,0.688097,0.178779,1.430556,-0.298951,-0.380835,0.716058,-0.598559,-0.523293,0.251428,1
1182,0.443137,-0.074751,0.002612,0.656167,-0.809256,-0.474835,0.456959,0.59301,-0.043582,-0.447426,...,0.28752,0.938975,0.899574,-0.004223,-0.320927,0.369561,-0.030407,-0.097076,0.44164,1
1016,0.276542,-0.110308,0.197536,0.539801,-0.922572,-0.504065,-0.229346,0.610395,-0.245753,0.379707,...,0.623498,0.138299,1.350304,0.655737,-0.248328,0.390842,-0.105334,-0.284117,0.328432,1
919,0.376542,-0.353966,-0.214773,0.147485,-0.506191,-0.607935,-0.16798,-0.119554,0.020818,-0.321772,...,0.129073,0.74762,0.13412,-0.438833,-1.010291,0.054258,-0.023663,-0.271083,0.397983,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,0.029921,-0.187604,-0.250291,0.131767,-1.039377,-0.156767,-0.064283,0.745423,0.003185,0.710025,...,0.665829,0.570277,-0.171625,0.43392,-0.412372,0.334977,-0.909627,-0.313785,0.421041,1
469,0.104737,1.080034,-0.246986,0.499492,-0.73637,0.190166,-0.33163,0.544932,-0.080959,-0.260782,...,0.748832,-0.808843,0.993277,0.868639,-0.130536,0.617157,-0.307037,-0.187114,0.749393,1
206,0.53005,-0.040232,-0.603961,0.624902,-1.072392,-1.023183,0.162694,0.7264,-0.210569,-0.091726,...,0.500941,0.418125,1.098558,0.017224,-0.547468,0.057251,-0.337869,-0.80269,0.483136,1
492,0.382466,0.411182,-0.384856,0.675312,-0.653219,-0.480911,0.137235,0.138352,-0.796327,0.113135,...,0.769422,0.469466,0.3425,0.346005,-0.287706,-0.359133,-0.726981,-0.355657,0.748789,1
562,-0.29757,0.649419,-0.104644,0.33122,-0.793932,0.189841,0.409421,0.404729,0.045529,-0.748183,...,0.907593,0.145814,1.111604,0.118114,-0.48032,0.705528,-0.379175,-0.241494,0.81438,1

In [26]:
data.to_csv("process2 train data after nlp(jhgan).csv")