In [28]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/train/sentence 6/train data.csv",index_col=0)

In [29]:
data_row

                                                sentence  predict
16505     상가건물의 환산보증금 9억원이하의 점포에 대해 임대료를 인하하는 임대인이 대상입니다        0
589     그 뭐야 대화 내용 들어 보니까 뭐 핸드폰 번호를 적어 놨는데 그건 뭔가요? 핸드...        2
19533  서울시는 빈곤계층에 최저생활비를 지원하는 제도로 국민기초생활보장제도를 운영되고 있습...        0
174     아니요 말씀하세요. 예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고...        1
17834                          코로나로 인한거라 추세를 지켜봐야할거같아요.         0
...                                                  ...      ...
8355                               처리기간은 약 20일 정도 소요됩니다.        0
14592               영구임대,국민임대, 전세임대, 기존주택 매입 전세임대가 있습니다.        0
9790                             최소 6개월, 납입횟수 6회 이상입니다.         0
922     그럼 그쪽 전산망으로 이제 고객센터한테 보내야 돼요 서류를 그부분이 목요일날 이 ...        1
5571                         희망두배 청년통장 홈페이지에서 확인하시면 됩니다.        0

[8754 rows x 2 columns]

In [30]:
data_row.isnull().sum()

sentence    38
predict      0
dtype: int64

In [31]:
data_row=data_row.dropna()

In [32]:
data=data_row.sample(frac=1)

In [33]:
data

                                                sentence  predict
16050                        네 만 40세 남여 서초구민만 받으실 수 있습니다        0
566     예? 통화 상태로 연결이 됩니다. 지금 하면 되는거에요? 1588 2114 누르셔...        2
3283                          네 여기가 맞습니다만 무슨일로 연락 하신건가요?        0
780     저희는 그 손님들 게임머니 펀드용으로 사용하는겁니다 아 제가 400에서 600그거...        1
17874                                       오후 6시까지입니다.         0
...                                                  ...      ...
13138                         주택 소유시 신혼부부특별공급 대상이 아닙니다.         0
7879                                        궁금하신점 말씀해주세요        0
1949                                           도움이 되셨나요?        0
20815                                          2월부터 입니다.        0
1669    네 그 남편분이 아직 도착을 하신 건 아니신 거고? 네 네. 이게 남편 분도 오시...        2

[8716 rows x 2 columns]

In [34]:
data.to_csv("train_data_before_vector.csv")

In [35]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [36]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [37]:
A=model.encode(data.iloc[0,0])

In [38]:
A.shape[0]

768

In [39]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [40]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [41]:
x_train.shape

(8716, 768)

In [42]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [43]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
8711     NaN
8712     NaN
8713     NaN
8714     NaN
8715     NaN

[8716 rows x 1 columns]

In [45]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [46]:
y_train

     predict
0          0
1          2
2          0
3          1
4          0
...      ...
8711       0
8712       0
8713       0
8714       0
8715       2

[8716 rows x 1 columns]

In [47]:
y_train.isnull().sum()

predict    0
dtype: int64

In [48]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [49]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.028512,-0.077611,-0.010311,-0.00043,0.024868,0.006724,0.009053,0.039793,0.067458,-0.009575,...,-0.057093,-0.066687,-0.049492,-0.012491,-0.042179,-0.01915,0.029374,0.017583,-0.000494,-0.029224
1,0.076386,-0.003657,-0.031579,0.039912,0.027852,0.003425,-0.0127,0.023189,0.009693,-0.003004,...,-0.023204,-0.035606,0.034935,0.020492,-0.033042,-0.013119,0.037894,0.025295,0.013571,-0.010159
2,0.073699,-0.061139,-0.013903,-0.018124,0.020315,0.00998,-0.029999,0.023436,0.070961,-0.038601,...,-0.009266,-0.018913,-0.004055,0.009923,-0.059414,-0.077014,-0.012009,0.015131,0.020441,-0.016526
3,0.024544,-0.053314,-0.03272,0.01257,0.033163,-0.001055,-0.006361,0.025964,0.021868,-0.025092,...,-0.038174,-0.025117,-0.004786,0.041832,-0.005151,-0.01602,0.030235,0.031745,-0.034214,-0.034784
4,0.037705,-0.028872,0.003093,-0.010129,0.075922,0.031709,-0.063406,0.054096,0.064436,-0.017757,...,-0.013011,-0.02656,0.032618,-0.027943,-0.070756,-0.033489,-0.000711,0.007212,0.036559,-0.024054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8711,0.042835,-0.086381,-0.021682,-0.017391,0.008693,-0.008408,-0.00958,0.001227,0.038104,-0.016148,...,-0.042173,-0.040431,-0.013748,0.003932,-0.034977,-0.060094,0.013157,0.024867,0.012077,-0.013766
8712,0.040374,-0.073904,-0.021385,-0.011292,0.012123,-0.01506,-0.016733,0.01043,0.055173,-0.025485,...,-0.033716,-0.037876,-0.032794,0.001807,-0.039802,-0.083268,0.021808,0.017639,0.034967,-0.016444
8713,0.049818,-0.020352,-0.020609,0.007926,0.025102,0.007276,-0.019544,0.051772,0.076366,0.001953,...,0.022874,-0.040121,0.001497,-0.011459,-0.058535,-0.040111,-0.006977,0.01876,-0.005904,-0.024268
8714,0.074065,-0.036318,0.007359,-0.007205,0.022137,0.022169,-0.063147,0.048587,0.037634,-0.019359,...,-0.03138,-0.020853,-0.020694,-0.02242,-0.030666,-0.066687,0.003104,0.04534,0.023745,-0.014844
8715,0.084931,-0.002512,-0.027402,0.004138,-0.00174,-0.010053,-0.028426,-0.003854,0.072054,0.010205,...,-0.018538,-0.024497,-0.007127,-0.020653,-0.035889,-0.085658,0.022029,0.007294,0.018371,-0.017051

In [50]:
data=pd.concat([x_train,y_train],axis=1)

In [51]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.028512,-0.077611,-0.010311,-0.00043,0.024868,0.006724,0.009053,0.039793,0.067458,-0.009575,...,-0.066687,-0.049492,-0.012491,-0.042179,-0.01915,0.029374,0.017583,-0.000494,-0.029224,0
1,0.076386,-0.003657,-0.031579,0.039912,0.027852,0.003425,-0.0127,0.023189,0.009693,-0.003004,...,-0.035606,0.034935,0.020492,-0.033042,-0.013119,0.037894,0.025295,0.013571,-0.010159,2
2,0.073699,-0.061139,-0.013903,-0.018124,0.020315,0.00998,-0.029999,0.023436,0.070961,-0.038601,...,-0.018913,-0.004055,0.009923,-0.059414,-0.077014,-0.012009,0.015131,0.020441,-0.016526,0
3,0.024544,-0.053314,-0.03272,0.01257,0.033163,-0.001055,-0.006361,0.025964,0.021868,-0.025092,...,-0.025117,-0.004786,0.041832,-0.005151,-0.01602,0.030235,0.031745,-0.034214,-0.034784,1
4,0.037705,-0.028872,0.003093,-0.010129,0.075922,0.031709,-0.063406,0.054096,0.064436,-0.017757,...,-0.02656,0.032618,-0.027943,-0.070756,-0.033489,-0.000711,0.007212,0.036559,-0.024054,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8711,0.042835,-0.086381,-0.021682,-0.017391,0.008693,-0.008408,-0.00958,0.001227,0.038104,-0.016148,...,-0.040431,-0.013748,0.003932,-0.034977,-0.060094,0.013157,0.024867,0.012077,-0.013766,0
8712,0.040374,-0.073904,-0.021385,-0.011292,0.012123,-0.01506,-0.016733,0.01043,0.055173,-0.025485,...,-0.037876,-0.032794,0.001807,-0.039802,-0.083268,0.021808,0.017639,0.034967,-0.016444,0
8713,0.049818,-0.020352,-0.020609,0.007926,0.025102,0.007276,-0.019544,0.051772,0.076366,0.001953,...,-0.040121,0.001497,-0.011459,-0.058535,-0.040111,-0.006977,0.01876,-0.005904,-0.024268,0
8714,0.074065,-0.036318,0.007359,-0.007205,0.022137,0.022169,-0.063147,0.048587,0.037634,-0.019359,...,-0.020853,-0.020694,-0.02242,-0.030666,-0.066687,0.003104,0.04534,0.023745,-0.014844,0
8715,0.084931,-0.002512,-0.027402,0.004138,-0.00174,-0.010053,-0.028426,-0.003854,0.072054,0.010205,...,-0.024497,-0.007127,-0.020653,-0.035889,-0.085658,0.022029,0.007294,0.018371,-0.017051,2

In [52]:
data=data.sample(frac=1)

In [53]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
2900,0.050745,-0.058366,-0.023847,0.006834,0.00865,-0.014641,-0.004408,0.008183,0.050356,-0.000789,...,-0.029162,0.000261,-0.006896,-0.035047,-0.053121,0.013055,0.024669,0.010309,-0.032039,0
3977,0.062807,-0.058459,-0.026193,-0.014227,0.010178,-0.003756,0.014076,-0.004186,0.047931,-0.021617,...,-0.038626,-0.026456,0.026148,-0.039983,-0.076045,0.01708,0.027506,0.01197,-0.013032,0
3486,0.040311,-0.034564,-0.018729,0.031159,0.032842,0.000933,-0.046186,0.028611,0.058104,-0.007362,...,-0.031816,0.008928,-0.013417,-0.055181,-0.042977,0.001611,0.038411,0.018583,-0.036037,0
5872,0.064626,-0.025851,0.006767,0.001711,0.061717,-0.000497,-0.065662,-0.014178,0.044566,-0.023402,...,-0.046204,-0.008854,-0.020269,-0.041568,-0.03506,0.00286,0.05235,0.0298,-0.009956,0
5931,0.066523,-0.027928,-0.033768,0.00848,-0.001901,0.021366,0.020071,0.022759,0.053518,0.015526,...,-0.084198,-0.021055,-0.021844,-0.025191,-0.014083,-0.010652,0.001681,0.032101,-0.010934,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7666,0.052194,-0.058305,-0.009574,0.040893,0.039839,0.008311,-0.024943,0.018419,0.012446,0.003667,...,0.019985,0.003966,-0.004103,-0.008873,-0.032921,0.002396,0.002147,-0.052795,-0.032117,2
2659,0.064116,-0.042106,-0.014729,-0.016199,0.037094,-0.002607,-0.029414,0.030213,0.071359,-0.038763,...,-0.02149,0.009331,0.012453,-0.065155,-0.072309,0.01034,0.024965,0.008805,-0.010187,0
1223,0.056689,-0.02743,-0.0093,0.022971,0.063314,-0.00307,-0.06608,0.018334,0.070102,-0.009404,...,-0.011816,0.038688,-0.011571,-0.066805,-0.06044,0.013933,0.020902,0.044433,-0.028033,0
1638,0.080341,-0.014084,-0.014035,0.024687,0.011994,-0.008436,-0.034414,0.036256,0.091946,-0.037957,...,-0.014019,0.019593,0.0166,-0.06162,-0.123523,-0.012661,0.020782,0.008608,-0.024349,0
2337,0.080953,-0.002417,-0.021457,0.027077,0.004586,0.005135,-0.029615,0.014832,0.075603,-0.00405,...,0.000114,0.012352,0.016915,-0.036856,-0.02647,-0.008647,0.046743,-0.00204,-0.027809,2

In [54]:
data.to_csv("train_data_after_vector.csv")