In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/test/sentence 6/test data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
14518  저희 시에서는 찾아가는 수돗물 안심확인제를 실시하여 시민의 불안감을 완화시키기 위해...        0
5587                                           네, 있습니다.         0
5612                               주민등록지 동에서 찾을 수 있습니다.         0
3198                                 추가로 궁금하신 문의가 있으실까요?        0
16698                   2021년 1월 4일 -2021년 1월 29일까지 입니다.        0
...                                                  ...      ...
17622                                   복지로 사이트에서 가능합니다.        0
22045                         네, 전국어디서든 주소지무관하게 신청가능합니다.        0
11419                                   네 그렇다고 볼 수 있습니다.        0
301     음 입금 바로 되고요? 그렇죠. 당일로도 가능하시고 다만 위임 처리하실 경우에는 ...        1
4475                                           네 가능합니다.         0

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    2
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
6848              횡당보도 위나 정지선 침버한 정지상태 차량의 과태료는 5만원입니다.         0
11419                                   네 그렇다고 볼 수 있습니다.        0
499     중도 상환 수수료 안 받습니다. 없습니다. 아 그럼 그때 한 번 방문을 해주실래요...        1
8075          방문신청 하시고 아이서울유 홈페이지 접속하여 원하시는 물품 신청하시면 됩니다        0
4126                                   네 궁금증은 충분히 풀리셨나요?        0
...                                                  ...      ...
16297                        기존대출 한도외 일정범위 내 특별한도로 부여합니다        0
6100        아까 말씀하셨던 텔레비전이나 음향기기 등의 사용으로 인하여 발생하는 소음입니다.        0
3136                                  무슨 행사에 참여하고 싶으신가요?        0
747     네 네 지금 녹취 지금 전화가 왔는데 네 그 지금 주위가 너무 소란스럽다고 지금 ...        2
5381                                등록시 객관식으로 입력 가능합니다.         0

[298 rows x 2 columns]

In [7]:
data.to_csv("test_data_before_vector.csv")

In [9]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [10]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [11]:
A=model.encode(data.iloc[0,0])

In [12]:
A.shape[0]

768

In [13]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [14]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [15]:
x_test.shape

(298, 768)

In [16]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [17]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
293     NaN
294     NaN
295     NaN
296     NaN
297     NaN

[298 rows x 1 columns]

In [19]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [20]:
y_test

    predict
0         0
1         0
2         1
3         0
4         0
..      ...
293       0
294       0
295       0
296       2
297       0

[298 rows x 1 columns]

In [21]:
y_test.isnull().sum()

predict    0
dtype: int64

In [22]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [23]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.040283,-0.080232,-0.01894,0.015596,-0.001114,-0.031715,-0.006578,0.005592,0.028928,-0.006789,...,-0.071534,-0.037842,-0.042286,-0.000798,-0.022265,-0.020456,0.008009,0.018438,0.007865,-0.034294
1,0.053727,-0.033467,-0.004653,0.001533,0.062992,0.021977,-0.035531,0.037065,0.054838,-0.005472,...,-0.028356,-0.006812,0.044743,-0.007285,-0.080473,-0.078087,0.010295,0.004692,0.018247,-0.030935
2,0.107034,-0.028548,-0.033179,0.017395,0.002001,0.009588,0.00592,0.005522,0.056549,-0.01557,...,-0.025505,-0.004665,0.003132,0.027741,-0.031389,-0.031352,0.022949,0.02292,-0.001889,-0.033045
3,0.025133,-0.093034,-0.025813,-0.014068,-0.008804,-0.010865,0.016478,-0.007944,0.046702,-0.005892,...,-0.040668,-0.044467,-0.03173,0.001579,-0.016743,-0.042193,0.029117,0.008184,0.005132,-0.01092
4,0.039431,-0.065219,-0.012157,-0.021157,-0.004475,0.00104,-0.018097,0.040416,0.074404,-0.00914,...,-0.010479,-0.026236,-0.027728,0.002671,-0.060044,-0.085739,0.007577,0.011574,-0.006915,-0.023656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,0.041804,-0.096386,-0.018565,0.015644,0.013428,-0.009793,-0.003712,0.010952,0.062572,-0.007501,...,-0.052375,-0.034159,-0.014433,0.016566,-0.02864,-0.027003,0.012653,0.02722,-0.008463,-0.001216
294,0.028566,-0.075478,-0.02347,0.016756,0.010595,-0.020637,-0.009958,0.022021,0.047954,-0.006651,...,-0.068755,-0.021637,-0.015986,-0.003283,-0.020941,0.001999,0.003587,0.045281,0.008383,-0.018376
295,0.046657,-0.064504,-0.005036,-0.004511,0.043173,0.018244,-0.027455,0.014223,0.073774,-0.028355,...,-0.011358,-0.026606,-0.013766,-0.000531,-0.060721,-0.04828,-0.005858,0.022386,0.016271,-0.02382
296,0.086372,-0.006858,-0.022631,0.021543,0.002823,-0.004555,-0.052461,0.047864,0.074989,-0.018176,...,0.011656,-0.00139,0.009041,0.009153,-0.034936,-0.082042,-0.012272,0.040432,0.022929,-0.022382
297,0.038475,-0.052629,-0.019906,-0.000166,-0.001273,0.007151,-0.065415,0.048686,0.055268,-0.002361,...,-0.053231,-0.042653,-0.014423,-0.01665,-0.03578,-0.019259,0.012041,0.034929,0.029014,-0.017946

In [24]:
data=pd.concat([x_test,y_test],axis=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.040283,-0.080232,-0.01894,0.015596,-0.001114,-0.031715,-0.006578,0.005592,0.028928,-0.006789,...,-0.037842,-0.042286,-0.000798,-0.022265,-0.020456,0.008009,0.018438,0.007865,-0.034294,0
1,0.053727,-0.033467,-0.004653,0.001533,0.062992,0.021977,-0.035531,0.037065,0.054838,-0.005472,...,-0.006812,0.044743,-0.007285,-0.080473,-0.078087,0.010295,0.004692,0.018247,-0.030935,0
2,0.107034,-0.028548,-0.033179,0.017395,0.002001,0.009588,0.00592,0.005522,0.056549,-0.01557,...,-0.004665,0.003132,0.027741,-0.031389,-0.031352,0.022949,0.02292,-0.001889,-0.033045,1
3,0.025133,-0.093034,-0.025813,-0.014068,-0.008804,-0.010865,0.016478,-0.007944,0.046702,-0.005892,...,-0.044467,-0.03173,0.001579,-0.016743,-0.042193,0.029117,0.008184,0.005132,-0.01092,0
4,0.039431,-0.065219,-0.012157,-0.021157,-0.004475,0.00104,-0.018097,0.040416,0.074404,-0.00914,...,-0.026236,-0.027728,0.002671,-0.060044,-0.085739,0.007577,0.011574,-0.006915,-0.023656,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,0.041804,-0.096386,-0.018565,0.015644,0.013428,-0.009793,-0.003712,0.010952,0.062572,-0.007501,...,-0.034159,-0.014433,0.016566,-0.02864,-0.027003,0.012653,0.02722,-0.008463,-0.001216,0
294,0.028566,-0.075478,-0.02347,0.016756,0.010595,-0.020637,-0.009958,0.022021,0.047954,-0.006651,...,-0.021637,-0.015986,-0.003283,-0.020941,0.001999,0.003587,0.045281,0.008383,-0.018376,0
295,0.046657,-0.064504,-0.005036,-0.004511,0.043173,0.018244,-0.027455,0.014223,0.073774,-0.028355,...,-0.026606,-0.013766,-0.000531,-0.060721,-0.04828,-0.005858,0.022386,0.016271,-0.02382,0
296,0.086372,-0.006858,-0.022631,0.021543,0.002823,-0.004555,-0.052461,0.047864,0.074989,-0.018176,...,-0.00139,0.009041,0.009153,-0.034936,-0.082042,-0.012272,0.040432,0.022929,-0.022382,2
297,0.038475,-0.052629,-0.019906,-0.000166,-0.001273,0.007151,-0.065415,0.048686,0.055268,-0.002361,...,-0.042653,-0.014423,-0.01665,-0.03578,-0.019259,0.012041,0.034929,0.029014,-0.017946,0

In [26]:
data=data.sample(frac=1)

In [27]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
158,0.024269,-0.002047,0.01742,0.00502,0.072418,0.030332,-0.100725,0.013775,0.054066,-0.002846,...,-0.030038,0.020493,-0.016357,-0.044465,-0.025566,0.008601,0.054048,0.001427,0.001211,0
86,0.077753,-0.007052,-0.011678,-0.011799,0.015041,0.004336,-0.026213,0.024483,0.025532,-0.047731,...,-0.010216,-0.00741,0.008225,-0.05734,-0.104588,-0.020975,0.018345,0.016656,-0.019348,0
265,0.058783,-0.034802,-0.028888,-0.002404,0.014109,-0.001522,-0.014341,0.021312,0.04477,-0.017152,...,-0.027331,-0.021463,-0.004343,-0.035686,-0.0408,0.009518,0.04041,0.007259,-0.031658,2
121,0.045216,-0.060155,-0.000408,-0.032033,0.047761,0.004211,-0.022072,0.018372,0.059756,-0.031641,...,-0.036165,0.032661,-0.006427,-0.063341,-0.063746,0.00678,0.025798,0.04434,-0.020642,0
122,0.039773,-0.067151,-0.013219,-0.022134,-0.00748,-0.001778,-0.023301,0.022022,0.061116,-0.012236,...,-0.051896,-0.022845,0.001636,-0.030695,-0.046048,0.016776,0.013263,0.02734,-0.021903,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,0.06942,-0.02696,-0.013269,0.017202,0.011194,-0.004277,-0.059926,0.011596,0.047539,-0.009552,...,-0.013857,0.012205,0.003411,-0.048823,-0.095524,0.029697,0.018055,0.020322,-0.010322,0
56,0.056506,-0.017868,-0.005565,-0.005588,0.034866,-0.005619,-0.076238,0.039946,0.055478,-0.013845,...,-0.009793,0.01571,-0.004247,-0.044719,-0.086448,0.012314,0.022619,0.021126,-0.028871,0
130,0.043036,-0.070891,-0.019915,-0.00351,-0.004816,0.009441,-0.016719,0.006897,0.053438,-0.011004,...,-0.041917,-0.024769,0.009558,-0.040999,-0.051077,0.022184,0.028568,0.003643,-0.017372,0
209,0.034755,-0.018704,-0.008815,-0.004797,0.033685,0.010952,-0.081437,0.037074,0.087454,0.003188,...,-0.028173,0.017768,-0.024007,-0.048988,-0.059702,0.002897,0.011635,0.053002,-0.026692,0
263,0.015652,0.056682,0.013125,0.048267,0.050046,0.014962,-0.063335,0.060895,0.058001,0.028785,...,0.011158,0.066023,-0.016773,-0.054088,-0.027414,-0.018609,0.013618,0.022399,-0.041463,0

In [28]:
data.to_csv("test_data_after_vector.csv")