In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process1/test/process 1 test data row.csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
642   2층 카페내 세미나실은 4인정원이라 외부에 있는 세미나실로 예약도와드려도 괜찮을까요...        0
1235   이경호 계장님이요. 예 알겠습니다 예통장명이  계좌 맞구요? 그리고 통장 발급 일...        1
1831  어떤 점이 궁금하신가요?모바일 검색창에 "자동차세 계산기"를 검색하셔도 자동차세 조...        0
532    일단은 저희가 절차를 하고 나중에 잠시 동안 일시적으로 이제 맞춤형 상의할 수가 ...        1
355   혹시 개인택시입니까?기본금리에서 이차보전 금리를 차감한 본인 부담 금리가 1%이하인...        0
...                                                 ...      ...
698    네 작성하셨죠? 네 네 그러면 손가락 한 마디 정도 밑으로 내려오셔가지고요 네 네...        1
791    네 네 그리고 차후에 2차 피해라든지 3차 피해가 일어난다면 최고 5천만 원 한도...        1
582    예 질문드리기 앞서서 수사 기관에서는 개인의 개인 정보나 금융 정보에 대해선 일체...        1
1574  어떤 궁금증이 있으신가요부양의무자가 없거나, 있어도 부양능력이 없거나 또는 부양을 ...        0
1407  네 거주지가 어디신지 여쭈어봐도 되겠습니까?네, 이체증을 확인 후 입금됩니다. 더 ...        0

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
1971  새끼들을 구조해야 할까요?네, 음주 혈중알콜농도 수치가 0.12% 이하여야지 가능하...        0
140   정확한 서식도 첨부파일도 올려놓았는데 확인해 보셨나요?네 가능합니다. 네 무엇을 도...        0
552    어디가 상환이 안되셨다는 거죠? 아 제거 KB국민은행에 상환이 다 안되있던데요? ...        1
516              네 예 삼십 프로 정도 쓰면 예 김기훈 예 명의도요 예 사기 사건 예        1
513    예 예 보냅니다 전화 좀 끊을까요? 제가? 아니요 아니요. 보낼 수 있어요. 예 ...        1
...                                                 ...      ...
1647  그렇군요. 혹시 현장 사진 촬영 가능하실까요?가나아트 컬렉션 기획상설전입니다. 아 ...        0
766   세종시 문화행사 말씀입니까?거기서 등본 버튼을 눌러주세요.대관하실려고 하는 겁니까?...        0
1083  등기로 받으시겠어요?네, 가능합니다. 더 궁금하신 사항 있습니까?네, 그렇습니다. ...        0
1235   이경호 계장님이요. 예 알겠습니다 예통장명이  계좌 맞구요? 그리고 통장 발급 일...        1
1991  매도인의 요청으로 매매일자를 조정하셨나요?행사장내에 주차장은 없습니다담당했던 공인중...        0

[300 rows x 2 columns]

In [6]:
data.to_csv("process1 test data before nlp(jhgan).csv")

In [7]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('jhgan/ko-sbert-sts')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(300, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

    predict
0         0
1         0
2         1
3         1
4         1
..      ...
295       0
296       0
297       0
298       1
299       0

[300 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.169745,-0.065033,0.188258,0.968783,-0.560653,-0.02121,0.63763,0.087775,0.178384,-0.45474,...,0.330709,0.219429,0.622435,0.10196,-0.521463,-0.448307,0.367693,-0.519356,-0.846147,-0.096362
1,0.137682,0.459231,-0.636782,0.312104,-0.475885,-0.228253,0.840075,0.168639,-1.159467,-0.624626,...,0.297161,0.500651,-0.906229,0.851912,-0.220235,-0.460331,0.34038,-0.556133,-0.63993,1.213252
2,0.625804,0.278426,-0.182358,1.025717,-0.302546,-0.8113,-0.436083,0.453136,-0.19704,0.044212,...,0.082781,1.409891,1.09942,0.848363,-0.384894,-0.405557,0.517724,0.041878,-0.244141,0.187235
3,-0.349837,0.839483,0.048065,0.107861,-0.186202,0.431849,0.497573,0.333614,-0.616557,-0.122632,...,-0.177001,0.438835,0.289842,1.472298,0.068648,-0.042665,0.047441,-0.711558,-0.135675,0.999238
4,-0.541376,0.048569,0.190784,0.649926,-0.89903,0.464502,-0.277728,-0.024907,0.055964,0.146201,...,-0.402118,0.885372,-0.138674,0.665568,-1.08951,-0.250555,-0.05877,-0.507484,0.057083,0.963906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.442738,-0.806417,0.254149,0.678906,-0.765699,-0.423829,-1.031167,0.727305,0.656731,-0.773802,...,0.047637,0.117507,0.166168,1.018952,-0.584712,0.840252,0.576277,-0.019458,-0.389728,0.723095
296,-0.054624,1.352527,-0.76796,0.470434,-1.044875,-0.775212,0.262201,0.626588,0.432628,-1.405988,...,0.193477,1.347203,0.429235,0.748351,-0.192045,0.269834,0.181842,-0.411584,-1.146793,0.901516
297,-0.277745,-0.233037,0.168097,0.397018,-0.278097,-0.590942,-0.682059,1.452621,-0.211642,0.118467,...,0.196441,-0.004641,0.816393,0.407242,-0.755161,-1.010506,0.370747,-0.66426,-0.506782,0.408574
298,0.287832,0.898478,-0.291679,0.866559,-0.500446,0.134387,-0.374693,-0.186865,0.661542,0.352593,...,0.052482,0.714862,0.077726,0.691062,0.628878,0.091774,0.742111,0.305318,-0.492899,0.557771
299,-0.174374,0.924104,-0.44846,0.376781,-0.635488,0.395021,0.407558,0.786499,-0.172824,0.107333,...,-0.495024,-0.058597,0.398438,0.937214,-0.508505,-0.354039,0.875958,-0.272659,-0.192388,0.283911

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,-0.169745,-0.065033,0.188258,0.968783,-0.560653,-0.02121,0.63763,0.087775,0.178384,-0.45474,...,0.219429,0.622435,0.10196,-0.521463,-0.448307,0.367693,-0.519356,-0.846147,-0.096362,0
1,0.137682,0.459231,-0.636782,0.312104,-0.475885,-0.228253,0.840075,0.168639,-1.159467,-0.624626,...,0.500651,-0.906229,0.851912,-0.220235,-0.460331,0.34038,-0.556133,-0.63993,1.213252,0
2,0.625804,0.278426,-0.182358,1.025717,-0.302546,-0.8113,-0.436083,0.453136,-0.19704,0.044212,...,1.409891,1.09942,0.848363,-0.384894,-0.405557,0.517724,0.041878,-0.244141,0.187235,1
3,-0.349837,0.839483,0.048065,0.107861,-0.186202,0.431849,0.497573,0.333614,-0.616557,-0.122632,...,0.438835,0.289842,1.472298,0.068648,-0.042665,0.047441,-0.711558,-0.135675,0.999238,1
4,-0.541376,0.048569,0.190784,0.649926,-0.89903,0.464502,-0.277728,-0.024907,0.055964,0.146201,...,0.885372,-0.138674,0.665568,-1.08951,-0.250555,-0.05877,-0.507484,0.057083,0.963906,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.442738,-0.806417,0.254149,0.678906,-0.765699,-0.423829,-1.031167,0.727305,0.656731,-0.773802,...,0.117507,0.166168,1.018952,-0.584712,0.840252,0.576277,-0.019458,-0.389728,0.723095,0
296,-0.054624,1.352527,-0.76796,0.470434,-1.044875,-0.775212,0.262201,0.626588,0.432628,-1.405988,...,1.347203,0.429235,0.748351,-0.192045,0.269834,0.181842,-0.411584,-1.146793,0.901516,0
297,-0.277745,-0.233037,0.168097,0.397018,-0.278097,-0.590942,-0.682059,1.452621,-0.211642,0.118467,...,-0.004641,0.816393,0.407242,-0.755161,-1.010506,0.370747,-0.66426,-0.506782,0.408574,0
298,0.287832,0.898478,-0.291679,0.866559,-0.500446,0.134387,-0.374693,-0.186865,0.661542,0.352593,...,0.714862,0.077726,0.691062,0.628878,0.091774,0.742111,0.305318,-0.492899,0.557771,1
299,-0.174374,0.924104,-0.44846,0.376781,-0.635488,0.395021,0.407558,0.786499,-0.172824,0.107333,...,-0.058597,0.398438,0.937214,-0.508505,-0.354039,0.875958,-0.272659,-0.192388,0.283911,0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
92,-0.857381,0.095771,0.456598,0.589936,-0.185549,0.065896,0.305553,0.219226,-0.376502,0.571409,...,0.337366,-0.338611,0.280206,0.313776,-0.630609,1.057353,-0.347879,-0.567393,1.53916,1
267,0.213626,0.313194,0.307273,0.829407,-0.835116,-0.023207,-0.204221,0.546537,-0.599047,-0.693016,...,0.861644,0.633908,0.880952,-0.34232,-0.315886,0.406749,-0.204448,-0.430718,0.726071,1
67,0.354462,0.573341,-0.235458,1.421009,-0.422881,-0.337639,-0.174043,0.296275,0.146487,0.630844,...,1.418881,0.298972,0.502824,0.095571,-0.208813,1.01004,0.354238,-0.232382,0.667583,1
47,0.190732,0.033536,-0.231045,0.56428,-0.069613,-0.467043,-0.321804,0.590415,0.584884,-0.568049,...,0.338336,0.620643,1.079729,-0.573125,0.413144,1.149207,-0.293,-0.976346,0.994887,0
231,-0.140776,0.259568,0.470044,0.459235,-0.733617,0.786268,0.561633,-0.147203,0.795936,-0.610527,...,-0.275491,0.818114,0.313283,-0.693431,0.729819,0.602322,0.442439,-0.090018,0.16904,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.650972,0.009062,-0.490738,0.92656,-0.526432,-0.872687,0.018627,0.355239,-0.051463,0.286589,...,0.903325,0.054412,0.845547,0.587932,-0.062323,0.763094,0.428923,-0.486567,-0.4457,0
56,0.013617,0.576204,-0.069029,0.698993,-0.799966,-0.305333,-0.108206,0.605805,-0.142084,-0.19434,...,0.423321,0.354838,0.408441,-0.378468,-0.587194,0.444583,-0.111331,-0.725299,0.15771,1
280,0.837035,-0.296552,-0.454885,0.684314,-0.541675,-0.833938,-0.59224,0.770108,-0.351674,-0.148718,...,0.879958,0.932553,0.951898,-0.638577,-0.536742,0.376649,-0.096364,-0.439838,-0.299191,1
142,-0.162835,-0.529347,0.393719,0.601195,-0.307332,-0.40734,-0.351407,0.453178,-0.330072,0.376391,...,0.354541,0.122124,1.10473,0.362784,-0.432228,0.714539,-0.381297,0.109006,0.276248,1
190,0.371741,0.209442,-0.195443,0.853447,-1.086234,-0.467774,-0.511348,0.665418,0.290279,-0.960051,...,0.111854,0.42035,-0.161086,0.035567,-0.290424,-0.013632,-0.779436,0.052775,0.777564,0

In [26]:
data.to_csv("process1 test data after nlp(jhgan).csv")