In [35]:
import numpy as np
import pandas as pd 
data=pd.read_csv('/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/csv_file_data(24.03.21)/normal/콜센터(민원)/콜센터 민원_코로나19.csv')

data

       Unnamed: 0 상담사질문(요청)                    상담사답변
0               0       NaN                      NaN
1               1       NaN            네 무엇이 궁금하신지요?
2               2       NaN                      NaN
3               3       NaN  정부에서 별도 지원금을 지급하고 있습니다.
4               4       NaN                      NaN
...           ...       ...                      ...
32470       32470       NaN                      NaN
32471       32471       NaN    네, 방역수칙 준수하며 하고 있습니다.
32472       32472       NaN                      NaN
32473       32473       NaN        네, 아직 전면등교는 아닙니다.
32474       32474       NaN                      NaN

[32475 rows x 3 columns]

In [36]:
data.drop(columns=['Unnamed: 0'],inplace=True)

In [37]:
data.dtypes

상담사질문(요청)    object
상담사답변        object
dtype: object

In [38]:
data.shape

(32475, 2)

In [39]:
data['상담사질문(요청)'].isnull()

0        True
1        True
2        True
3        True
4        True
         ...
32470    True
32471    True
32472    True
32473    True
32474    True
Name: 상담사질문(요청), Length: 32475, dtype: bool

In [40]:
data1=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[0]),columns=['상담사질문(요청)'])
data2=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[1]),columns=['상담사답변'])

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_25983/3933870051.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data1=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[0]),columns=['상담사질문(요청)'])
/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_25983/3933870051.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data2=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[1]),columns=['상담사답변'])

In [41]:
print(data1.shape)
print(data2.shape)
print(data.shape)

(3221, 1)
(12671, 1)
(32475, 2)

In [42]:
print(type(data1.iloc[0,0]))
print(type(data.iloc[1,1]))

<class 'float'>
<class 'str'>

In [43]:
index=[]
for i in range(data.shape[0]):
    if type(data.iloc[i,0])==str:
        index.append(i)
    else:
        continue
        
data1_index=np.array(index)

In [44]:
index=[]
for i in range(data.shape[0]):
    if type(data.iloc[i,1])==str:
        index.append(i)
    else:
        continue
        
data2_index=np.array(index)

In [45]:
print(data2_index)

[    1     3     5 ... 32469 32471 32473]

In [46]:
for i in range(len(data1_index)):
    data1.iloc[i,0]=data.iloc[data1_index[i],0]

In [47]:
for i in range(len(data2_index)):
    data2.iloc[i,0]=data.iloc[data2_index[i],1]

In [48]:
data1

                                  상담사질문(요청)
0                             지금 미취업 중이신가요?
1                             근로자수가 몇명이십니까?
2                         어떤 업종에 종사하고 계신가요?
3     코로나19 지원금 종류가 다양합니다. 어떤지원금으로 안내해드릴까요?
4                        소상공인이실까요 중소기업이실까요?
...                                     ...
3216                      지원금 수령방법이 궁금하신가요?
3217                           공장을 운영중이신가요?
3218                         연매출액이 얼마나 되나요?
3219                             4억원 이상인가요?
3220                       전년대비 소득이 감소 했나요?

[3221 rows x 1 columns]

In [49]:
data2

                                                   상담사답변
0                                          네 무엇이 궁금하신지요?
1                                정부에서 별도 지원금을 지급하고 있습니다.
2                           일용직 노동자 등 취약노동자들이 받을 수 있습니다.
3      주 40시간 미만 단시간 노동자, 일용직 노동자, 특수형태노동종사자, 요양보호사가 ...
4                                       1인당 23만원이 지급됩니다.
...                                                  ...
12666                       급식실 가림막 설치하고 교차로 앉아 먹고 있습니다.
12667                          학교 소독은 오전 오후에 걸쳐 하고 있습니다.
12668                                 학부모봉사자분께서 하고 계십니다.
12669                              네, 방역수칙 준수하며 하고 있습니다.
12670                                  네, 아직 전면등교는 아닙니다.

[12671 rows x 1 columns]

In [50]:
data1.to_csv("콜센터민원_코로나19_상담사질문.csv")

In [51]:
data2.to_csv("콜센터민원_코로나19_상담사답변.csv")