In [51]:
import pandas as pd

금융_data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/row sentence/대출형 보이스피싱.csv",index_col=0)
기관_data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/row sentence/기관 사칭형 보이스피싱.csv",index_col=0)

In [52]:
금융_data_row

                                               sentence
0                                     '어저께 통화했던 최영환입니다'
1      '어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...
2              '일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요'
3                       '금리는 연 금리 5.5%에 상환 기간 60개월입니다.'
4      '매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035...
...                                                 ...
3472                                        '너무 많아가지고 '
3473                              '네 대부업건 어디어디 이용중이세요?'
3474                         '얼만지 제가 한번 보고 전화를 한번 드릴게요'
3475                                        '아 네 알겠습니다'
3476                              '그 바로 연락 한번 좀 부탁드릴게요'

[3477 rows x 1 columns]

In [53]:
기관_data_row

                                               sentence
0                 ['아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다.'
1      '본 사건 조사는 법원 증거 제출용으로 이뤄지고 있으신데 녹취 조사 과정에서 허위...
2                 형사상 책임이 있으시니 사실에 입각하여 진실로 좀 하셔야 됩니다.'
3                          '네 OOO씨 지금 제가 본인 확인 한번 할께요.'
4                        '생년월일 앞에 여섯 자리만 말씀 부탁 드리겠습니다.'
...                                                 ...
8427                   '그 본인 말고도 180명이 넘게 연루된 사건이다 보니까'
8428   '찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 없기 때문에...
8429                   '그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요'
8430                           '예 그 본인 자택으로 서류 보내드릴게요.'
8431   '그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 ...

[8432 rows x 1 columns]

In [54]:
from konlpy.tag import Mecab

tokenizer = Mecab()

In [55]:
A=tokenizer.nouns("이것은 메캅 테스트입니다. 사용자 사전을 등록한 후입니다. 비타500")

In [56]:
A

['이것', '메', '캅', '테스트', '사용자', '사전', '등록', '후', '비타']

In [57]:
print(len(A[1]))

1

In [58]:
count=0
for i in range(기관_data_row.shape[0]):
    A=tokenizer.nouns(기관_data_row.iloc[i,0])
    num=len(A)
    count=count+num
print(count)

40510

In [59]:
기관_word=pd.DataFrame(index=range(count),columns=['단어'])

In [61]:
count=0
for i in range(기관_data_row.shape[0]):
    A=tokenizer.nouns(기관_data_row.iloc[i,0])
    for j in range(len(A)):
        if len(A[j])>1:
            기관_word.iloc[count]=A[j]
            count=count+1

In [62]:
기관_word

        단어
0       서울
1       중앙
2       지검
3       첨단
4       범죄
...    ...
40505  NaN
40506  NaN
40507  NaN
40508  NaN
40509  NaN

[40510 rows x 1 columns]

In [64]:
기관_word=기관_word.dropna(axis=0)

In [65]:
기관_word

       단어
0      서울
1      중앙
2      지검
3      첨단
4      범죄
...    ..
30963  확인
30964  다음
30965  이해
30966  부분
30967  연락

[30968 rows x 1 columns]

In [66]:
count=0
for i in range(금융_data_row.shape[0]):
    A=tokenizer.nouns(금융_data_row.iloc[i,0])
    num=len(A)
    count=count+num
print(count)

12293

In [67]:
금융_word=pd.DataFrame(index=range(count),columns=['단어'])

In [68]:
count=0
for i in range(금융_data_row.shape[0]):
    A=tokenizer.nouns(금융_data_row.iloc[i,0])
    for j in range(len(A)):
        if len(A[j])>1:
            금융_word.iloc[count]=A[j]
            count=count+1

In [69]:
금융_word=금융_word.dropna(axis=0)

In [70]:
금융_word

        단어
0       통화
1      최영환
2       진행
3       결과
4       안내
...    ...
10141   이용
10142  얼만지
10143   전화
10144   연락
10145   부탁

[10146 rows x 1 columns]

In [71]:
금융_frequency=pd.DataFrame(금융_word['단어'].value_counts())

In [72]:
기관_frequency=pd.DataFrame(기관_word['단어'].value_counts())

In [73]:
금융_frequency

     count
단어
상환     323
고객     304
처리     247
대출     228
저희     228
..     ...
본인      19
명의      19
공중      19
날짜      19
얼만지     19

[242 rows x 1 columns]

In [74]:
기관_frequency

     count
단어
본인    1667
통장     601
은행     569
말씀     546
계좌     543
..     ...
센타       1
관권       1
김태현      1
죄수       1
요약       1

[2288 rows x 1 columns]

In [75]:
금융_frequency.to_csv("금융형 단어 빈도수.csv")

In [76]:
기관_frequency.to_csv("기관사칭형 단어 빈도수.csv")