In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/abnormal/row/fishing_data_row_target.csv")

In [2]:
data_row.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
data_row

                                            transcript  confidence  label
0    예 고객님 담당자 김성도 대리입니다.\n예\n지금 법무사님이 두분 배정되셨어요.\n...         NaN      1
1    본인 성함 알겟습니다. 제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌 발생으로...         NaN      1
2    6시 되가지고 전화 해봤습니다.\n예 예 그 앞전에 이면주 법무사님 영수증 확인되셨...         NaN      1
3    네 네 네 여보세요\n네 네\n어디에 계시는 겁니까 지금\n네?\n지금 어디 계시는...         NaN      1
4    네 여보세요.\n네 여보세요? 네 OOO 고객님 맞으시죠?\n네 맞아요.\n네 고객...         NaN      1
..                                                 ...         ...    ...
690  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...         NaN      1
691  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...         NaN      1
692  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...         NaN      1
693  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...         NaN      1
694  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...         NaN      1

[695 rows x 3 columns]

In [4]:
data_row.drop(columns=['confidence'],inplace=True)

In [12]:
y=pd.DataFrame(index=range(data_row.shape[0]),columns=['sentence','predict'])

In [13]:
y['predict']=pd.DataFrame(y['predict'].fillna('0'))

In [14]:
y

    sentence predict
0        NaN       0
1        NaN       0
2        NaN       0
3        NaN       0
4        NaN       0
..       ...     ...
690      NaN       0
691      NaN       0
692      NaN       0
693      NaN       0
694      NaN       0

[695 rows x 2 columns]

In [15]:
for i in range(y.shape[0]):
    y.iloc[i,0]=data_row.iloc[i,0]

In [16]:
y

                                              sentence predict
0    예 고객님 담당자 김성도 대리입니다.\n예\n지금 법무사님이 두분 배정되셨어요.\n...       0
1    본인 성함 알겟습니다. 제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌 발생으로...       0
2    6시 되가지고 전화 해봤습니다.\n예 예 그 앞전에 이면주 법무사님 영수증 확인되셨...       0
3    네 네 네 여보세요\n네 네\n어디에 계시는 겁니까 지금\n네?\n지금 어디 계시는...       0
4    네 여보세요.\n네 여보세요? 네 OOO 고객님 맞으시죠?\n네 맞아요.\n네 고객...       0
..                                                 ...     ...
690  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...       0
691  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...       0
692  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...       0
693  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...       0
694  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...       0

[695 rows x 2 columns]

In [17]:
y.to_csv("target data(ab).csv")