In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process1/trian/process 1 train data row.csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
297   기간은 몇 년으로 되어있으신가요?대리수령시 신청인 신분증과 대리인신분증, 접수증 있...        0
2232  지역이 어디신가요?연말정산은 매년 2월에 실시합니다.출력사유가 어떻게 되시나요?올해...        0
685   올 해 지급기준이 몇프로인가요?네 가능해요. 이직할때 회사가 너무 멀리이사가서 그런...        0
1922   네  어떤것이 궁금한가요?신청하시면 4년간 유예 되십니다. 소상공인 이신가요?대출...        0
909   바꿔주실 수 있나요?7일 미만일 경우 만원입니다. 네 여보세요?네, 신고와 함께 즉...        0
...                                                 ...      ...
66     매 월 상환이 그렇죠? 원금 예 그럼 뭐 바로 해야겠네. 가가지고 시간 또 걸리고...        1
2124  절차가 궁금하십니까?입급은행을 '지방세입'으로 선택하고 고지서에 기재된 지방세입계좌...        0
1234   서울지검어디세요 첨단 범죄 수사 2부입니다 예? 첨단범죄수사 2부에 이경호요 이경...        1
212    아니에요. 유선상으로 대출할 때는 찾아가는 거는 최하위 우선 순위 실행입니다 음 ...        1
1063  언제부턴지 아시나요?네, 청년포털에서 정보 변경하실 수 있습니다. 크린넷시설같다는 ...        0

[3780 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
320    알약은 종료가 됬어요. 그러면 다시 등록을 하기겠습니다. 다시 하라고? 인터넷을 ...        1
229    쉽게 말해서 이런 거예요. 본인의 개인 정보를 만약에 제가 알고 있다고 치자고요....        1
1232   네 그  본인 맞아요? 네 아 본인 맞고 그 간단하게 몇가지만 여쭤봐도 될까요 네...        1
1173   네. 지금 제가 지금까지 뭐 조사 받느라 수고하셨고 저는 이제 서울 서부지검 첨단...        1
1271   본인께서 광명시 쪽 가셔서 금융권 업무 보신 거 아니세요? 네 아 본인께서는 지금...        1
...                                                 ...      ...
426    아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요. 울산 지금 실제 ...        1
606    실제로 범죄 사용된 통장 농협 2500만원 기업 850만원 도합 3350만 원부터...        1
890    1시간 반 안에 처리해드릴게요. 주위에 울산 연고지 울산 어디라고 하셨죠?  요?...        1
138    농협껍니까? 계속 농협이요. 아 농협을 사용을 많이 하고 계시네. 자 또 말씀해주...        1
347    순차적으로 진행이 되다 보니까. 이제 조금 늦춰질 수도 있는 부분 이고 그렇다고해...        1

[3780 rows x 2 columns]

In [6]:
data.to_csv("process1 train data before nlp(base).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(3780, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
3775     NaN
3776     NaN
3777     NaN
3778     NaN
3779     NaN

[3780 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

     predict
0          1
1          1
2          1
3          1
4          1
...      ...
3775       1
3776       1
3777       1
3778       1
3779       1

[3780 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.097854,-0.010645,-0.039654,0.010849,0.004865,-0.005247,-0.02526,0.023807,0.088621,-0.009419,...,0.027697,-0.018833,0.012796,0.000071,-0.043967,-0.039866,-0.008746,0.046849,0.005395,-0.016899
1,0.060148,0.009685,-0.035655,-0.005834,0.006979,0.017415,-0.010436,-0.004754,0.039524,-0.017541,...,-0.024327,-0.011575,-0.017612,0.002794,-0.052468,-0.058274,0.020976,0.044436,0.024562,-0.038765
2,0.088301,-0.026929,-0.029985,0.015571,0.007708,0.000896,-0.006558,0.040859,0.084738,-0.010311,...,-0.000545,0.007695,0.014548,0.017017,-0.045561,-0.069769,0.014643,0.006914,-0.002927,-0.025821
3,0.090571,-0.056703,-0.024483,0.029405,0.003603,0.006989,0.00782,0.01418,0.045679,-0.004743,...,-0.035893,-0.022463,0.001559,0.011881,-0.038846,-0.071472,0.030337,0.017114,-0.004083,-0.03784
4,0.064475,-0.006748,-0.038864,-0.00989,-0.010541,-0.003191,-0.005304,0.023042,0.053992,-0.020232,...,-0.00619,-0.024202,-0.043829,0.023649,-0.030973,-0.044519,0.034897,0.044465,0.018212,-0.031688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,0.068314,-0.068555,-0.044527,0.023347,0.027546,-0.002787,0.006296,-0.003426,0.06798,-0.000892,...,-0.006013,0.024482,-0.011895,0.026115,-0.016013,-0.011258,0.001321,0.041122,-0.045192,-0.03205
3776,0.018778,-0.014636,-0.04128,0.01824,0.02165,-0.003806,-0.018463,0.013209,0.00096,-0.014348,...,-0.026955,-0.023908,-0.020901,0.038617,-0.019244,-0.025687,0.040513,0.033679,-0.048774,-0.036137
3777,0.101143,-0.039629,-0.025409,-0.003284,0.006947,-0.003321,-0.00464,0.012864,0.072913,-0.013319,...,-0.005888,-0.019696,-0.000824,0.022673,-0.034479,-0.034531,0.014575,0.031656,0.004725,-0.028717
3778,0.094665,-0.003833,-0.013723,0.005565,0.011608,0.005788,-0.002558,0.007186,0.054184,-0.01659,...,-0.009081,0.003438,0.050349,0.015419,-0.042063,-0.026228,0.009836,0.051658,-0.001914,-0.026346
3779,0.083211,-0.002658,-0.027045,-0.015572,-0.002085,-0.000225,-0.004423,0.008603,0.073733,-0.02048,...,0.008198,-0.004305,-0.015325,0.022706,-0.037839,-0.06759,0.007937,0.047904,0.024022,-0.025107

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.097854,-0.010645,-0.039654,0.010849,0.004865,-0.005247,-0.02526,0.023807,0.088621,-0.009419,...,-0.018833,0.012796,0.000071,-0.043967,-0.039866,-0.008746,0.046849,0.005395,-0.016899,1
1,0.060148,0.009685,-0.035655,-0.005834,0.006979,0.017415,-0.010436,-0.004754,0.039524,-0.017541,...,-0.011575,-0.017612,0.002794,-0.052468,-0.058274,0.020976,0.044436,0.024562,-0.038765,1
2,0.088301,-0.026929,-0.029985,0.015571,0.007708,0.000896,-0.006558,0.040859,0.084738,-0.010311,...,0.007695,0.014548,0.017017,-0.045561,-0.069769,0.014643,0.006914,-0.002927,-0.025821,1
3,0.090571,-0.056703,-0.024483,0.029405,0.003603,0.006989,0.00782,0.01418,0.045679,-0.004743,...,-0.022463,0.001559,0.011881,-0.038846,-0.071472,0.030337,0.017114,-0.004083,-0.03784,1
4,0.064475,-0.006748,-0.038864,-0.00989,-0.010541,-0.003191,-0.005304,0.023042,0.053992,-0.020232,...,-0.024202,-0.043829,0.023649,-0.030973,-0.044519,0.034897,0.044465,0.018212,-0.031688,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,0.068314,-0.068555,-0.044527,0.023347,0.027546,-0.002787,0.006296,-0.003426,0.06798,-0.000892,...,0.024482,-0.011895,0.026115,-0.016013,-0.011258,0.001321,0.041122,-0.045192,-0.03205,1
3776,0.018778,-0.014636,-0.04128,0.01824,0.02165,-0.003806,-0.018463,0.013209,0.00096,-0.014348,...,-0.023908,-0.020901,0.038617,-0.019244,-0.025687,0.040513,0.033679,-0.048774,-0.036137,1
3777,0.101143,-0.039629,-0.025409,-0.003284,0.006947,-0.003321,-0.00464,0.012864,0.072913,-0.013319,...,-0.019696,-0.000824,0.022673,-0.034479,-0.034531,0.014575,0.031656,0.004725,-0.028717,1
3778,0.094665,-0.003833,-0.013723,0.005565,0.011608,0.005788,-0.002558,0.007186,0.054184,-0.01659,...,0.003438,0.050349,0.015419,-0.042063,-0.026228,0.009836,0.051658,-0.001914,-0.026346,1
3779,0.083211,-0.002658,-0.027045,-0.015572,-0.002085,-0.000225,-0.004423,0.008603,0.073733,-0.02048,...,-0.004305,-0.015325,0.022706,-0.037839,-0.06759,0.007937,0.047904,0.024022,-0.025107,1

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
2450,0.097354,-0.003909,-0.0243,-0.004595,-0.003574,0.018671,-0.013335,0.017759,0.07079,-0.005779,...,0.005949,0.004147,0.00283,-0.035014,-0.052078,0.013817,0.048924,0.011582,-0.036568,1
644,0.066812,-0.032371,-0.028539,-0.013661,-0.005799,-0.008929,0.020959,0.010111,0.060083,-0.011258,...,-0.014095,-0.033924,0.020383,-0.02579,-0.038891,0.026889,0.01727,0.000101,-0.041846,0
1285,0.084395,-0.041075,-0.022834,0.023436,0.004631,-0.006011,0.007881,0.007962,0.054132,-0.015637,...,-0.000029,0.023962,0.016481,-0.032084,-0.056775,0.018035,0.029725,-0.005374,-0.027306,0
3553,0.065391,-0.014221,-0.038666,-0.002075,0.00114,-0.003581,-0.004175,0.01156,0.063837,-0.010993,...,-0.020897,-0.028794,0.022902,-0.022673,-0.028517,0.015927,0.049191,0.014309,-0.038097,1
3710,0.084335,0.011477,-0.021914,0.022194,-0.005152,-0.002594,-0.03996,0.042469,0.057883,-0.003761,...,0.003387,0.010328,-0.002524,-0.024018,-0.064389,0.021624,0.033934,0.01361,-0.02933,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209,0.057362,-0.046147,-0.030651,0.027858,-0.005276,0.017148,-0.013772,0.034782,0.059324,0.016902,...,-0.023863,0.002706,-0.02221,-0.043991,-0.055737,0.034758,-0.001021,-0.022779,-0.0391,1
3040,0.105886,-0.028578,-0.015496,0.025619,-0.007706,-0.027803,0.007463,0.00235,0.061556,0.010335,...,-0.025433,0.062501,0.011431,-0.034706,-0.073265,0.005039,0.032303,-0.021309,-0.020937,0
1675,0.047785,-0.060182,-0.023768,0.019794,0.022592,0.018508,-0.003824,-0.003308,0.00647,-0.025731,...,-0.003721,-0.0402,0.007939,-0.026121,-0.028159,0.008764,-0.004446,-0.042114,-0.030712,1
549,0.050946,-0.034298,-0.031386,-0.02367,-0.003317,-0.004171,0.006644,0.007295,0.048162,-0.005112,...,-0.025223,-0.03751,0.008344,-0.027425,-0.046325,0.044725,0.028883,0.000665,-0.027861,1
2225,0.083258,-0.011593,-0.034193,0.019286,0.005766,-0.020811,0.001362,0.017091,0.0289,-0.021144,...,-0.021139,0.001999,0.027723,-0.028746,-0.065816,0.030982,0.037437,-0.011832,-0.021961,0

In [26]:
data.to_csv("process1 train data after nlp(base).csv")