In [41]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/data(use)/model train(already concat)/shuffle_data_sum.cev")

data

        Unnamed: 0  단어     predict
0            23851   번     fishing
1            72973  우리     fishing
2            84418  신청  No fishing
3            16103  발송     fishing
4            88009  세액  No fishing
...            ...  ..         ...
209236       87541  사람     fishing
209237       15486   말     fishing
209238       65813   줌  No fishing
209239      105122  효과  No fishing
209240       52419  청년  No fishing

[209241 rows x 3 columns]

In [42]:
data.isnull().sum()

Unnamed: 0    0
단어            0
predict       0
dtype: int64

In [43]:
data.drop(columns=["Unnamed: 0"],inplace=True)

In [44]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [45]:
print(data.iloc[1,0]==data.iloc[2,0])

False

In [46]:
A=le.fit_transform(data['단어'])

In [47]:
A.dtype

dtype('int64')

In [48]:
for i in range(data.shape[0]):
    data.iloc[i,0]=A[i]

In [49]:
data

          단어     predict
0       2339     fishing
1       4222     fishing
2       3569  No fishing
3       2236     fishing
4       3127  No fishing
...      ...         ...
209236  2742     fishing
209237  1825     fishing
209238  5441  No fishing
209239  6917  No fishing
209240  5792  No fishing

[209241 rows x 2 columns]

In [50]:
A=le.fit_transform(data['predict'])

In [51]:
data

          단어     predict
0       2339     fishing
1       4222     fishing
2       3569  No fishing
3       2236     fishing
4       3127  No fishing
...      ...         ...
209236  2742     fishing
209237  1825     fishing
209238  5441  No fishing
209239  6917  No fishing
209240  5792  No fishing

[209241 rows x 2 columns]

In [52]:
A

array([1, 1, 0, ..., 0, 0, 0])

In [53]:
A

array([1, 1, 0, ..., 0, 0, 0])

In [54]:
for i in range(data.shape[0]):
    data.iloc[i,1]=A[i]

In [55]:
data.columns

Index(['단어', 'predict'], dtype='object')

In [56]:
data['단어']

0         2339
1         4222
2         3569
3         2236
4         3127
          ...
209236    2742
209237    1825
209238    5441
209239    6917
209240    5792
Name: 단어, Length: 209241, dtype: object

In [57]:
data.astype('int32').dtypes

단어         int32
predict    int32
dtype: object

In [58]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=['word'])

In [59]:
x_train

       word
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
209236  NaN
209237  NaN
209238  NaN
209239  NaN
209240  NaN

[209241 rows x 1 columns]

In [60]:
for i in range(data.shape[0]):
    x_train.iloc[i,0]=data.iloc[i,0]

In [61]:
x_train

        word
0       2339
1       4222
2       3569
3       2236
4       3127
...      ...
209236  2742
209237  1825
209238  5441
209239  6917
209240  5792

[209241 rows x 1 columns]

In [62]:

y_train=pd.DataFrame(data=data['predict'],columns=['predict'],copy=True)

In [63]:

y_train

       predict
0            1
1            1
2            0
3            1
4            0
...        ...
209236       1
209237       1
209238       0
209239       0
209240       0

[209241 rows x 1 columns]

In [64]:
x_train.astype('int32').dtypes
y_train.astype('int32').dtypes

predict    int32
dtype: object

In [65]:
x_train['word']=x_train['word'].astype(float)
y_train['predict']=y_train['predict'].astype(float)

In [66]:
x_train.dtypes

word    float64
dtype: object

In [67]:
data=x_train

In [68]:
target=y_train

In [69]:
import numpy as np
from sklearn.model_selection import train_test_split

In [70]:
x_train,x_valid,y_train,y_valid=train_test_split(data,target,test_size=0.2,shuffle=True,stratify=target,random_state=34)

In [71]:
print(x_train.shape)
print(y_train.shape)
print(x_valid.shape)

(167392, 1)
(167392, 1)
(41849, 1)

In [72]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification


model = RandomForestClassifier(n_estimators=5, random_state=0)
model.fit(x_train, y_train)

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_14784/2427388478.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=5, random_state=0)

In [73]:
y_pred=model.predict(x_valid)

In [102]:
print("RandomForest acc",accuracy_score(y_valid,y_pred)*100,'%')

RandomForest acc 84.6663002700184 %