In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process2/trian/process2 train data row.csv",index_col=0)

In [2]:
data_row

                                              sentence  predict
444   근데 뭐 제 돈을 가져갔다 모를 수도 있는데 그걸 알려주시나요? 그렇죠. 그리고 ...        1
560   너무 복잡하진않죠? 예 알겠습니다. 그럼 전화 제가 다시 끊어 드릴 건데 어 나오...        1
94    아 그거까지 해야되요? 방문을 해달라고 하신 거 아니에요 지금? 아니 뭐 찾아와서...        0
83    피해자 ; 아 네 네 그래서 저 실례가 안 된다면 어디신지 잠시 여쭤봐도 될까요?...        1
977   없어요? 네 그러면  씨 이름 앞으로 사건 코드 번호 16자리를 부여받은 경험이 ...        1
..                                                 ...      ...
103   여기에 대해서만 간단하게 좀 전달 좀 해드릴 겁니다. 네 어 2017년 4월 13...        1
904   네 예 청약을 해지하신 다음에 일반 지금 입출금 사용하고 계시는 농협 은행으로 넣...        1
77    고객님 본인명의세요? 예 예 수납 담당자님 계좌 번호는 바로 카카오톡으로 보내드릴...        0
468   저희는 칠십만원 정도 있고 지금 해외 다른 건 아니 저한테 보냈거든요 그거는 그때...        1
79    모르시면 모르신다 진술만 간단하게 좀 해주시면 돼요. 피해자 :\u3000네 어 ...        1

[1532 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
213    매 월 상환이 그렇죠? 원금 예 그럼 뭐 바로 해야겠네. 가가지고 시간 또 걸리고...        0
1013   오늘도 가능하긴 한데 가능하시면요 네 오늘 하고 어 내일 지금 최종 조사 좀 받으...        1
354    수사 진행되고 있어요. OOO였나? OOO? 네 뭐 수상한 질문 안했어요? 딱히 ...        1
414    여행간다고. 아침 7시에요. 아 그래요? 그럼 본인 여행 다녀와서 본 검사가 드릴...        1
1216   네? 이 개설된 이제 범죄에 좀 사용된 통장이고 범죄 현장에서 발견된 통장에 대해...        1
...                                                 ...      ...
224    같은거를 저가에 판매한다고 글을 작성했고 실 금액... 여보세요 안들려요. 이해하...        1
964    이거는 설명 들으셨나요? 그러면? 아니요. 그거는 못 들었어요. 예 지금 다음 주...        1
399    그리고 자 이 번 금융 감독원에 그냥 계좌 추적 관련 주요 조치 및 협조 공문에 ...        1
356    나오는 건 언제 나오죠? 만약에 지역이 지금 어디죠? 울산요 지방 같은 경우는 시...        0
929    자  본인께서 전라도 광주 태생의 42세 남성 강수철 씨 아시는 분이시죠? 아니요...        1

[1532 rows x 2 columns]

In [6]:
data.to_csv("process2 train data before nlp(L12).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(1532, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
1527     NaN
1528     NaN
1529     NaN
1530     NaN
1531     NaN

[1532 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

     predict
0          0
1          1
2          1
3          1
4          1
...      ...
1527       1
1528       1
1529       1
1530       0
1531       1

[1532 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.097349,0.154191,0.066659,0.029132,-0.002752,-0.065618,0.073917,-0.002266,-0.058667,-0.078939,...,0.055172,-0.000248,0.073899,0.058018,-0.039714,0.082313,0.016924,0.068591,-0.025455,0.028108
1,0.065386,0.110477,0.077751,0.052106,0.002593,-0.063034,0.099238,-0.037737,-0.092578,-0.062479,...,0.022896,-0.002453,0.003586,0.057734,-0.046123,0.021748,0.028604,0.052273,-0.049684,0.062438
2,0.060516,0.067101,0.076515,0.049692,-0.017329,-0.042418,0.053111,0.023613,-0.055069,-0.023114,...,0.089965,-0.039105,-0.001648,0.011182,-0.042116,0.099822,0.006944,0.087919,-0.075434,-0.015416
3,0.08079,0.132993,0.031843,0.007119,-0.00919,-0.004907,0.042225,-0.024493,-0.080866,-0.060625,...,0.073686,-0.034028,0.039646,0.049015,-0.021449,0.010989,-0.010109,0.068959,-0.050031,0.057741
4,0.085036,0.13232,0.080828,0.094325,-0.014829,-0.056305,0.08813,-0.015393,-0.1023,-0.091148,...,0.027609,0.017424,-0.033091,0.035181,-0.062083,0.077989,-0.004732,0.04449,-0.085539,0.016754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,0.074755,0.109353,0.088674,0.057514,0.037795,-0.096895,0.101944,-0.008837,-0.068929,-0.096709,...,0.045149,0.015255,0.036694,0.038636,-0.014848,0.063888,0.02443,0.0875,-0.089173,0.000392
1528,0.033049,0.074923,0.106686,0.101229,0.000944,-0.08602,0.10812,0.006733,-0.07289,-0.062442,...,0.017382,0.000207,-0.03299,0.05091,-0.012914,0.079016,-0.024811,0.045577,-0.053301,0.014258
1529,0.144698,0.097499,0.095219,0.007304,0.001757,-0.105215,0.034408,-0.004261,-0.048405,-0.049934,...,0.003389,-0.047872,0.032162,0.048362,0.069262,-0.076042,-0.012863,0.109859,-0.028427,0.016977
1530,0.08851,0.078974,0.068586,0.088226,0.029369,-0.090978,0.100126,-0.001536,-0.097507,-0.065476,...,0.023132,0.009683,0.024298,0.012689,-0.018771,0.055795,-0.021686,0.054782,-0.066698,-0.034676
1531,0.072157,0.134214,0.018674,0.009517,-0.001509,-0.063828,-0.022368,-0.038005,-0.081668,0.035674,...,0.019037,0.080293,0.028112,0.118214,-0.004732,-0.013805,0.009472,0.017486,-0.090104,-0.00184

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.097349,0.154191,0.066659,0.029132,-0.002752,-0.065618,0.073917,-0.002266,-0.058667,-0.078939,...,-0.000248,0.073899,0.058018,-0.039714,0.082313,0.016924,0.068591,-0.025455,0.028108,0
1,0.065386,0.110477,0.077751,0.052106,0.002593,-0.063034,0.099238,-0.037737,-0.092578,-0.062479,...,-0.002453,0.003586,0.057734,-0.046123,0.021748,0.028604,0.052273,-0.049684,0.062438,1
2,0.060516,0.067101,0.076515,0.049692,-0.017329,-0.042418,0.053111,0.023613,-0.055069,-0.023114,...,-0.039105,-0.001648,0.011182,-0.042116,0.099822,0.006944,0.087919,-0.075434,-0.015416,1
3,0.08079,0.132993,0.031843,0.007119,-0.00919,-0.004907,0.042225,-0.024493,-0.080866,-0.060625,...,-0.034028,0.039646,0.049015,-0.021449,0.010989,-0.010109,0.068959,-0.050031,0.057741,1
4,0.085036,0.13232,0.080828,0.094325,-0.014829,-0.056305,0.08813,-0.015393,-0.1023,-0.091148,...,0.017424,-0.033091,0.035181,-0.062083,0.077989,-0.004732,0.04449,-0.085539,0.016754,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,0.074755,0.109353,0.088674,0.057514,0.037795,-0.096895,0.101944,-0.008837,-0.068929,-0.096709,...,0.015255,0.036694,0.038636,-0.014848,0.063888,0.02443,0.0875,-0.089173,0.000392,1
1528,0.033049,0.074923,0.106686,0.101229,0.000944,-0.08602,0.10812,0.006733,-0.07289,-0.062442,...,0.000207,-0.03299,0.05091,-0.012914,0.079016,-0.024811,0.045577,-0.053301,0.014258,1
1529,0.144698,0.097499,0.095219,0.007304,0.001757,-0.105215,0.034408,-0.004261,-0.048405,-0.049934,...,-0.047872,0.032162,0.048362,0.069262,-0.076042,-0.012863,0.109859,-0.028427,0.016977,1
1530,0.08851,0.078974,0.068586,0.088226,0.029369,-0.090978,0.100126,-0.001536,-0.097507,-0.065476,...,0.009683,0.024298,0.012689,-0.018771,0.055795,-0.021686,0.054782,-0.066698,-0.034676,0
1531,0.072157,0.134214,0.018674,0.009517,-0.001509,-0.063828,-0.022368,-0.038005,-0.081668,0.035674,...,0.080293,0.028112,0.118214,-0.004732,-0.013805,0.009472,0.017486,-0.090104,-0.00184,1

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
701,0.077766,0.086707,0.092516,0.020733,0.005952,-0.18387,0.126827,-0.08238,-0.050049,-0.068227,...,-0.053398,0.056878,0.055961,-0.00635,0.03829,-0.014581,0.083121,-0.104929,0.033607,1
169,0.097171,0.072789,0.093568,0.031297,0.009467,-0.108616,0.071532,-0.025704,-0.092306,-0.05211,...,-0.035401,-0.000615,0.02306,0.038773,-0.014664,0.030837,0.088333,-0.026075,0.029184,1
1186,0.074919,0.074264,0.000153,-0.044986,-0.049583,-0.047812,0.005585,-0.014575,-0.043712,-0.005338,...,0.024614,0.037386,0.128422,0.019355,0.041037,0.017417,0.046967,0.02269,0.084147,1
1189,0.064932,0.105428,0.077099,-0.011566,0.020983,-0.088196,0.094794,-0.067762,-0.084495,-0.055058,...,-0.013483,0.03537,0.006228,0.000529,-0.017864,0.086757,0.056987,-0.048572,0.040939,0
1381,0.071563,0.037754,0.062077,0.10566,0.008095,-0.06608,0.086981,0.050677,-0.02843,-0.051525,...,-0.033329,0.000839,0.04385,-0.004445,0.106161,-0.001995,0.092854,-0.034773,-0.031711,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,0.089378,0.123001,0.070639,0.030986,0.023528,-0.096039,0.089074,-0.036269,-0.081392,-0.10585,...,0.000405,0.029178,0.049569,-0.048597,0.023713,0.002526,0.107779,-0.048364,0.015694,1
1112,0.106525,0.06579,0.100514,0.030972,0.025158,-0.100017,0.054545,-0.007876,-0.079042,-0.051043,...,-0.014882,-0.001163,0.071916,0.05876,0.003646,-0.00054,0.041434,-0.039148,0.038353,1
533,0.103878,0.13414,0.076408,0.042022,-0.000581,-0.095413,0.050418,0.05579,-0.065978,-0.070143,...,0.008956,0.035929,0.044988,0.006764,0.025335,0.003836,0.091012,-0.024657,0.019647,1
954,0.03485,0.074251,0.05321,-0.038411,0.054615,-0.098907,0.013427,-0.081415,-0.039524,-0.087562,...,0.055552,0.01029,0.084814,-0.053315,0.017162,-0.022715,0.021537,-0.039444,-0.009316,1
936,0.096901,0.105297,0.092951,0.041414,0.042422,-0.110305,0.061156,-0.023992,-0.055105,-0.114577,...,-0.012059,0.012364,0.019694,-0.027161,0.045547,-0.017711,0.0944,-0.028227,-0.012713,1

In [26]:
data.to_csv("process2 train data after nlp(L12).csv")