In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/train/train data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
1272    예 예 그리고 신분증 앞 면 2가지 사진 찍어서 카톡으로 좀 보내 주시구요. 카카...        1
1114                                  선생님께서 접종 받으시는 건가요?        0
16206                           사업자등록번호및 고객번호만 준비하시면 됩니다        0
2642                아 입출금? 체크 카드 발행되신거? 네? 체크 카드 발행이 되신거        2
5903                                 10월달에 하는 세종축제가 있습니다        0
...                                                  ...      ...
1299    예 뭐 지금 일단 우선 지에스 로부터 한번 드실 텐데요 예 그래서 그게 이제 전화...        2
2682                                        다른 문의사항 있나요?        0
3726                                       네 무엇을 도와드릴까요?        0
376              울산요 지방 같은 경우는 시간이 좀 걸려요. 한 일주일 정도 아 그래요        1
13949                                 오전11시부터 오후5시까지입니다.        0

[10281 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    36
predict      0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
230     본인 성함과 사건 번호 꼭 말씀하셔야 돼요. 아시겠죠? 네 어 그리고 제 이름 메...        2
374     향후 고객님 발생하시는 미래에셋 쪽 부분에 대한 채권 추심에 대한 권한을 부여 받...        1
1386    무슨소리하시는거죠? 지금 그 계좌 제가 신고 해놨거든요? 네 계좌에 돈을 다 빼가...        1
51      20만원 먼저 넣어라 이건 아닌거 같은데요? 그래서 말씀 드리잖아요. 20만원 넣...        1
15320                            매년 8월 16일~8월 31일까지 입니다.        0
...                                                  ...      ...
10157                성인은 15,000원 소인은 10,000원 6세미만은 무료입니다        0
754     한 절차 하시는 거니까 선생님 혼자서 수습하실 하실 수 있는 부분이면은 제가 뭐 ...        2
1389                                  서울시 STAX 말씀 맞으십니까?        0
3115    이 김희철 일당들이 은행 직원인 걸로 밝혀졌고 지금 3 4명 정도 검거한 상태입니...        2
3107    실례지만 현재 장소가 어디신가요? 아 사무실이요 사무실이시구요. 사무실이면 그 주...        2

[10245 rows x 2 columns]

In [7]:
data.to_csv("train_data_before_vector(test_2).csv")

In [8]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('jhgan/ko-sbert-sts')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_train.shape

(10245, 768)

In [15]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [16]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
10240     NaN
10241     NaN
10242     NaN
10243     NaN
10244     NaN

[10245 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [19]:
y_train

      predict
0           2
1           1
2           1
3           1
4           0
...       ...
10240       0
10241       2
10242       0
10243       2
10244       2

[10245 rows x 1 columns]

In [20]:
y_train.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [22]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.347751,0.983449,-0.784312,0.354448,-1.378733,0.07144,-0.557117,0.776362,0.321481,-0.419882,...,0.455322,0.468528,-0.329905,0.667439,0.613841,0.019,0.823704,0.190296,-0.927193,0.974965
1,0.161744,0.376197,-0.51427,-0.377971,-0.650219,-1.11059,-0.243994,0.303639,-0.35438,-0.535509,...,0.031866,0.702625,0.363916,1.033942,0.266647,-0.497298,-0.405234,0.086084,0.161,0.634066
2,0.612486,0.581462,-0.281043,0.222958,-1.14837,0.071561,-0.198028,0.268081,0.007725,0.550656,...,0.25975,1.090273,-0.178138,0.785973,-0.210776,-0.272995,1.171374,-0.744182,-0.446919,-0.039375
3,1.534847,0.486548,-0.517372,0.314157,-0.683977,-0.768226,-0.455005,0.502578,-0.36896,-0.488815,...,-0.696951,0.13953,0.240052,0.622719,-0.315654,-0.025762,-0.525181,-0.562423,-0.754827,0.143094
4,-0.131491,0.634278,-0.929567,1.670391,-0.928727,-0.942477,0.798343,0.152017,1.362646,0.093498,...,0.376389,-0.415277,-0.140095,-0.692405,0.214773,0.507209,0.334886,0.463393,-0.741065,0.090364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,-0.891858,0.479695,-0.243662,0.553245,0.214365,-0.003792,0.788545,-0.694139,-0.195962,-0.207568,...,0.221101,0.008681,0.093224,-0.434659,1.166274,-0.54119,0.776364,-0.646395,-0.139587,1.577387
10241,0.339814,-0.632004,0.094442,0.733107,-0.367621,-0.870445,-0.242801,0.348367,-0.467271,-0.459132,...,0.190528,0.784034,0.47384,0.709578,0.345529,-0.323329,-0.187142,0.22818,-0.469395,0.480695
10242,-0.286338,0.142071,-1.575207,0.198689,-0.503999,-0.980921,-0.849082,1.925408,-0.7645,0.689066,...,0.756616,1.211731,0.15212,-0.282227,0.60454,-0.273801,1.66169,-0.492596,-0.245217,1.754133
10243,-0.458786,0.688385,-0.497864,-0.186038,-0.750706,0.023474,1.311044,0.703157,-0.137482,0.309491,...,-0.631662,1.477679,0.339859,1.120762,1.00608,0.229714,-0.543573,-0.47829,0.793172,0.934056
10244,-0.110051,0.355331,-0.671466,-0.188289,-0.419298,-0.581081,-0.568574,-0.076968,-0.164578,-0.792264,...,-0.424198,0.590736,-0.025921,0.347142,-1.200628,-0.786421,-0.072742,-0.335659,0.157811,0.326815

In [23]:
data=pd.concat([x_train,y_train],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.347751,0.983449,-0.784312,0.354448,-1.378733,0.07144,-0.557117,0.776362,0.321481,-0.419882,...,0.468528,-0.329905,0.667439,0.613841,0.019,0.823704,0.190296,-0.927193,0.974965,2
1,0.161744,0.376197,-0.51427,-0.377971,-0.650219,-1.11059,-0.243994,0.303639,-0.35438,-0.535509,...,0.702625,0.363916,1.033942,0.266647,-0.497298,-0.405234,0.086084,0.161,0.634066,1
2,0.612486,0.581462,-0.281043,0.222958,-1.14837,0.071561,-0.198028,0.268081,0.007725,0.550656,...,1.090273,-0.178138,0.785973,-0.210776,-0.272995,1.171374,-0.744182,-0.446919,-0.039375,1
3,1.534847,0.486548,-0.517372,0.314157,-0.683977,-0.768226,-0.455005,0.502578,-0.36896,-0.488815,...,0.13953,0.240052,0.622719,-0.315654,-0.025762,-0.525181,-0.562423,-0.754827,0.143094,1
4,-0.131491,0.634278,-0.929567,1.670391,-0.928727,-0.942477,0.798343,0.152017,1.362646,0.093498,...,-0.415277,-0.140095,-0.692405,0.214773,0.507209,0.334886,0.463393,-0.741065,0.090364,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,-0.891858,0.479695,-0.243662,0.553245,0.214365,-0.003792,0.788545,-0.694139,-0.195962,-0.207568,...,0.008681,0.093224,-0.434659,1.166274,-0.54119,0.776364,-0.646395,-0.139587,1.577387,0
10241,0.339814,-0.632004,0.094442,0.733107,-0.367621,-0.870445,-0.242801,0.348367,-0.467271,-0.459132,...,0.784034,0.47384,0.709578,0.345529,-0.323329,-0.187142,0.22818,-0.469395,0.480695,2
10242,-0.286338,0.142071,-1.575207,0.198689,-0.503999,-0.980921,-0.849082,1.925408,-0.7645,0.689066,...,1.211731,0.15212,-0.282227,0.60454,-0.273801,1.66169,-0.492596,-0.245217,1.754133,0
10243,-0.458786,0.688385,-0.497864,-0.186038,-0.750706,0.023474,1.311044,0.703157,-0.137482,0.309491,...,1.477679,0.339859,1.120762,1.00608,0.229714,-0.543573,-0.47829,0.793172,0.934056,2
10244,-0.110051,0.355331,-0.671466,-0.188289,-0.419298,-0.581081,-0.568574,-0.076968,-0.164578,-0.792264,...,0.590736,-0.025921,0.347142,-1.200628,-0.786421,-0.072742,-0.335659,0.157811,0.326815,2

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
169,0.361232,0.274435,-0.60555,0.064531,-1.104946,-0.013144,1.337692,0.814906,0.196035,-1.263118,...,-0.575228,0.753313,-0.05328,-0.974474,1.138856,0.731361,0.789483,-0.550535,0.504425,0
1139,0.360683,0.361684,-0.883851,0.356234,-1.065911,-0.318026,-1.011139,1.389155,-0.431204,-0.937028,...,1.126606,0.473501,0.859134,-0.681417,-0.312455,1.409282,0.525957,-0.704719,0.574171,0
6943,-0.125114,-1.326654,-0.912476,1.477165,0.973293,0.095143,-0.076307,-0.902706,0.766408,0.01784,...,0.825718,0.568926,0.093562,-0.407154,0.158892,0.789388,-0.406644,-0.371516,0.63931,0
8865,0.58805,0.287364,-0.408667,0.208657,-0.583474,-0.425142,-0.088826,0.130081,-1.145723,-0.331164,...,2.204973,0.228713,-0.602468,-0.334736,-0.162464,0.532971,-0.903026,-1.273159,1.271828,0
10061,0.607152,1.172856,0.389593,0.680254,-1.325027,0.531277,0.416406,0.695203,0.085631,-1.509167,...,0.407197,-0.292087,-0.07268,-0.130538,1.007719,0.554593,-0.67081,-0.39423,0.7443,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10115,0.54894,0.078676,-0.327682,0.975424,-0.379027,-0.188191,-0.228366,1.096691,-0.414529,0.570428,...,0.304363,0.598999,1.020585,-0.539426,-0.622473,1.586265,-0.499777,0.072785,0.485814,2
3427,0.237063,0.302642,-0.143665,0.230275,-0.532616,-0.472323,0.697929,0.947824,0.563267,-0.266007,...,0.104771,1.243418,1.467028,0.596827,0.06742,0.076348,0.051309,0.006291,0.198555,2
7059,-0.371433,-1.795938,0.409936,1.068432,1.027761,-0.149095,-0.231309,0.055548,-0.18325,-0.330952,...,1.07591,0.397395,0.031469,0.483614,0.201096,1.664359,-0.385942,1.282165,0.819644,0
6140,0.117727,0.278393,-0.108816,-0.358752,-0.394477,-0.47867,0.015375,-0.189932,0.116898,0.352769,...,0.43191,0.230636,1.541226,1.265123,-0.354604,0.482908,0.239857,-0.21587,0.806237,2
6281,-0.175255,-0.129605,0.003762,0.730479,-1.06163,-0.720027,0.779414,1.042185,-0.747456,-1.131167,...,0.427421,-0.137595,0.192533,-0.195219,0.596385,-0.260223,-0.001976,-0.291729,2.177752,0

In [27]:
data.to_csv("train_data_after_vector(0521).csv")