In [27]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process2/process2 test data row.csv",index_col=0)

In [28]:
data_row

                                               sentence  predict
1385       아 네 예 알겠습니다. 조금만 기다려 전화는 호주머니에 넣고 이동하시겠습니다 네        1
646    어디에 상환하신거... 수요일에 상환하신..아닌데 잠시만요 목요일날 상환하신거 말...        0
423    서울 중앙 지검 검찰청이요. 그 중앙 하단 쪽에 보이면 그 파란색 박스 안에 나의...        1
377    위임 처리하시면 당일로도 가능하시고 위임을 하면 어떻게 되요? 위임하실 경우에는 ...        0
482    예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고요 아 예 집중하실 ...        0
...                                                 ...      ...
632     저희가 인제 조사 내용을 녹취를 할 건데요  저 아까 어디소속 누구라고 말씀하셨...        1
853                             잠깐만 갑자기 생각이 안 나네.  요? 예        0
1291                                       김기훈 예 명의도요 예        1
393    그러시고 다른 계좌 건. 다른 것도 다 제가 한거에요. 다른 계좌건 어떤 계좌건 ...        1
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        1

[200 rows x 2 columns]

In [29]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [30]:
data=data_row.sample(frac=1)

In [31]:
data

                                               sentence  predict
800                 네 안녕하세요 여기 스포츠 토토 싸이트인데요 네 다름이 아니구요        0
935    아휴 그럼 어떻게 해요. 제가 입금 바로 쓸 수가 있는거지. 느낌이 완전 보이스 ...        0
367       아 네 알겠습니다 그 바로 연락 한번 좀 부탁드릴게요 알겠습니다여보세요 네   님        0
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        1
1293   대출 승인 나셨을 경우에 대출금 송금 받아 보실 수 있는 계좌 한번 부탁 드릴게요...        0
...                                                 ...      ...
595    예 예 이 효력을 보유하는 과정으로는 직접 고객님께서 법무법인이나 변호사 공중 사...        0
838    바로 찍어서 보내주셔도 되는데 지금 바로 가능하세요? 예 예 그럼 지금 찍어서 보...        0
464    카카오톡으로 제가 지금 메세지를 먼저 하나 보내드릴게요.  고객님. 여깄네요. 지...        0
1006           제가 지금 진짜 힘들어 죽을거 같아요. 알겠어요 조금만 힘내요 OOO씨.        1
863       그럼 제 전화 받지 마십쇼. 통화 끝 날 때까지. 아셨습니까? 예 전화 끊십시오.        1

[200 rows x 2 columns]

In [32]:
data.to_csv("process2 test data before nlp(L6).csv")

In [33]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [34]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [35]:
A=model.encode(data.iloc[0,0])

In [36]:
A.shape[0]

384

In [37]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [38]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [39]:
x_train.shape

(200, 384)

In [40]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [41]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
195     NaN
196     NaN
197     NaN
198     NaN
199     NaN

[200 rows x 1 columns]

In [43]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [44]:
y_train

    predict
0         0
1         0
2         0
3         1
4         0
..      ...
195       0
196       0
197       0
198       1
199       1

[200 rows x 1 columns]

In [45]:
y_train.isnull().sum()

predict    0
dtype: int64

In [46]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [47]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.031493,0.052979,0.042377,-0.034202,-0.051953,-0.045486,0.090298,0.035211,-0.023433,-0.041833,...,0.025248,0.018137,-0.029348,-0.001284,0.049334,-0.000531,0.03046,0.036366,-0.08713,-0.002274
1,0.031451,0.066884,0.045808,-0.055166,-0.038749,-0.09094,0.073354,0.050615,-0.034304,-0.022523,...,0.031057,0.040893,0.026862,-0.008065,0.039074,-0.036172,0.069454,0.061565,-0.045986,0.023202
2,0.015301,0.075333,0.004286,-0.055536,-0.003053,-0.079692,0.051661,0.078329,-0.050642,-0.010684,...,0.035377,0.051043,0.019657,-0.019116,0.044463,0.028502,-0.037764,0.02774,-0.108269,0.020193
3,0.006772,0.09339,0.096389,-0.073456,0.0321,-0.041921,0.149173,0.028217,-0.019263,-0.037949,...,-0.042007,0.019114,-0.02188,0.01792,0.010099,-0.026582,0.059839,0.072367,-0.071669,-0.012082
4,-0.004807,0.10613,0.027221,-0.048025,-0.012125,-0.074633,-0.013007,0.064506,-0.047995,-0.061547,...,0.048745,-0.000868,-0.006922,-0.034802,0.030406,-0.023381,-0.006516,0.030628,-0.013538,0.059453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.032255,0.004862,0.058623,0.012081,-0.050668,-0.039931,0.021071,0.027371,-0.011571,-0.029964,...,-0.06172,0.019357,0.010898,0.075252,0.014921,-0.005897,0.032742,-0.015437,-0.044249,-0.00732
196,0.014438,0.076794,0.057957,-0.032717,0.023188,-0.053709,0.08083,0.002504,-0.016556,-0.01945,...,-0.002715,0.051118,0.01288,0.019309,0.03539,-0.010314,0.077666,0.066439,-0.096751,-0.02919
197,0.000652,0.037194,0.093221,-0.028592,-0.021765,-0.043994,0.13639,-0.006662,-0.015288,-0.018066,...,0.035521,0.027333,0.009277,0.063051,0.006907,0.022178,0.043243,0.092544,-0.0784,-0.04119
198,-0.00915,0.074172,0.018819,0.025853,-0.005191,-0.100279,0.156465,0.003451,-0.008917,-0.05563,...,-0.036903,-0.012855,-0.035021,0.00353,0.029888,-0.029879,0.050541,0.121877,-0.040409,-0.039908
199,0.022723,0.110743,0.099451,0.008645,0.017027,-0.064998,0.012764,0.00594,0.010576,-0.02681,...,-0.018761,0.032574,0.061503,0.006913,0.030548,-0.021689,0.145598,0.053266,-0.032048,0.018706

In [48]:
data=pd.concat([x_train,y_train],axis=1)

In [49]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.031493,0.052979,0.042377,-0.034202,-0.051953,-0.045486,0.090298,0.035211,-0.023433,-0.041833,...,0.018137,-0.029348,-0.001284,0.049334,-0.000531,0.03046,0.036366,-0.08713,-0.002274,0
1,0.031451,0.066884,0.045808,-0.055166,-0.038749,-0.09094,0.073354,0.050615,-0.034304,-0.022523,...,0.040893,0.026862,-0.008065,0.039074,-0.036172,0.069454,0.061565,-0.045986,0.023202,0
2,0.015301,0.075333,0.004286,-0.055536,-0.003053,-0.079692,0.051661,0.078329,-0.050642,-0.010684,...,0.051043,0.019657,-0.019116,0.044463,0.028502,-0.037764,0.02774,-0.108269,0.020193,0
3,0.006772,0.09339,0.096389,-0.073456,0.0321,-0.041921,0.149173,0.028217,-0.019263,-0.037949,...,0.019114,-0.02188,0.01792,0.010099,-0.026582,0.059839,0.072367,-0.071669,-0.012082,1
4,-0.004807,0.10613,0.027221,-0.048025,-0.012125,-0.074633,-0.013007,0.064506,-0.047995,-0.061547,...,-0.000868,-0.006922,-0.034802,0.030406,-0.023381,-0.006516,0.030628,-0.013538,0.059453,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.032255,0.004862,0.058623,0.012081,-0.050668,-0.039931,0.021071,0.027371,-0.011571,-0.029964,...,0.019357,0.010898,0.075252,0.014921,-0.005897,0.032742,-0.015437,-0.044249,-0.00732,0
196,0.014438,0.076794,0.057957,-0.032717,0.023188,-0.053709,0.08083,0.002504,-0.016556,-0.01945,...,0.051118,0.01288,0.019309,0.03539,-0.010314,0.077666,0.066439,-0.096751,-0.02919,0
197,0.000652,0.037194,0.093221,-0.028592,-0.021765,-0.043994,0.13639,-0.006662,-0.015288,-0.018066,...,0.027333,0.009277,0.063051,0.006907,0.022178,0.043243,0.092544,-0.0784,-0.04119,0
198,-0.00915,0.074172,0.018819,0.025853,-0.005191,-0.100279,0.156465,0.003451,-0.008917,-0.05563,...,-0.012855,-0.035021,0.00353,0.029888,-0.029879,0.050541,0.121877,-0.040409,-0.039908,1
199,0.022723,0.110743,0.099451,0.008645,0.017027,-0.064998,0.012764,0.00594,0.010576,-0.02681,...,0.032574,0.061503,0.006913,0.030548,-0.021689,0.145598,0.053266,-0.032048,0.018706,1

In [50]:
data=data.sample(frac=1)

In [51]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
193,0.00879,0.090719,0.091941,-0.01451,0.04541,-0.052469,0.149322,-0.00137,-0.02518,-0.019521,...,0.027819,0.009868,0.048514,0.051677,-0.01892,0.089382,0.097433,-0.092733,-0.001452,1
45,0.048388,0.062944,0.068728,-0.009311,-0.036408,-0.050923,0.069273,0.036999,-0.033495,0.010817,...,0.044039,0.044553,0.063064,0.000119,-0.043002,0.160671,0.071052,-0.059387,-0.004626,0
14,0.008311,0.057992,0.030397,0.001148,-0.037432,-0.048702,0.115603,0.003951,-0.035907,-0.061238,...,-0.023844,-0.009589,-0.000585,0.000394,-0.019071,0.047285,0.089081,-0.030918,-0.02422,0
192,-0.0124,0.059999,0.038607,-0.02353,-0.029231,-0.043054,0.063858,0.004345,-0.018619,-0.021347,...,0.061269,0.060929,0.039851,0.024194,0.016094,0.02425,0.049816,-0.074522,0.019596,0
74,-0.013773,0.085021,0.048471,-0.040868,0.053357,-0.043289,0.130474,0.017477,-0.004483,-0.008368,...,0.010027,0.019686,-0.022665,0.022055,-0.012032,0.077701,0.068292,-0.078723,0.004597,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,-0.004807,0.10613,0.027221,-0.048025,-0.012125,-0.074633,-0.013007,0.064506,-0.047995,-0.061547,...,-0.000868,-0.006922,-0.034802,0.030406,-0.023381,-0.006516,0.030628,-0.013538,0.059453,0
92,0.02059,0.075683,0.028154,-0.013489,-0.066972,-0.036553,0.005089,0.052426,-0.024665,-0.031905,...,0.076145,0.029356,-0.05707,0.006871,-0.039142,0.097804,0.048582,0.010324,-0.008125,1
33,-0.027815,0.088814,0.093461,-0.022039,-0.017875,-0.045583,0.068138,-0.022097,-0.004015,-0.02833,...,0.025804,-0.001032,0.098564,0.026456,-0.018375,0.088715,0.113722,-0.061914,-0.034449,1
37,0.010387,0.059136,0.108881,-0.028404,-0.029738,-0.060342,0.090686,0.012023,-0.030542,0.013599,...,0.043987,-0.034176,0.067454,0.041298,0.016467,0.045037,0.063394,-0.131962,-0.020667,0
186,0.012735,0.067408,0.091694,0.001913,0.01798,-0.049146,0.084891,0.054442,-0.004849,-0.037559,...,0.059829,0.027271,0.000497,0.009573,-0.043078,0.052071,0.016024,-0.016518,-0.043676,1

In [52]:
data.to_csv("process2 test data after nlp(L6).csv")