In [8]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/data(use)/normal/NO voice fishing data final.csv")

data

        Unnamed: 0  단어     predict
0                0  은행  No fishing
1                1  이용  No fishing
2                2  지점  No fishing
3                3  안내  No fishing
4                4  전화  No fishing
...            ...  ..         ...
108328      108328  국민  No fishing
108329      108329  기초  No fishing
108330      108330  생활  No fishing
108331      108331  수급  No fishing
108332      108332  순위  No fishing

[108333 rows x 3 columns]

In [9]:
data.drop(columns=["Unnamed: 0"],inplace=True)

In [10]:
data.shape

(108333, 2)

In [11]:
data_frequency=pd.DataFrame(data['단어'].value_counts())

In [12]:
data_frequency.shape

(6195, 1)

In [13]:
data_frequency

      count
단어
가능     2880
수      2124
신청     1575
일      1356
원      1339
...     ...
세종공업      1
터리        1
셋         1
모듈        1
령         1

[6195 rows x 1 columns]

In [14]:

data_frequency.to_csv("일반 민원 단어 단어별 빈도.csv")