In [1]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/transformed/target/before vector/target data(ab).csv")

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/transformed/target/before vector/target data(nor).csv")

In [2]:
data_ab

     Unnamed: 0                                           sentence  predict
0             0  예 고객님 담당자 김성도 대리입니다.\n예\n지금 법무사님이 두분 배정되셨어요.\n...        0
1             1  본인 성함 알겟습니다. 제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌 발생으로...        0
2             2  6시 되가지고 전화 해봤습니다.\n예 예 그 앞전에 이면주 법무사님 영수증 확인되셨...        0
3             3  네 네 네 여보세요\n네 네\n어디에 계시는 겁니까 지금\n네?\n지금 어디 계시는...        0
4             4  네 여보세요.\n네 여보세요? 네 OOO 고객님 맞으시죠?\n네 맞아요.\n네 고객...        0
..          ...                                                ...      ...
690         690  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...        0
691         691  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...        0
692         692  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...        0
693         693  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...        0
694         694  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...        0

[695 rows x 3 columns]

In [3]:
data_nor

     Unnamed: 0                                           sentence  predict
0             0  아니  씨는 연애 몇 년하고 결혼하셨어요? 아~ 저는 저희 신랑과 연애 기간은 많이...        1
1             1  혹시 어릴 적 부터 즐겨 드시는 음식이 있으신가요? 저는 한식을 좋아해서 밥하고 김...        1
2             2  지난 주말에 가족들하고 저는 저기 고령 예마을이라는 곳을 다녀왔어요. 고령이라고 하...        1
3             3  아~ 나는 이제 여행을 되게 좋아하잖아. 나는 여행을 되게 좋아하는데 내가 지금까지...        1
4             4  내 이상형은 어~ 남자가 조금 당 다정하고 듬직한 사람이 좋은데 네 이상형은 어~ ...        1
..          ...                                                ...      ...
495         495  지금 결혼하셨잖아요? 아 결혼하시면서 직장인이신데 지금 나이가 어떻게 되시고 혹시 ...        1
496         496  혹시 해보신 아르바이트 중에서 조금 재미있는 아르바이트나 조금 특색있는 아르바이트 ...        1
497         497  아~  씨 곧 어머님 생신이라고 그랬죠. 에~ 곧 내려가시겠네요? 네. 저희 엄마가...        1
498         498  최근에 어디 여행 간 데 중에 기억에 남는 장소가 혹시 있어요? 최근에 코로나 때문...        1
499         499  요즘 전복이 가격이 많이 낮아졌대. 1키로 당 원래 67000원 했는데 28000원...        1

[500 rows x 3 columns]

In [4]:
data_nor.isnull().sum()

Unnamed: 0    0
sentence      0
predict       0
dtype: int64

In [5]:
data_ab.isnull().sum()

Unnamed: 0    0
sentence      0
predict       0
dtype: int64

In [6]:
data_nor.drop(columns=['Unnamed: 0'],inplace=True)
data_ab.drop(columns=['Unnamed: 0'],inplace=True)

In [7]:
print(data_nor.shape)
print(data_ab.shape)

(500, 2)
(695, 2)

In [8]:
data=pd.DataFrame(index=range(0,data_ab.shape[0]+data_nor.shape[0]),columns=["sentence","predict"])

In [9]:
import random
count=0
for i in range(data_nor.shape[0]):
    data.iloc[i,0]=data_nor.iloc[i,0]
    data.iloc[i,1]=data_nor.iloc[i,1]
    count=count+1

In [10]:
data

                                               sentence predict
0     아니  씨는 연애 몇 년하고 결혼하셨어요? 아~ 저는 저희 신랑과 연애 기간은 많이...       1
1     혹시 어릴 적 부터 즐겨 드시는 음식이 있으신가요? 저는 한식을 좋아해서 밥하고 김...       1
2     지난 주말에 가족들하고 저는 저기 고령 예마을이라는 곳을 다녀왔어요. 고령이라고 하...       1
3     아~ 나는 이제 여행을 되게 좋아하잖아. 나는 여행을 되게 좋아하는데 내가 지금까지...       1
4     내 이상형은 어~ 남자가 조금 당 다정하고 듬직한 사람이 좋은데 네 이상형은 어~ ...       1
...                                                 ...     ...
1190                                                NaN     NaN
1191                                                NaN     NaN
1192                                                NaN     NaN
1193                                                NaN     NaN
1194                                                NaN     NaN

[1195 rows x 2 columns]

In [11]:

for i in range(data_ab.shape[0]):
    data.iloc[count+i,0]=data_ab.iloc[i,0]
    data.iloc[count+i,1]=data_ab.iloc[i,1]

In [12]:
data

                                               sentence predict
0     아니  씨는 연애 몇 년하고 결혼하셨어요? 아~ 저는 저희 신랑과 연애 기간은 많이...       1
1     혹시 어릴 적 부터 즐겨 드시는 음식이 있으신가요? 저는 한식을 좋아해서 밥하고 김...       1
2     지난 주말에 가족들하고 저는 저기 고령 예마을이라는 곳을 다녀왔어요. 고령이라고 하...       1
3     아~ 나는 이제 여행을 되게 좋아하잖아. 나는 여행을 되게 좋아하는데 내가 지금까지...       1
4     내 이상형은 어~ 남자가 조금 당 다정하고 듬직한 사람이 좋은데 네 이상형은 어~ ...       1
...                                                 ...     ...
1190  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...       0
1191  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...       0
1192  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...       0
1193  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...       0
1194  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...       0

[1195 rows x 2 columns]

In [13]:
data=data.sample(frac=1)

In [14]:
data

                                               sentence predict
235   일본의 정치학자이자 역사학자인 교토대 인문 사회 연구소에서 그 명예 교수가 이렇게 ...       1
808   예, 알겠습니다 예 말씀하세요 말씀하세요 예 지금 메모 가능하시죠 저희 소고기랑 제...       0
536   잘못드렸나?\n아니요, 저도\n예.\n전화하고 있는데\n네.\n그냥 아시분들이 금방...       0
160   오늘 스포츠에 대해서 얘기 조금 해봅시다. 그~ 옛날에 그~ 당신이 그~ 자전거 배...       1
327   예. 최근에 보더라도 한국 사람들이 영화를 많이 보는 거 같은데요. 아 특히 국내 ...       1
...                                                 ...     ...
178   이번에 추석 연휴가 되게 길었잖아. 음~ 한 5일 이렇게 됐던 거 같은데 넌 혹시 ...       1
138   당신이 제일 좋아하는 음식은 어떤 게 있을까요? 제가 좋아하는 음식은 생선입니다. ...       1
261   요새 이제 부산에 제가 어~ 그~ 여행지를 조금 이제 놀러 갈 만한데 많이 이제 조...       1
660   설명해드리는데요 이해 안 가시는 부분 있습니까?\n네. 맞습니다. 그리고 솔직히 말...       0
1183  서울중앙지검 이고요 금융범죄수사팀 김민석 사람이라고 한다. 본인 그 사건이 하나 있...       0

[1195 rows x 2 columns]

In [15]:
data.to_csv("target_data_before_vector.csv")

In [16]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [18]:
A=model.encode(data.iloc[0,0])

In [19]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [21]:
len(list)

384

In [22]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [23]:
x_test.shape

(1195, 384)

In [25]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [26]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [28]:
y_test

     predict
0          1
1          0
2          0
3          1
4          1
...      ...
1190       1
1191       1
1192       1
1193       0
1194       0

[1195 rows x 1 columns]

In [29]:
y_test.isnull().sum()

predict    0
dtype: int64

In [30]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [31]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.03981,0.018087,0.052724,-0.015888,-0.096088,-0.032959,0.038913,0.050292,-0.016544,-0.028995,...,-0.054285,0.022918,0.012717,0.036903,0.004719,0.003126,0.046835,0.02131,-0.065934,-0.003529
1,0.043331,0.016923,0.068817,0.012994,-0.01629,-0.04489,0.05878,0.017825,-0.007183,-0.041691,...,-0.050551,0.020794,-0.023273,0.073176,0.010831,-0.031239,0.065402,0.038485,-0.061171,-0.013764
2,-0.008053,0.047326,0.108359,-0.012259,0.036757,-0.04268,0.021838,-0.023447,-0.001264,-0.042615,...,-0.032556,0.039702,-0.021343,0.048197,0.014904,0.028737,0.080842,0.047157,-0.069433,-0.013705
3,-0.022348,0.057547,0.061556,-0.006588,-0.012165,-0.003864,-0.004724,-0.012879,-0.029622,-0.048812,...,-0.018502,0.014997,-0.051147,0.046894,0.04132,0.031101,0.038106,0.036109,-0.052637,-0.018202
4,-0.010421,0.047023,0.065512,0.016324,0.012931,-0.037495,0.029695,0.019179,-0.001198,-0.028406,...,-0.045818,0.031024,-0.012161,0.081263,-0.006045,-0.005323,0.06927,0.018498,-0.085249,-0.054312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,-0.000615,0.028747,0.068083,-0.017563,0.00539,-0.038877,0.006397,-0.005764,-0.007107,-0.018891,...,-0.043746,-0.002062,-0.033754,0.047893,-0.000354,0.035233,0.048823,0.020181,-0.039033,-0.021101
1191,-0.002979,0.077432,0.021819,-0.002914,-0.016423,-0.025506,-0.005507,0.019712,-0.036865,-0.043519,...,-0.026775,0.015454,-0.025692,0.012721,0.030943,0.016504,0.050396,-0.014066,-0.036898,0.00371
1192,-0.003535,0.034037,0.02628,-0.02525,-0.015209,-0.031077,0.061844,0.022389,-0.012011,-0.046945,...,-0.046951,0.014581,-0.013665,0.035159,-0.001884,0.005541,0.042959,0.021,-0.049265,-0.046009
1193,0.0439,0.050155,0.059723,0.019622,-0.016939,-0.047503,0.002794,0.062738,0.0073,-0.031359,...,-0.042501,0.029564,0.00288,0.050629,0.006373,-0.043859,0.073102,0.027805,-0.065275,0.010066
1194,0.001796,0.03875,0.053377,-0.004646,0.004677,-0.049579,-0.010294,0.040892,0.013759,-0.037113,...,-0.003822,0.04174,0.004344,0.044806,0.004601,0.006207,0.050328,0.033262,-0.068683,-0.002753

In [32]:
data=pd.concat([x_test,y_test],axis=1)

In [33]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.03981,0.018087,0.052724,-0.015888,-0.096088,-0.032959,0.038913,0.050292,-0.016544,-0.028995,...,0.022918,0.012717,0.036903,0.004719,0.003126,0.046835,0.02131,-0.065934,-0.003529,1
1,0.043331,0.016923,0.068817,0.012994,-0.01629,-0.04489,0.05878,0.017825,-0.007183,-0.041691,...,0.020794,-0.023273,0.073176,0.010831,-0.031239,0.065402,0.038485,-0.061171,-0.013764,0
2,-0.008053,0.047326,0.108359,-0.012259,0.036757,-0.04268,0.021838,-0.023447,-0.001264,-0.042615,...,0.039702,-0.021343,0.048197,0.014904,0.028737,0.080842,0.047157,-0.069433,-0.013705,0
3,-0.022348,0.057547,0.061556,-0.006588,-0.012165,-0.003864,-0.004724,-0.012879,-0.029622,-0.048812,...,0.014997,-0.051147,0.046894,0.04132,0.031101,0.038106,0.036109,-0.052637,-0.018202,1
4,-0.010421,0.047023,0.065512,0.016324,0.012931,-0.037495,0.029695,0.019179,-0.001198,-0.028406,...,0.031024,-0.012161,0.081263,-0.006045,-0.005323,0.06927,0.018498,-0.085249,-0.054312,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,-0.000615,0.028747,0.068083,-0.017563,0.00539,-0.038877,0.006397,-0.005764,-0.007107,-0.018891,...,-0.002062,-0.033754,0.047893,-0.000354,0.035233,0.048823,0.020181,-0.039033,-0.021101,1
1191,-0.002979,0.077432,0.021819,-0.002914,-0.016423,-0.025506,-0.005507,0.019712,-0.036865,-0.043519,...,0.015454,-0.025692,0.012721,0.030943,0.016504,0.050396,-0.014066,-0.036898,0.00371,1
1192,-0.003535,0.034037,0.02628,-0.02525,-0.015209,-0.031077,0.061844,0.022389,-0.012011,-0.046945,...,0.014581,-0.013665,0.035159,-0.001884,0.005541,0.042959,0.021,-0.049265,-0.046009,1
1193,0.0439,0.050155,0.059723,0.019622,-0.016939,-0.047503,0.002794,0.062738,0.0073,-0.031359,...,0.029564,0.00288,0.050629,0.006373,-0.043859,0.073102,0.027805,-0.065275,0.010066,0
1194,0.001796,0.03875,0.053377,-0.004646,0.004677,-0.049579,-0.010294,0.040892,0.013759,-0.037113,...,0.04174,0.004344,0.044806,0.004601,0.006207,0.050328,0.033262,-0.068683,-0.002753,0

In [34]:
data=data.sample(frac=1)

In [35]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
8,0.001959,0.01142,0.087598,-0.02818,-0.031777,-0.073938,0.017819,0.012731,-0.03036,-0.0308,...,0.029502,-0.002705,0.032085,-0.01309,0.043493,-0.012938,0.000617,-0.031443,0.004053,1
629,-0.000778,0.051204,0.049894,0.005384,-0.015987,-0.054007,-0.008093,0.024531,-0.021218,-0.033112,...,0.049067,0.009464,0.04604,-0.007981,-0.03415,0.07325,0.030798,-0.064557,-0.001766,1
721,0.011526,0.031606,0.037677,0.043493,-0.047457,-0.044487,0.0075,0.053908,-0.018739,-0.014224,...,0.078969,0.011722,0.071993,-0.013872,-0.023521,0.057035,0.033308,-0.067002,-0.019011,0
370,0.037959,0.019435,0.048267,-0.005821,-0.03956,-0.039283,0.062943,0.063622,-0.018931,-0.042067,...,0.040277,0.02659,0.072715,-0.02898,0.013255,-0.002121,0.007848,-0.040975,-0.004188,0
21,-0.008401,0.015176,0.085499,-0.043815,-0.042581,-0.060114,0.011219,0.048019,-0.025241,-0.048137,...,0.050045,-0.020189,0.040304,0.002292,0.056349,-0.003654,-0.014274,-0.026154,0.004606,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,0.014927,0.04217,0.08693,-0.010602,-0.007679,-0.042808,0.023162,0.020662,-0.028399,-0.056909,...,0.022857,0.000153,0.060461,-0.001003,-0.004001,0.06501,0.016934,-0.042446,-0.012778,1
9,-0.007925,0.052466,0.046144,-0.035355,-0.004603,-0.047827,0.007184,0.016129,-0.013188,-0.068413,...,0.046896,0.005622,0.019439,0.061174,0.02849,0.027314,0.042866,-0.061242,-0.020645,1
1160,0.004844,0.021066,0.078264,-0.027323,-0.00951,-0.021972,0.050431,0.027676,-0.037574,-0.03481,...,-0.016291,-0.008752,0.06248,-0.021858,0.026068,0.045085,0.024136,-0.058785,-0.030197,0
853,0.00859,0.027379,0.081873,-0.026565,-0.008348,-0.045456,0.029309,0.001333,0.004338,-0.036307,...,0.057878,0.000489,0.022618,0.027066,-0.003356,0.058924,0.047485,-0.065694,-0.032064,0
746,-0.0396,0.06086,0.072594,-0.024996,-0.005344,-0.060261,0.021857,0.00482,-0.000186,-0.06375,...,0.058652,-0.004619,0.04366,0.040284,-0.009878,0.01636,0.055112,-0.065336,-0.015975,1

In [36]:
data.to_csv("target data.csv")