In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process2/test/process2 test data row.csv",index_col=0)

In [2]:
data_row

                                              sentence  predict
71    재판장에서. 제가 이제 본인 담당 수사관인데 제가 녹취 테이프 작성해 드리면 그 ...        1
753   왜냐면은 지금 변장을 하고 들어와가지고 신원 조회가 좀 불가능했습니다. 아시겠죠?...        1
789   이제 본인 명의로 돼있는 통장들 중에 대포 통장과 불법 자금에 대해서 이제 계좌 ...        1
359   아니에요. 유선상으로 대출할 때는 찾아가는 거는 최하위 우선 순위 실행입니다 음 ...        0
554   아 네 예 알겠습니다. 조금만 기다려 전화는 호주머니에 넣고 이동하시겠습니다 네 ...        1
..                                                 ...      ...
321   어떤 그 스마트 보안 센터를 클릭 하셨는데 열 수 없는 페이지 라고 나오신다고요?...        1
549   아 아. 왜냐면 솔직히 이게 보이스피싱 같기도 하고 20만원 큰 돈도 아니겠지만 ...        0
144   사장님께서 혹시 안쓰시는 계좌가 있으시면 저희가 월 400에서 450만원까지 선지...        0
197   그래서 말씀 드리잖아요. 20만원 넣지 않으셔도 되고요. 변호사 선임해주시고 연락...        0
922   예 예 예. 사건번호가요. 2017 형제. 형제? 형제? 예 예. 형제. 5290...        1

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
135    대출 승인 나셨을 경우에 대출금 송금 받아 보실 수 있는 계좌 한번 부탁 드릴게요...        0
179    갤럭시 사용하시면 와이파이 데이터 차단해주시고. 본인이 마음대로 오늘 하셔가지고 ...        1
675    그 다음에 핸드폰 계속 귀에 잘 대고 계세요. 금융 감독원 직원 만나도 제가 제 ...        1
732    네 그러니까 본인께서 잘 생각해 보시고 네 이제 뭐 원하시면은 이렇게 주민 등록 ...        1
400    금융 감독원을 귀하의 금융 계좌 추적을 통해 대포 통장 및 불법 자금에 대해 계좌...        1
...                                                 ...      ...
694    작성하셨죠? 네 본인 생년월일 기입하신 거죠? 네 그리고 또 그 한칸 밑에다가 사...        1
1012   음 그럼 일단 오늘 받는거는 그럼 고소장 받는거는 그냥 그럼 제가 읽어보는 거에요...        1
1105   전화 통화하는 분 당사자 본인이  본인이 맞으십니까? 네 본인맞아요 예. 본인. ...        1
348    음 혼자 계시고 그리고 이제 1시부터 업무 들어가시면요? 그러면은 아마 사무실에 ...        1
361    위임 처리로 진행을 도와드릴까요? 예 위임 처리 비용 발생되시는 금액 같은 경우에...        0

[300 rows x 2 columns]

In [6]:
data.to_csv("process2 test data before nlp(base).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(300, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

    predict
0         0
1         1
2         1
3         1
4         1
..      ...
295       1
296       1
297       1
298       1
299       0

[300 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.083871,-0.024538,-0.028934,0.011593,0.009854,-0.008589,-0.003643,0.016407,0.103262,-0.02805,...,0.023624,-0.018343,0.012455,0.023784,-0.053349,-0.059983,-0.001423,0.03938,0.020134,-0.017725
1,0.063365,-0.019176,-0.03871,-0.017173,0.001451,0.006931,0.011394,-0.007959,0.060152,0.001959,...,-0.015318,-0.022498,-0.038004,-0.000607,-0.029774,-0.026012,0.011803,0.028871,0.018771,-0.035129
2,0.068417,-0.001586,-0.035397,-0.010463,0.008049,0.00836,0.009363,-0.009838,0.071679,-0.002746,...,-0.011622,-0.019164,-0.034377,0.003107,-0.039684,-0.052375,0.024415,0.047377,0.02737,-0.036397
3,0.067184,0.01299,-0.02881,0.014212,0.006117,0.003637,-0.006959,-0.004099,0.042554,-0.011761,...,-0.013468,-0.002157,-0.006476,-0.013929,-0.045409,-0.078948,0.022008,0.013715,0.031868,-0.031253
4,0.094103,-0.036769,-0.040135,0.029471,-0.018559,0.013315,0.01305,0.031422,0.052104,0.013004,...,-0.014808,-0.020611,-0.030964,0.004874,-0.019899,-0.008566,0.04517,0.034986,-0.042524,-0.034986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.089855,0.001196,-0.031555,0.019048,0.007194,0.007131,-0.032608,0.024434,0.056798,-0.026706,...,0.004216,0.002798,0.00332,0.018266,-0.04133,-0.069855,0.011065,0.006989,0.025535,-0.024378
296,0.079646,-0.016325,-0.023008,0.013493,-0.001904,0.006444,-0.00839,0.025273,0.072106,-0.015798,...,0.015266,-0.009084,-0.018186,0.010069,-0.033954,-0.038972,0.00042,0.025189,0.011907,-0.024714
297,0.093075,-0.03259,-0.039603,0.011119,0.009243,-0.014167,-0.000755,0.023124,0.052823,-0.006874,...,-0.019796,-0.016768,-0.008138,0.003247,-0.030906,-0.038038,0.030337,0.02732,-0.004768,-0.020536
298,0.07316,-0.014805,-0.034933,-0.003098,-0.001039,0.00502,-0.022362,0.023479,0.05514,-0.010664,...,-0.016618,-0.010021,0.002785,0.015588,-0.026943,-0.03853,0.032264,0.038564,0.012338,-0.036941
299,0.083657,-0.023842,-0.03384,0.012436,0.003085,0.004966,-0.027621,0.018473,0.057973,-0.007562,...,-0.019531,-0.006858,-0.017674,0.022686,-0.017931,-0.045647,0.018615,0.019076,-0.003362,-0.040498

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.083871,-0.024538,-0.028934,0.011593,0.009854,-0.008589,-0.003643,0.016407,0.103262,-0.02805,...,-0.018343,0.012455,0.023784,-0.053349,-0.059983,-0.001423,0.03938,0.020134,-0.017725,0
1,0.063365,-0.019176,-0.03871,-0.017173,0.001451,0.006931,0.011394,-0.007959,0.060152,0.001959,...,-0.022498,-0.038004,-0.000607,-0.029774,-0.026012,0.011803,0.028871,0.018771,-0.035129,1
2,0.068417,-0.001586,-0.035397,-0.010463,0.008049,0.00836,0.009363,-0.009838,0.071679,-0.002746,...,-0.019164,-0.034377,0.003107,-0.039684,-0.052375,0.024415,0.047377,0.02737,-0.036397,1
3,0.067184,0.01299,-0.02881,0.014212,0.006117,0.003637,-0.006959,-0.004099,0.042554,-0.011761,...,-0.002157,-0.006476,-0.013929,-0.045409,-0.078948,0.022008,0.013715,0.031868,-0.031253,1
4,0.094103,-0.036769,-0.040135,0.029471,-0.018559,0.013315,0.01305,0.031422,0.052104,0.013004,...,-0.020611,-0.030964,0.004874,-0.019899,-0.008566,0.04517,0.034986,-0.042524,-0.034986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.089855,0.001196,-0.031555,0.019048,0.007194,0.007131,-0.032608,0.024434,0.056798,-0.026706,...,0.002798,0.00332,0.018266,-0.04133,-0.069855,0.011065,0.006989,0.025535,-0.024378,1
296,0.079646,-0.016325,-0.023008,0.013493,-0.001904,0.006444,-0.00839,0.025273,0.072106,-0.015798,...,-0.009084,-0.018186,0.010069,-0.033954,-0.038972,0.00042,0.025189,0.011907,-0.024714,1
297,0.093075,-0.03259,-0.039603,0.011119,0.009243,-0.014167,-0.000755,0.023124,0.052823,-0.006874,...,-0.016768,-0.008138,0.003247,-0.030906,-0.038038,0.030337,0.02732,-0.004768,-0.020536,1
298,0.07316,-0.014805,-0.034933,-0.003098,-0.001039,0.00502,-0.022362,0.023479,0.05514,-0.010664,...,-0.010021,0.002785,0.015588,-0.026943,-0.03853,0.032264,0.038564,0.012338,-0.036941,1
299,0.083657,-0.023842,-0.03384,0.012436,0.003085,0.004966,-0.027621,0.018473,0.057973,-0.007562,...,-0.006858,-0.017674,0.022686,-0.017931,-0.045647,0.018615,0.019076,-0.003362,-0.040498,0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
103,0.079496,-0.034961,-0.034037,0.02527,0.016199,0.009175,-0.023156,0.018706,0.070304,-0.004423,...,0.004128,0.002876,0.001546,-0.04353,-0.031774,0.010756,0.046584,0.01057,-0.03233,0
8,0.066897,-0.026018,-0.032159,0.054091,0.023909,0.004876,-0.040261,0.004242,0.088258,0.002097,...,0.000298,0.046956,0.000438,-0.046043,-0.034888,-0.025774,0.038249,0.004057,-0.038578,0
39,0.022137,-0.009706,-0.036984,0.00789,0.016075,-0.018909,0.001039,0.007867,0.018826,-0.02029,...,-0.010175,-0.012739,0.026898,-0.001878,-0.013115,0.049147,0.031826,-0.039392,-0.040666,1
165,0.083911,-0.01656,-0.04184,0.010965,-0.005164,-0.001851,0.012788,0.01673,0.062876,0.011212,...,-0.022856,-0.02933,0.009009,-0.013251,0.008487,0.043772,0.031539,0.001517,-0.045872,0
274,0.096724,-0.0449,-0.036691,0.035524,0.005197,0.008395,-0.019607,0.038883,0.086355,-0.000771,...,-0.011773,-0.010748,0.004978,-0.02923,0.004834,-0.006439,0.021409,0.00347,-0.009113,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,0.058337,-0.030781,-0.018152,-0.003226,0.01741,0.015512,0.01624,-0.003289,0.049099,0.033109,...,-0.03708,-0.009304,-0.017687,-0.030482,-0.00362,0.026901,0.032953,-0.003293,-0.053234,0
109,0.06498,0.027805,-0.024346,0.013729,0.02137,0.003455,-0.027731,0.01446,0.016309,-0.000148,...,-0.029784,0.004025,0.00465,-0.031063,-0.043745,0.053807,0.046206,0.002203,-0.046273,1
194,0.093785,-0.054416,-0.026962,0.001162,0.00789,-0.002255,-0.025937,0.043801,0.031087,-0.035176,...,0.003785,-0.012906,0.006502,-0.01748,-0.073413,0.026115,0.023523,-0.007057,-0.011876,1
31,0.064475,-0.006748,-0.038864,-0.00989,-0.010541,-0.003191,-0.005304,0.023042,0.053992,-0.020232,...,-0.024202,-0.043829,0.023649,-0.030973,-0.044519,0.034897,0.044465,0.018212,-0.031688,1
67,0.070042,0.031049,-0.03593,0.003945,0.009258,0.002141,-0.001078,0.023876,0.048743,0.008657,...,-0.047765,-0.039683,0.016311,-0.021531,-0.017532,0.033711,-0.010529,0.013496,-0.018799,1

In [26]:
data.to_csv("process2 test data after nlp(base).csv")