In [4]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/test/test data.csv",index_col=0)

In [5]:
data_row

                                                sentence  predict
8686                                           네, 맞습니다.         0
4399                                 없으시면 회원가입 하시면 됩니다.         0
2984                                 네 바리스타 강좌 말씀하시는 거죠?        0
833     근데 뭐 대출 나왔으면은 이거는 선생님이 찾을 수 있는 금액은 백만원밖에 안 된다...        2
3158    팔십 몇 만 원 하면 제가 100만 원 기재를 해드리는거에요. 100만 원 선에서...        2
...                                                  ...      ...
19445                                      아니요. 불가능하십니다~        0
1285       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        1
19130                                  네 잠시 파악할 시간을 주세요.        0
540     아 보자 일단 사업자 등록증하고 주민등록증. 다른거 필요한 건 없나요? 뭐 추가적...        1
921     어차피 입증 받을려면 그러니까 그 일단 6000만원 지금 본인 그 주머니에 있죠?...        2

[300 rows x 2 columns]

In [6]:
data_row.isnull().sum()

sentence    1
predict     0
dtype: int64

In [7]:
data_row=data_row.dropna()

In [8]:
data=data_row.sample(frac=1)

In [9]:
data

                                                sentence  predict
6536   희망두배 청년통장은 서울시 거주 일하는 청년에게 서울시와 민간후원금으로 지원하는 통...        0
325                  같이 찍어도 되요? 올려놓고? 같이 찍어도 되냐고요? 올려놓고?        1
3121    담당자 소속은 서울 중앙지검 금융범죄수사과 3부 신재영 수사관입니다. 그 본인 성...        2
231         본인 담당 수사관이고 김현수라고 합니다. 네 알겠습니다. 예 수고하셨어요. 네.        2
380     친척 네 음 우선은 아 수사관님에게 사건 번호 전달 받으셨죠. 예 사건 번호 먼저...        2
...                                                  ...      ...
404                           여보세요 네 적금 먼저 말씀 드려야 되나요? 네        2
225     아까 메모하신 사건 번호 지금 가지고 계십니까? 잠시만요. 이 사건 번호 혹시 메...        2
2006    그 다음 금융권 방문하셔서 재산 보험 신청서가 뭐 발행된 통장 안에 이제 확인을 ...        2
21513  전시는 총 5개 파트로 인트로,한옥의 시작,한옥의 성장,한옥의 확장,프로젝션 홀로 ...        0
1117                                        다른 문의 있으십니까?        0

[299 rows x 2 columns]

In [10]:
data.to_csv("test_data_before_vector(0521).csv")

In [11]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [12]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [13]:
A=model.encode(data.iloc[0,0])

In [14]:
A.shape[0]

768

In [15]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [16]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [17]:
x_test.shape

(299, 768)

In [18]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [19]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
294     NaN
295     NaN
296     NaN
297     NaN
298     NaN

[299 rows x 1 columns]

In [21]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [22]:
y_test

    predict
0         0
1         1
2         2
3         2
4         2
..      ...
294       2
295       2
296       2
297       0
298       0

[299 rows x 1 columns]

In [23]:
y_test.isnull().sum()

predict    0
dtype: int64

In [24]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [25]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.027004,-0.087786,-0.030401,-0.024914,-0.011271,-0.00592,0.033113,-0.011749,0.046877,-0.004114,...,-0.029822,-0.053516,-0.044219,0.013575,-0.020559,-0.043896,0.02836,0.012108,0.002805,-0.004808
1,0.062192,0.017722,0.014273,0.056538,0.011915,-0.005247,0.037438,0.038565,0.013399,0.026632,...,-0.018826,0.011615,0.051131,0.024266,-0.051887,-0.027845,-0.045335,0.015916,-0.028057,-0.042806
2,0.08868,-0.077733,-0.0295,-0.002097,-0.002952,-0.001913,0.037789,-0.008257,0.045682,-0.008298,...,-0.065054,-0.022327,-0.033017,0.026074,-0.040415,-0.030461,0.000633,0.018728,-0.01927,-0.036254
3,0.082154,0.007914,-0.016461,0.010214,0.022263,-0.001896,-0.050014,-0.002735,0.077985,0.008993,...,-0.024686,-0.012897,0.038852,-0.008246,-0.050918,-0.051654,-0.009609,0.030143,0.020213,-0.029268
4,0.048531,-0.05178,-0.028412,-0.005921,0.009134,0.00846,0.007151,-0.012462,0.052936,-0.006669,...,-0.031305,-0.027253,-0.008367,0.02089,-0.042207,-0.04682,0.009618,0.02723,-0.005749,-0.031325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.053308,-0.017075,-0.006606,0.014239,0.02608,-0.010925,-0.029267,0.040981,0.06279,-0.025947,...,-0.012786,-0.004838,-0.00795,-0.000118,-0.041166,-0.109892,0.018883,0.016139,0.025611,-0.027248
295,0.062637,-0.004947,-0.020755,0.014965,0.027416,0.011005,-0.042956,0.023554,0.090302,-0.002364,...,-0.023834,0.005808,0.021321,-0.008994,-0.045637,-0.066634,0.002082,0.008262,0.046137,-0.012753
296,0.059931,-0.051736,-0.015986,0.004977,0.014334,-0.000753,0.011264,-0.009761,0.035764,-0.030639,...,-0.018296,-0.006535,-0.012258,0.000535,-0.047032,-0.050335,0.008573,0.037062,0.004537,-0.027118
297,0.024542,-0.110472,-0.029297,-0.011013,0.003129,-0.032336,0.034384,0.002188,0.029803,-0.003541,...,-0.071296,-0.056391,-0.038631,-0.005745,-0.007451,0.001031,0.037923,0.004627,-0.00801,-0.015393
298,0.057545,-0.035387,-0.016468,0.008905,0.057467,0.001661,-0.046365,0.012943,0.042383,-0.010493,...,-0.014969,-0.020594,0.010714,-0.001308,-0.06077,-0.035373,-0.002686,0.007111,0.006384,-0.035567

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data=pd.DataFrame(scaler.fit_transform(x_test))

In [27]:
data=pd.concat([x_test,y_test],axis=1)

In [28]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.027004,-0.087786,-0.030401,-0.024914,-0.011271,-0.00592,0.033113,-0.011749,0.046877,-0.004114,...,-0.053516,-0.044219,0.013575,-0.020559,-0.043896,0.02836,0.012108,0.002805,-0.004808,0
1,0.062192,0.017722,0.014273,0.056538,0.011915,-0.005247,0.037438,0.038565,0.013399,0.026632,...,0.011615,0.051131,0.024266,-0.051887,-0.027845,-0.045335,0.015916,-0.028057,-0.042806,1
2,0.08868,-0.077733,-0.0295,-0.002097,-0.002952,-0.001913,0.037789,-0.008257,0.045682,-0.008298,...,-0.022327,-0.033017,0.026074,-0.040415,-0.030461,0.000633,0.018728,-0.01927,-0.036254,2
3,0.082154,0.007914,-0.016461,0.010214,0.022263,-0.001896,-0.050014,-0.002735,0.077985,0.008993,...,-0.012897,0.038852,-0.008246,-0.050918,-0.051654,-0.009609,0.030143,0.020213,-0.029268,2
4,0.048531,-0.05178,-0.028412,-0.005921,0.009134,0.00846,0.007151,-0.012462,0.052936,-0.006669,...,-0.027253,-0.008367,0.02089,-0.042207,-0.04682,0.009618,0.02723,-0.005749,-0.031325,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.053308,-0.017075,-0.006606,0.014239,0.02608,-0.010925,-0.029267,0.040981,0.06279,-0.025947,...,-0.004838,-0.00795,-0.000118,-0.041166,-0.109892,0.018883,0.016139,0.025611,-0.027248,2
295,0.062637,-0.004947,-0.020755,0.014965,0.027416,0.011005,-0.042956,0.023554,0.090302,-0.002364,...,0.005808,0.021321,-0.008994,-0.045637,-0.066634,0.002082,0.008262,0.046137,-0.012753,2
296,0.059931,-0.051736,-0.015986,0.004977,0.014334,-0.000753,0.011264,-0.009761,0.035764,-0.030639,...,-0.006535,-0.012258,0.000535,-0.047032,-0.050335,0.008573,0.037062,0.004537,-0.027118,2
297,0.024542,-0.110472,-0.029297,-0.011013,0.003129,-0.032336,0.034384,0.002188,0.029803,-0.003541,...,-0.056391,-0.038631,-0.005745,-0.007451,0.001031,0.037923,0.004627,-0.00801,-0.015393,0
298,0.057545,-0.035387,-0.016468,0.008905,0.057467,0.001661,-0.046365,0.012943,0.042383,-0.010493,...,-0.020594,0.010714,-0.001308,-0.06077,-0.035373,-0.002686,0.007111,0.006384,-0.035567,0

In [29]:
data=data.sample(frac=1)

In [30]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
242,0.047288,-0.043013,-0.005807,-0.010286,0.035882,0.001088,-0.038956,0.009261,0.064827,-0.021534,...,-0.024127,0.017583,-0.005384,-0.050486,-0.061351,-0.006097,0.033501,0.019294,-0.025009,0
275,0.039381,-0.114976,-0.023702,0.044881,-0.032397,0.001223,-0.004964,0.060927,0.054177,-0.015573,...,-0.04882,-0.067495,-0.008178,-0.030409,-0.041494,0.029638,0.001544,-0.025554,-0.029066,2
72,0.040638,-0.053044,0.002718,-0.017156,0.054109,0.000775,-0.053371,0.026387,0.059165,-0.019358,...,-0.034769,0.035958,-0.005723,-0.056953,-0.031197,0.023882,0.011342,0.043092,-0.009327,0
53,0.040207,-0.070388,-0.024303,-0.037035,0.007058,-0.001102,0.029667,-0.02083,0.050448,-0.022029,...,-0.045876,-0.016116,0.026783,-0.037204,-0.073481,0.01748,0.014382,0.01502,-0.011145,0
246,0.042029,-0.042507,-0.018011,-0.011622,0.030994,-0.004813,-0.060315,0.031605,0.05112,-0.013269,...,-0.028175,-0.015018,-0.015499,-0.04712,-0.069812,-0.005023,0.017135,0.030108,-0.016214,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,0.015287,-0.042883,-0.013952,0.001399,0.037885,0.001172,-0.063879,0.037823,0.071704,-0.011293,...,-0.027756,-0.002621,-0.029809,-0.042652,-0.040374,-0.009267,0.031251,0.047075,-0.015511,0
43,0.059596,-0.03484,-0.002872,0.014028,0.025835,-0.000606,-0.035875,0.030786,0.08029,-0.013016,...,-0.029829,0.009308,-0.012383,-0.031807,-0.068523,0.010371,0.022733,-0.003316,-0.030363,0
57,0.045268,-0.06769,-0.042002,-0.050365,-0.023521,-0.00642,0.040939,-0.011537,0.036155,-0.017217,...,-0.047045,-0.037981,0.009144,-0.031517,-0.053769,0.022787,0.003085,0.018936,-0.001669,0
254,0.01545,-0.084185,-0.030888,-0.080964,0.012194,-0.035839,0.023309,-0.031454,0.035163,0.044467,...,-0.072629,0.000395,-0.011486,-0.04063,0.027611,0.006682,-0.015398,-0.01984,-0.037501,0
85,0.034998,-0.043281,-0.007938,-0.004914,0.046969,-0.002589,-0.055489,0.0186,0.055567,-0.013511,...,-0.030435,0.023881,-0.007598,-0.051041,-0.054231,0.004012,0.03772,0.047443,-0.018104,0

In [31]:
data.to_csv("test_data_after_vector(0521).csv")