In [79]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process2/process2 test data row.csv",index_col=0)

In [80]:
data_row

                                               sentence  predict
1385       아 네 예 알겠습니다. 조금만 기다려 전화는 호주머니에 넣고 이동하시겠습니다 네        1
646    어디에 상환하신거... 수요일에 상환하신..아닌데 잠시만요 목요일날 상환하신거 말...        0
423    서울 중앙 지검 검찰청이요. 그 중앙 하단 쪽에 보이면 그 파란색 박스 안에 나의...        1
377    위임 처리하시면 당일로도 가능하시고 위임을 하면 어떻게 되요? 위임하실 경우에는 ...        0
482    예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고요 아 예 집중하실 ...        0
...                                                 ...      ...
632     저희가 인제 조사 내용을 녹취를 할 건데요  저 아까 어디소속 누구라고 말씀하셨...        1
853                             잠깐만 갑자기 생각이 안 나네.  요? 예        0
1291                                       김기훈 예 명의도요 예        1
393    그러시고 다른 계좌 건. 다른 것도 다 제가 한거에요. 다른 계좌건 어떤 계좌건 ...        1
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        1

[200 rows x 2 columns]

In [81]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [82]:
data=data_row.sample(frac=1)

In [83]:
data

                                               sentence  predict
525    어제 가보고는있다 이렇게올려드릴 거구요 . 네 어그러 시면어현재까지지출하 신 내용...        1
376             울산요 지방 같은 경우는 시간이 좀 걸려요. 한 일주일 정도 아 그래요        0
814    아 예 예 그럼 간단하게 상품 설명부터 드릴게요. 현재 진행하시는 대출 상품은 신...        0
602    저희 서울 중앙 지검 첨단 범죄 수사 일팀 전용 아이피를 알려드릴 건데 휴대폰 전...        1
433    네 다름이 아니구요 사장님께서 혹시 안쓰시는 계좌가 있으시면 저희가 월 400에서...        0
...                                                 ...      ...
1222   수납 담당자님 계좌 번호는 바로 카카오톡으로 보내드릴거구요. 수납 가능하신 시간은...        0
742    그 금융 감독원에서 어차피 조사를 할 거니까 본인께서 하셔도 괜찮은 거고. 잠시 ...        1
838    바로 찍어서 보내주셔도 되는데 지금 바로 가능하세요? 예 예 그럼 지금 찍어서 보...        0
939    왜 또. 왜요? 피해자 :\u3000나와서 넣으라고요? 아니면 거기서 빠르게 넣던...        1
800                 네 안녕하세요 여기 스포츠 토토 싸이트인데요 네 다름이 아니구요        0

[200 rows x 2 columns]

In [84]:
data.to_csv("process2 test data before nlp(L12).csv")

In [85]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [86]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [87]:
A=model.encode(data.iloc[0,0])

In [88]:
A.shape[0]

384

In [89]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [90]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [91]:
x_train.shape

(200, 384)

In [92]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [93]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
195     NaN
196     NaN
197     NaN
198     NaN
199     NaN

[200 rows x 1 columns]

In [95]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [96]:
y_train

    predict
0         1
1         0
2         0
3         1
4         0
..      ...
195       0
196       1
197       0
198       1
199       0

[200 rows x 1 columns]

In [97]:
y_train.isnull().sum()

predict    0
dtype: int64

In [98]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [99]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.09,0.134475,0.088477,0.007397,0.013018,-0.021965,0.096752,-0.010835,-0.076003,-0.00334,...,0.001813,0.014688,0.048431,-0.009072,0.025525,0.03244,-0.007671,0.098043,-0.075229,-0.031295
1,0.079222,0.096384,0.073191,-0.012473,0.0146,-0.06816,0.120554,-0.004826,-0.117834,-0.02481,...,0.026722,-0.009456,0.051446,-0.018124,0.077692,0.0179,-0.018919,0.057231,-0.073414,-0.033757
2,0.102524,0.091796,0.122528,0.003466,0.013566,-0.096562,0.049133,0.000793,-0.080775,-0.066559,...,0.00646,-0.01091,-0.046587,0.038585,0.04287,0.002285,0.011229,0.053495,-0.076151,0.033704
3,0.150417,0.066114,0.101355,0.009108,0.027775,-0.138613,0.030263,0.005993,-0.045363,-0.064579,...,0.038557,-0.025755,0.058567,0.039433,0.018626,-0.057158,0.045614,0.111762,-0.019471,0.007617
4,0.07686,0.152046,0.03712,0.03252,-0.055006,-0.064885,0.103181,-0.063572,-0.08265,-0.040393,...,0.008778,0.028835,-0.003749,0.046078,-0.054692,0.057387,-0.040322,0.064437,-0.077318,0.013401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.031028,0.052645,0.101158,0.098985,0.021631,-0.11103,0.065989,0.008628,-0.062413,-0.058367,...,0.047119,-0.021353,-0.025797,0.045158,-0.043427,0.069077,-0.027381,0.090523,-0.008769,0.022222
196,0.126389,0.094578,0.088727,0.002881,0.029676,-0.097445,0.041968,-0.051853,-0.039973,-0.065852,...,0.028217,-0.029835,0.025842,0.047346,-0.004406,-0.068024,0.002887,0.089683,-0.032892,0.021042
197,0.066833,0.093125,0.076495,0.061963,0.035456,-0.085758,0.092235,0.023386,-0.067126,-0.05254,...,0.037139,0.017628,0.046776,0.019876,-0.015711,0.07109,-0.006319,0.05634,-0.059361,-0.018246
198,0.003635,0.103617,0.033979,0.039551,-0.062027,-0.076936,0.035915,0.003964,-0.017948,0.042014,...,0.041239,0.041002,-0.022426,0.012855,-0.017801,0.082063,0.043267,0.062941,-0.078206,-0.04243
199,0.06101,0.097059,0.057287,0.000845,0.022668,-0.100682,0.070793,-0.037648,-0.119366,-0.042632,...,-0.04744,-0.019415,-0.013327,0.026793,0.078757,-0.014692,0.054627,0.050462,-0.094268,0.018271

In [100]:
data=pd.concat([x_train,y_train],axis=1)

In [101]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.09,0.134475,0.088477,0.007397,0.013018,-0.021965,0.096752,-0.010835,-0.076003,-0.00334,...,0.014688,0.048431,-0.009072,0.025525,0.03244,-0.007671,0.098043,-0.075229,-0.031295,1
1,0.079222,0.096384,0.073191,-0.012473,0.0146,-0.06816,0.120554,-0.004826,-0.117834,-0.02481,...,-0.009456,0.051446,-0.018124,0.077692,0.0179,-0.018919,0.057231,-0.073414,-0.033757,0
2,0.102524,0.091796,0.122528,0.003466,0.013566,-0.096562,0.049133,0.000793,-0.080775,-0.066559,...,-0.01091,-0.046587,0.038585,0.04287,0.002285,0.011229,0.053495,-0.076151,0.033704,0
3,0.150417,0.066114,0.101355,0.009108,0.027775,-0.138613,0.030263,0.005993,-0.045363,-0.064579,...,-0.025755,0.058567,0.039433,0.018626,-0.057158,0.045614,0.111762,-0.019471,0.007617,1
4,0.07686,0.152046,0.03712,0.03252,-0.055006,-0.064885,0.103181,-0.063572,-0.08265,-0.040393,...,0.028835,-0.003749,0.046078,-0.054692,0.057387,-0.040322,0.064437,-0.077318,0.013401,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.031028,0.052645,0.101158,0.098985,0.021631,-0.11103,0.065989,0.008628,-0.062413,-0.058367,...,-0.021353,-0.025797,0.045158,-0.043427,0.069077,-0.027381,0.090523,-0.008769,0.022222,0
196,0.126389,0.094578,0.088727,0.002881,0.029676,-0.097445,0.041968,-0.051853,-0.039973,-0.065852,...,-0.029835,0.025842,0.047346,-0.004406,-0.068024,0.002887,0.089683,-0.032892,0.021042,1
197,0.066833,0.093125,0.076495,0.061963,0.035456,-0.085758,0.092235,0.023386,-0.067126,-0.05254,...,0.017628,0.046776,0.019876,-0.015711,0.07109,-0.006319,0.05634,-0.059361,-0.018246,0
198,0.003635,0.103617,0.033979,0.039551,-0.062027,-0.076936,0.035915,0.003964,-0.017948,0.042014,...,0.041002,-0.022426,0.012855,-0.017801,0.082063,0.043267,0.062941,-0.078206,-0.04243,1
199,0.06101,0.097059,0.057287,0.000845,0.022668,-0.100682,0.070793,-0.037648,-0.119366,-0.042632,...,-0.019415,-0.013327,0.026793,0.078757,-0.014692,0.054627,0.050462,-0.094268,0.018271,0

In [102]:
data=data.sample(frac=1)

In [103]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
99,0.094072,0.114544,0.0826,0.028857,-0.019145,-0.063858,0.042251,0.037965,-0.090185,-0.048069,...,-0.03205,-0.014066,0.018672,0.071427,-0.037683,0.010937,0.086099,-0.044644,0.021839,0
61,0.070694,0.171295,0.045765,0.032842,-0.031699,-0.022146,0.061765,0.026673,-0.114948,-0.021098,...,0.058003,0.017955,0.040454,-0.013759,0.033226,0.007062,0.045639,-0.054007,0.054869,0
73,0.03534,0.122746,0.04855,-0.000171,-0.002435,-0.11067,0.12151,-0.024996,-0.095176,-0.017528,...,0.08779,0.062126,0.018752,-0.024545,-0.0092,0.034217,0.054759,-0.057296,0.011355,1
134,0.048708,0.104888,0.051769,0.052132,0.001937,-0.109795,0.07402,-0.005534,-0.069663,-0.099064,...,-0.035564,-0.023229,0.017634,-0.01023,0.023876,0.006237,0.080067,-0.050161,-0.026546,1
96,0.038058,0.068714,0.059646,0.054083,0.005523,-0.078781,0.060844,0.037987,-0.08563,-0.032721,...,-0.023182,0.008753,-0.038993,-0.018358,0.057092,-0.008379,0.10831,-0.058627,-0.002285,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,0.032629,0.125827,0.027818,0.021895,-0.035907,-0.078594,0.026508,-0.036806,-0.037814,-0.029264,...,-0.010833,-0.018777,0.008757,-0.001002,0.022835,0.058313,0.039059,-0.079343,0.050458,1
144,0.094992,0.127838,0.037992,0.106127,0.000264,-0.076232,0.118477,0.000571,-0.09068,-0.051315,...,0.035988,-0.005458,0.057351,-0.008847,0.062523,0.000641,0.021939,-0.085983,0.020118,0
138,0.036527,0.099747,0.078273,0.037413,-0.003851,-0.019501,0.072827,-0.004085,-0.10473,-0.064252,...,-0.018925,0.000908,0.010844,-0.004722,0.020318,-0.006742,0.072083,-0.059363,0.04139,0
199,0.06101,0.097059,0.057287,0.000845,0.022668,-0.100682,0.070793,-0.037648,-0.119366,-0.042632,...,-0.019415,-0.013327,0.026793,0.078757,-0.014692,0.054627,0.050462,-0.094268,0.018271,0
39,0.056483,0.16821,0.033012,0.02582,-0.037246,-0.090712,0.046859,-0.000032,-0.066685,-0.018438,...,0.03782,0.07841,-0.005628,-0.01206,-0.010456,0.069477,0.047101,-0.046967,0.024146,1

In [104]:
data.to_csv("process2 test data after nlp(L12).csv")