In [53]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process2/process2 train data row.csv",index_col=0)

In [54]:
data_row

                                               sentence  predict
973                    아 그러면 29일 이랬죠? 예 매 월 상환이 그렇죠? 원금        0
184    예 동결 처리가 어떤 뜻인지 알고 계십니까? 네 네 그 안에 들어있던 피해 자금에...        1
531                 5017 5027이요. 네 어 김명희 명의 도용 사건이에요. 네        1
772    심사자료 정리를 바로 진행 진행 도와드리겠습니다. 실제 거주하시는 지역은 울산 남...        0
1227   20만원 먼저 넣어라 이건 아닌거 같은데요? 그래서 말씀 드리잖아요. 20만원 넣...        0
...                                                 ...      ...
324    입출금이요 네 이것도 다른 금융권도 있으세요? 아니요. 아 본인이 이 두개만 사용...        1
198    어 모든 조사 과정은 녹취로서 진행이 될 거고 이 녹취 증거 자료는 본인 피해 입...        1
855    그냥 전화 누르면 전화 갑니까? 1588 2114 하시고 통화 누르시면 됩니다. ...        1
45     네 네 일단은 녹취를 제가 마쳐놨는데 소환장을 발부를 해드려서 저희 쪽에 내방을 ...        1
109       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        0

[2696 rows x 2 columns]

In [55]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [56]:
data=data_row.sample(frac=1)

In [57]:
data

                                               sentence  predict
698    지금. LG요? LG나 우리나라 휴대폰 자체가 바이러스 침해 흔적이 너무 많다 보...        1
1332        아 스터디 이제 본인이 이제 아 주소가 있으시잖아요 팔십 네 네 네 알겠습니다        1
356               네 사기치지 마시고요 다른사람한테 피해주지 마시구요 그러다 벌받아요        0
206    어떻게 기록삭제가 바로되는데 확인이 안돼요? 그쪽에서 기록삭제 하고 납부하셨잖아요...        0
1373   그죠 그죠 그죠. 그래서 일단은 그 이렇게 할게요 상사분한테 얘기를 드리더라도 제...        1
...                                                 ...      ...
1107   그 분도 그렇죠. 아까도 제가 말씀 말씀 했듯이 이 통장이 대포 통장 사용되었다고...        1
451    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 녹취를 통해서 대출 계...        0
1326   매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        0
624    본인 자금인데 불법 자금이 관련 돼있다고 저희 가어 이 잘못 불법 자금이 관련돼 ...        1
991       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        0

[2696 rows x 2 columns]

In [58]:
data.to_csv("process2 train data before nlp(L12).csv")

In [59]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [60]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [61]:
A=model.encode(data.iloc[0,0])

In [62]:
A.shape[0]

384

In [63]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [64]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [65]:
x_train.shape

(2696, 384)

In [66]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [67]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2691     NaN
2692     NaN
2693     NaN
2694     NaN
2695     NaN

[2696 rows x 1 columns]

In [69]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [70]:
y_train

     predict
0          1
1          1
2          0
3          0
4          1
...      ...
2691       1
2692       0
2693       0
2694       1
2695       0

[2696 rows x 1 columns]

In [71]:
y_train.isnull().sum()

predict    0
dtype: int64

In [72]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [73]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.00352,0.100627,0.072383,0.023023,-0.017863,-0.171022,0.133029,-0.091623,-0.010311,-0.062187,...,0.080813,-0.04729,0.059273,0.037569,0.000997,0.010764,-0.076029,0.082335,-0.068384,0.062415
1,0.039015,0.141941,0.078842,-0.020176,0.008864,-0.063613,0.05752,0.005424,-0.077113,-0.061248,...,-0.007549,0.018732,0.046866,0.012427,0.118014,-0.00484,-0.012669,0.002902,-0.018368,0.034289
2,0.072282,0.103052,0.078157,-0.018355,0.057225,-0.079521,0.0679,-0.047829,-0.07155,-0.04867,...,-0.008737,0.044355,0.052611,0.035361,0.120821,-0.030142,0.003279,0.033767,-0.082316,-0.003527
3,0.09168,0.147254,0.072731,0.050142,-0.000122,-0.074413,0.094002,0.026587,-0.095422,-0.008384,...,0.046783,0.039656,0.032682,0.07083,-0.005522,0.041887,0.028249,0.062239,-0.059938,-0.025795
4,0.077656,0.119167,0.0539,-0.027771,0.027713,-0.066671,0.061859,-0.056795,-0.102794,-0.057442,...,0.037809,0.011018,0.085939,0.050311,0.002013,0.022191,0.019786,0.057203,-0.060764,0.038516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.023913,0.173171,0.077963,0.039392,-0.044651,-0.02891,0.106924,-0.002465,-0.086833,-0.043504,...,0.000901,-0.02672,0.02385,-0.021592,0.017254,-0.037135,-0.031918,0.061562,-0.029102,0.023524
2692,0.079816,0.059817,0.090407,0.031789,-0.007655,-0.105538,0.061917,0.001333,-0.046933,-0.048769,...,-0.004806,-0.017043,-0.011126,0.043683,0.016531,-0.050757,0.021009,0.048696,-0.029709,0.050383
2693,0.105361,0.123974,0.013715,-0.001866,-0.035928,-0.036527,0.083258,-0.063226,-0.034445,-0.026985,...,0.031205,-0.009162,0.023047,0.014169,-0.074023,0.066002,-0.037707,0.091817,-0.095064,-0.014967
2694,0.087304,0.110561,0.070077,0.018356,0.008306,-0.100064,0.098985,-0.012788,-0.054026,-0.040492,...,0.007743,0.017228,0.033222,0.056263,0.028843,0.006722,0.053225,0.0237,-0.026182,0.039095
2695,0.061116,0.15937,0.071941,0.015036,-0.040567,-0.096883,0.090803,0.01219,-0.090573,-0.01182,...,0.028321,0.032941,0.037898,0.004698,0.012938,-0.039202,0.069693,0.059758,-0.032539,0.038284

In [74]:
data=pd.concat([x_train,y_train],axis=1)

In [75]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.00352,0.100627,0.072383,0.023023,-0.017863,-0.171022,0.133029,-0.091623,-0.010311,-0.062187,...,-0.04729,0.059273,0.037569,0.000997,0.010764,-0.076029,0.082335,-0.068384,0.062415,1
1,0.039015,0.141941,0.078842,-0.020176,0.008864,-0.063613,0.05752,0.005424,-0.077113,-0.061248,...,0.018732,0.046866,0.012427,0.118014,-0.00484,-0.012669,0.002902,-0.018368,0.034289,1
2,0.072282,0.103052,0.078157,-0.018355,0.057225,-0.079521,0.0679,-0.047829,-0.07155,-0.04867,...,0.044355,0.052611,0.035361,0.120821,-0.030142,0.003279,0.033767,-0.082316,-0.003527,0
3,0.09168,0.147254,0.072731,0.050142,-0.000122,-0.074413,0.094002,0.026587,-0.095422,-0.008384,...,0.039656,0.032682,0.07083,-0.005522,0.041887,0.028249,0.062239,-0.059938,-0.025795,0
4,0.077656,0.119167,0.0539,-0.027771,0.027713,-0.066671,0.061859,-0.056795,-0.102794,-0.057442,...,0.011018,0.085939,0.050311,0.002013,0.022191,0.019786,0.057203,-0.060764,0.038516,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.023913,0.173171,0.077963,0.039392,-0.044651,-0.02891,0.106924,-0.002465,-0.086833,-0.043504,...,-0.02672,0.02385,-0.021592,0.017254,-0.037135,-0.031918,0.061562,-0.029102,0.023524,1
2692,0.079816,0.059817,0.090407,0.031789,-0.007655,-0.105538,0.061917,0.001333,-0.046933,-0.048769,...,-0.017043,-0.011126,0.043683,0.016531,-0.050757,0.021009,0.048696,-0.029709,0.050383,0
2693,0.105361,0.123974,0.013715,-0.001866,-0.035928,-0.036527,0.083258,-0.063226,-0.034445,-0.026985,...,-0.009162,0.023047,0.014169,-0.074023,0.066002,-0.037707,0.091817,-0.095064,-0.014967,0
2694,0.087304,0.110561,0.070077,0.018356,0.008306,-0.100064,0.098985,-0.012788,-0.054026,-0.040492,...,0.017228,0.033222,0.056263,0.028843,0.006722,0.053225,0.0237,-0.026182,0.039095,1
2695,0.061116,0.15937,0.071941,0.015036,-0.040567,-0.096883,0.090803,0.01219,-0.090573,-0.01182,...,0.032941,0.037898,0.004698,0.012938,-0.039202,0.069693,0.059758,-0.032539,0.038284,0

In [76]:
data=data.sample(frac=1)

In [77]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
2455,0.020388,0.093889,0.061834,-0.011178,-0.072825,-0.081565,0.004437,0.001558,-0.050184,0.018616,...,-0.0281,-0.006555,-0.037709,0.01432,0.054665,0.036447,0.060438,-0.06398,0.013387,1
1967,0.119411,0.100678,0.083516,0.021741,0.02745,-0.089578,0.091771,-0.077957,-0.053027,-0.090025,...,0.000847,0.0343,0.054411,-0.023198,-0.044025,0.031994,0.091668,-0.060624,0.053717,1
1723,0.079656,0.127243,0.093202,0.024271,0.014288,-0.102399,0.061781,-0.025433,-0.112501,-0.059401,...,0.029776,0.048011,0.039547,0.007872,-0.016476,0.05661,0.032411,-0.058053,0.056875,1
2654,0.066416,0.130555,0.053293,0.037497,-0.010195,-0.049289,0.134801,-0.001651,-0.094837,-0.041203,...,0.032047,0.050746,0.026498,-0.022081,0.050115,-0.024438,0.008219,-0.065941,-0.001705,1
2412,0.081757,0.120643,0.111007,0.027964,0.015959,-0.063979,0.0601,-0.048768,-0.080888,-0.089915,...,-0.04239,0.024684,0.035719,-0.017607,-0.031962,0.00018,0.08195,-0.025212,0.051219,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,0.033483,0.105785,0.021535,0.052779,-0.027003,-0.085421,0.069349,-0.0302,-0.079197,-0.109367,...,0.009322,0.038209,0.034112,-0.055032,0.027205,-0.002754,0.062711,-0.007115,0.034416,0
1777,0.050964,0.071913,0.048086,-0.113119,0.083453,-0.051754,-0.080218,-0.060874,-0.047424,-0.020776,...,0.087167,0.04922,0.160907,0.001902,-0.015057,0.023516,0.022156,0.006322,0.052397,1
2517,0.066833,0.093125,0.076495,0.061963,0.035456,-0.085758,0.092235,0.023386,-0.067126,-0.05254,...,0.017628,0.046776,0.019876,-0.015711,0.07109,-0.006319,0.05634,-0.059361,-0.018246,0
2275,0.066833,0.093125,0.076495,0.061963,0.035456,-0.085758,0.092235,0.023386,-0.067126,-0.05254,...,0.017628,0.046776,0.019876,-0.015711,0.07109,-0.006319,0.05634,-0.059361,-0.018246,0
380,0.061378,0.017211,0.05903,0.044964,0.006516,-0.058996,0.039792,0.051198,-0.052336,-0.013577,...,-0.041102,0.011332,-0.018715,0.027662,0.057679,-0.002063,0.065826,-0.049236,-0.039445,1

In [78]:
data.to_csv("process2 train data after nlp(L12).csv")