In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/test/test data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
2427                         그렇구나... 대리님 네 속임수 행위치지 마시고요        1
3564    사장님께서 혹시 안쓰시는 은행 계정가 있으시면 저희가 월 400에서 450만원까지...        1
5245                    취업성공패키지는 만 18세~만 69세까지 신청 가능합니다.        0
7705    네 다름이 아니구요 사장님께서 혹시 안쓰시는 은행 계정가 있으시면 저희가 월 40...        2
347                                   최대 2억원까지 대출 가능하세요.        0
...                                                  ...      ...
191     아 뭐 통장 숫자는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 다짜고...        1
2496                네 아이디에 자본을 다 빼가셨더라고요 바로?네 여보세요? 여보세요        1
19578                     아니요, 평일 오전 9시에서 오후6시까지만 가능합니다.        0
7455   보다 어려운 이웃들에게 혜택을 제공할 수 있도록 건강보험료 부담금 기준으로 선정하고...        0
8561    사장님께서 혹시 안쓰시는 입출금 입출금 계좌가 있으시면 저희가 월 400에서 45...        2

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
2427                         그렇구나... 대리님 네 속임수 행위치지 마시고요        1
5879         예 더 궁금한 점 없으시면 상담 종료하겠습니다. 즐거운 하루 되시길 바랍니다.        0
5204    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...        2
1021    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 기록를 통해서 대...        1
1201    대출 승인 나셨을 경우에 대출금 송금 받아 보실 수 있는 은행 사용자 계정 한번 ...        2
...                                                  ...      ...
3583    아휴 그럼 어떻게 해요. 제가 돈 돈 입금 바로 쓸 수가 있는거지. 느낌이 완전 ...        2
921                                   즉시납부 시 20% 경감됩니다.         0
12505                   네 청년 취업에  필요한 맞춤형 서비스를 무료로 제공합니다        0
7492                 네 죄송하지만, 시민 여러분들의 안전을 위해 결정된 일입니다.         0
7208    아 네 안녕하세요 저희 그 하나캐피탈에서 연락을 드렸습니다 아 그래요? 네네네 고...        1

[300 rows x 2 columns]

In [7]:
data.to_csv("test_data_before_vector.csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_test.shape

(300, 768)

In [15]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [16]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [19]:
y_test

    predict
0         1
1         0
2         2
3         1
4         2
..      ...
295       2
296       0
297       0
298       0
299       1

[300 rows x 1 columns]

In [20]:
y_test.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [22]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.052526,-0.009275,-0.034955,0.015349,0.042693,0.004601,-0.058225,0.028962,0.06936,-0.026868,...,-0.019212,-0.029347,0.022722,-0.006778,-0.056432,-0.046505,-0.025728,0.016953,0.025169,-0.032439
1,0.083655,-0.038602,-0.019839,0.021655,0.03036,-0.003742,-0.050664,0.000096,0.071627,-0.001755,...,-0.015854,-0.021921,0.026775,0.01235,-0.04473,-0.046265,0.010377,0.033545,-0.001882,-0.03208
2,0.047395,-0.045138,-0.031999,0.010337,0.006319,0.004162,-0.01299,0.006809,0.060894,0.004175,...,-0.040958,-0.028364,-0.010077,0.009899,-0.035728,-0.017262,0.011707,0.031746,0.019441,-0.032411
3,0.090796,-0.048401,-0.0277,0.019114,0.008884,0.018873,-0.008313,0.022388,0.066377,-0.006571,...,-0.028371,-0.006312,-0.040804,0.019108,-0.032755,-0.03911,0.012002,0.026539,0.000505,-0.029095
4,0.054832,-0.049805,-0.030318,-0.00114,0.017825,-0.002224,0.001599,0.001857,0.09153,-0.026649,...,-0.000514,-0.026281,0.002635,0.013689,-0.0529,-0.04064,-0.002119,0.033701,0.014835,-0.022445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.060146,-0.029886,-0.030472,0.015419,0.022325,0.010006,-0.01229,0.003291,0.067198,0.004562,...,-0.021731,-0.023645,-0.006037,0.009465,-0.040519,-0.021179,-0.002576,0.039361,0.009383,-0.042015
296,0.043477,-0.061552,-0.023052,-0.041257,0.04175,0.012908,-0.082122,0.035421,0.032576,0.009082,...,-0.014006,-0.027436,-0.007043,-0.003949,0.0003,-0.009379,0.019391,0.002633,0.040949,-0.009024
297,0.006042,-0.101178,-0.018187,0.01041,0.011323,-0.028422,-0.009753,0.015926,0.032027,0.012043,...,-0.057319,-0.034533,-0.022947,0.001771,-0.016165,-0.015933,0.018552,0.006926,0.000082,-0.014456
298,0.053911,-0.02759,-0.016013,0.019261,0.039365,-0.006334,-0.055295,0.013948,0.076102,0.000788,...,-0.02491,-0.019587,0.030049,-0.014119,-0.045763,-0.063188,-0.001747,0.03109,0.014352,-0.029839
299,0.059974,-0.038304,-0.025667,-0.007842,0.013008,0.001066,-0.04636,0.02688,0.055943,-0.013099,...,-0.028688,-0.027003,-0.0345,0.003547,-0.015228,-0.040037,0.018249,0.02268,0.008251,-0.020145

In [23]:
data=pd.concat([x_test,y_test],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.052526,-0.009275,-0.034955,0.015349,0.042693,0.004601,-0.058225,0.028962,0.06936,-0.026868,...,-0.029347,0.022722,-0.006778,-0.056432,-0.046505,-0.025728,0.016953,0.025169,-0.032439,1
1,0.083655,-0.038602,-0.019839,0.021655,0.03036,-0.003742,-0.050664,0.000096,0.071627,-0.001755,...,-0.021921,0.026775,0.01235,-0.04473,-0.046265,0.010377,0.033545,-0.001882,-0.03208,0
2,0.047395,-0.045138,-0.031999,0.010337,0.006319,0.004162,-0.01299,0.006809,0.060894,0.004175,...,-0.028364,-0.010077,0.009899,-0.035728,-0.017262,0.011707,0.031746,0.019441,-0.032411,2
3,0.090796,-0.048401,-0.0277,0.019114,0.008884,0.018873,-0.008313,0.022388,0.066377,-0.006571,...,-0.006312,-0.040804,0.019108,-0.032755,-0.03911,0.012002,0.026539,0.000505,-0.029095,1
4,0.054832,-0.049805,-0.030318,-0.00114,0.017825,-0.002224,0.001599,0.001857,0.09153,-0.026649,...,-0.026281,0.002635,0.013689,-0.0529,-0.04064,-0.002119,0.033701,0.014835,-0.022445,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.060146,-0.029886,-0.030472,0.015419,0.022325,0.010006,-0.01229,0.003291,0.067198,0.004562,...,-0.023645,-0.006037,0.009465,-0.040519,-0.021179,-0.002576,0.039361,0.009383,-0.042015,2
296,0.043477,-0.061552,-0.023052,-0.041257,0.04175,0.012908,-0.082122,0.035421,0.032576,0.009082,...,-0.027436,-0.007043,-0.003949,0.0003,-0.009379,0.019391,0.002633,0.040949,-0.009024,0
297,0.006042,-0.101178,-0.018187,0.01041,0.011323,-0.028422,-0.009753,0.015926,0.032027,0.012043,...,-0.034533,-0.022947,0.001771,-0.016165,-0.015933,0.018552,0.006926,0.000082,-0.014456,0
298,0.053911,-0.02759,-0.016013,0.019261,0.039365,-0.006334,-0.055295,0.013948,0.076102,0.000788,...,-0.019587,0.030049,-0.014119,-0.045763,-0.063188,-0.001747,0.03109,0.014352,-0.029839,0
299,0.059974,-0.038304,-0.025667,-0.007842,0.013008,0.001066,-0.04636,0.02688,0.055943,-0.013099,...,-0.027003,-0.0345,0.003547,-0.015228,-0.040037,0.018249,0.02268,0.008251,-0.020145,1

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
124,0.089281,-0.037007,-0.028121,0.025064,0.036497,0.011588,-0.04025,0.036629,0.072291,-0.016816,...,0.025356,-0.028256,0.006092,-0.030267,-0.047604,0.023921,0.009344,0.018862,-0.013556,1
53,0.09856,-0.045179,-0.028527,-0.00986,0.020494,-0.00481,0.004243,0.004573,0.048868,-0.027259,...,-0.015655,-0.001992,0.025899,-0.037561,-0.065804,0.013699,0.0263,0.011124,-0.028539,1
214,0.044342,-0.099564,-0.025248,-0.012376,0.009842,-0.011735,-0.001249,-0.007922,0.066014,-0.005483,...,0.01434,-0.026157,0.015426,-0.016472,-0.01693,0.0044,0.034121,-0.005391,-0.013564,1
65,0.042038,-0.083042,-0.022749,0.008666,0.006729,-0.010339,-0.015804,0.014531,0.039368,-0.011508,...,-0.036038,-0.020194,0.004358,-0.031173,-0.018484,0.013631,0.031161,-0.015233,-0.027552,0
294,0.061851,-0.034277,-0.031332,0.009526,0.021158,0.010501,0.002926,0.004453,0.069298,0.003098,...,-0.022602,-0.011409,0.011142,-0.038155,-0.022574,0.002119,0.034174,0.009515,-0.039318,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.016375,-0.041421,0.000457,0.005939,0.059369,0.018951,-0.079974,0.026656,0.072914,-0.010142,...,-0.038604,0.039897,-0.015911,-0.068155,-0.037672,0.01051,0.025955,0.051471,-0.038145,0
114,0.09993,-0.03546,-0.017733,0.031727,0.014722,0.00766,0.023059,0.002257,0.027167,-0.04682,...,-0.019856,-0.006241,0.013373,-0.047067,-0.046438,0.013366,0.037693,0.022073,-0.007454,2
167,0.077178,-0.060262,-0.03139,0.048576,0.008933,0.000987,-0.037557,0.043718,0.086135,-0.00586,...,0.000532,0.010727,0.002967,-0.03901,-0.027581,-0.009724,0.024777,0.002472,-0.019936,2
57,0.059492,-0.002328,-0.03504,0.022904,0.004475,0.005428,-0.037942,0.01521,0.05827,0.017057,...,-0.026049,0.011455,-0.01047,-0.042448,-0.030953,0.008077,0.02877,0.025917,-0.044475,2
126,0.015025,-0.018298,-0.00085,-0.006924,0.051808,-0.018583,-0.041832,-0.003837,0.035223,-0.013046,...,-0.038664,-0.059332,-0.020676,-0.064676,-0.007556,-0.000349,0.021245,0.005838,-0.020592,0

In [27]:
data.to_csv("test_data_after_vector.csv")