In [28]:
import pandas as pd

금융_data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/row sentence/대출형 보이스피싱.csv",index_col=0)
기관_data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/row sentence/기관 사칭형 보이스피싱.csv",index_col=0)

In [29]:
금융_data_row

                                               sentence
0                                     '어저께 통화했던 최영환입니다'
1      '어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...
2              '일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요'
3                       '금리는 연 금리 5.5%에 상환 기간 60개월입니다.'
4      '매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035...
...                                                 ...
3472                                        '너무 많아가지고 '
3473                              '네 대부업건 어디어디 이용중이세요?'
3474                         '얼만지 제가 한번 보고 전화를 한번 드릴게요'
3475                                        '아 네 알겠습니다'
3476                              '그 바로 연락 한번 좀 부탁드릴게요'

[3477 rows x 1 columns]

In [30]:
기관_data_row

                                               sentence
0                 ['아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다.'
1      '본 사건 조사는 법원 증거 제출용으로 이뤄지고 있으신데 녹취 조사 과정에서 허위...
2                 형사상 책임이 있으시니 사실에 입각하여 진실로 좀 하셔야 됩니다.'
3                          '네 OOO씨 지금 제가 본인 확인 한번 할께요.'
4                        '생년월일 앞에 여섯 자리만 말씀 부탁 드리겠습니다.'
...                                                 ...
8427                   '그 본인 말고도 180명이 넘게 연루된 사건이다 보니까'
8428   '찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 없기 때문에...
8429                   '그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요'
8430                           '예 그 본인 자택으로 서류 보내드릴게요.'
8431   '그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 ...

[8432 rows x 1 columns]

In [31]:
from konlpy.tag import Mecab

tokenizer = Mecab()

In [32]:
A=tokenizer.nouns("이것은 메캅 테스트입니다. 사용자 사전을 등록한 후입니다. 참새500")

In [33]:
A

['이것', '메', '캅', '테스트', '사용자', '사전', '등록', '후', '참새']

In [7]:
print(len(A[1]))

1

In [8]:
count=0
for i in range(기관_data_row.shape[0]):
    A=tokenizer.nouns(기관_data_row.iloc[i,0])
    num=len(A)
    count=count+num
print(count)

40631

In [9]:
기관_word=pd.DataFrame(index=range(count),columns=['단어'])

In [10]:
count=0
for i in range(기관_data_row.shape[0]):
    A=tokenizer.nouns(기관_data_row.iloc[i,0])
    for j in range(len(A)):
        if len(A[j])>1:
            기관_word.iloc[count]=A[j]
            count=count+1

In [11]:
기관_word

        단어
0       서울
1       중앙
2       지검
3       첨단
4       범죄
...    ...
40626  NaN
40627  NaN
40628  NaN
40629  NaN
40630  NaN

[40631 rows x 1 columns]

In [12]:
기관_word=기관_word.dropna(axis=0)

In [13]:
기관_word

       단어
0      서울
1      중앙
2      지검
3      첨단
4      범죄
...    ..
31005  확인
31006  다음
31007  이해
31008  부분
31009  연락

[31010 rows x 1 columns]

In [14]:
count=0
for i in range(금융_data_row.shape[0]):
    A=tokenizer.nouns(금융_data_row.iloc[i,0])
    num=len(A)
    count=count+num
print(count)

12369

In [15]:
금융_word=pd.DataFrame(index=range(count),columns=['단어'])

In [16]:
count=0
for i in range(금융_data_row.shape[0]):
    A=tokenizer.nouns(금융_data_row.iloc[i,0])
    for j in range(len(A)):
        if len(A[j])>1:
            금융_word.iloc[count]=A[j]
            count=count+1

In [17]:
금융_word=금융_word.dropna(axis=0)

In [18]:
금융_word

        단어
0       통화
1      최영환
2       결과
3       안내
4       오늘
...    ...
10160   이용
10161  얼만지
10162   전화
10163   연락
10164   부탁

[10165 rows x 1 columns]

In [19]:
금융_frequency=pd.DataFrame(금융_word['단어'].value_counts())

In [20]:
기관_frequency=pd.DataFrame(기관_word['단어'].value_counts())

In [21]:
금융_frequency

     count
단어
상환     323
고객     304
처리     247
대출     228
저희     228
..     ...
의사      19
취소      19
가지      19
최영환     19
얼만지     19

[241 rows x 1 columns]

In [22]:
기관_frequency

    count
단어
본인   1658
통장    601
은행    590
말씀    546
계좌    544
..    ...
자살      1
감액      1
금이      1
구나      1
요약      1

[2288 rows x 1 columns]

In [23]:
금융_frequency.to_csv("금융형 단어 빈도수.csv")

In [24]:
기관_frequency.to_csv("기관사칭형 단어 빈도수.csv")