In [2]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/data(use)/abnormal/voice fishing data final.csv")

data

        Unnamed: 0   단어  predict
0                0   전화  fishing
1                1   연락  fishing
2                2   통합  fishing
3                3   안녕  fishing
4                4   본인  fishing
...            ...  ...      ...
100903      100903   불법  fishing
100904      100904   명의  fishing
100905      100905  핸드폰  fishing
100906      100906   확인  fishing
100907      100907   얼마  fishing

[100908 rows x 3 columns]

In [3]:
data.drop(columns=["Unnamed: 0"],inplace=True)

In [4]:
data.shape

(100908, 2)

In [35]:
data_frequency=pd.DataFrame(data['단어'].value_counts())

In [36]:
data_frequency.shape

(1940, 1)

In [38]:
data_frequency

     count
단어
본인    3197
통장    2290
저희    2043
거     1814
사건    1550
..     ...
천장       1
죄수       1
아들       1
봉합       1
최종호      1

[1940 rows x 1 columns]

In [43]:

data_frequency.to_csv("보이스 피싱 단어 단어별 빈도.csv")