In [6]:
import random
from typing import Dict, List
import MeCab
import re
import pandas as pd 
data1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/abnormal/대출사기/대출사기형(4문장).csv",index_col=0)
data2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/abnormal/기관사칭/수사기관형(4문장).csv",index_col=0)

In [7]:
data1

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다        1
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...        1
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네        1
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        1
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?        1
...                                                 ...      ...
1391   아 그러니까 사장님께서 그 안쓰시는 통장 있으시면 400에서 450까지 선지급 해...        1
1392                          네 알겠습니다 네네 네 여보세요 뭐 어디세요?        1
1393   아 네 안녕하세요 저희 그 하나캐피탈에서 연락을 드렸습니다 아 그래요? 네네네 고...        1
1394   지금 현재 이용중이신 고금리건 채무 러시앤캐시 산와머니 이런 고금리건 채무 이용하...        1
1395   네네 어디어디 이용중이십니까? 너무 많아가지고  네 대부업건 어디어디 이용중이세요...        1

[1396 rows x 2 columns]

In [8]:
data2

                                               sentence  predict
0     아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다. 본 사건 조사는 법원...        2
1      네 네 OOO씨 지금 제가 본인 확인 한번 할께요. 생년월일 앞에 여섯 자리만 말...        2
2        네 성함은 OOO님 맞으시죠? 네 네 본인 김성오 일당 잘 알고 있으십니까? 아니요        2
3      전혀 모른다고 진술 하셨는데 맞습니까? 네 네 이천 십 칠년이 월 삼 일 경기도 ...        2
4      이 두개 계좌 계설 사실에 대해서 전혀 모르신다는 말씀 이시죠? 네 네 본인은 네...        2
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        2
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        2
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...        2
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...        2
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...        2

[1500 rows x 2 columns]

In [9]:
data1['predict']=0
data2['predict']=1

In [10]:
data1

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다        0
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...        0
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네        0
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        0
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?        0
...                                                 ...      ...
1391   아 그러니까 사장님께서 그 안쓰시는 통장 있으시면 400에서 450까지 선지급 해...        0
1392                          네 알겠습니다 네네 네 여보세요 뭐 어디세요?        0
1393   아 네 안녕하세요 저희 그 하나캐피탈에서 연락을 드렸습니다 아 그래요? 네네네 고...        0
1394   지금 현재 이용중이신 고금리건 채무 러시앤캐시 산와머니 이런 고금리건 채무 이용하...        0
1395   네네 어디어디 이용중이십니까? 너무 많아가지고  네 대부업건 어디어디 이용중이세요...        0

[1396 rows x 2 columns]

In [11]:
data2

                                               sentence  predict
0     아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다. 본 사건 조사는 법원...        1
1      네 네 OOO씨 지금 제가 본인 확인 한번 할께요. 생년월일 앞에 여섯 자리만 말...        1
2        네 성함은 OOO님 맞으시죠? 네 네 본인 김성오 일당 잘 알고 있으십니까? 아니요        1
3      전혀 모른다고 진술 하셨는데 맞습니까? 네 네 이천 십 칠년이 월 삼 일 경기도 ...        1
4      이 두개 계좌 계설 사실에 대해서 전혀 모르신다는 말씀 이시죠? 네 네 본인은 네...        1
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        1
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        1
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...        1
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...        1
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...        1

[1500 rows x 2 columns]

In [14]:
ab_data=pd.concat([data1,data2])

In [15]:
ab_data

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다        0
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...        0
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네        0
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        0
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?        0
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        1
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        1
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...        1
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...        1
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...        1

[2896 rows x 2 columns]

In [16]:
ab_data=ab_data.sample(frac=1)

In [17]:
train_ab_data=ab_data[200:]
test_ab_data=ab_data[:200]

In [18]:
train_ab_data.to_csv("process2 train data row.csv")
test_ab_data.to_csv("process2 test data row.csv")