In [1]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/normal/일반 민원(증강).csv",index_col=0)
data_ab1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/abnormal/대출사기/대출 사기형 보이스피싱(augmentation).csv",index_col=0)
data_ab2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/abnormal/기관사칭/기관 사칭형 보이스피싱(augmentation)).csv",index_col=0)

In [2]:
data

                                                sentence  predict
0                   활용하시간는 은행의 사이트에서 지방세 납부하기가 실행 가능합니다.        0
1                그럼 스마트폰에서 기업은행 어플을 설치하때면 결제가 가능성 있음합니다.        0
2                                      방문하기결제도 실행 가능합니다.        0
3                               도보로 10분량위치에 서울역지점이 있습니다.        0
4                                    도보로 가시는게 빠를 일 같습니다.        0
...                                                  ...      ...
16926                        개월소득 실수령액이 150단지금액 이하여야합니다.        0
16927                            서울 지역소재 직장근무로 제한하고있습니다.        0
16928                                       62400원화 입니다.        0
16929                                      1423200돈 입니다.        0
16930  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 온라인 페이지에서 신청서 제출...        0

[12382 rows x 2 columns]

In [3]:
data_ab1

                                                sentence  predict
0                         여보세요 네   님 예 예 어저께 통화했던 최영환입니다      1.0
1       아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...      1.0
2                네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네      1.0
3       매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...      1.0
4                              금리가 아 예 예 예. 말씀하세요 괜찮으세요?      1.0
...                                                  ...      ...
10481   금액을 먼저 넣으라는 거는 나는 좀 이해가 안되네요.여보세요 안녕하세요 고객님 김...      1.0
10482        네 사기 범죄 행위치지 마시고요 다른사람한테 피해주지 마시구요 그러다 벌받아요      1.0
10483   무슨소리하시는거죠? 지금 그 입출금 입출금 계좌 제가 신고 해놨거든요? 네 입출금...      1.0
10484   사장님께서 혹시 안쓰시는 은행 은행 계좌가 있으시면 저희가 월 400에서 450만...      1.0
10485   아 네 안녕하세요 저희 그 하나캐피탈에서 연락을 드렸습니다 아 그래요? 네네네 고...      1.0

[11882 rows x 2 columns]

In [4]:
data_ab2

                                               sentence  predict
0      위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 기록를 통해서 대...      2.0
1      지금 다짜고짜 여쭤보면 어떡합니까? 고객님 신분 증명서도 접수도 안 해줬는데 그냥...      2.0
2      예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...      2.0
3      수납 담당자님 은행 계정 전화연락처는 바로 카카오톡으로 보내드릴거구요. 수납 가능...      2.0
4      아휴 그럼 어떻게 해요. 제가 자본 입금하기 바로 쓸 수가 있는거지. 느낌이 완전...      2.0
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...      2.0
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...      2.0
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...      2.0
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...      2.0
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...      2.0

[11986 rows x 2 columns]

In [5]:
data_ab2['predict']=1

In [6]:
data_ab2

                                               sentence  predict
0      위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 기록를 통해서 대...        1
1      지금 다짜고짜 여쭤보면 어떡합니까? 고객님 신분 증명서도 접수도 안 해줬는데 그냥...        1
2      예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...        1
3      수납 담당자님 은행 계정 전화연락처는 바로 카카오톡으로 보내드릴거구요. 수납 가능...        1
4      아휴 그럼 어떻게 해요. 제가 자본 입금하기 바로 쓸 수가 있는거지. 느낌이 완전...        1
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        1
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        1
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...        1
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...        1
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...        1

[11986 rows x 2 columns]

In [7]:
data_ab=pd.concat([data_ab1,data_ab2])

In [8]:
data_ab

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다      1.0
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...      1.0
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네      1.0
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...      1.0
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?      1.0
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...      1.0
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...      1.0
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...      1.0
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...      1.0
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...      1.0

[23868 rows x 2 columns]

In [9]:
abnormal_data=data_ab[:12000]

In [10]:
process1_data=pd.concat([data,abnormal_data])

In [11]:
process1_data=process1_data.sample(frac=1)

In [12]:
process1_data

                                                sentence  predict
3531    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 전화 녹음를 통해서 대...      1.0
1400                                      네 그런 상황는 없을겁니다      0.0
802     지금 다짜고짜 여쭤보면 어떡합니까? 고객님 식별증도 접수도 안 해줬는데 그냥 로그...      1.0
3568                                  네 30분량에 3000돈입니다.       0.0
4531                           그 지역 사회에서 문의하기해 주셔야 합니다.       0.0
...                                                  ...      ...
1612   1유형으로 선발되시각면 등록금 감면으로 혜택을 받으실꺼고, 2유형으로 선발되시간면 ...      0.0
16588                   OOO-OOOO-OOOO번호로  질문하시각면 될일같습니다.      0.0
12768                             네, 해제 등록 신청도 실행 가능합니다.      0.0
12222                                        6개월 보조 됩니다.      0.0
3374    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...      1.0

[24382 rows x 2 columns]

In [13]:
process1_test_data=process1_data[:300]
process1_train_data=process1_data[300:]

In [14]:
process1_train_data

                                                sentence  predict
12492                   사용하시간지 못한 일수에 대한 환불이 진행될 예정입니다.       0.0
2393    네 다름이 아니구요 사장님께서 혹시 안쓰시는 아이디가 있으시면 저희가 월 400에...      1.0
8688                               30날 초과 때 과태료과 부과됩니다.       0.0
3800    예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...      1.0
10492             군인중에서에 군부대에 있어 부대 밖으로 나오지 못하는 경우의 수입니다      0.0
...                                                  ...      ...
1612   1유형으로 선발되시각면 등록금 감면으로 혜택을 받으실꺼고, 2유형으로 선발되시간면 ...      0.0
16588                   OOO-OOOO-OOOO번호로  질문하시각면 될일같습니다.      0.0
12768                             네, 해제 등록 신청도 실행 가능합니다.      0.0
12222                                        6개월 보조 됩니다.      0.0
3374    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...      1.0

[24082 rows x 2 columns]

In [15]:
process1_test_data

                                                sentence  predict
3531    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 전화 녹음를 통해서 대...      1.0
1400                                      네 그런 상황는 없을겁니다      0.0
802     지금 다짜고짜 여쭤보면 어떡합니까? 고객님 식별증도 접수도 안 해줬는데 그냥 로그...      1.0
3568                                  네 30분량에 3000돈입니다.       0.0
4531                           그 지역 사회에서 문의하기해 주셔야 합니다.       0.0
...                                                  ...      ...
2021    아 뭐 통장 전화숫자는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 다...      1.0
11184  국가 지원금 외에 해당 사항 자치단체가 자체 보조하는 금액을 합산할 사례 기준액 이...      0.0
15062                      별 언급을요 궁금한것 있으면 언제든 문의 해 주세요.      0.0
6475                        네, 직접 거주자중심로 가셔야다만 가능성 있음하네요      0.0
1804    사장님께서 혹시 안쓰시는 입출금 계정가 있으시면 저희가 월 400에서 450만원까...      1.0

[300 rows x 2 columns]

In [16]:
process1_train_data.to_csv("process 1 train data row.csv")
process1_test_data.to_csv("process 1 test data row.csv")