In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process1/test/process 1 test data row.csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
642   2층 카페내 세미나실은 4인정원이라 외부에 있는 세미나실로 예약도와드려도 괜찮을까요...        0
1235   이경호 계장님이요. 예 알겠습니다 예통장명이  계좌 맞구요? 그리고 통장 발급 일...        1
1831  어떤 점이 궁금하신가요?모바일 검색창에 "자동차세 계산기"를 검색하셔도 자동차세 조...        0
532    일단은 저희가 절차를 하고 나중에 잠시 동안 일시적으로 이제 맞춤형 상의할 수가 ...        1
355   혹시 개인택시입니까?기본금리에서 이차보전 금리를 차감한 본인 부담 금리가 1%이하인...        0
...                                                 ...      ...
698    네 작성하셨죠? 네 네 그러면 손가락 한 마디 정도 밑으로 내려오셔가지고요 네 네...        1
791    네 네 그리고 차후에 2차 피해라든지 3차 피해가 일어난다면 최고 5천만 원 한도...        1
582    예 질문드리기 앞서서 수사 기관에서는 개인의 개인 정보나 금융 정보에 대해선 일체...        1
1574  어떤 궁금증이 있으신가요부양의무자가 없거나, 있어도 부양능력이 없거나 또는 부양을 ...        0
1407  네 거주지가 어디신지 여쭈어봐도 되겠습니까?네, 이체증을 확인 후 입금됩니다. 더 ...        0

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
1334  어느지역이신가요?법인 선물의 경우 미사용 환불은 불가능합니다. 동네에서 진행하는 벼...        0
1213   그 얼마 전에 강수철 주범으로 인한 금융 범죄 사기단이 좀 검거가 됬습니다 예 근...        1
698    네 작성하셨죠? 네 네 그러면 손가락 한 마디 정도 밑으로 내려오셔가지고요 네 네...        1
1086   네 얼마 전에 저희 검찰에서 현재 김성우를 주범으로 한 금융 범죄 사기단을 검거했...        1
671   네 어떤것을 도와드릴까요?매년 2월에 정산돼요.농업인이신가요?네 의료비로 구분되어 ...        0
...                                                 ...      ...
45     상환하시는 금액은 57만 3035원입니다. 맞죠? 예 내가 상환하시면 일단은 좀 ...        1
1574  어떤 궁금증이 있으신가요부양의무자가 없거나, 있어도 부양능력이 없거나 또는 부양을 ...        0
422    사람이 너무 많으면 그 사람들이 이상하게 생각한다고. 안 그래요? 아니 그래도요....        1
799   풋살구장 대관하실려고 하는 건가요?농기계 파트로 연결해드릴게요.평일, 주말중에 어느...        0
1235   이경호 계장님이요. 예 알겠습니다 예통장명이  계좌 맞구요? 그리고 통장 발급 일...        1

[300 rows x 2 columns]

In [6]:
data.to_csv("process1 test data before nlp(base).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(300, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

    predict
0         0
1         1
2         1
3         1
4         0
..      ...
295       1
296       0
297       1
298       0
299       1

[300 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.07797,-0.020679,-0.018685,-0.028643,0.006478,-0.012756,0.000069,-0.000407,0.077209,-0.043546,...,0.014865,-0.032266,-0.026464,0.025542,-0.040738,-0.107913,0.005797,0.034578,0.038573,-0.004162
1,0.094144,-0.043604,-0.032096,-0.003624,-0.000357,0.003588,-0.00945,0.018234,0.058688,-0.003803,...,-0.014558,-0.015426,-0.016673,0.017251,-0.017965,-0.042755,0.032187,0.034093,-0.005074,-0.028699
2,0.086749,-0.029814,-0.036888,0.029719,-0.00842,-0.00482,-0.027466,0.039101,0.053958,-0.001527,...,-0.029038,0.000287,0.012529,0.004316,-0.033762,-0.081893,0.017416,-0.013375,0.0351,-0.022764
3,0.087745,-0.027527,-0.026031,-0.000307,-0.012607,0.001274,-0.022255,0.000212,0.052243,-0.005886,...,-0.021281,-0.013487,-0.019142,0.00656,-0.023031,-0.048589,0.044161,0.024503,-0.019942,-0.036973
4,0.109971,-0.015547,-0.013237,0.019571,-0.000043,-0.016055,0.005115,0.019721,0.041624,-0.003125,...,-0.000225,-0.007497,0.041483,0.006031,-0.039762,-0.06239,0.008722,0.028863,0.004568,-0.025288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.091465,-0.021281,-0.03116,0.032274,0.017366,0.008366,-0.016643,0.027697,0.014403,-0.008992,...,0.003031,-0.042239,-0.017518,0.033462,-0.028561,-0.073428,0.042686,0.025883,-0.016999,-0.019344
296,0.078469,-0.044216,-0.035311,-0.006522,0.004694,-0.004891,-0.010484,0.004071,0.048016,-0.002996,...,-0.022888,-0.018027,0.004963,0.03235,-0.032154,-0.037969,0.030537,0.011775,0.001658,-0.034093
297,0.11236,-0.036668,-0.020012,0.009836,0.012263,-0.018769,-0.030282,0.01809,0.041793,-0.000662,...,-0.019166,0.006763,-0.001143,-0.007659,-0.03176,-0.070106,-0.001119,0.02512,0.005855,-0.028038
298,0.110253,-0.019567,-0.027344,0.018543,0.001269,-0.008783,-0.015852,0.01453,0.044127,-0.009938,...,0.00125,-0.016131,-0.01343,0.008915,-0.02983,-0.004889,-0.014724,0.039189,0.011231,-0.017951
299,0.089664,0.018636,-0.028944,0.026104,0.003588,-0.007646,0.015377,0.039338,0.032787,0.002626,...,0.025981,-0.022349,-0.003731,0.003673,-0.038779,0.029488,0.00815,0.014751,0.023019,-0.01414

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.07797,-0.020679,-0.018685,-0.028643,0.006478,-0.012756,0.000069,-0.000407,0.077209,-0.043546,...,-0.032266,-0.026464,0.025542,-0.040738,-0.107913,0.005797,0.034578,0.038573,-0.004162,0
1,0.094144,-0.043604,-0.032096,-0.003624,-0.000357,0.003588,-0.00945,0.018234,0.058688,-0.003803,...,-0.015426,-0.016673,0.017251,-0.017965,-0.042755,0.032187,0.034093,-0.005074,-0.028699,1
2,0.086749,-0.029814,-0.036888,0.029719,-0.00842,-0.00482,-0.027466,0.039101,0.053958,-0.001527,...,0.000287,0.012529,0.004316,-0.033762,-0.081893,0.017416,-0.013375,0.0351,-0.022764,1
3,0.087745,-0.027527,-0.026031,-0.000307,-0.012607,0.001274,-0.022255,0.000212,0.052243,-0.005886,...,-0.013487,-0.019142,0.00656,-0.023031,-0.048589,0.044161,0.024503,-0.019942,-0.036973,1
4,0.109971,-0.015547,-0.013237,0.019571,-0.000043,-0.016055,0.005115,0.019721,0.041624,-0.003125,...,-0.007497,0.041483,0.006031,-0.039762,-0.06239,0.008722,0.028863,0.004568,-0.025288,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.091465,-0.021281,-0.03116,0.032274,0.017366,0.008366,-0.016643,0.027697,0.014403,-0.008992,...,-0.042239,-0.017518,0.033462,-0.028561,-0.073428,0.042686,0.025883,-0.016999,-0.019344,1
296,0.078469,-0.044216,-0.035311,-0.006522,0.004694,-0.004891,-0.010484,0.004071,0.048016,-0.002996,...,-0.018027,0.004963,0.03235,-0.032154,-0.037969,0.030537,0.011775,0.001658,-0.034093,0
297,0.11236,-0.036668,-0.020012,0.009836,0.012263,-0.018769,-0.030282,0.01809,0.041793,-0.000662,...,0.006763,-0.001143,-0.007659,-0.03176,-0.070106,-0.001119,0.02512,0.005855,-0.028038,1
298,0.110253,-0.019567,-0.027344,0.018543,0.001269,-0.008783,-0.015852,0.01453,0.044127,-0.009938,...,-0.016131,-0.01343,0.008915,-0.02983,-0.004889,-0.014724,0.039189,0.011231,-0.017951,0
299,0.089664,0.018636,-0.028944,0.026104,0.003588,-0.007646,0.015377,0.039338,0.032787,0.002626,...,-0.022349,-0.003731,0.003673,-0.038779,0.029488,0.00815,0.014751,0.023019,-0.01414,1

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
110,0.093546,-0.022707,-0.039445,-0.009425,-0.001403,0.003025,-0.027957,0.029498,0.056733,-0.014132,...,-0.023241,0.041511,0.030975,-0.035556,-0.051469,0.042352,0.009166,0.007961,-0.005465,0
164,0.101132,-0.014205,-0.023399,0.005642,0.015697,0.013453,-0.018682,0.007151,0.056721,-0.01538,...,-0.002251,-0.01975,0.022001,-0.017998,-0.042447,0.016135,0.013619,0.01612,-0.033447,1
28,0.097298,-0.023544,-0.024199,0.020444,-0.020448,-0.031136,0.008474,0.01847,0.057535,0.000618,...,-0.000821,0.045867,0.009324,-0.033776,-0.070024,0.027029,0.03797,-0.002674,-0.026298,0
286,0.097363,-0.012447,-0.016556,0.038088,0.03687,-0.002036,-0.047763,0.005127,0.058178,-0.009148,...,-0.000468,0.03399,0.001257,-0.046963,-0.073126,-0.01357,0.052561,-0.021861,-0.024627,1
69,0.083211,-0.002728,-0.018246,-0.002446,0.02115,0.011865,-0.020851,0.003573,0.042797,-0.014504,...,0.006503,-0.001659,0.018528,-0.041484,-0.049119,0.015688,0.043852,0.014316,-0.029483,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0.100771,-0.005938,-0.011114,0.012652,-0.006402,-0.014852,-0.020008,0.021523,0.060998,-0.035734,...,-0.001813,0.024988,0.017786,-0.053992,-0.082223,0.001783,0.031502,0.00346,-0.001846,0
178,0.096834,-0.02777,-0.030126,0.014125,0.009101,-0.016155,-0.004356,0.005955,0.057088,-0.008878,...,0.003713,-0.008677,0.016728,-0.03932,-0.052577,0.009452,0.021097,0.002874,-0.036249,0
258,0.085527,0.003473,-0.027949,-0.010603,0.007527,0.016083,-0.011682,0.012253,0.077902,-0.014142,...,0.000532,-0.004161,0.020058,-0.048777,-0.070682,0.017618,0.04339,0.027336,-0.032402,1
124,0.067776,-0.016251,-0.028179,0.039416,0.016476,0.004258,-0.002499,0.034871,0.033111,-0.012994,...,-0.035314,-0.022758,0.02273,-0.018232,-0.036047,0.013075,0.03376,-0.040066,-0.037264,1
229,0.080779,-0.01095,-0.032071,0.00643,0.016961,0.006268,-0.002708,0.01346,0.069048,-0.022546,...,-0.010768,-0.027178,0.02021,-0.03593,-0.054248,0.029815,0.024266,0.024245,-0.034569,1

In [26]:
data.to_csv("process1 test data after nlp(base).csv")