In [27]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process2/process2 train data row.csv",index_col=0)

In [28]:
data_row

                                               sentence  predict
973                    아 그러면 29일 이랬죠? 예 매 월 상환이 그렇죠? 원금        0
184    예 동결 처리가 어떤 뜻인지 알고 계십니까? 네 네 그 안에 들어있던 피해 자금에...        1
531                 5017 5027이요. 네 어 김명희 명의 도용 사건이에요. 네        1
772    심사자료 정리를 바로 진행 진행 도와드리겠습니다. 실제 거주하시는 지역은 울산 남...        0
1227   20만원 먼저 넣어라 이건 아닌거 같은데요? 그래서 말씀 드리잖아요. 20만원 넣...        0
...                                                 ...      ...
324    입출금이요 네 이것도 다른 금융권도 있으세요? 아니요. 아 본인이 이 두개만 사용...        1
198    어 모든 조사 과정은 녹취로서 진행이 될 거고 이 녹취 증거 자료는 본인 피해 입...        1
855    그냥 전화 누르면 전화 갑니까? 1588 2114 하시고 통화 누르시면 됩니다. ...        1
45     네 네 일단은 녹취를 제가 마쳐놨는데 소환장을 발부를 해드려서 저희 쪽에 내방을 ...        1
109       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        0

[2696 rows x 2 columns]

In [29]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [30]:
data=data_row.sample(frac=1)

In [31]:
data

                                               sentence  predict
508    아... 돈은 만약에 하면 어떻게 받는거에요? 저희는 그 손님들 게임머니 펀드용으...        0
36     그냥오 십만 원이상오 차벙 위가크지않 게끔 만그냥미만단위 로만 진술해주 시면됩니다...        1
169    아 아 다른 게 아니라 그 OOO 본인 관련된 명의 도용한 건이 저희 쪽에 접수가...        1
1198                     네 네 예 그러면 저희 가신다고 해서 네 저는 이현수요        1
284                  네 계좌에 돈을 다 빼가셨더라고요 바로?네 여보세요? 여보세요        0
...                                                 ...      ...
894          저도 어디 있는지 잘 모르겠어요. 없어요? 안 보이죠? 은행권이 안 보이죠.        1
660    네네 어디어디 이용중이십니까? 너무 많아가지고  네 대부업건 어디어디 이용중이세요...        0
342    아 그렇게는 안되구요. 그러면은 저희가 이제 따로 수납 처리 안 받고 공증을 직접...        0
220                                 예를 들어서 입출금 예금 적금 펀드        1
184    예 동결 처리가 어떤 뜻인지 알고 계십니까? 네 네 그 안에 들어있던 피해 자금에...        1

[2696 rows x 2 columns]

In [32]:
data.to_csv("process2 train data before nlp(L6).csv")

In [33]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [34]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [35]:
A=model.encode(data.iloc[0,0])

In [36]:
A.shape[0]

384

In [37]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [38]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [39]:
x_train.shape

(2696, 384)

In [40]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [41]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2691     NaN
2692     NaN
2693     NaN
2694     NaN
2695     NaN

[2696 rows x 1 columns]

In [43]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [44]:
y_train

     predict
0          0
1          1
2          1
3          1
4          0
...      ...
2691       1
2692       0
2693       0
2694       1
2695       1

[2696 rows x 1 columns]

In [45]:
y_train.isnull().sum()

predict    0
dtype: int64

In [46]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [47]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.000758,0.095136,0.090677,-0.063283,-0.019883,-0.009372,0.118887,0.023409,-0.090842,-0.04324,...,0.014322,-0.001218,0.034802,0.060742,-0.028203,0.009391,0.064908,0.100419,-0.096321,-0.051937
1,0.003196,0.037202,0.11357,-0.021736,-0.059363,-0.03285,0.077898,-0.002811,0.039099,-0.037735,...,0.02187,-0.007351,0.070516,0.096804,0.068827,0.051355,0.028785,0.057056,0.026713,-0.015589
2,0.024163,0.086444,0.061051,0.013977,-0.00466,-0.118675,0.046153,0.063323,-0.007467,-0.042846,...,-0.003748,-0.011438,0.021279,0.003857,0.055321,-0.004467,0.042378,0.031098,-0.002163,0.012231
3,0.017424,0.075954,0.044752,-0.046959,-0.028163,-0.088788,0.044812,0.080156,-0.052597,-0.030046,...,0.030966,0.057046,0.00377,0.004683,0.037441,0.002726,0.014045,0.02634,-0.077412,-0.006133
4,0.004971,0.056797,0.005816,-0.047417,0.029054,-0.039968,0.047183,0.056761,-0.04788,-0.043734,...,0.027204,0.033416,0.045178,-0.046609,-0.019471,-0.009111,0.054973,0.020559,-0.041952,-0.015751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.043256,0.091571,0.070815,-0.017634,0.00888,-0.053511,0.077241,0.013787,0.027496,-0.039123,...,0.046201,0.101722,0.049496,-0.019242,0.033821,0.01269,0.020779,0.111511,-0.053223,-0.060788
2692,0.002186,0.113637,0.031384,-0.05914,-0.015294,-0.077365,0.085323,0.057808,-0.044748,-0.038688,...,0.016473,0.048301,0.008215,-0.010914,0.036646,-0.026955,0.054853,0.046486,-0.03256,0.013939
2693,0.007844,0.097301,0.080918,-0.077074,-0.044357,-0.032531,0.109897,0.05208,0.021335,-0.022338,...,-0.025937,0.024803,0.028747,0.044216,0.045877,0.019393,0.074332,0.034338,-0.050989,0.01735
2694,-0.025742,0.093115,-0.001682,-0.079384,-0.02395,-0.049469,-0.002253,0.060276,-0.093378,-0.037996,...,0.030761,0.010856,-0.019586,-0.035001,0.016572,0.004405,0.019858,0.020895,-0.004991,0.046649
2695,-0.033896,0.078429,0.065615,-0.042108,-0.003031,-0.081943,0.116111,0.02301,-0.020825,-0.071726,...,-0.0287,-0.044796,-0.039355,0.031199,-0.01294,-0.027321,0.090726,0.065631,-0.061568,-0.039556

In [48]:
data=pd.concat([x_train,y_train],axis=1)

In [49]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.000758,0.095136,0.090677,-0.063283,-0.019883,-0.009372,0.118887,0.023409,-0.090842,-0.04324,...,-0.001218,0.034802,0.060742,-0.028203,0.009391,0.064908,0.100419,-0.096321,-0.051937,0
1,0.003196,0.037202,0.11357,-0.021736,-0.059363,-0.03285,0.077898,-0.002811,0.039099,-0.037735,...,-0.007351,0.070516,0.096804,0.068827,0.051355,0.028785,0.057056,0.026713,-0.015589,1
2,0.024163,0.086444,0.061051,0.013977,-0.00466,-0.118675,0.046153,0.063323,-0.007467,-0.042846,...,-0.011438,0.021279,0.003857,0.055321,-0.004467,0.042378,0.031098,-0.002163,0.012231,1
3,0.017424,0.075954,0.044752,-0.046959,-0.028163,-0.088788,0.044812,0.080156,-0.052597,-0.030046,...,0.057046,0.00377,0.004683,0.037441,0.002726,0.014045,0.02634,-0.077412,-0.006133,1
4,0.004971,0.056797,0.005816,-0.047417,0.029054,-0.039968,0.047183,0.056761,-0.04788,-0.043734,...,0.033416,0.045178,-0.046609,-0.019471,-0.009111,0.054973,0.020559,-0.041952,-0.015751,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.043256,0.091571,0.070815,-0.017634,0.00888,-0.053511,0.077241,0.013787,0.027496,-0.039123,...,0.101722,0.049496,-0.019242,0.033821,0.01269,0.020779,0.111511,-0.053223,-0.060788,1
2692,0.002186,0.113637,0.031384,-0.05914,-0.015294,-0.077365,0.085323,0.057808,-0.044748,-0.038688,...,0.048301,0.008215,-0.010914,0.036646,-0.026955,0.054853,0.046486,-0.03256,0.013939,0
2693,0.007844,0.097301,0.080918,-0.077074,-0.044357,-0.032531,0.109897,0.05208,0.021335,-0.022338,...,0.024803,0.028747,0.044216,0.045877,0.019393,0.074332,0.034338,-0.050989,0.01735,0
2694,-0.025742,0.093115,-0.001682,-0.079384,-0.02395,-0.049469,-0.002253,0.060276,-0.093378,-0.037996,...,0.010856,-0.019586,-0.035001,0.016572,0.004405,0.019858,0.020895,-0.004991,0.046649,1
2695,-0.033896,0.078429,0.065615,-0.042108,-0.003031,-0.081943,0.116111,0.02301,-0.020825,-0.071726,...,-0.044796,-0.039355,0.031199,-0.01294,-0.027321,0.090726,0.065631,-0.061568,-0.039556,1

In [50]:
data=data.sample(frac=1)

In [51]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
1515,0.032839,0.050095,0.094098,-0.02415,-0.062433,-0.037607,0.114365,0.037358,-0.049918,0.05413,...,-0.015637,0.004994,0.064255,-0.064238,-0.004085,0.113254,0.05586,-0.067407,-0.024257,0
2518,0.048388,0.062944,0.068728,-0.009311,-0.036408,-0.050923,0.069273,0.036999,-0.033495,0.010817,...,0.044039,0.044553,0.063064,0.000119,-0.043002,0.160671,0.071052,-0.059387,-0.004626,0
1732,0.010182,0.084528,0.100298,-0.04555,-0.014974,-0.0579,0.108528,0.006209,0.007312,-0.002404,...,0.041718,0.056593,0.020862,0.062717,0.007652,0.061798,0.075195,-0.074972,-0.017245,0
781,0.024177,0.088095,0.075669,-0.025669,0.008267,-0.081297,0.087365,0.031958,-0.008477,-0.061808,...,0.008896,0.017375,0.008291,0.040618,-0.030479,0.029698,0.058407,-0.021221,0.026954,1
1065,-0.004813,0.112704,0.039834,-0.053054,-0.042818,-0.081817,0.066965,0.081398,-0.05643,-0.030919,...,0.007951,-0.037088,0.001782,0.022689,0.019812,-0.006262,0.043295,-0.083759,0.053281,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,0.026489,0.029423,0.057626,0.034226,-0.003626,-0.067751,0.018459,0.027712,0.008668,-0.03432,...,0.028941,0.012973,0.078053,-0.003073,-0.039903,0.083504,0.003619,-0.031715,0.023003,1
2146,0.003041,0.107969,0.055667,-0.01544,0.064085,-0.042209,0.077998,0.000948,-0.032102,-0.041285,...,0.060035,0.031026,0.045887,0.038464,-0.025604,-0.003877,0.074986,-0.051276,-0.028329,0
1035,-0.016632,0.114665,0.009242,-0.036287,-0.037232,-0.105146,0.034061,0.06052,-0.043166,-0.040096,...,0.008383,0.024539,0.019264,0.011888,-0.032691,0.066975,0.026158,-0.023668,0.024206,0
917,0.016704,0.075104,0.117222,0.00683,-0.013581,-0.063664,-0.007898,0.067101,0.002773,-0.053558,...,-0.004014,0.024709,0.051954,-0.024323,-0.002473,0.117531,0.006672,0.000691,0.02355,1
1566,0.018094,0.088408,0.084603,-0.044102,0.002741,-0.047153,0.100807,-0.00707,-0.057734,-0.025814,...,0.019789,-0.010077,-0.005077,0.050434,-0.001416,0.051516,0.073435,-0.08092,-0.00614,1

In [52]:
data.to_csv("process2 train data after nlp(L6).csv")