In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process2/process2 train data row.csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
973                    아 그러면 29일 이랬죠? 예 매 월 상환이 그렇죠? 원금        0
184    예 동결 처리가 어떤 뜻인지 알고 계십니까? 네 네 그 안에 들어있던 피해 자금에...        1
531                 5017 5027이요. 네 어 김명희 명의 도용 사건이에요. 네        1
772    심사자료 정리를 바로 진행 진행 도와드리겠습니다. 실제 거주하시는 지역은 울산 남...        0
1227   20만원 먼저 넣어라 이건 아닌거 같은데요? 그래서 말씀 드리잖아요. 20만원 넣...        0
...                                                 ...      ...
324    입출금이요 네 이것도 다른 금융권도 있으세요? 아니요. 아 본인이 이 두개만 사용...        1
198    어 모든 조사 과정은 녹취로서 진행이 될 거고 이 녹취 증거 자료는 본인 피해 입...        1
855    그냥 전화 누르면 전화 갑니까? 1588 2114 하시고 통화 누르시면 됩니다. ...        1
45     네 네 일단은 녹취를 제가 마쳐놨는데 소환장을 발부를 해드려서 저희 쪽에 내방을 ...        1
109       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        0

[2696 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
654    사장님께서 혹시 안쓰시는 계좌가 있으시면 저희가 월 400에서 450만원까지 선지...        0
352    어디에 상환하신거... 수요일에 상환하신..아닌데 잠시만요 목요일날 상환하신거 말...        0
1398   저도 그렇고 아 최대한으로 좀 편하게 업무 처리하시고 그러고 이제 모든 자금을 은...        1
1423   네 네 예 성함이 얘기 안 하시면은 네 저한테 성함을 얘기안하시더라 이렇게 말씀해...        1
106                그거 상관 없으시죠. 여보세요 예 예 보냅니다 전화 좀 끊을까요?        0
...                                                 ...      ...
914    그 뭐야 현대 백화점 그 맞은편 골목으로 내려가면 사거리 있잖아요. 금호 1차 아...        1
1049   제가 따지라고요? 제가 말 하라고요? 아니 그 수사관하고 가서 수사관이 얘기할 거...        1
1118   아니에요. 유선상으로 대출할 때는 찾아가는 거는 최하위 우선 순위 실행입니다 음 ...        0
960                      말씀하세요 괜찮으세요? 말씀하세요 아니 괜찮으시냐고요?        0
349    그럼 한 550만원으로 책정을 해 놓을게요. 네 그러시면 맞겠죠. 피해자 :\u3...        1

[2696 rows x 2 columns]

In [6]:
data.to_csv("process2 train data before nlp(jhgan).csv")

In [7]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('jhgan/ko-sbert-sts')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(2696, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2691     NaN
2692     NaN
2693     NaN
2694     NaN
2695     NaN

[2696 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

     predict
0          0
1          0
2          1
3          1
4          0
...      ...
2691       1
2692       1
2693       0
2694       0
2695       1

[2696 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.20579,1.117253,-0.317768,1.16211,-0.575514,-0.162689,0.244443,0.571532,-0.15219,-1.146835,...,0.057803,0.806844,0.097065,0.476924,-0.740508,-0.182721,0.548474,-0.628116,-0.760937,1.001464
1,0.317293,0.430051,0.02483,0.666032,0.341682,-0.408103,-0.632043,0.194253,-0.065851,-0.001633,...,-0.066264,1.453025,0.797877,0.889728,-0.466726,-0.792401,1.019661,0.19082,0.088646,0.667311
2,-0.117384,0.514771,-0.399321,0.672194,-1.266312,-1.178768,-0.479739,0.629902,-0.478282,0.458279,...,0.043785,0.787076,0.110379,0.40662,0.312558,0.105995,-0.360102,-0.367178,-0.18686,0.62059
3,0.775585,0.528061,-0.054106,0.437281,-1.118912,-0.438407,-0.181511,0.613684,0.430605,-0.08904,...,0.11778,0.918951,0.466023,0.48694,0.227773,-0.379399,0.098933,-0.795654,-0.726533,0.628636
4,-0.829152,-0.10418,0.145829,0.841151,-0.087223,0.077947,-0.496481,0.922005,0.099626,0.279334,...,-0.524213,0.760813,0.332391,1.084731,-0.571088,-0.486699,-0.324397,-1.371911,0.086008,0.603825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.601848,-0.525675,-0.002881,-0.367528,-0.840795,-1.773954,0.617283,0.979077,1.287253,0.615695,...,-0.395143,-0.852878,1.162858,0.399218,0.105253,0.074365,1.135864,0.02141,-0.367935,0.5857
2692,0.131087,0.159982,0.466106,0.184586,-0.324381,0.438357,0.712758,0.785876,0.850005,-0.139588,...,-0.385061,0.738666,0.595586,0.353518,-0.191151,-0.228345,-0.503903,-0.619885,0.416091,0.024829
2693,0.168282,0.057561,0.029553,0.076794,-0.934595,-0.088669,0.967708,1.019095,0.204693,0.286564,...,0.017495,1.181298,1.714232,0.795135,-0.337535,-0.661685,0.963614,-0.816455,-0.842248,0.439238
2694,-0.413182,-1.190315,0.535914,0.921085,0.583548,-0.777909,-0.603112,1.40937,-0.13826,-0.437826,...,-0.236994,0.386602,0.792044,0.985751,-0.630856,-0.1758,0.553276,-0.305941,-0.447327,0.405101
2695,-0.155387,-0.078614,0.139309,0.224702,-0.494756,-0.374043,0.752185,1.021921,-0.646765,0.327132,...,0.67124,0.678704,0.491183,1.324603,0.014971,0.939568,1.202592,-0.624866,-0.514759,1.00203

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.20579,1.117253,-0.317768,1.16211,-0.575514,-0.162689,0.244443,0.571532,-0.15219,-1.146835,...,0.806844,0.097065,0.476924,-0.740508,-0.182721,0.548474,-0.628116,-0.760937,1.001464,0
1,0.317293,0.430051,0.02483,0.666032,0.341682,-0.408103,-0.632043,0.194253,-0.065851,-0.001633,...,1.453025,0.797877,0.889728,-0.466726,-0.792401,1.019661,0.19082,0.088646,0.667311,0
2,-0.117384,0.514771,-0.399321,0.672194,-1.266312,-1.178768,-0.479739,0.629902,-0.478282,0.458279,...,0.787076,0.110379,0.40662,0.312558,0.105995,-0.360102,-0.367178,-0.18686,0.62059,1
3,0.775585,0.528061,-0.054106,0.437281,-1.118912,-0.438407,-0.181511,0.613684,0.430605,-0.08904,...,0.918951,0.466023,0.48694,0.227773,-0.379399,0.098933,-0.795654,-0.726533,0.628636,1
4,-0.829152,-0.10418,0.145829,0.841151,-0.087223,0.077947,-0.496481,0.922005,0.099626,0.279334,...,0.760813,0.332391,1.084731,-0.571088,-0.486699,-0.324397,-1.371911,0.086008,0.603825,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.601848,-0.525675,-0.002881,-0.367528,-0.840795,-1.773954,0.617283,0.979077,1.287253,0.615695,...,-0.852878,1.162858,0.399218,0.105253,0.074365,1.135864,0.02141,-0.367935,0.5857,1
2692,0.131087,0.159982,0.466106,0.184586,-0.324381,0.438357,0.712758,0.785876,0.850005,-0.139588,...,0.738666,0.595586,0.353518,-0.191151,-0.228345,-0.503903,-0.619885,0.416091,0.024829,1
2693,0.168282,0.057561,0.029553,0.076794,-0.934595,-0.088669,0.967708,1.019095,0.204693,0.286564,...,1.181298,1.714232,0.795135,-0.337535,-0.661685,0.963614,-0.816455,-0.842248,0.439238,0
2694,-0.413182,-1.190315,0.535914,0.921085,0.583548,-0.777909,-0.603112,1.40937,-0.13826,-0.437826,...,0.386602,0.792044,0.985751,-0.630856,-0.1758,0.553276,-0.305941,-0.447327,0.405101,0
2695,-0.155387,-0.078614,0.139309,0.224702,-0.494756,-0.374043,0.752185,1.021921,-0.646765,0.327132,...,0.678704,0.491183,1.324603,0.014971,0.939568,1.202592,-0.624866,-0.514759,1.00203,1

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
1415,-0.408902,0.128887,0.2068,-0.508353,-0.618417,-0.315056,0.564198,-0.553164,-0.401645,-0.928627,...,0.391983,0.940348,0.083009,0.37936,0.305596,0.140347,0.098354,0.373508,1.628349,0
2689,0.091441,0.558831,0.098211,0.604795,-0.878434,-0.639136,0.346513,0.446313,0.2753,-0.55453,...,0.189206,-0.174738,1.206589,0.263969,0.419595,-0.086229,0.395701,-0.010625,1.538576,0
1429,0.810265,0.154813,-0.493364,0.779596,-0.986298,-0.294159,-0.116736,0.458661,-0.68026,0.145047,...,0.404601,-0.853474,0.851988,-0.100401,0.133363,0.036977,-0.737659,-1.185384,0.199882,1
2634,0.75135,0.851278,-0.496443,0.079842,0.748179,0.154327,-0.290955,1.255908,-0.482422,0.231087,...,0.246061,0.790767,1.282143,-0.297195,-0.885215,0.741003,-0.416394,-1.030172,0.297119,0
2174,0.996979,0.206474,-0.530724,0.571138,-1.384629,-0.287303,-0.187246,0.831986,0.097131,0.247258,...,0.560455,0.856147,1.486149,-0.377848,-0.060505,0.212759,0.326957,-0.482107,-0.305456,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,0.347688,-0.216432,0.162486,0.506213,0.599807,-0.602588,0.141807,-0.509544,0.121332,0.278843,...,0.088526,0.303892,0.973039,-0.77744,-0.054957,-0.294813,-0.430959,-0.854825,0.138797,1
1720,-0.080467,-0.985021,0.049146,0.900396,0.218061,-0.56444,0.504509,0.867542,-0.132935,0.054172,...,0.732441,0.411601,1.089079,-0.528791,0.179468,0.905023,0.002942,0.002979,0.154528,0
811,0.168282,0.057561,0.029553,0.076794,-0.934595,-0.088669,0.967708,1.019095,0.204693,0.286564,...,1.181298,1.714232,0.795135,-0.337535,-0.661685,0.963614,-0.816455,-0.842248,0.439238,0
920,0.252961,0.498572,-0.151141,1.406827,-0.231076,-0.077705,-1.040039,0.209265,0.092385,-0.008888,...,1.203307,-0.055644,0.095279,0.029242,-0.61607,-0.716715,0.291379,-0.698556,0.031121,1
2412,-0.237566,-0.164716,0.304995,0.764666,-2.06057,-0.588772,-0.175274,0.138595,-0.386426,-0.466754,...,0.689845,-0.145923,1.464634,0.147479,0.382577,-0.143608,-0.653674,-0.367843,0.717045,1

In [26]:
data.to_csv("process2 train data after nlp(jhgan).csv")