In [1]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/0506/origin test data.csv",index_col=0)

In [3]:
data

                                                sentence  predict
18037                          저도 감사합니다. 다음에 또 문의 해 주세요.        0
10114                      두분 합산 연소득이 9천 7백만원 이하셔야 합니다.         0
1568                          네. 대출금을 상환하셨을 경우를 말씀드립니다.         0
3314                                         '아 네 알겠습니다'        1
5026                 '이제 그 때 이후로는 이제 대출 시도가 들어갈 순 있거든요?'        1
...                                                  ...      ...
275                  '예 본인 앞으로 몇 가지 확인 사항 때문에 전화 드렸는데요.'        1
4683                       '금융 감독원 직원에게 이것저것 질문할 수 없어요.'        1
1528    '뭐 김영희란 사람이 누군지 이번 사건 내용이 어떤지 자세히 모르고 지금 현재 예...        1
16764  가능합니다. 다만 은행내규 상 대출취급이 제한되실 수 있으니 은행에 사전문의하시기를...        0
511                             9시 수업 시작이니 10분전에는 오셔야돼요.        0

[300 rows x 2 columns]

In [4]:
data=data.sample(frac=1)

In [5]:
data

                                                sentence  predict
15969                                    도움이 되셨다니 다행이네요.        0
5507                                       '다른 방법은 없어요?'        1
15185                          카드사 마다 달라서 결제가 되는지 봐야합니다.        0
17999            강남구청 홈페이지 주소는 www.gangseo.seoul.kr 입니다.        0
635     '예 그 메모 가능하시면은 메모 좀 해주시고 담당자는 서울 중앙 지검 첨단 범죄 ...        1
...                                                  ...      ...
3126                          서울도서관 이용시간은 9시부터 7시까지 입니다.        0
1770                '변호사 선임해주시고 연락을 주시면은 저희 직원이 파견나간다고요'        1
2985                   거치대에 자전거를 올린 후 잠금장치를 내리면 반납완료됩니다.        0
15516                           신분증을 스캐닝 한 이미지 파일이 필요합니다        0
138                   '음 그러시면은 유월 달 안으로 아마 스케줄 잡으실 거에요.'        1

[300 rows x 2 columns]

In [6]:
data.to_csv("target_data_before_vector(0419).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [8]:
A=model.encode(data.iloc[0,0])

In [9]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [10]:
len(list)

768

In [11]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [12]:
x_test.shape

(300, 768)

In [13]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [14]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [16]:
y_test

    predict
0         0
1         1
2         0
3         0
4         1
..      ...
295       0
296       1
297       0
298       0
299       1

[300 rows x 1 columns]

In [17]:
y_test.isnull().sum()

predict    0
dtype: int64

In [18]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [19]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.030436,-0.013888,-0.023153,0.001383,0.040612,0.00831,-0.055057,0.020981,0.094928,-0.015508,...,0.00246,-0.040328,0.011313,-0.023885,-0.065066,-0.035611,-0.022943,0.038518,0.025133,-0.02345
1,0.098999,-0.025392,-0.027578,0.020091,0.021325,0.009394,-0.056563,0.044465,0.053787,0.001008,...,0.021235,-0.009368,-0.034205,0.015499,-0.022299,0.008346,0.011996,0.009805,-0.015158,-0.030333
2,0.056667,-0.030015,-0.017348,0.044374,0.059864,0.004751,-0.108883,0.049276,0.061227,0.01414,...,-0.028747,-0.012471,0.003691,-0.012845,-0.043305,-0.045504,-0.000278,0.02758,0.022003,-0.028839
3,0.073821,-0.012843,0.006136,0.001362,0.019204,0.009547,0.007926,0.023273,0.041929,0.034221,...,0.027447,-0.029483,-0.009217,-0.002088,-0.039569,-0.034707,0.016321,-0.006173,-0.003602,-0.013137
4,0.09214,-0.050127,-0.028013,-0.005581,0.009082,0.014582,-0.031347,0.005825,0.04283,0.006754,...,0.004058,-0.012473,-0.022706,0.017959,-0.048383,-0.032376,0.010979,0.016021,0.011462,-0.040997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.025077,-0.048376,0.000044,-0.037188,0.024118,-0.020716,-0.001202,-0.024501,0.026325,-0.015723,...,-0.04122,-0.045293,-0.067731,0.001645,-0.053892,-0.017485,0.014967,0.010128,0.007923,-0.011669
296,0.0793,-0.034412,-0.019256,-0.005906,0.026294,0.010641,-0.022043,0.024552,0.037481,-0.01275,...,-0.030661,-0.012148,-0.047647,0.028371,-0.041913,-0.023591,0.002833,0.030698,0.013332,-0.024096
297,0.043176,-0.067928,-0.018162,-0.00161,0.002969,-0.000691,-0.02422,0.010028,0.081031,-0.005326,...,-0.049905,-0.033221,0.008377,0.010811,-0.038192,-0.044426,0.021407,0.019089,0.021665,-0.022808
298,-0.002453,-0.093408,-0.013603,0.007121,0.009406,-0.030496,-0.022977,0.014238,0.012136,0.010591,...,-0.054969,-0.049113,-0.014058,-0.005115,-0.020037,-0.016456,0.036919,0.006156,0.011358,-0.009028
299,0.091199,-0.043592,-0.020852,0.007833,0.030764,0.008876,-0.049286,0.001554,0.039379,0.007322,...,0.000472,-0.0238,-0.012547,0.010355,-0.027849,-0.021107,-0.007174,0.041707,0.010035,-0.033325

In [20]:
data=pd.concat([x_test,y_test],axis=1)

In [21]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.030436,-0.013888,-0.023153,0.001383,0.040612,0.00831,-0.055057,0.020981,0.094928,-0.015508,...,-0.040328,0.011313,-0.023885,-0.065066,-0.035611,-0.022943,0.038518,0.025133,-0.02345,0
1,0.098999,-0.025392,-0.027578,0.020091,0.021325,0.009394,-0.056563,0.044465,0.053787,0.001008,...,-0.009368,-0.034205,0.015499,-0.022299,0.008346,0.011996,0.009805,-0.015158,-0.030333,1
2,0.056667,-0.030015,-0.017348,0.044374,0.059864,0.004751,-0.108883,0.049276,0.061227,0.01414,...,-0.012471,0.003691,-0.012845,-0.043305,-0.045504,-0.000278,0.02758,0.022003,-0.028839,0
3,0.073821,-0.012843,0.006136,0.001362,0.019204,0.009547,0.007926,0.023273,0.041929,0.034221,...,-0.029483,-0.009217,-0.002088,-0.039569,-0.034707,0.016321,-0.006173,-0.003602,-0.013137,0
4,0.09214,-0.050127,-0.028013,-0.005581,0.009082,0.014582,-0.031347,0.005825,0.04283,0.006754,...,-0.012473,-0.022706,0.017959,-0.048383,-0.032376,0.010979,0.016021,0.011462,-0.040997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.025077,-0.048376,0.000044,-0.037188,0.024118,-0.020716,-0.001202,-0.024501,0.026325,-0.015723,...,-0.045293,-0.067731,0.001645,-0.053892,-0.017485,0.014967,0.010128,0.007923,-0.011669,0
296,0.0793,-0.034412,-0.019256,-0.005906,0.026294,0.010641,-0.022043,0.024552,0.037481,-0.01275,...,-0.012148,-0.047647,0.028371,-0.041913,-0.023591,0.002833,0.030698,0.013332,-0.024096,1
297,0.043176,-0.067928,-0.018162,-0.00161,0.002969,-0.000691,-0.02422,0.010028,0.081031,-0.005326,...,-0.033221,0.008377,0.010811,-0.038192,-0.044426,0.021407,0.019089,0.021665,-0.022808,0
298,-0.002453,-0.093408,-0.013603,0.007121,0.009406,-0.030496,-0.022977,0.014238,0.012136,0.010591,...,-0.049113,-0.014058,-0.005115,-0.020037,-0.016456,0.036919,0.006156,0.011358,-0.009028,0
299,0.091199,-0.043592,-0.020852,0.007833,0.030764,0.008876,-0.049286,0.001554,0.039379,0.007322,...,-0.0238,-0.012547,0.010355,-0.027849,-0.021107,-0.007174,0.041707,0.010035,-0.033325,1

In [22]:
data=data.sample(frac=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
114,0.132544,-0.035868,-0.020618,0.011402,-0.01106,0.016346,-0.047212,0.054821,0.090102,-0.020692,...,-0.010937,-0.003588,0.038636,-0.033011,-0.009619,-0.009651,0.021299,-0.001252,0.013136,1
108,0.057914,-0.034599,-0.021505,0.009545,0.021648,-0.002444,-0.053997,0.014288,0.075907,0.005153,...,-0.027317,0.01407,-0.006973,-0.057973,-0.063175,0.00032,0.032144,0.019119,-0.035277,0
74,0.106382,-0.019894,-0.01982,0.003348,0.044067,0.004019,-0.031345,-0.016999,0.023726,-0.031949,...,0.009731,-0.014164,0.01703,-0.055447,-0.079334,0.010875,0.038259,0.030029,-0.036531,1
61,0.099489,-0.063473,-0.022217,0.003446,0.008995,0.006556,-0.036373,0.013635,0.01112,-0.009659,...,-0.032108,-0.04957,0.026098,-0.033712,-0.013854,-0.001617,0.021644,-0.009939,-0.021288,1
34,0.074872,-0.011863,0.001483,-0.011409,0.041501,0.018303,-0.059321,0.03363,0.114042,-0.009993,...,-0.022933,-0.009099,-0.00419,-0.04437,-0.019461,-0.016379,0.042006,0.019368,-0.018674,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,0.047481,-0.014559,-0.009955,0.01953,0.030867,0.009394,-0.095179,0.028428,0.063754,0.002195,...,-0.022793,0.013716,-0.024777,-0.0456,-0.037461,0.009072,0.022556,0.039864,-0.022757,0
191,0.059719,-0.076216,-0.009168,-0.002351,0.008167,0.014102,-0.037567,0.015392,0.065262,-0.018781,...,-0.019556,-0.021122,0.004295,-0.031303,-0.046815,0.033273,0.011872,0.001108,-0.019461,1
35,0.01694,-0.083818,0.007729,0.000677,-0.009514,-0.020974,-0.0284,0.024047,0.024174,0.062739,...,-0.029318,-0.053365,-0.031732,-0.031257,0.008001,0.018308,-0.003355,0.000076,-0.044414,0
15,0.074838,-0.024917,-0.013993,0.014806,0.020463,-0.013092,-0.062031,0.029154,0.075997,0.012968,...,-0.01903,-0.020902,0.006779,-0.038979,-0.031718,-0.008054,0.041047,0.011384,-0.033398,1
290,0.033329,-0.087733,-0.034672,-0.021168,0.016734,0.004777,-0.043377,0.031434,0.041823,0.01065,...,-0.026335,0.015761,0.037084,0.011686,-0.024476,0.020649,-0.008007,0.000691,-0.00719,0

In [24]:
data=data[:300]

In [25]:
data.shape

(300, 769)

In [26]:
data.to_csv("binary target_data(0506).csv")