In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process2/test/process2 test data row.csv",index_col=0)

In [2]:
data_row

                                              sentence  predict
71    재판장에서. 제가 이제 본인 담당 수사관인데 제가 녹취 테이프 작성해 드리면 그 ...        1
753   왜냐면은 지금 변장을 하고 들어와가지고 신원 조회가 좀 불가능했습니다. 아시겠죠?...        1
789   이제 본인 명의로 돼있는 통장들 중에 대포 통장과 불법 자금에 대해서 이제 계좌 ...        1
359   아니에요. 유선상으로 대출할 때는 찾아가는 거는 최하위 우선 순위 실행입니다 음 ...        0
554   아 네 예 알겠습니다. 조금만 기다려 전화는 호주머니에 넣고 이동하시겠습니다 네 ...        1
..                                                 ...      ...
321   어떤 그 스마트 보안 센터를 클릭 하셨는데 열 수 없는 페이지 라고 나오신다고요?...        1
549   아 아. 왜냐면 솔직히 이게 보이스피싱 같기도 하고 20만원 큰 돈도 아니겠지만 ...        0
144   사장님께서 혹시 안쓰시는 계좌가 있으시면 저희가 월 400에서 450만원까지 선지...        0
197   그래서 말씀 드리잖아요. 20만원 넣지 않으셔도 되고요. 변호사 선임해주시고 연락...        0
922   예 예 예. 사건번호가요. 2017 형제. 형제? 형제? 예 예. 형제. 5290...        1

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
684    아시겠죠? 오늘 다 처리가 된다는 말씀이신가요? 계좌 추적 끝나고 지금부터 한 시...        1
303    예 예 그리고 신분증 앞 면 2가지 사진 찍어서 카톡으로 좀 보내 주시구요. 카카...        0
369    아니요 말씀하세요. 예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고...        0
336    같이 찍어도 되냐고요? 올려놓고? 예 아 예 예. 그거 상관 없으시죠. 여보세요 ...        0
413    이게 김준우 대리께서도 이제 금방 도착한다고 하니까. 예 김준우 대리 만나서 서류...        1
...                                                 ...      ...
1047   네 그렇기 때문에 범죄 수익금으로 저희가 악용되지 않도록 지급 정지 요청을 해놓은...        1
243    저희가 이렇게 해라 저렇게 해라 할 수 없습니까 예 그럼 바로 해주세요 바로 위임...        0
170    네 네 공문 연람되시면 저한테 말씀해주세요. 네 네 연람 주셨고? 어 첫 번째 그...        1
973    그 점 참고해 주셨으면 좋겠어요. 2시 반에요? 원래 산부인과에 가기로 예정해가지...        1
490    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...        0

[300 rows x 2 columns]

In [6]:
data.to_csv("process2 test data before nlp(L12).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(300, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

    predict
0         1
1         0
2         0
3         0
4         1
..      ...
295       1
296       0
297       1
298       1
299       0

[300 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.054268,0.098701,0.067818,0.05202,0.012563,-0.066381,0.076394,-0.004779,-0.042093,-0.066286,...,0.017679,-0.042112,-0.007074,0.043774,-0.038994,0.056582,-0.002197,0.10094,-0.064088,0.002712
1,0.077023,0.088882,0.081622,0.021696,0.027976,-0.085099,0.090741,-0.046453,-0.049095,-0.073441,...,0.024216,0.008108,0.019252,0.03942,0.009957,0.007321,-0.047062,0.042673,-0.071539,-0.019407
2,0.07098,0.108772,0.080014,0.056653,0.026636,-0.073376,0.069673,-0.030326,-0.083971,-0.072324,...,0.031424,-0.062536,-0.007033,0.048903,-0.032433,0.040399,0.012017,0.098627,-0.041819,0.040349
3,0.057751,0.09877,0.053773,0.07838,0.009033,-0.067367,0.08093,-0.026857,-0.077845,-0.045418,...,0.049234,0.034502,0.008866,0.018551,-0.031354,0.03668,-0.00986,0.060702,-0.027795,-0.03753
4,0.1014,0.078871,0.080035,0.031701,0.004181,-0.067289,0.070671,-0.007281,-0.05555,-0.04571,...,0.027177,-0.005453,-0.009311,0.067022,-0.011879,-0.007983,0.024902,0.024512,-0.040247,0.03201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.059099,0.127597,0.059494,0.009338,-0.030085,-0.125795,0.007599,-0.016651,-0.039174,-0.025171,...,0.042216,0.003211,-0.029408,0.048378,-0.073148,-0.040463,0.074487,-0.012128,-0.098313,0.043399
296,0.102964,0.101736,0.059833,0.058061,0.017076,-0.102438,0.080521,0.006496,-0.080753,-0.053536,...,0.021795,0.012565,0.058057,0.077467,0.014683,0.072009,0.022589,0.068555,-0.056903,0.038805
297,0.089672,0.170537,0.094144,0.049934,0.010467,-0.043429,0.028477,-0.015344,-0.088611,-0.042795,...,0.024878,0.011075,0.014297,0.073248,-0.020555,0.066627,0.05127,0.059625,-0.011192,0.079757
298,0.061497,0.126824,0.024654,0.009032,0.020931,-0.0867,0.080194,-0.006445,-0.069074,-0.081545,...,0.07747,0.00645,0.068432,0.074117,-0.028068,0.050344,0.006911,0.070523,-0.080084,0.013015
299,0.055899,0.111341,0.086442,0.01247,-0.000356,0.006418,0.081192,-0.002688,-0.069992,-0.056053,...,0.029411,0.003777,0.012267,0.042888,-0.044407,0.037622,-0.008155,0.089344,-0.047186,0.068617

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.054268,0.098701,0.067818,0.05202,0.012563,-0.066381,0.076394,-0.004779,-0.042093,-0.066286,...,-0.042112,-0.007074,0.043774,-0.038994,0.056582,-0.002197,0.10094,-0.064088,0.002712,1
1,0.077023,0.088882,0.081622,0.021696,0.027976,-0.085099,0.090741,-0.046453,-0.049095,-0.073441,...,0.008108,0.019252,0.03942,0.009957,0.007321,-0.047062,0.042673,-0.071539,-0.019407,0
2,0.07098,0.108772,0.080014,0.056653,0.026636,-0.073376,0.069673,-0.030326,-0.083971,-0.072324,...,-0.062536,-0.007033,0.048903,-0.032433,0.040399,0.012017,0.098627,-0.041819,0.040349,0
3,0.057751,0.09877,0.053773,0.07838,0.009033,-0.067367,0.08093,-0.026857,-0.077845,-0.045418,...,0.034502,0.008866,0.018551,-0.031354,0.03668,-0.00986,0.060702,-0.027795,-0.03753,0
4,0.1014,0.078871,0.080035,0.031701,0.004181,-0.067289,0.070671,-0.007281,-0.05555,-0.04571,...,-0.005453,-0.009311,0.067022,-0.011879,-0.007983,0.024902,0.024512,-0.040247,0.03201,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.059099,0.127597,0.059494,0.009338,-0.030085,-0.125795,0.007599,-0.016651,-0.039174,-0.025171,...,0.003211,-0.029408,0.048378,-0.073148,-0.040463,0.074487,-0.012128,-0.098313,0.043399,1
296,0.102964,0.101736,0.059833,0.058061,0.017076,-0.102438,0.080521,0.006496,-0.080753,-0.053536,...,0.012565,0.058057,0.077467,0.014683,0.072009,0.022589,0.068555,-0.056903,0.038805,0
297,0.089672,0.170537,0.094144,0.049934,0.010467,-0.043429,0.028477,-0.015344,-0.088611,-0.042795,...,0.011075,0.014297,0.073248,-0.020555,0.066627,0.05127,0.059625,-0.011192,0.079757,1
298,0.061497,0.126824,0.024654,0.009032,0.020931,-0.0867,0.080194,-0.006445,-0.069074,-0.081545,...,0.00645,0.068432,0.074117,-0.028068,0.050344,0.006911,0.070523,-0.080084,0.013015,1
299,0.055899,0.111341,0.086442,0.01247,-0.000356,0.006418,0.081192,-0.002688,-0.069992,-0.056053,...,0.003777,0.012267,0.042888,-0.044407,0.037622,-0.008155,0.089344,-0.047186,0.068617,0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
168,0.079453,0.108353,0.086804,-0.002876,0.005366,-0.072163,0.115346,0.026528,-0.060465,-0.037677,...,-0.035196,0.103348,0.010215,0.014549,0.049318,-0.013618,0.080024,-0.057335,-0.033393,0
30,0.089403,0.074944,0.096569,0.056159,0.005282,-0.064937,0.080097,-0.038551,-0.094045,-0.063729,...,0.033088,0.034823,0.04899,-0.037692,0.036662,0.016977,0.030043,-0.056998,0.01911,0
187,0.067784,0.123411,0.068882,0.036785,-0.01076,-0.089327,0.099639,-0.027132,-0.096791,-0.073226,...,0.002756,0.011934,0.034075,-0.020493,0.034139,0.038331,0.050184,-0.030705,0.014118,1
217,0.030125,0.120155,0.069862,0.062246,0.003668,-0.083903,0.087513,-0.0728,-0.087138,-0.054796,...,-0.024929,0.024392,0.009854,0.015022,0.005221,0.041853,0.061654,-0.040257,0.036731,1
201,-0.004603,0.113379,0.027753,-0.003504,-0.049839,-0.086514,0.031558,-0.00429,-0.0113,0.03281,...,0.015894,-0.03566,0.01293,0.073378,0.119661,0.073148,0.002438,-0.086105,0.03462,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,-0.014238,0.096519,0.099153,-0.002582,-0.035325,-0.094374,0.006844,0.017156,-0.02792,0.032879,...,0.025202,-0.021712,0.005138,0.024108,0.074547,0.049669,0.042724,-0.031155,-0.002828,1
182,0.07311,0.107249,0.068193,0.082878,0.007079,-0.061557,0.097301,0.013311,-0.053725,-0.091623,...,-0.03922,-0.007865,0.040391,0.050301,0.038937,-0.001571,0.035163,-0.054993,0.039241,1
227,0.036519,0.042843,0.096794,0.084256,-0.017787,-0.056368,0.097602,0.008777,-0.035164,-0.062451,...,0.009878,0.007342,0.02301,-0.039093,0.033331,-0.052569,0.037844,-0.013912,0.0612,1
144,0.116268,0.13203,0.064735,-0.005047,-0.011341,-0.055385,0.064194,-0.041416,-0.081547,-0.052097,...,0.025977,0.017398,0.081408,0.018033,-0.031988,0.019465,0.045143,-0.024713,0.072856,1
79,0.089885,0.011466,0.049403,0.053858,0.02727,-0.081516,0.030122,0.066112,-0.054619,-0.024958,...,0.002399,0.020705,0.003691,0.021784,0.095703,-0.005713,0.034154,-0.072298,-0.000603,1

In [26]:
data.to_csv("process2 test data after nlp(L12).csv")