In [1]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/test data/No fishing_test.csv",index_col=0)
data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/test data/fishing_test.csv",index_col=0)

In [2]:
data

                                    sentence  predict
7878                    고지서상에 계좌번호로 보내시면 됩니다        0
16189                              좋은 질문이네요.        0
17043                         사이버교육은 1시간입니다.        0
17483                    별 말씀을요. 저 또한 감사합니다.        0
13177                마스크요일제와 마찬가지고 운영되고 있습니다        0
...                                      ...      ...
14656  네. 노쇼가 2번이상 누적될 경우 다음 이용시에 제한이 있으세요.         0
8316                                네, 맞습니다.        0
11265                  자녀수에 따라 지원금액이 달라 집니다.        0
2412    어플에서 가맹점찾기를 이용하시면 주변 가맹점을 확인하실수 있습니다        0
6594                              네, 그렇습니다.         0

[300 rows x 2 columns]

In [3]:
data_ab

                              sentence  predict
12596                              '네'        2
988                            '여깄네요.'        1
4615                        '우리 은행 은요'        2
1442                       '사기치지 마시고요'        1
4225    '중도 상환 수수료는 최소 3개월 동안만 연체 없으시면        1
...                                ...      ...
7128                               '네'        2
1542                     중도 상환 수수료는요?'        1
3529                        '다 할 거예요.'        2
4140                      '예 예 고맙습니다.'        2
3127                            '그렇죠.'        2

[300 rows x 2 columns]

In [4]:
data=pd.concat([data,data_ab])

In [5]:
data

                      sentence  predict
7878      고지서상에 계좌번호로 보내시면 됩니다        0
16189                좋은 질문이네요.        0
17043           사이버교육은 1시간입니다.        0
17483      별 말씀을요. 저 또한 감사합니다.        0
13177  마스크요일제와 마찬가지고 운영되고 있습니다        0
...                        ...      ...
7128                       '네'        2
1542             중도 상환 수수료는요?'        1
3529                '다 할 거예요.'        2
4140              '예 예 고맙습니다.'        2
3127                    '그렇죠.'        2

[600 rows x 2 columns]

In [6]:
data=data.sample(frac=1)

In [7]:
data.to_csv("origin test data.csv")