In [1]:
import pandas as pd

normal_data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/data(use)/normal/NO voice fishing data final.csv")
abnormal_data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/data(use)/abnormal/voice fishing data final.csv")

In [3]:
normal_data.drop(columns=['Unnamed: 0'],inplace=True)
abnormal_data.drop(columns=['Unnamed: 0'],inplace=True)

In [4]:
normal_data

        단어     predict
0       은행  No fishing
1       이용  No fishing
2       지점  No fishing
3       안내  No fishing
4       전화  No fishing
...     ..         ...
108328  국민  No fishing
108329  기초  No fishing
108330  생활  No fishing
108331  수급  No fishing
108332  순위  No fishing

[108333 rows x 2 columns]

In [5]:
abnormal_data

         단어  predict
0        전화  fishing
1        연락  fishing
2        통합  fishing
3        안녕  fishing
4        본인  fishing
...     ...      ...
100903   불법  fishing
100904   명의  fishing
100905  핸드폰  fishing
100906   확인  fishing
100907   얼마  fishing

[100908 rows x 2 columns]

In [8]:
normal_data.isnull().sum()

단어         0
predict    0
dtype: int64

In [9]:
abnormal_data.isnull().sum()

단어         0
predict    0
dtype: int64

In [11]:
print(normal_data.iloc[0,0])

은행

In [13]:
data=pd.concat([normal_data,abnormal_data])

In [14]:
data

         단어     predict
0        은행  No fishing
1        이용  No fishing
2        지점  No fishing
3        안내  No fishing
4        전화  No fishing
...     ...         ...
100903   불법     fishing
100904   명의     fishing
100905  핸드폰     fishing
100906   확인     fishing
100907   얼마     fishing

[209241 rows x 2 columns]

In [22]:
from sklearn.utils import shuffle

In [23]:
shuffle_data=shuffle(data)

         단어     predict
0        두부     fishing
1        대량     fishing
2        확인     fishing
3       수수료  No fishing
4        그게     fishing
...     ...         ...
209236    월     fishing
209237    내     fishing
209238  서울시  No fishing
209239   입금  No fishing
209240  일부분     fishing

[209241 rows x 2 columns]

In [24]:
shuffle_data.to_csv("shuffle_data_sum.cev")