In [11]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/train/train data.csv",index_col=0)

In [12]:
data_row

                                                sentence  predict
1272    예 예 그리고 신분증 앞 면 2가지 사진 찍어서 카톡으로 좀 보내 주시구요. 카카...        1
1114                                  선생님께서 접종 받으시는 건가요?        0
16206                           사업자등록번호및 고객번호만 준비하시면 됩니다        0
2642                아 입출금? 체크 카드 발행되신거? 네? 체크 카드 발행이 되신거        2
5903                                 10월달에 하는 세종축제가 있습니다        0
...                                                  ...      ...
1299    예 뭐 지금 일단 우선 지에스 로부터 한번 드실 텐데요 예 그래서 그게 이제 전화...        2
2682                                        다른 문의사항 있나요?        0
3726                                       네 무엇을 도와드릴까요?        0
376              울산요 지방 같은 경우는 시간이 좀 걸려요. 한 일주일 정도 아 그래요        1
13949                                 오전11시부터 오후5시까지입니다.        0

[10281 rows x 2 columns]

In [13]:
data_row.isnull().sum()

sentence    36
predict      0
dtype: int64

In [14]:
data_row=data_row.dropna()

In [15]:
data=data_row.sample(frac=1)

In [16]:
data

                                                sentence  predict
21097                네 임차인 재량이기 때문에 법으로 제정하고 있는부분은 없습니다.        0
1278    제가 점심 시간 이후 때 쯤 다시 한번 전화 드리겠습니다 아 바로 안되고요? 서류...        1
5864   네. 계약의 변경 또는 갱신으로 계약증서가 새로 작성되는 경우 가격 등 계약내역 변...        0
1352    서류 접수가 언제 가능하신데요? 사진 찍어서 보내주면 안되요? 바로 찍어서 보내주...        1
817     피해자 :폐쇠한 것 같 아요 그거자체 를. 음 신한 은행은 신한 은행은 제가 기억...        2
...                                                  ...      ...
124     아 근데 말이 왜 이렇게 어눌 하세요. 아 그러세요. 직접 확인 한번 직접 확인해...        2
496                그럼 저희가 OOO씨 계좌 조회 들어갔을 때 농협 우리 새마을 하나        2
5497                               아니요. 서울시민이 아니어도 됩니다.         0
3145    수사는 계속 진행중에 있습니다. 일단 그 농협 그러니까 본인이 계설하신 계좌 용도...        2
57      피해자 :\u3000네네 네 다름이 아니라 본인 앞으로 연결된 사건 때문에 몇가지...        2

[10245 rows x 2 columns]

In [17]:
data.to_csv("train_data_before_vector.csv")

In [18]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [19]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [20]:
A=model.encode(data.iloc[0,0])

In [21]:
A.shape[0]

768

In [22]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [23]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [24]:
x_train.shape

(10245, 768)

In [25]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [26]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
10240     NaN
10241     NaN
10242     NaN
10243     NaN
10244     NaN

[10245 rows x 1 columns]

In [28]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [29]:
y_train

      predict
0           0
1           1
2           0
3           1
4           2
...       ...
10240       2
10241       2
10242       0
10243       2
10244       2

[10245 rows x 1 columns]

In [30]:
y_train.isnull().sum()

predict    0
dtype: int64

In [31]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [32]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.031729,-0.034421,-0.01551,0.026156,0.039619,-0.006354,-0.056528,0.0497,0.068124,0.002342,...,-0.04905,0.000583,0.018474,-0.018604,-0.053566,-0.039721,0.019203,0.010053,0.020005,-0.037857
1,0.084556,-0.065837,-0.036864,0.028925,0.028029,0.003521,-0.01796,0.00809,0.085789,-0.025411,...,0.008975,0.000465,-0.001154,0.020765,-0.053106,-0.044601,0.008166,0.024177,0.006334,-0.014705
2,0.025965,-0.044945,-0.033829,0.025419,0.023424,-0.004811,-0.021359,0.014009,0.040424,-0.001846,...,-0.0401,-0.018313,0.013615,-0.013665,-0.032582,-0.040666,-0.004473,0.038877,0.016457,-0.048192
3,0.09302,-0.055058,-0.031387,0.024708,0.010181,-0.009133,-0.005126,0.025302,0.055544,-0.031638,...,0.004326,-0.002781,-0.001659,0.031321,-0.051746,-0.057704,-0.001341,0.02528,0.009597,-0.007191
4,0.046536,-0.022251,-0.027004,0.025981,0.022376,-0.013689,-0.050305,0.025515,0.044787,0.012178,...,-0.053641,-0.000852,0.002012,0.01753,-0.016844,-0.010146,-0.008205,0.021647,0.003026,-0.051527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,0.059678,0.00221,-0.032352,-0.014667,0.005559,-0.004533,-0.048997,-0.000684,0.075047,-0.001501,...,-0.015349,-0.003241,0.017921,0.014808,-0.044325,-0.040827,0.002274,0.029886,0.027615,-0.036239
10241,0.037091,-0.062867,-0.002132,0.007278,0.025084,-0.011306,-0.044243,0.01983,0.043582,-0.010046,...,-0.039532,-0.030112,0.019439,0.016231,-0.038293,-0.022524,0.039117,0.042435,-0.0018,-0.015421
10242,0.046191,-0.00692,-0.004087,-0.019139,0.072877,0.008424,-0.066994,0.002565,0.089798,-0.025934,...,0.000532,-0.009367,0.022416,-0.008926,-0.060688,-0.064996,-0.016384,0.043579,0.03728,-0.013122
10243,0.060533,-0.04967,-0.026766,0.007361,-0.003444,-0.00015,0.011666,0.003737,0.081766,-0.003984,...,-0.012626,-0.03054,-0.010853,0.024134,-0.046542,-0.061049,0.023541,0.02538,-0.004098,-0.033639
10244,0.012729,-0.051333,-0.015611,0.035184,0.06806,0.003899,-0.057689,0.010773,0.019545,-0.009626,...,-0.034639,-0.014174,-0.007024,-0.005252,-0.022298,-0.040882,-0.027287,0.016412,-0.034398,-0.021492

In [33]:
data=pd.concat([x_train,y_train],axis=1)

In [34]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.031729,-0.034421,-0.01551,0.026156,0.039619,-0.006354,-0.056528,0.0497,0.068124,0.002342,...,0.000583,0.018474,-0.018604,-0.053566,-0.039721,0.019203,0.010053,0.020005,-0.037857,0
1,0.084556,-0.065837,-0.036864,0.028925,0.028029,0.003521,-0.01796,0.00809,0.085789,-0.025411,...,0.000465,-0.001154,0.020765,-0.053106,-0.044601,0.008166,0.024177,0.006334,-0.014705,1
2,0.025965,-0.044945,-0.033829,0.025419,0.023424,-0.004811,-0.021359,0.014009,0.040424,-0.001846,...,-0.018313,0.013615,-0.013665,-0.032582,-0.040666,-0.004473,0.038877,0.016457,-0.048192,0
3,0.09302,-0.055058,-0.031387,0.024708,0.010181,-0.009133,-0.005126,0.025302,0.055544,-0.031638,...,-0.002781,-0.001659,0.031321,-0.051746,-0.057704,-0.001341,0.02528,0.009597,-0.007191,1
4,0.046536,-0.022251,-0.027004,0.025981,0.022376,-0.013689,-0.050305,0.025515,0.044787,0.012178,...,-0.000852,0.002012,0.01753,-0.016844,-0.010146,-0.008205,0.021647,0.003026,-0.051527,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,0.059678,0.00221,-0.032352,-0.014667,0.005559,-0.004533,-0.048997,-0.000684,0.075047,-0.001501,...,-0.003241,0.017921,0.014808,-0.044325,-0.040827,0.002274,0.029886,0.027615,-0.036239,2
10241,0.037091,-0.062867,-0.002132,0.007278,0.025084,-0.011306,-0.044243,0.01983,0.043582,-0.010046,...,-0.030112,0.019439,0.016231,-0.038293,-0.022524,0.039117,0.042435,-0.0018,-0.015421,2
10242,0.046191,-0.00692,-0.004087,-0.019139,0.072877,0.008424,-0.066994,0.002565,0.089798,-0.025934,...,-0.009367,0.022416,-0.008926,-0.060688,-0.064996,-0.016384,0.043579,0.03728,-0.013122,0
10243,0.060533,-0.04967,-0.026766,0.007361,-0.003444,-0.00015,0.011666,0.003737,0.081766,-0.003984,...,-0.03054,-0.010853,0.024134,-0.046542,-0.061049,0.023541,0.02538,-0.004098,-0.033639,2
10244,0.012729,-0.051333,-0.015611,0.035184,0.06806,0.003899,-0.057689,0.010773,0.019545,-0.009626,...,-0.014174,-0.007024,-0.005252,-0.022298,-0.040882,-0.027287,0.016412,-0.034398,-0.021492,2

In [35]:
data=data.sample(frac=1)

In [36]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
7396,0.070441,-0.014618,-0.001047,0.005914,0.016108,-0.001186,-0.043199,0.024911,0.077226,-0.016414,...,-0.020586,0.030968,0.016237,-0.047834,-0.050271,0.007912,0.022933,0.015934,-0.017663,0
656,0.038465,-0.032874,-0.016302,-0.000526,0.02683,-0.00649,0.011531,0.005781,0.070915,-0.012851,...,0.000188,-0.042576,0.015708,-0.053298,-0.083891,0.040782,0.045105,0.027907,-0.039953,2
3950,0.047865,-0.032482,-0.001689,-0.007341,0.022318,-0.001012,-0.035941,0.035212,0.065202,-0.029485,...,-0.036692,-0.000365,-0.008696,-0.052788,-0.066261,0.013768,0.031224,0.022033,-0.018528,0
9050,0.011069,-0.098434,-0.030732,0.010105,-0.017522,-0.005978,0.042949,0.016988,0.038727,0.03123,...,-0.040894,-0.053463,-0.013894,-0.015294,-0.024328,0.038414,0.017492,-0.034483,-0.02599,0
6917,0.046811,-0.047034,-0.017948,0.003849,0.014928,0.001188,-0.018271,0.001768,0.069616,-0.00082,...,-0.041575,0.005555,0.001954,-0.04883,-0.023581,-0.003718,0.036141,0.021469,-0.026267,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,0.061791,-0.015899,-0.008421,0.022948,0.035983,0.001956,-0.089026,0.022815,0.044434,-0.008112,...,-0.015497,0.021716,-0.013864,-0.039388,-0.061001,0.012344,0.029406,0.022746,-0.020647,0
2979,0.051411,-0.039906,-0.026661,-0.009712,-0.015187,0.002215,0.004794,0.01326,0.063833,-0.002765,...,-0.015506,-0.044602,0.011104,-0.02611,-0.043937,0.028056,0.01966,-0.003214,-0.030923,2
1310,0.107363,-0.0155,-0.020549,0.037834,0.021902,0.011466,-0.065187,0.03643,0.062761,-0.00019,...,0.0156,0.027612,0.004431,-0.039653,-0.058807,0.002485,0.004766,-0.000051,-0.019541,2
1678,0.031336,-0.00295,-0.016312,0.020991,0.027357,-0.024651,-0.06136,0.038422,0.04016,-0.026954,...,-0.026937,0.000952,-0.00449,-0.031565,-0.036389,-0.000534,0.030973,0.001939,-0.039825,0
1152,0.082529,-0.011696,-0.003787,0.009534,0.027939,0.002573,-0.027855,0.023219,0.054941,-0.011651,...,-0.000468,0.045654,0.009875,-0.038514,-0.047097,-0.018832,0.032619,0.014598,-0.04581,2

In [37]:
data.to_csv("train_data_after_vector(0521).csv")