In [1]:
import pandas as pd

x=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/data(use)/normal/normal_word_sum_data.csv")
y=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/data(use)/normal/no voice fishing_y.csv")

print(x.shape)
print(y.shape)

(108333, 2)
(108333, 2)

In [2]:
x.drop(columns=['Unnamed: 0'],inplace=True)
y.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
data=pd.concat([x,y],axis=1)

In [4]:
data

        단어     predict
0       은행  No fishing
1       이용  No fishing
2       지점  No fishing
3       안내  No fishing
4       전화  No fishing
...     ..         ...
108328  국민  No fishing
108329  기초  No fishing
108330  생활  No fishing
108331  수급  No fishing
108332  순위  No fishing

[108333 rows x 2 columns]

In [5]:
data.to_csv("NO voice fishing data final.csv")