In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/test/test data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
8686                                           네, 맞습니다.         0
4399                                 없으시면 회원가입 하시면 됩니다.         0
2984                                 네 바리스타 강좌 말씀하시는 거죠?        0
833     근데 뭐 대출 나왔으면은 이거는 선생님이 찾을 수 있는 금액은 백만원밖에 안 된다...        2
3158    팔십 몇 만 원 하면 제가 100만 원 기재를 해드리는거에요. 100만 원 선에서...        2
...                                                  ...      ...
19445                                      아니요. 불가능하십니다~        0
1285       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        1
19130                                  네 잠시 파악할 시간을 주세요.        0
540     아 보자 일단 사업자 등록증하고 주민등록증. 다른거 필요한 건 없나요? 뭐 추가적...        1
921     어차피 입증 받을려면 그러니까 그 일단 6000만원 지금 본인 그 주머니에 있죠?...        2

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    1
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
16684                                        1OOO-OOOO니다        0
2031                      네 네 그리고  바꿔주세요 여보세요? 여보세요 여보세요        2
7631                            회원가입시에 공인인증서로 인증하시면 됩니다.        0
1376    아휴 그럼 어떻게 해요. 제가 입금 바로 쓸 수가 있는거지. 느낌이 완전 보이스 ...        1
1285       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        1
...                                                  ...      ...
380     친척 네 음 우선은 아 수사관님에게 사건 번호 전달 받으셨죠. 예 사건 번호 먼저...        2
60      제가 여쭤본 이유는 얼마 전에 저희 지검에서 최민경을 주범으로 된 금융 사기단을 ...        2
743     네 아 오늘 오늘 정보 수사 과정 기록에 대해서는 전부 다 선생님 앞으로 예 서류...        2
450                     이거를 다 끄면은... 두세시간이요 오늘? 오늘 두세 시간        2
817                                       주민등록증을 분실하셨군요?        0

[299 rows x 2 columns]

In [7]:
data.to_csv("test_data_before_vector(0521).csv")

In [8]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('jhgan/ko-sbert-sts')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_test.shape

(299, 768)

In [15]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [16]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
294     NaN
295     NaN
296     NaN
297     NaN
298     NaN

[299 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [19]:
y_test

    predict
0         0
1         2
2         0
3         1
4         1
..      ...
294       2
295       2
296       2
297       2
298       0

[299 rows x 1 columns]

In [20]:
y_test.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [22]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.077776,-0.696592,0.080931,0.336588,0.815652,-0.789105,0.31084,-0.037988,-1.722279,-1.064489,...,0.406507,1.0891,-1.068837,1.025355,-0.736379,-0.558466,1.212289,-0.57938,-0.645977,0.156904
1,-0.461418,-0.222037,0.832087,0.782124,0.462938,0.806901,-0.972369,0.746466,-0.287106,0.285473,...,0.173167,0.500228,-0.71104,0.302,-0.218984,-0.246552,0.871321,-1.197864,-0.39934,1.01283
2,0.334574,0.307387,-0.183922,1.1982,-0.198439,-1.316038,0.6893,0.611302,-0.05176,0.307057,...,0.040496,0.613778,0.415124,-0.15399,-0.259842,-0.006443,0.841121,0.345763,-0.10839,1.903773
3,0.098854,-0.200154,0.011525,1.200743,-0.446034,-0.364514,0.792838,0.643257,0.05239,-0.82287,...,-0.382393,1.131698,0.556099,1.194595,-0.888124,0.583057,0.871201,0.560663,0.006678,0.507495
4,-0.116541,-0.263408,0.458994,1.366331,-0.546338,-0.819605,-0.681846,0.552366,-0.152594,-1.022437,...,0.095628,0.773881,0.664518,0.76597,-0.330959,-0.290813,0.058084,-0.379912,-0.805086,0.231734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,-0.143393,0.930316,0.258281,-0.025897,-1.804405,-0.396421,0.110789,1.018068,0.911937,-0.644488,...,0.355273,0.642379,-0.053551,0.882155,-0.124897,0.224834,0.154377,0.283451,-0.026304,1.380318
295,-0.295661,0.398433,-0.073224,0.145083,-0.143679,0.193285,-0.418437,0.368848,0.144117,0.123805,...,0.052024,0.23554,0.429847,1.553869,0.388497,-0.228038,0.282177,-0.083636,0.493451,-0.474668
296,-0.113885,0.626425,0.009592,0.568541,-1.15744,-0.399053,-0.157263,-0.239538,-0.06771,0.050475,...,-0.072553,1.174033,-0.41407,0.372702,0.402477,-0.151921,0.123915,0.06621,0.24534,0.302692
297,1.115574,0.350434,0.142782,0.310633,-1.117304,-0.558279,-0.614751,0.308514,-1.597709,-0.856346,...,0.559923,0.354051,0.465646,0.752008,-0.236825,-0.966449,0.549516,-0.126198,-1.254883,0.517594
298,-0.294873,0.693561,-0.758641,1.819784,0.172131,-1.085162,0.061473,0.500779,-0.011962,-0.860484,...,0.078624,1.319695,0.454349,0.876412,-0.634366,0.141826,-0.137094,-0.705385,-1.300552,0.664831

In [23]:
data=pd.concat([x_test,y_test],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,-0.077776,-0.696592,0.080931,0.336588,0.815652,-0.789105,0.31084,-0.037988,-1.722279,-1.064489,...,1.0891,-1.068837,1.025355,-0.736379,-0.558466,1.212289,-0.57938,-0.645977,0.156904,0
1,-0.461418,-0.222037,0.832087,0.782124,0.462938,0.806901,-0.972369,0.746466,-0.287106,0.285473,...,0.500228,-0.71104,0.302,-0.218984,-0.246552,0.871321,-1.197864,-0.39934,1.01283,2
2,0.334574,0.307387,-0.183922,1.1982,-0.198439,-1.316038,0.6893,0.611302,-0.05176,0.307057,...,0.613778,0.415124,-0.15399,-0.259842,-0.006443,0.841121,0.345763,-0.10839,1.903773,0
3,0.098854,-0.200154,0.011525,1.200743,-0.446034,-0.364514,0.792838,0.643257,0.05239,-0.82287,...,1.131698,0.556099,1.194595,-0.888124,0.583057,0.871201,0.560663,0.006678,0.507495,1
4,-0.116541,-0.263408,0.458994,1.366331,-0.546338,-0.819605,-0.681846,0.552366,-0.152594,-1.022437,...,0.773881,0.664518,0.76597,-0.330959,-0.290813,0.058084,-0.379912,-0.805086,0.231734,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,-0.143393,0.930316,0.258281,-0.025897,-1.804405,-0.396421,0.110789,1.018068,0.911937,-0.644488,...,0.642379,-0.053551,0.882155,-0.124897,0.224834,0.154377,0.283451,-0.026304,1.380318,2
295,-0.295661,0.398433,-0.073224,0.145083,-0.143679,0.193285,-0.418437,0.368848,0.144117,0.123805,...,0.23554,0.429847,1.553869,0.388497,-0.228038,0.282177,-0.083636,0.493451,-0.474668,2
296,-0.113885,0.626425,0.009592,0.568541,-1.15744,-0.399053,-0.157263,-0.239538,-0.06771,0.050475,...,1.174033,-0.41407,0.372702,0.402477,-0.151921,0.123915,0.06621,0.24534,0.302692,2
297,1.115574,0.350434,0.142782,0.310633,-1.117304,-0.558279,-0.614751,0.308514,-1.597709,-0.856346,...,0.354051,0.465646,0.752008,-0.236825,-0.966449,0.549516,-0.126198,-1.254883,0.517594,2
298,-0.294873,0.693561,-0.758641,1.819784,0.172131,-1.085162,0.061473,0.500779,-0.011962,-0.860484,...,1.319695,0.454349,0.876412,-0.634366,0.141826,-0.137094,-0.705385,-1.300552,0.664831,0

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
277,-0.098365,0.030232,-0.541008,1.147484,-0.831763,-0.976599,-0.705578,0.828192,-0.300728,-0.169864,...,1.394538,0.051313,1.718743,-0.022427,-0.147798,0.495493,-0.168537,-0.147578,0.211606,2
152,0.453715,-0.591958,-0.721551,0.233611,-1.051419,-1.158884,-0.438669,-0.589316,0.65606,0.20248,...,2.068833,1.057309,1.06647,0.257689,-0.654127,1.23636,-0.350058,-0.345164,1.193137,1
204,-0.31026,0.178355,-0.056903,0.049685,-0.897563,-0.872467,-0.571783,0.590799,0.128767,0.140519,...,0.711372,0.152966,1.468451,0.43814,-0.726656,0.110875,-0.423585,-0.043205,0.262112,2
13,-0.807742,-0.376429,0.973181,1.925236,-0.606938,0.381195,-0.79991,0.769108,-1.445904,0.192731,...,1.107522,0.109122,0.830912,0.182738,-0.024602,0.155786,-1.465644,-0.774793,1.270905,2
68,0.437088,0.239332,-0.181035,0.267945,-0.698084,-0.777628,-0.574753,-0.09051,-0.110382,0.509336,...,0.713346,0.400407,0.964829,-0.203132,-0.120561,-0.416031,0.038516,-0.272661,0.073254,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,-1.289378,0.139253,0.529885,0.394636,0.259044,-0.67744,0.038388,0.109781,-0.465396,0.406649,...,0.592855,-0.973516,0.481271,-0.168309,-0.764179,0.070507,-0.35022,0.41765,0.806275,0
56,0.199716,-0.89955,-0.028826,0.647978,-0.185174,-0.267289,-0.364136,-0.209222,-0.328763,-0.302123,...,0.147388,0.630201,1.027021,0.595434,-1.187389,0.268168,-0.017185,0.046714,0.07751,1
205,-0.574922,0.210748,0.195495,1.777551,-0.128988,-0.172058,-0.515357,0.46438,-0.14087,0.082021,...,0.935579,0.295736,0.803088,-0.592252,-0.074021,-0.066201,-1.568109,-0.440365,-0.252331,2
81,0.310198,-0.765095,-0.176676,0.697133,0.229884,-1.141198,0.127936,0.648214,0.627442,-0.101791,...,-0.40396,0.517327,0.49094,-0.157781,0.358279,-0.050153,-1.317002,-0.426003,1.187776,0
113,0.741119,0.167762,0.096846,1.044076,-0.524662,-1.539017,-0.153123,1.029873,-0.304938,-0.871756,...,0.492436,0.708327,0.468921,-0.803464,-0.686518,0.398014,-0.371078,-0.689816,1.497943,2

In [27]:
data.to_csv("test_data_after_vector(0521).csv")