In [3]:
import pandas as pd 

data1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/row/콜센터민원_일반 행정 문의_상담사답변.csv",index_col=0)
data2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/row/콜센터민원_일반 행정 문의_상담사질문.csv",index_col=0)

In [4]:
data1

                                                상담사답변
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                                        방문납부도 가능합니다.
3                             도보로 10분위치에 서울역지점이 있습니다.
4                                 도보로 가시는게 빠를 것 같습니다.
...                                               ...
20065                                     62400원 입니다.
20066                                   1423200원 입니다.
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.
20068                                    1~3순위가 있습니다.
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

[20070 rows x 1 columns]

In [5]:
data2

                                상담사질문(요청)
0                       어떤 은행을 이용하고 계십니까?
1                         어느지점으로 안내해드릴까요?
2                 지금 전화거신 핸드폰이 본인명의 맞습니까?
3                        생년월일을 말씀해주시겠습니까?
4                         살고계신 주소는 어디입니까?
...                                   ...
4492                      서울시에서 진행하는 건가요?
4493                         어떠점이 궁금하십니까?
4494  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?
4495             네. 혼인신고의 어떤 내용을 알고싶으신가요?
4496                  서울에 위치한거 말씀하시는 건가요?

[4497 rows x 1 columns]

In [21]:
y=pd.DataFrame(index=range(data1.shape[0]+data2.shape[0]),columns=['sentence','predict'])

In [22]:
count=0

for i in range(data1.shape[0]):
    if len(data1.iloc[i,0])<=10:
        continue
    else:
        y.iloc[i,0]=data1.iloc[i,0]
        y.iloc[i,1]='0'
        count=count+1

In [23]:
print(count)

16931

In [24]:
num=0
for i in range(count,count+data2.shape[0]):
    if len(data2.iloc[num,0])<=10:
        continue
    else:
        y.iloc[i,0]=data2.iloc[num,0]
        y.iloc[i,1]='0'
        count=count+1
    num=num+1

In [25]:
y.isnull().sum()

sentence    7634
predict     7634
dtype: int64

In [26]:
y=y.dropna(axis=0)

In [27]:
y.isnull().sum()

sentence    0
predict     0
dtype: int64

In [28]:
y

                                             sentence predict
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.       0
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.       0
2                                        방문납부도 가능합니다.       0
3                             도보로 10분위치에 서울역지점이 있습니다.       0
4                                 도보로 가시는게 빠를 것 같습니다.       0
...                                               ...     ...
20065                                     62400원 입니다.       0
20066                                   1423200원 입니다.       0
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.       0
20068                                    1~3순위가 있습니다.       0
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.       0

[16933 rows x 2 columns]

In [29]:
y.to_csv("일반민원.csv")