In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd


train=pd.read_csv('/content/drive/MyDrive/파이썬기반기계학습/finddisease/train_set.csv')
test=pd.read_csv('/content/drive/MyDrive/파이썬기반기계학습/finddisease/test_set.csv')
submission=pd.read_csv('/content/drive/MyDrive/파이썬기반기계학습/finddisease/sample_submission.csv')

In [ ]:
test.isnull().sum()

x                         0
y                         0
region                 1500
country                1500
reportingDate          1500
cld                       0
dtr                       0
frs                       0
pet                       0
pre                       0
tmn                       0
tmp                       0
tmx                       0
vap                       0
wet                       0
elevation                 0
dominant_land_cover       0
X5_Ct_2010_Da             0
X5_Bf_2010_Da             0
dtype: int64

In [ ]:
display(train)

,x,y,region,country,reportingDate,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet,elevation,dominant_land_cover,X5_Ct_2010_Da,X5_Bf_2010_Da,lumpy
0,-179.75,65.25,NaN,NaN,NaN,67.2,7.7,31.0,0.0,45.4,-20.6,-16.7,-12.9,2.0,11.66,150,3,0.0,0.002472,0
1,-179.75,65.75,NaN,NaN,NaN,69.1,7.8,31.0,0.0,44.7,-21.4,-17.5,-13.6,1.8,12.32,150,3,0.0,0.001988,0
2,-179.75,66.25,NaN,NaN,NaN,71.9,8.3,31.0,0.0,42.8,-23.0,-18.8,-14.7,1.6,15.19,161,3,0.0,0.002790,0
3,-179.75,66.75,NaN,NaN,NaN,74.4,8.4,31.0,0.0,41.7,-23.8,-19.6,-15.4,1.6,14.89,166,3,0.0,0.001431,0
4,-179.75,67.25,NaN,NaN,NaN,78.7,8.6,31.0,0.0,38.9,-25.0,-20.7,-16.4,1.5,15.32,163,9,0.0,0.001988,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21759,179.75,67.25,NaN,NaN,NaN,54.4,8.5,31.0,0.0,38.1,-27.2,-22.9,-18.7,1.1,15.95,154,3,0.0,0.002409,0
21760,179.75,67.75,NaN,NaN,NaN,57.5,8.6,31.0,0.0,36.0,-28.7,-24.4,-20.1,0.8,16.28,158,9,0.0,0.001419,0
21761,179.75,68.25,NaN,NaN,NaN,59.7,8.6,31.0,0.0,34.2,-29.2,-24.9,-20.6,0.8,15.69,171,9,0.0,0.001127,0
21762,179.75,68.75,NaN,NaN,NaN,61.3,8.3,31.0,0.0,31.6,-28.0,-23.8,-19.7,1.2,16.80,166,9,0.0,0.001445,0
21763,179.75,71.25,NaN,NaN,NaN,66.8,8.1,31.0,0.0,20.4,-28.3,-24.2,-20.2,0.9,11.87,157,3,0.0,0.000000,0

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21764 entries, 0 to 21763
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x                    21764 non-null  float64
 1   y                    21764 non-null  float64
 2   region               1500 non-null   object
 3   country              1500 non-null   object
 4   reportingDate        1500 non-null   object
 5   cld                  21764 non-null  float64
 6   dtr                  21764 non-null  float64
 7   frs                  21764 non-null  float64
 8   pet                  21764 non-null  float64
 9   pre                  21764 non-null  float64
 10  tmn                  21764 non-null  float64
 11  tmp                  21764 non-null  float64
 12  tmx                  21764 non-null  float64
 13  vap                  21764 non-null  float64
 14  wet                  21764 non-null  float64
 15  elevation            21764 non-null  int64
 16  dominant_land_cover  21764 non-null  int64
 17  X5_Ct_2010_Da        21764 non-null  float64
 18  X5_Bf_2010_Da        21764 non-null  float64
 19  lumpy                21764 non-null  int64
dtypes: float64(14), int64(3), object(3)
memory usage: 3.3+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3039 entries, 0 to 3038
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x                    3039 non-null   float64
 1   y                    3039 non-null   float64
 2   region               1539 non-null   object
 3   country              1539 non-null   object
 4   reportingDate        1539 non-null   object
 5   cld                  3039 non-null   float64
 6   dtr                  3039 non-null   float64
 7   frs                  3039 non-null   float64
 8   pet                  3039 non-null   float64
 9   pre                  3039 non-null   float64
 10  tmn                  3039 non-null   float64
 11  tmp                  3039 non-null   float64
 12  tmx                  3039 non-null   float64
 13  vap                  3039 non-null   float64
 14  wet                  3039 non-null   float64
 15  elevation            3039 non-null   int64
 16  dominant_land_cover  3039 non-null   int64
 17  X5_Ct_2010_Da        3039 non-null   float64
 18  X5_Bf_2010_Da        3039 non-null   float64
dtypes: float64(14), int64(2), object(3)
memory usage: 451.2+ KB

In [ ]:
train['region'].unique()

array([nan, 'Africa', 'Europe', 'Asia'], dtype=object)

In [ ]:
train['country'].unique()

array([nan, 'Namibia', 'Montenegro', 'Angola', 'Albania', 'Serbia',
       'Greece', 'North Macedonia', 'Bulgaria', 'Burundi', 'Israel',
       'West Bank', 'Syrian Arab Republic', 'Russian Federation',
       'Georgia', 'Kazakhstan', 'China', 'India', 'Bangladesh'],
      dtype=object)

In [ ]:
train['reportingDate'].unique()

array([nan, '22/07/2017', '4/9/2017', '25/07/2018', '14/08/2017',
       '3/3/2017', '5/2/2017', '6/2/2017', '23/09/2016', '29/01/2018',
       '5/8/2016', '10/9/2016', '12/10/2016', '8/8/2016', '10/7/2016',
       '10/8/2016', '20/08/2016', '18/08/2016', '28/12/2016', '9/10/2016',
       '31/10/2016', '2/11/2016', '28/07/2016', '6/10/2016', '15/12/2016',
       '6/11/2017', '22/08/2016', '17/07/2016', '3/9/2016', '31/07/2016',
       '7/8/2016', '14/09/2016', '5/9/2016', '15/08/2016', '21/08/2016',
       '24/08/2016', '8/7/2016', '15/11/2016', '27/07/2016', '6/7/2016',
       '1/8/2016', '9/5/2017', '15/01/2017', '16/01/2017', '17/02/2017',
       '22/02/2017', '24/01/2017', '26/12/2016', '20/12/2016',
       '18/11/2016', '18/07/2016', '29/08/2016', '30/08/2016',
       '25/08/2016', '16/08/2016', '2/9/2016', '25/07/2016', '23/08/2016',
       '27/09/2016', '17/08/2016', '8/10/2016', '25/09/2016', '7/9/2016',
       '4/9/2016', '1/9/2016', '24/10/2016', '22/10/2016', '8/2/2017',
       '6/1/2017', '2/10/2016', '9/1/2017', '4/1/2017', '7/1/2017',
       '10/1/2017', '3/8/2016', '9/8/2016', '2/8/2016', '26/08/2016',
       '8/6/2017', '26/05/2017', '15/06/2017', '17/06/2017', '16/06/2017',
       '11/6/2017', '14/06/2017', '12/6/2017', '21/06/2017', '20/06/2017',
       '26/07/2016', '26/11/2016', '9/9/2016', '6/8/2016', '14/11/2016',
       '13/12/2016', '23/11/2016', '31/08/2016', '15/09/2016',
       '25/10/2016', '10/10/2016', '18/12/2016', '26/01/2017',
       '17/10/2016', '25/11/2016', '31/01/2017', '2/2/2017', '28/08/2016',
       '16/12/2016', '20/07/2016', '5/1/2017', '17/01/2017', '1/2/2017',
       '13/01/2017', '12/1/2017', '20/01/2017', '19/11/2016',
       '18/01/2017', '4/8/2016', '19/08/2016', '3/12/2016', '11/2/2017',
       '15/10/2016', '11/8/2016', '30/09/2016', '21/11/2016',
       '24/03/2017', '11/7/2016', '6/12/2016', '12/12/2016', '10/12/2016',
       '23/12/2016', '13/02/2017', '23/02/2017', '29/05/2017', '3/6/2017',
       '9/6/2017', '5/6/2017', '7/6/2017', '15/05/2017', '1/6/2017',
       '13/05/2017', '14/05/2017', '12/5/2017', '20/05/2017',
       '23/06/2017', '21/07/2016', '11/11/2016', '4/12/2016',
       '24/11/2016', '13/08/2016', '25/12/2016', '27/12/2016', '8/1/2017',
       '19/06/2017', '3/5/2017', '26/04/2017', '16/05/2017', '24/04/2017',
       '23/05/2017', '29/12/2016', '9/12/2016', '30/11/2016', '5/11/2016',
       '16/10/2016', '11/12/2016', '1/12/2016', '1/11/2016', '20/09/2016',
       '19/12/2016', '12/11/2016', '2/12/2016', '30/07/2016', '8/12/2016',
       '20/10/2016', '8/9/2016', '7/10/2016', '20/11/2016', '19/09/2016',
       '27/01/2017', '11/1/2017', '21/01/2017', '12/7/2016', '6/6/2017',
       '13/09/2016', '24/07/2016', '5/12/2016', '21/09/2016',
       '26/09/2016', '17/05/2017', '13/06/2017', '24/06/2017',
       '25/05/2017', '18/05/2017', '21/10/2016', '28/11/2016',
       '12/8/2016', '19/10/2016', '27/08/2016', '16/07/2016',
       '14/08/2016', '28/09/2016', '29/11/2016', '27/11/2016',
       '22/07/2016', '21/12/2016', '22/06/2017', '18/06/2017',
       '1/10/2016', '13/10/2016', '29/09/2016', '11/10/2016',
       '26/10/2016', '7/12/2016', '16/11/2016', '14/12/2016',
       '10/11/2016', '3/11/2016', '18/10/2016', '14/02/2017',
       '29/07/2016', '3/10/2016', '27/10/2016', '4/11/2016', '16/09/2016',
       '15/07/2016', '6/9/2016', '22/12/2016', '3/2/2017', '25/01/2017',
       '27/06/2017', '22/05/2017', '2/6/2017', '25/08/2017', '10/7/2017',
       '14/10/2016', '18/09/2016', '17/09/2019', '13/07/2019', '9/9/2019',
       '31/10/2019', '18/06/2019', '3/6/2019', '30/07/2019', '9/3/2020',
       '22/09/2016', '3/8/2018', '11/9/2018', '22/08/2018', '17/10/2018',
       '8/11/2016', '24/08/2017', '13/07/2017', '9/11/2016', '29/07/2019',
       '12/9/2019', '1/8/2017', '6/7/2017', '24/07/2017', '25/09/2019',
       '10/9/2018', '26/10/2018', '29/06/2017', '28/08/2018',
       '14/09/2018', '12/10/2018', '20/07/2018', '23/07/2018',
       '17/07/2018', '1/8/2018', '9/8/2018', '23/10/2017', '26/07/2018',
       '18/08/2017', '30/07/2018', '15/08/2018', '19/10/2018',
       '28/09/2018', '18/03/2019', '5/10/2018', '28/12/2018',
       '31/08/2017', '15/12/2017', '31/01/2018', '19/09/2019',
       '27/08/2019', '9/10/2019', '13/11/2018', '4/9/2019', '14/08/2019',
       '7/8/2019', '21/08/2019', '29/10/2019', '6/11/2019', '25/10/2019',
       '26/08/2019', '20/12/2019', '25/08/2019', '18/11/2019',
       '4/12/2019', '22/03/2020', '5/3/2020', '10/9/2020', '10/10/2019',
       '15/09/2019'], dtype=object)

In [ ]:
train=train.drop(labels='reportingDate',axis=1)
test=test.drop(labels='reportingDate',axis=1)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3039 entries, 0 to 3038
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x                    3039 non-null   float64
 1   y                    3039 non-null   float64
 2   region               1539 non-null   object
 3   country              1539 non-null   object
 4   cld                  3039 non-null   float64
 5   dtr                  3039 non-null   float64
 6   frs                  3039 non-null   float64
 7   pet                  3039 non-null   float64
 8   pre                  3039 non-null   float64
 9   tmn                  3039 non-null   float64
 10  tmp                  3039 non-null   float64
 11  tmx                  3039 non-null   float64
 12  vap                  3039 non-null   float64
 13  wet                  3039 non-null   float64
 14  elevation            3039 non-null   int64
 15  dominant_land_cover  3039 non-null   int64
 16  X5_Ct_2010_Da        3039 non-null   float64
 17  X5_Bf_2010_Da        3039 non-null   float64
dtypes: float64(14), int64(2), object(2)
memory usage: 427.5+ KB

In [ ]:
obj=[]

for col in train.columns:
  if train[col].dtype=="object":
    train[col]=train[col].astype('category')
    test[col]=test[col].astype('category')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21764 entries, 0 to 21763
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x                    21764 non-null  float64
 1   y                    21764 non-null  float64
 2   region               1500 non-null   category
 3   country              1500 non-null   category
 4   cld                  21764 non-null  float64
 5   dtr                  21764 non-null  float64
 6   frs                  21764 non-null  float64
 7   pet                  21764 non-null  float64
 8   pre                  21764 non-null  float64
 9   tmn                  21764 non-null  float64
 10  tmp                  21764 non-null  float64
 11  tmx                  21764 non-null  float64
 12  vap                  21764 non-null  float64
 13  wet                  21764 non-null  float64
 14  elevation            21764 non-null  int64
 15  dominant_land_cover  21764 non-null  int64
 16  X5_Ct_2010_Da        21764 non-null  float64
 17  X5_Bf_2010_Da        21764 non-null  float64
 18  lumpy                21764 non-null  int64
dtypes: category(2), float64(14), int64(3)
memory usage: 2.9 MB

In [ ]:
train.isnull().sum()

x                      0
y                      0
region                 0
country                0
cld                    0
dtr                    0
frs                    0
pet                    0
pre                    0
tmn                    0
tmp                    0
tmx                    0
vap                    0
wet                    0
elevation              0
dominant_land_cover    0
X5_Ct_2010_Da          0
X5_Bf_2010_Da          0
lumpy                  0
dtype: int64

In [ ]:
test.isnull().sum()

x                      0
y                      0
region                 0
country                0
cld                    0
dtr                    0
frs                    0
pet                    0
pre                    0
tmn                    0
tmp                    0
tmx                    0
vap                    0
wet                    0
elevation              0
dominant_land_cover    0
X5_Ct_2010_Da          0
X5_Bf_2010_Da          0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
for col in train.columns:
  if train[col].dtype=="object":
    train[col]=encoder.fit_transform(train[col])
    test[col]=encoder.fit_transform(test[col])

In [ ]:
train=train.fillna(method='bfill')
train=train.fillna(method='ffill')

In [ ]:
test.isnull().sum()

x                      0
y                      0
region                 0
country                0
cld                    0
dtr                    0
frs                    0
pet                    0
pre                    0
tmn                    0
tmp                    0
tmx                    0
vap                    0
wet                    0
elevation              0
dominant_land_cover    0
X5_Ct_2010_Da          0
X5_Bf_2010_Da          0
dtype: int64

In [ ]:
X=train.drop(labels='lumpy',axis=1)
y=train['lumpy']
Y=pd.DataFrame(data=y)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

model.fit(X,Y)

<ipython-input-66-9b10c29d704f>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X,Y)

RandomForestClassifier()

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

model.fit(X,Y)

DecisionTreeClassifier()

In [ ]:
pred=model.predict(test)

In [ ]:
Y

       lumpy
0          0
1          0
2          0
3          0
4          0
...      ...
21759      0
21760      0
21761      0
21762      0
21763      0

[21764 rows x 1 columns]

In [ ]:
submission['lumpy']=pred

In [ ]:
submission

      index  lumpy
0         0      1
1         1      1
2         2      1
3         3      1
4         4      1
...     ...    ...
3034   3034      1
3035   3035      1
3036   3036      1
3037   3037      1
3038   3038      1

[3039 rows x 2 columns]

In [ ]:
submission.to_csv('my submission.csv',index=False)
files.download('my submission.csv')