In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process1/process 1 test data row.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
3531    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 전화 녹음를 통해서 대...      1.0
1400                                      네 그런 상황는 없을겁니다      0.0
802     지금 다짜고짜 여쭤보면 어떡합니까? 고객님 식별증도 접수도 안 해줬는데 그냥 로그...      1.0
3568                                  네 30분량에 3000돈입니다.       0.0
4531                           그 지역 사회에서 문의하기해 주셔야 합니다.       0.0
...                                                  ...      ...
2021    아 뭐 통장 전화숫자는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 다...      1.0
11184  국가 지원금 외에 해당 사항 자치단체가 자체 보조하는 금액을 합산할 사례 기준액 이...      0.0
15062                      별 언급을요 궁금한것 있으면 언제든 문의 해 주세요.      0.0
6475                        네, 직접 거주자중심로 가셔야다만 가능성 있음하네요      0.0
1804    사장님께서 혹시 안쓰시는 입출금 계정가 있으시면 저희가 월 400에서 450만원까...      1.0

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                                sentence  predict
16792                                  이용하기제한이 있을수 있습니다.      0.0
12361                                    형사처벌은 할 수 있음합니다      0.0
5070   서울특별시 0구 000길 00(000동00) 서소문청사 0동 감사관[공익제보기관]로...      0.0
9393   서울특별시 거주하는 오직19세~34세 미취업 청년들의 구직활동을 촉진하는 수당을 지...      0.0
15763  지방교육의 질적 향상에 필요함한 지방교육재정의 확충에 드는 재원을 확보하기 위해 취...      0.0
...                                                  ...      ...
6832                    그렇구나... 대리님 네 사기 범죄 범죄 행위치지 마시고요      1.0
14237                    1개월 이내 미신청서 제출 시각 과태료가 부과 되십니다.      0.0
10525                              방문하기지급과 인터넷 지급법이 있습니다      0.0
6771    아휴 그럼 어떻게 해요. 제가 자금 자금 입금 바로 쓸 수가 있는거지. 느낌이 완...      1.0
7025           네 은행 은행 계좌에 금액을 다 빼가셨더라고요 바로?네 여보세요? 여보세요      1.0

[300 rows x 2 columns]

In [6]:
data.to_csv("process1 test data before nlp(L6).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(300, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

    predict
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
..      ...
295     1.0
296     0.0
297     0.0
298     1.0
299     1.0

[300 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.032425,0.134225,0.022208,-0.050256,0.008123,-0.05655,0.107212,0.004674,-0.10197,0.012262,...,-0.000924,0.088201,0.015766,-0.043057,0.030525,-0.009524,0.046536,0.026747,-0.051962,-0.055521
1,0.090305,0.108986,0.03402,-0.028629,-0.02189,-0.053397,0.075376,-0.056799,-0.023929,0.037085,...,0.028748,-0.027158,0.013911,0.003003,0.091022,-0.017212,-0.043915,0.056894,-0.045808,-0.004908
2,0.072508,0.138284,0.058103,0.02436,-0.083649,-0.130576,0.00431,-0.052022,0.009056,0.051364,...,0.08995,0.016005,-0.008801,0.016505,-0.064787,0.064759,-0.00749,0.045186,-0.069157,-0.069499
3,0.046132,0.11161,0.028992,0.028096,0.013261,-0.066393,0.010162,0.002412,-0.098793,-0.006486,...,0.070859,0.079759,0.027389,0.061775,-0.022752,0.03216,0.030746,0.082563,-0.054427,0.059755
4,0.092153,0.101658,0.044024,0.027986,0.001551,-0.095346,0.047151,-0.013561,-0.060506,-0.066576,...,-0.021521,-0.008568,0.014705,0.045814,0.039749,-0.064461,0.013321,0.091902,-0.043646,0.052286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,-0.016915,0.088018,0.023509,-0.05443,0.018761,-0.041451,0.104009,-0.040361,-0.043161,-0.01259,...,0.007032,0.035282,0.015682,0.046877,0.034786,0.043945,-0.024458,0.048766,-0.112711,-0.083911
296,0.060093,0.113117,0.042627,-0.026954,-0.038416,-0.078924,0.100788,0.014396,-0.080051,-0.035839,...,0.009145,0.001652,0.021867,0.00993,0.044179,-0.018575,0.005522,0.087667,-0.048253,-0.048103
297,-0.0186,0.128391,0.056717,-0.02206,0.021683,-0.054691,0.031567,-0.006839,-0.084631,0.006473,...,0.024515,0.064351,0.008478,0.01706,0.089821,-0.039549,0.026597,0.009397,-0.005921,0.010141
298,0.0682,0.108333,0.072298,-0.028153,0.027593,-0.086285,0.089083,-0.064319,-0.095945,-0.050545,...,0.019204,-0.017881,0.02898,-0.011851,0.007527,-0.030533,0.079648,0.062157,-0.047244,0.022271
299,0.067927,0.1434,0.04159,0.008276,0.002428,-0.066027,0.074067,0.044319,-0.126661,-0.03532,...,0.044158,0.028578,0.046012,0.016666,0.026146,0.077008,-0.050446,0.068779,-0.094007,-0.016456

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.032425,0.134225,0.022208,-0.050256,0.008123,-0.05655,0.107212,0.004674,-0.10197,0.012262,...,0.088201,0.015766,-0.043057,0.030525,-0.009524,0.046536,0.026747,-0.051962,-0.055521,0.0
1,0.090305,0.108986,0.03402,-0.028629,-0.02189,-0.053397,0.075376,-0.056799,-0.023929,0.037085,...,-0.027158,0.013911,0.003003,0.091022,-0.017212,-0.043915,0.056894,-0.045808,-0.004908,0.0
2,0.072508,0.138284,0.058103,0.02436,-0.083649,-0.130576,0.00431,-0.052022,0.009056,0.051364,...,0.016005,-0.008801,0.016505,-0.064787,0.064759,-0.00749,0.045186,-0.069157,-0.069499,0.0
3,0.046132,0.11161,0.028992,0.028096,0.013261,-0.066393,0.010162,0.002412,-0.098793,-0.006486,...,0.079759,0.027389,0.061775,-0.022752,0.03216,0.030746,0.082563,-0.054427,0.059755,0.0
4,0.092153,0.101658,0.044024,0.027986,0.001551,-0.095346,0.047151,-0.013561,-0.060506,-0.066576,...,-0.008568,0.014705,0.045814,0.039749,-0.064461,0.013321,0.091902,-0.043646,0.052286,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,-0.016915,0.088018,0.023509,-0.05443,0.018761,-0.041451,0.104009,-0.040361,-0.043161,-0.01259,...,0.035282,0.015682,0.046877,0.034786,0.043945,-0.024458,0.048766,-0.112711,-0.083911,1.0
296,0.060093,0.113117,0.042627,-0.026954,-0.038416,-0.078924,0.100788,0.014396,-0.080051,-0.035839,...,0.001652,0.021867,0.00993,0.044179,-0.018575,0.005522,0.087667,-0.048253,-0.048103,0.0
297,-0.0186,0.128391,0.056717,-0.02206,0.021683,-0.054691,0.031567,-0.006839,-0.084631,0.006473,...,0.064351,0.008478,0.01706,0.089821,-0.039549,0.026597,0.009397,-0.005921,0.010141,0.0
298,0.0682,0.108333,0.072298,-0.028153,0.027593,-0.086285,0.089083,-0.064319,-0.095945,-0.050545,...,-0.017881,0.02898,-0.011851,0.007527,-0.030533,0.079648,0.062157,-0.047244,0.022271,1.0
299,0.067927,0.1434,0.04159,0.008276,0.002428,-0.066027,0.074067,0.044319,-0.126661,-0.03532,...,0.028578,0.046012,0.016666,0.026146,0.077008,-0.050446,0.068779,-0.094007,-0.016456,1.0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
274,0.023679,0.06356,0.09533,0.090422,0.019114,-0.113647,0.068177,0.012296,-0.06357,-0.064776,...,-0.01366,-0.021786,0.044087,-0.030771,0.063131,-0.009212,0.083542,0.000881,0.024559,1.0
240,0.036272,0.099038,0.075189,0.035876,-0.001825,-0.021769,0.078521,-0.012392,-0.098488,-0.063027,...,-0.016776,-0.001302,0.012394,-0.006312,0.031224,-0.00723,0.061076,-0.067741,0.049704,1.0
55,0.054408,0.116449,0.025331,0.048278,-0.034061,-0.086326,0.05648,-0.032292,-0.073272,-0.113708,...,0.003107,0.040806,0.05053,-0.062758,0.030923,0.019492,0.052565,-0.005499,0.039309,1.0
136,0.081577,0.078505,0.026732,0.005242,-0.022586,-0.039375,0.048138,0.066647,-0.063793,0.071511,...,0.052027,-0.028119,0.039471,0.056547,-0.009366,-0.031349,0.071128,-0.038612,0.000685,0.0
37,-0.018974,0.089785,0.022928,-0.056782,0.017729,-0.04427,0.105201,-0.042792,-0.039976,-0.009478,...,0.035457,0.019789,0.041055,0.03873,0.043856,-0.027779,0.044733,-0.116016,-0.086651,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,0.036509,0.119609,-0.000679,-0.016035,-0.025576,-0.048211,-0.029648,-0.050805,-0.031046,0.047348,...,0.068545,0.008032,0.042346,-0.042955,-0.062885,0.006723,0.044928,-0.065563,-0.031916,0.0
133,0.04078,0.092696,0.049873,-0.02913,-0.031933,0.018684,0.068396,0.070617,-0.065675,0.022591,...,0.074624,-0.023807,0.037662,0.007275,0.038835,0.017982,0.057776,-0.037163,0.044888,1.0
138,0.112109,0.080414,0.096308,0.035205,0.005722,-0.118346,0.073953,-0.008689,-0.090106,-0.090994,...,-0.010436,0.049181,0.031561,0.033432,-0.004127,0.008698,0.058725,-0.050925,0.016276,1.0
194,0.031555,0.129167,0.030692,-0.002775,-0.00077,-0.074362,0.150168,-0.010145,-0.069491,-0.06812,...,0.02021,0.07247,0.083886,0.019136,0.033584,-0.006289,0.03616,-0.031876,-0.004509,1.0
161,0.044415,0.141135,0.08785,0.013173,-0.059091,-0.093019,0.093883,0.008055,-0.111645,0.019659,...,0.051329,0.008363,0.004236,0.023282,-0.015783,0.027831,0.042069,-0.055032,-0.008219,0.0

In [26]:
data.to_csv("process1 test data after nlp(L6).csv")