In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/train/train data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
1272    예 예 그리고 신분증 앞 면 2가지 사진 찍어서 카톡으로 좀 보내 주시구요. 카카...        1
1114                                  선생님께서 접종 받으시는 건가요?        0
16206                           사업자등록번호및 고객번호만 준비하시면 됩니다        0
2642                아 입출금? 체크 카드 발행되신거? 네? 체크 카드 발행이 되신거        2
5903                                 10월달에 하는 세종축제가 있습니다        0
...                                                  ...      ...
1299    예 뭐 지금 일단 우선 지에스 로부터 한번 드실 텐데요 예 그래서 그게 이제 전화...        2
2682                                        다른 문의사항 있나요?        0
3726                                       네 무엇을 도와드릴까요?        0
376              울산요 지방 같은 경우는 시간이 좀 걸려요. 한 일주일 정도 아 그래요        1
13949                                 오전11시부터 오후5시까지입니다.        0

[10281 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    36
predict      0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
2788    일단 1차적으로는 불법적인 금전 거래 내역이 확인이 됐구요 네 또한 불법 관련된 ...        2
4769                                       1인에 200만원이에요.        0
975         그 은행에서 떨어진 제 삼자가 없는곳. 공원 같은곳. 더 이상 얘기 안 할께요.        2
1976    네 그리고 금융 감독원은 귀하의 피해자 신분 입증 시 금융자산 보호 신청서를 발급...        2
2344    제일 은행은 제가 학교 다닐 때 대학교 때 처음 만들고 그 후로 한창 사용을 안 ...        2
...                                                  ...      ...
686     그쵸 요즘에 보게 되면은 은행권이란 자체가 보안이 보안 자체가 이렇게만 완한하지 ...        2
14699                                현재는 신청기간이 마감되었습니다.         0
20879                           가족관계증명서는 무료로 출력하실 수 있어요,        0
21200                                         좋은 하루 되십쇼.        0
1359    예 말이 안 됐기 때문에 본인이 직접적으로 이동을 해줘 갖고 일단은 뭐 은행권으로...        2

[10245 rows x 2 columns]

In [7]:
data.to_csv("train_data_before_vector(0).csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

384

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_train.shape

(10245, 384)

In [15]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [16]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
10240     NaN
10241     NaN
10242     NaN
10243     NaN
10244     NaN

[10245 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [19]:
y_train

      predict
0           2
1           0
2           2
3           2
4           2
...       ...
10240       2
10241       0
10242       0
10243       0
10244       2

[10245 rows x 1 columns]

In [20]:
y_train.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [22]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.066625,0.10371,0.077291,0.04438,-0.007923,-0.086086,0.116539,-0.023545,-0.0782,-0.015605,...,0.049609,0.053584,0.038101,0.049514,0.05307,0.007106,0.010727,0.066837,-0.036914,0.00161
1,0.013266,0.142245,0.002965,-0.03723,-0.126689,-0.008222,0.096623,-0.020686,-0.059142,0.025269,...,0.075573,0.055921,-0.046858,-0.023499,-0.038338,0.093908,0.009035,0.104005,-0.072616,-0.070392
2,0.068236,0.173447,0.028185,-0.006462,-0.023797,-0.018648,0.088313,-0.010008,-0.096348,-0.008907,...,0.016063,0.0211,0.037461,-0.020793,-0.017082,-0.016532,0.019134,0.043838,-0.051287,0.018325
3,0.081789,0.084438,0.09233,0.003105,0.026736,-0.105059,0.043757,-0.037969,-0.045845,-0.121618,...,-0.006862,-0.027323,0.034348,0.024802,0.028401,-0.038299,-0.030703,0.096906,-0.032168,0.035804
4,0.05384,0.132981,0.066377,0.038548,0.016271,-0.07578,0.079163,-0.034817,-0.099287,-0.047845,...,0.033415,-0.011667,0.034161,0.00582,0.002056,-0.0342,0.004757,0.065084,-0.020034,0.01246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,0.129907,0.1422,0.086792,-0.004739,-0.00711,-0.075246,0.05893,0.00572,-0.082812,-0.045028,...,0.022765,-0.011224,0.034337,0.067541,0.008306,-0.050292,0.061829,0.092182,-0.013385,0.069193
10241,0.039443,0.079977,0.060501,-0.00985,0.00225,-0.03326,0.095166,-0.046867,-0.066056,-0.005947,...,-0.021064,0.004158,-0.000169,-0.011774,0.033364,0.002917,-0.02774,0.030494,-0.063689,-0.04869
10242,-0.011981,0.110936,-0.021806,-0.044659,-0.064251,-0.067488,0.056763,0.039752,-0.048792,0.041177,...,-0.00352,0.017287,0.057804,0.033508,0.068669,0.008112,-0.005746,0.068937,-0.088567,0.020374
10243,-0.024534,0.13294,-0.003377,0.01896,-0.101394,0.000347,0.125134,-0.007782,-0.052788,0.061877,...,-0.026879,-0.014988,0.015167,0.044651,0.007705,-0.012465,-0.01216,0.03272,-0.029042,0.021911
10244,0.083223,0.134014,0.063138,0.024474,0.009538,-0.047687,0.087725,-0.036118,-0.085197,-0.072625,...,0.006697,0.011641,0.027341,0.068687,-0.030583,0.014477,0.028759,0.071878,-0.009534,0.069826

In [23]:
data=pd.concat([x_train,y_train],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.066625,0.10371,0.077291,0.04438,-0.007923,-0.086086,0.116539,-0.023545,-0.0782,-0.015605,...,0.053584,0.038101,0.049514,0.05307,0.007106,0.010727,0.066837,-0.036914,0.00161,2
1,0.013266,0.142245,0.002965,-0.03723,-0.126689,-0.008222,0.096623,-0.020686,-0.059142,0.025269,...,0.055921,-0.046858,-0.023499,-0.038338,0.093908,0.009035,0.104005,-0.072616,-0.070392,0
2,0.068236,0.173447,0.028185,-0.006462,-0.023797,-0.018648,0.088313,-0.010008,-0.096348,-0.008907,...,0.0211,0.037461,-0.020793,-0.017082,-0.016532,0.019134,0.043838,-0.051287,0.018325,2
3,0.081789,0.084438,0.09233,0.003105,0.026736,-0.105059,0.043757,-0.037969,-0.045845,-0.121618,...,-0.027323,0.034348,0.024802,0.028401,-0.038299,-0.030703,0.096906,-0.032168,0.035804,2
4,0.05384,0.132981,0.066377,0.038548,0.016271,-0.07578,0.079163,-0.034817,-0.099287,-0.047845,...,-0.011667,0.034161,0.00582,0.002056,-0.0342,0.004757,0.065084,-0.020034,0.01246,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,0.129907,0.1422,0.086792,-0.004739,-0.00711,-0.075246,0.05893,0.00572,-0.082812,-0.045028,...,-0.011224,0.034337,0.067541,0.008306,-0.050292,0.061829,0.092182,-0.013385,0.069193,2
10241,0.039443,0.079977,0.060501,-0.00985,0.00225,-0.03326,0.095166,-0.046867,-0.066056,-0.005947,...,0.004158,-0.000169,-0.011774,0.033364,0.002917,-0.02774,0.030494,-0.063689,-0.04869,0
10242,-0.011981,0.110936,-0.021806,-0.044659,-0.064251,-0.067488,0.056763,0.039752,-0.048792,0.041177,...,0.017287,0.057804,0.033508,0.068669,0.008112,-0.005746,0.068937,-0.088567,0.020374,0
10243,-0.024534,0.13294,-0.003377,0.01896,-0.101394,0.000347,0.125134,-0.007782,-0.052788,0.061877,...,-0.014988,0.015167,0.044651,0.007705,-0.012465,-0.01216,0.03272,-0.029042,0.021911,0
10244,0.083223,0.134014,0.063138,0.024474,0.009538,-0.047687,0.087725,-0.036118,-0.085197,-0.072625,...,0.011641,0.027341,0.068687,-0.030583,0.014477,0.028759,0.071878,-0.009534,0.069826,2

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
6913,0.066607,0.077517,0.115705,0.069993,0.043919,-0.074369,0.073606,0.017073,-0.05234,-0.056254,...,0.051838,0.001832,0.04674,-0.049886,0.081029,0.01224,0.011283,-0.026844,-0.048206,1
8525,0.009175,0.060945,0.078355,-0.01236,0.002327,-0.050855,0.085319,-0.048127,-0.071948,-0.039631,...,0.04936,-0.034994,0.000536,-0.024382,0.012929,0.005689,0.045009,-0.016434,-0.037525,0
4719,0.044943,0.072825,0.068928,0.046172,-0.002526,-0.070848,0.112383,-0.01882,-0.045866,-0.067365,...,0.049023,0.011829,-0.023979,-0.010895,0.02757,-0.037416,0.01766,-0.049934,-0.000607,2
6540,0.097294,0.094759,0.051596,0.005668,-0.018969,-0.050049,0.090114,-0.069888,-0.067018,0.023108,...,0.020002,0.008784,0.02081,-0.042209,0.028375,-0.040976,0.012626,-0.113869,0.008126,1
4118,0.108396,0.096036,0.068255,0.057228,0.019846,-0.052655,0.05826,-0.015994,-0.072514,-0.096191,...,0.007525,0.016353,0.061814,-0.002965,0.022699,-0.002215,0.035515,-0.030297,0.067804,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,-0.006023,-0.030234,-0.013558,0.004998,-0.070687,-0.017874,0.011994,0.050405,-0.010941,0.018384,...,-0.025292,-0.016613,-0.028204,0.07786,0.101997,0.011013,0.039853,-0.028966,-0.017725,0
9661,0.067039,0.114516,0.049146,0.013657,-0.053011,-0.097276,-0.056944,-0.018456,-0.036832,0.033446,...,0.008585,-0.061252,0.02475,-0.016035,0.031472,-0.012517,0.066878,-0.064706,-0.047129,0
2141,0.059773,0.088398,0.081023,0.038504,0.002484,-0.09345,0.094285,-0.036011,-0.081394,-0.073054,...,0.043719,0.040726,0.027208,-0.04133,-0.005188,-0.03652,0.043409,-0.036112,-0.00639,2
9089,-0.018065,0.063473,0.068605,-0.034425,-0.065174,-0.053804,0.121528,0.003141,-0.070053,0.021176,...,0.014981,0.017693,-0.021092,-0.069369,0.073547,-0.019,0.063157,-0.040325,-0.081816,0
8542,0.015746,0.118782,-0.011351,-0.055081,-0.029978,-0.027011,-0.064974,-0.101755,-0.025363,0.028325,...,0.096976,-0.013555,0.070984,0.000921,0.007901,0.043431,0.039759,-0.027947,-0.00882,0

In [27]:
data.to_csv("train_data_after_vector(0520).csv")