In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/train/train data(0).csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
672    음 입금 바로 되고요? 그렇죠. 당일로도 가능하시고 다만 위임 처리하실 경우에는 ...        1
5506                      전자가족관계등록시스템 홈페이지에서 신청하시면 됩니다.        0
2097                      아닙니다. 고용노동부 홈페이지에서 신청하시면 됩니다.        0
531                 아닙니다. 올려놓은것은 예시여서 그 외 작품을 선정하셔도 돼요.        0
923    예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고요 아 예 집중하실 ...        1
...                                                 ...      ...
7564          서울시 홍보대사로 핑크퐁과 아기상어가 캐릭터로 처음 선정되었기 때문입니다.        0
993        사용하시는 휴대 전화 번호 통신사는 어떻게 되세요? SKT요 본인 명의세요? 예        1
1177   네네 가족 그 패밀리카드거든요 그그러니까 계좌 번호까지만 기다리시라고 하실 수 있...        2
1391   네 계속 예탁금까지도 제가 깡통인지 아닌지 확인을 해봐야 될 거 같습니다 아 예 ...        2
2150       자동차 세금은 신차를 뽑은 후 2년이 지나는 시점부터 해마다 5%씩 감소합니다.        0

[5596 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
1615                               상시돌봄과 일시돌봄 유형이 있습니다.         0
1152    부터 십만원 돈이 필요하는 거 같애요 지금 상황이 계속되는 게 아닌데 저도 확인이...        2
1198    네 네 그럼 일단 서류 접수부터 한번 진행을 해볼게요. 사업자 등록증이 있으시죠?...        1
1142              예 내가 상환하시면 일단은 좀 바쁘세요? 집중을 안 하시는 것 같아요        1
19466  추워도 2시간에 한번씩 환기하기, 아쉬워도 송년모임 자제하기 , 환기 안되는 시설에...        0
...                                                  ...      ...
13215                             도로 점용료 사용료율 1%인하해 드립니다        0
2518                             불이행시 입국하지 못하실 수도 있습니다.         0
12080                                이중 취업자는 지원할 수 없습니다.        0
5129   신청일 기준 혼인신고일로 부터 5년이내 ~ 6개월 이내 결혼예정 부부시라면 가능하십니다.        0
3382                             하지만 보건소마다 상황이 다를수 있습니다.        0

[5596 rows x 2 columns]

In [7]:
data.to_csv("train_data_before_vector(0).csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

384

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_train.shape

(5596, 384)

In [15]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [16]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
5591     NaN
5592     NaN
5593     NaN
5594     NaN
5595     NaN

[5596 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [19]:
y_train

     predict
0          0
1          2
2          1
3          1
4          0
...      ...
5591       0
5592       0
5593       0
5594       0
5595       0

[5596 rows x 1 columns]

In [20]:
y_train.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [22]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.007254,0.037526,-0.026064,-0.025105,-0.026086,-0.096472,-0.022956,0.082599,-0.016153,-0.034769,...,0.030919,0.034359,-0.002526,-0.033039,0.066472,-0.013612,-0.001987,-0.014971,-0.046395,-0.003361
1,0.028037,0.102273,0.081132,-0.036711,-0.059751,-0.080474,0.098093,0.026811,-0.014753,-0.024401,...,-0.022431,0.01017,0.002534,0.064348,0.017111,0.010942,0.066099,0.035147,-0.060189,0.013039
2,0.031214,0.108959,0.03577,-0.039521,-0.027475,-0.088521,0.06983,0.070685,-0.025433,-0.041723,...,0.001481,0.050495,-0.003555,0.029686,0.049503,-0.0148,0.049298,0.04048,-0.061321,0.01737
3,0.001895,0.074688,0.087934,-0.018488,0.042942,-0.07777,0.096181,0.001195,-0.045014,-0.012904,...,0.003308,0.011425,0.035061,0.022369,0.032738,-0.049324,0.097095,0.075697,-0.073582,-0.011116
4,0.017643,0.073263,0.116357,-0.019527,-0.043573,-0.079295,0.084768,0.016904,0.027376,-0.006197,...,0.010132,0.010742,0.020231,0.073948,0.030819,-0.026723,0.114234,0.074326,-0.049987,-0.015701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5591,0.034801,0.015782,-0.00177,-0.007683,-0.028145,-0.062566,0.041295,0.113232,-0.060634,-0.032396,...,-0.01158,0.075196,0.000582,-0.011542,-0.037292,0.019825,-0.00169,-0.038911,-0.014181,0.005611
5592,-0.031526,0.115063,0.003052,-0.044162,-0.000953,-0.084153,-0.000542,0.046667,-0.01797,-0.047888,...,0.040042,0.080178,0.019384,-0.034072,0.035584,-0.031132,0.054116,-0.000281,-0.027312,0.041734
5593,-0.042345,0.131279,0.014855,0.007321,0.022728,-0.060164,0.075721,0.04285,-0.016166,-0.028399,...,0.055745,0.083656,0.067861,0.013114,0.039654,0.009033,0.022172,0.05683,-0.028752,0.021942
5594,0.020678,0.040328,0.088099,-0.010583,-0.039555,-0.010434,0.065396,0.024147,-0.009916,0.034503,...,0.049657,-0.013993,-0.00199,0.021689,0.041221,0.029633,0.048954,0.045771,-0.053309,-0.035517
5595,-0.040249,0.100248,0.018051,-0.008573,-0.00528,-0.087041,0.046423,0.033102,-0.023387,-0.007176,...,0.022758,0.072196,0.035008,0.020313,0.046913,-0.000382,0.084918,0.035575,-0.065092,0.029207

In [23]:
data=pd.concat([x_train,y_train],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,-0.007254,0.037526,-0.026064,-0.025105,-0.026086,-0.096472,-0.022956,0.082599,-0.016153,-0.034769,...,0.034359,-0.002526,-0.033039,0.066472,-0.013612,-0.001987,-0.014971,-0.046395,-0.003361,0
1,0.028037,0.102273,0.081132,-0.036711,-0.059751,-0.080474,0.098093,0.026811,-0.014753,-0.024401,...,0.01017,0.002534,0.064348,0.017111,0.010942,0.066099,0.035147,-0.060189,0.013039,2
2,0.031214,0.108959,0.03577,-0.039521,-0.027475,-0.088521,0.06983,0.070685,-0.025433,-0.041723,...,0.050495,-0.003555,0.029686,0.049503,-0.0148,0.049298,0.04048,-0.061321,0.01737,1
3,0.001895,0.074688,0.087934,-0.018488,0.042942,-0.07777,0.096181,0.001195,-0.045014,-0.012904,...,0.011425,0.035061,0.022369,0.032738,-0.049324,0.097095,0.075697,-0.073582,-0.011116,1
4,0.017643,0.073263,0.116357,-0.019527,-0.043573,-0.079295,0.084768,0.016904,0.027376,-0.006197,...,0.010742,0.020231,0.073948,0.030819,-0.026723,0.114234,0.074326,-0.049987,-0.015701,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5591,0.034801,0.015782,-0.00177,-0.007683,-0.028145,-0.062566,0.041295,0.113232,-0.060634,-0.032396,...,0.075196,0.000582,-0.011542,-0.037292,0.019825,-0.00169,-0.038911,-0.014181,0.005611,0
5592,-0.031526,0.115063,0.003052,-0.044162,-0.000953,-0.084153,-0.000542,0.046667,-0.01797,-0.047888,...,0.080178,0.019384,-0.034072,0.035584,-0.031132,0.054116,-0.000281,-0.027312,0.041734,0
5593,-0.042345,0.131279,0.014855,0.007321,0.022728,-0.060164,0.075721,0.04285,-0.016166,-0.028399,...,0.083656,0.067861,0.013114,0.039654,0.009033,0.022172,0.05683,-0.028752,0.021942,0
5594,0.020678,0.040328,0.088099,-0.010583,-0.039555,-0.010434,0.065396,0.024147,-0.009916,0.034503,...,-0.013993,-0.00199,0.021689,0.041221,0.029633,0.048954,0.045771,-0.053309,-0.035517,0
5595,-0.040249,0.100248,0.018051,-0.008573,-0.00528,-0.087041,0.046423,0.033102,-0.023387,-0.007176,...,0.072196,0.035008,0.020313,0.046913,-0.000382,0.084918,0.035575,-0.065092,0.029207,0

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
4666,0.044472,0.048531,0.114558,-0.018264,-0.041547,-0.017027,0.119381,0.005166,0.054678,-0.051076,...,0.014426,0.077025,0.066301,0.024438,0.019468,0.050485,0.05694,-0.019845,-0.007574,2
456,-0.010206,0.035886,0.072304,0.003375,-0.01544,-0.008574,0.05747,-0.003262,0.033901,-0.041371,...,0.048101,0.091388,0.013931,0.042606,0.023861,0.040408,0.06921,0.012476,-0.035031,2
2837,0.032383,0.016166,0.106425,-0.022074,-0.038927,-0.048692,0.065593,0.048312,-0.018526,-0.020283,...,0.033893,0.026773,0.080339,0.046745,-0.008288,0.076306,0.019071,-0.064188,0.007023,1
2007,0.013743,0.020066,0.078356,0.025003,-0.018682,-0.047215,0.019696,0.035195,0.011758,-0.061538,...,0.00904,-0.04531,0.053482,0.015678,-0.021122,0.057172,-0.008471,-0.0521,0.044121,2
3901,-0.001106,0.08116,0.10666,-0.074879,-0.064155,-0.028192,0.069553,-0.037789,0.026968,-0.004324,...,0.00998,0.043664,0.076164,0.063435,0.092586,0.063276,0.063454,-0.039066,0.000864,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5013,-0.02698,0.088222,0.022302,-0.008615,-0.023111,-0.072517,0.085118,0.014866,-0.009674,0.006495,...,0.062214,0.029475,0.031982,0.036652,-0.051802,0.05182,0.019303,-0.111213,-0.01185,0
3710,0.003734,0.099313,0.044375,-0.030085,0.050891,-0.024929,0.092426,0.012905,-0.015214,-0.057553,...,0.082348,0.048592,0.011809,-0.011226,-0.017773,0.06279,0.041154,-0.106212,-0.025213,1
4765,-0.056389,0.051539,-0.018068,-0.077324,-0.114273,-0.043463,0.067623,0.061221,-0.088333,0.044717,...,0.034694,-0.02174,0.029939,-0.007735,0.05795,0.057902,0.021838,-0.069585,-0.020675,0
4432,0.028544,0.021472,0.06745,-0.011219,-0.069546,-0.075207,0.050706,0.028424,-0.030608,-0.009272,...,0.00896,-0.01592,0.081468,0.039932,0.02307,0.040099,0.016887,-0.080221,-0.012837,0
116,0.012487,0.062266,0.060731,-0.047233,-0.006752,-0.02792,0.138384,0.060706,-0.010959,-0.031408,...,0.059933,0.006075,-0.007835,0.014463,-0.031619,0.018162,0.091674,-0.108266,-0.065654,1

In [27]:
data.to_csv("train_data_after_vector(0).csv")