In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process1/process 1 test data row.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
3531    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 전화 녹음를 통해서 대...      1.0
1400                                      네 그런 상황는 없을겁니다      0.0
802     지금 다짜고짜 여쭤보면 어떡합니까? 고객님 식별증도 접수도 안 해줬는데 그냥 로그...      1.0
3568                                  네 30분량에 3000돈입니다.       0.0
4531                           그 지역 사회에서 문의하기해 주셔야 합니다.       0.0
...                                                  ...      ...
2021    아 뭐 통장 전화숫자는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 다...      1.0
11184  국가 지원금 외에 해당 사항 자치단체가 자체 보조하는 금액을 합산할 사례 기준액 이...      0.0
15062                      별 언급을요 궁금한것 있으면 언제든 문의 해 주세요.      0.0
6475                        네, 직접 거주자중심로 가셔야다만 가능성 있음하네요      0.0
1804    사장님께서 혹시 안쓰시는 입출금 계정가 있으시면 저희가 월 400에서 450만원까...      1.0

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                                sentence  predict
4370    아휴 그럼 어떻게 해요. 제가 자본 돈 입금 바로 쓸 수가 있는거지. 느낌이 완전...      1.0
6631                           네, 부과된 금액만큼단지 지불하시기면 됩니다.      0.0
16905           운현궁 역사탐방 시리즈, 남산골한옥마을, 우리소리 챌린지 등등이 있네요.      0.0
10466   고객님 본인명의세요? 예 예 수납 담당자님 은행 은행 계좌 식별전화번호는 바로 카...      1.0
3920         네 사기 범죄 행위치지 마시고요 다른사람한테 피해주지 마시구요 그러다 벌받아요      1.0
...                                                  ...      ...
8830                  목줄은 보호자가 통제가능성 있음한 범위로 조절하시간면 됩니다.      0.0
2193    아 뭐 통장 전화전화번호는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금...      1.0
16163  온라인 결제가능성 있음 힘콕상품권은 11업무 발행되며 1인 최대 10오직금액 15퍼...      0.0
14140           네 누적없이 불법주차 건수에 따라 5단지화폐 단위씩 부과 되시간겠습니다.      0.0
14041                    네. 등록 신청하시각기 전에 협약은행에서 상담받아보서요.      0.0

[300 rows x 2 columns]

In [6]:
data.to_csv("process1 test data before nlp(L6).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(300, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

    predict
0       1.0
1       0.0
2       0.0
3       1.0
4       1.0
..      ...
295     0.0
296     1.0
297     0.0
298     0.0
299     0.0

[300 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.074092,0.109849,0.06862,-0.028501,0.019903,-0.083124,0.080026,-0.059429,-0.088296,-0.053919,...,0.01225,-0.018308,0.025876,-0.017086,0.006526,-0.037626,0.073945,0.058402,-0.037866,0.022919
1,0.044415,0.141135,0.08785,0.013173,-0.059091,-0.093019,0.093883,0.008055,-0.111645,0.019659,...,0.039084,0.051329,0.008363,0.004236,0.023282,-0.015783,0.027831,0.042069,-0.055032,-0.008219
2,0.048798,0.113213,0.032394,0.033221,-0.027531,-0.082974,0.067575,0.044367,-0.090905,0.034094,...,0.027893,0.064007,-0.012093,0.028512,0.054737,0.007832,0.040486,0.030177,-0.047058,0.048269
3,0.059178,0.064452,0.122951,0.066706,-0.000135,-0.106908,0.06821,0.002335,-0.053465,-0.054205,...,0.045734,-0.004384,-0.016207,0.0281,-0.042882,0.061127,0.005932,0.050952,-0.032762,0.02102
4,0.028931,0.10913,0.063042,-0.026019,0.059944,-0.080997,0.088634,-0.027799,-0.077066,-0.061226,...,0.00105,0.039795,0.057353,0.044384,0.082619,-0.004024,-0.000487,0.034395,-0.083498,0.010343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.036787,0.096642,0.040171,0.016416,-0.037119,-0.044339,0.083695,0.041606,-0.080498,-0.008612,...,-0.063151,0.037891,-0.046794,-0.006935,0.044572,-0.019889,-0.002596,0.030584,-0.036408,0.045071
296,0.048078,0.1345,0.037511,0.024393,-0.021959,-0.054688,0.099813,-0.006786,-0.068552,-0.107409,...,0.006274,0.042834,0.049591,0.07574,-0.047528,0.011119,-0.00272,0.042176,-0.042596,0.033394
297,-0.025419,0.097844,0.032258,-0.044085,-0.057656,-0.005722,-0.028441,-0.040549,-0.062924,0.0099,...,-0.026378,0.092429,-0.032917,0.064585,0.050562,-0.019344,0.059008,0.094212,0.000413,0.027447
298,0.065763,0.144681,0.050445,-0.007953,-0.033382,-0.023156,0.066379,-0.018744,-0.07163,0.045704,...,-0.007989,0.017427,0.030326,-0.002028,0.071908,-0.042484,0.014914,0.034874,-0.004431,0.022359
299,0.077095,0.133586,0.046244,0.00326,-0.048775,-0.028546,0.070361,-0.006275,-0.10883,0.028927,...,0.007656,0.05604,-0.024516,-0.026776,0.024688,-0.014884,-0.024697,0.030571,-0.072691,0.017015

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.074092,0.109849,0.06862,-0.028501,0.019903,-0.083124,0.080026,-0.059429,-0.088296,-0.053919,...,-0.018308,0.025876,-0.017086,0.006526,-0.037626,0.073945,0.058402,-0.037866,0.022919,1.0
1,0.044415,0.141135,0.08785,0.013173,-0.059091,-0.093019,0.093883,0.008055,-0.111645,0.019659,...,0.051329,0.008363,0.004236,0.023282,-0.015783,0.027831,0.042069,-0.055032,-0.008219,0.0
2,0.048798,0.113213,0.032394,0.033221,-0.027531,-0.082974,0.067575,0.044367,-0.090905,0.034094,...,0.064007,-0.012093,0.028512,0.054737,0.007832,0.040486,0.030177,-0.047058,0.048269,0.0
3,0.059178,0.064452,0.122951,0.066706,-0.000135,-0.106908,0.06821,0.002335,-0.053465,-0.054205,...,-0.004384,-0.016207,0.0281,-0.042882,0.061127,0.005932,0.050952,-0.032762,0.02102,1.0
4,0.028931,0.10913,0.063042,-0.026019,0.059944,-0.080997,0.088634,-0.027799,-0.077066,-0.061226,...,0.039795,0.057353,0.044384,0.082619,-0.004024,-0.000487,0.034395,-0.083498,0.010343,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.036787,0.096642,0.040171,0.016416,-0.037119,-0.044339,0.083695,0.041606,-0.080498,-0.008612,...,0.037891,-0.046794,-0.006935,0.044572,-0.019889,-0.002596,0.030584,-0.036408,0.045071,0.0
296,0.048078,0.1345,0.037511,0.024393,-0.021959,-0.054688,0.099813,-0.006786,-0.068552,-0.107409,...,0.042834,0.049591,0.07574,-0.047528,0.011119,-0.00272,0.042176,-0.042596,0.033394,1.0
297,-0.025419,0.097844,0.032258,-0.044085,-0.057656,-0.005722,-0.028441,-0.040549,-0.062924,0.0099,...,0.092429,-0.032917,0.064585,0.050562,-0.019344,0.059008,0.094212,0.000413,0.027447,0.0
298,0.065763,0.144681,0.050445,-0.007953,-0.033382,-0.023156,0.066379,-0.018744,-0.07163,0.045704,...,0.017427,0.030326,-0.002028,0.071908,-0.042484,0.014914,0.034874,-0.004431,0.022359,0.0
299,0.077095,0.133586,0.046244,0.00326,-0.048775,-0.028546,0.070361,-0.006275,-0.10883,0.028927,...,0.05604,-0.024516,-0.026776,0.024688,-0.014884,-0.024697,0.030571,-0.072691,0.017015,0.0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
161,0.076881,0.158436,0.055692,0.043045,0.00164,-0.056064,0.045309,0.011689,-0.061758,-0.086385,...,0.020173,0.023077,0.062189,-0.005375,0.037715,0.000374,0.07831,-0.034764,0.055741,1.0
81,0.063022,0.087805,0.017799,0.003844,-0.066825,-0.02135,-0.006006,0.022924,-0.052556,0.076457,...,0.080118,-0.058914,0.058631,-0.005758,-0.015333,-0.015029,0.105312,-0.042859,-0.006652,0.0
9,0.101408,0.086802,0.06361,0.027265,0.027097,-0.064018,0.103091,-0.01872,-0.057786,-0.036527,...,0.007715,0.014756,0.035915,0.033136,0.011183,0.029792,0.021668,-0.096346,-0.000001,1.0
3,0.059178,0.064452,0.122951,0.066706,-0.000135,-0.106908,0.06821,0.002335,-0.053465,-0.054205,...,-0.004384,-0.016207,0.0281,-0.042882,0.061127,0.005932,0.050952,-0.032762,0.02102,1.0
264,0.084821,0.130963,0.085999,0.082797,0.031193,-0.069709,0.060413,0.020611,-0.111983,-0.043421,...,0.034986,0.009664,0.058136,-0.002061,0.056596,0.015042,0.05622,-0.041214,0.04725,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,0.022196,0.050373,0.088828,0.02995,-0.008546,-0.088348,0.073238,-0.032664,-0.097496,-0.012085,...,0.011166,-0.017811,0.010339,0.035325,-0.027148,-0.005181,0.033708,-0.067993,0.026466,0.0
186,0.046081,0.097399,0.084428,0.031886,0.0053,-0.017407,0.073704,-0.008275,-0.094844,-0.071946,...,-0.021042,-0.002069,0.015077,-0.007912,0.024623,-0.005075,0.064316,-0.066695,0.047277,1.0
59,0.038036,0.088183,0.074345,0.017684,-0.047899,-0.049676,0.050577,-0.019087,-0.069912,-0.010988,...,0.011372,0.014836,0.003734,0.097409,-0.044136,0.002572,0.028587,-0.013847,0.056361,0.0
172,0.048565,0.141905,0.053545,-0.00262,-0.044002,-0.034281,0.068426,0.022399,-0.103679,0.001737,...,-0.002964,-0.012021,0.026056,0.037651,-0.010058,0.014103,0.066446,-0.006411,0.037267,0.0
168,0.064362,0.12253,0.051703,0.041137,-0.023688,-0.055107,0.091674,0.005657,-0.066507,-0.101428,...,0.020988,0.027358,0.058262,-0.057761,0.039415,-0.03336,0.061005,-0.059738,0.035523,1.0

In [26]:
data.to_csv("process1 test data after nlp(L6).csv")