In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process1/test/process 1 test data row.csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
25     개인 정보 유출로 피해를 본 사례요? 네 피해 피해 보신 적 있으신가요? 아니요 ...        1
3      뭐 이게 좀 어려우실 경우에는 저희 은행 쪽으로 위임 처리하시는 방법도 있으시니까...        1
1563  어떤부분 떄문에 안되는지 알 수 있을까요?기본 대출약정기간까지는 이자지원이 가능하며...        0
465    여기에 오백만원 6백만원 뭐 1000만원 이렇게 되더라도 본인 통장을 이자 못 해...        1
484    아 삼십만원짜리 계좌하고 싶어 가지고 커피숍 많있으신 건가요 네 상당에 아까 그분...        1
...                                                 ...      ...
1190                     네 무엇을 도와드릴까요?근로소득만 입금하셔야 합니다.         0
248    여의도로 복귀 하셔서 그렇게 진행을 하실 건데 만약에 이 자금에서 불법 자금이 나...        1
1486                      현재 거주지가 어디이신가요? 구청 자원순환과 입니다.        0
1243   사무실이시구요. 사무실이면 그 주위에 누군가 말을 걸 수가 있기 때문에 내가 독립...        1
121    울산요 지방 같은 경우는 시간이 좀 걸려요. 한 일주일 정도 아 그래요 위임 처리...        1

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
1000   해서 이거 오늘 그 산부인과는 오늘 예약이 되신 거 이거 좀 취소가 불가능할까요?...        1
1175                          신고할 수 있을까요?공인인증서가 필요합니다.         0
1774               무엇이 문제가 있으십니까?근로자 1인당 최대 75만원 지급됩니다.        0
450               청년내일체움공제를 알고 계신가요?네. 이 번호로 문자 남겨드릴게요.        0
483                            OO구 OO동인가요?2주간 대여 가능하세요.        0
...                                                 ...      ...
723    그러다 보니까 이제 거기 있는 원격 문을 잠가버리고 그 다음 지역 경찰 동원해서 ...        1
1299                            궁금하신 사항은 없으신가요?네, 맞습니다.        0
918                            네 그러셨군요?6개월 이상시 5만원입니다.         0
1077   아 본인에 대한 수사 다 끝났어요 네 그렇기 때문에 본인 자택에 피해자 입증 확인...        1
1271                  국제결혼안내프로그램 수료는 하셨나요?네, 탑승 가능합니다.         0

[300 rows x 2 columns]

In [6]:
data.to_csv("process1 test data before nlp(L12).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(300, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

    predict
0         1
1         0
2         0
3         0
4         0
..      ...
295       1
296       0
297       0
298       1
299       0

[300 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.003138,0.018862,0.113102,-0.019902,-0.025489,-0.061844,0.050784,-0.000534,-0.001198,-0.024298,...,-0.005531,0.040429,0.033955,0.05895,0.02082,-0.00573,0.073485,0.053261,-0.094993,-0.020223
1,-0.016962,0.100093,0.05522,-0.031531,-0.025816,-0.035372,0.070925,0.028121,0.003929,-0.059245,...,0.06013,0.064822,0.019117,0.035291,0.063742,0.023234,0.087382,0.054531,-0.109337,0.008093
2,0.005848,0.120568,0.048994,-0.027645,-0.024561,-0.034773,0.112535,0.054949,-0.081994,0.015278,...,0.008925,0.068926,0.057279,0.073807,-0.017587,-0.029209,0.02658,0.011099,-0.053784,0.022518
3,0.010276,0.060925,0.092613,-0.028153,0.017676,-0.050662,0.090542,0.042187,-0.032367,-0.036606,...,0.035294,0.029573,-0.018365,0.012558,0.043889,-0.004706,0.035112,0.081956,-0.113611,0.003994
4,0.014521,0.071533,0.056941,0.026658,-0.023371,-0.131525,0.094645,0.072845,-0.010442,-0.050569,...,-0.010429,0.015188,-0.021884,-0.000235,-0.008274,-0.024583,0.062586,0.06555,-0.05395,-0.029285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,-0.001189,0.034829,0.020448,-0.021278,-0.010035,-0.01801,0.062698,0.01245,-0.027632,-0.056978,...,-0.01369,0.031951,-0.002052,0.07099,0.020703,0.0319,0.019002,0.014881,-0.032953,-0.044225
296,-0.040697,0.140754,0.076302,-0.009445,0.034651,-0.076501,0.07953,0.033778,-0.051501,-0.064861,...,0.011882,0.067422,0.008793,0.004143,-0.016852,-0.050889,0.099422,0.042937,-0.083684,0.083008
297,-0.046808,0.054491,0.109215,-0.015853,-0.032517,-0.021924,0.098514,0.00629,-0.020728,0.012898,...,0.016036,0.003936,-0.010645,0.005465,0.048153,0.015711,0.041054,0.044849,-0.040206,0.013758
298,0.029903,0.02352,0.082275,-0.007152,-0.040355,-0.05205,0.03675,0.057831,-0.003483,-0.037831,...,-0.028851,0.047293,-0.016331,0.01573,-0.006892,0.002889,0.011662,0.002231,-0.08278,0.036522
299,-0.005027,0.026638,0.09944,-0.011056,-0.046888,-0.007523,0.070462,0.016603,-0.021493,-0.028463,...,0.046751,0.010963,-0.042642,0.045666,0.049072,0.018197,0.026171,0.059264,-0.115938,0.000682

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.003138,0.018862,0.113102,-0.019902,-0.025489,-0.061844,0.050784,-0.000534,-0.001198,-0.024298,...,0.040429,0.033955,0.05895,0.02082,-0.00573,0.073485,0.053261,-0.094993,-0.020223,1
1,-0.016962,0.100093,0.05522,-0.031531,-0.025816,-0.035372,0.070925,0.028121,0.003929,-0.059245,...,0.064822,0.019117,0.035291,0.063742,0.023234,0.087382,0.054531,-0.109337,0.008093,0
2,0.005848,0.120568,0.048994,-0.027645,-0.024561,-0.034773,0.112535,0.054949,-0.081994,0.015278,...,0.068926,0.057279,0.073807,-0.017587,-0.029209,0.02658,0.011099,-0.053784,0.022518,0
3,0.010276,0.060925,0.092613,-0.028153,0.017676,-0.050662,0.090542,0.042187,-0.032367,-0.036606,...,0.029573,-0.018365,0.012558,0.043889,-0.004706,0.035112,0.081956,-0.113611,0.003994,0
4,0.014521,0.071533,0.056941,0.026658,-0.023371,-0.131525,0.094645,0.072845,-0.010442,-0.050569,...,0.015188,-0.021884,-0.000235,-0.008274,-0.024583,0.062586,0.06555,-0.05395,-0.029285,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,-0.001189,0.034829,0.020448,-0.021278,-0.010035,-0.01801,0.062698,0.01245,-0.027632,-0.056978,...,0.031951,-0.002052,0.07099,0.020703,0.0319,0.019002,0.014881,-0.032953,-0.044225,1
296,-0.040697,0.140754,0.076302,-0.009445,0.034651,-0.076501,0.07953,0.033778,-0.051501,-0.064861,...,0.067422,0.008793,0.004143,-0.016852,-0.050889,0.099422,0.042937,-0.083684,0.083008,0
297,-0.046808,0.054491,0.109215,-0.015853,-0.032517,-0.021924,0.098514,0.00629,-0.020728,0.012898,...,0.003936,-0.010645,0.005465,0.048153,0.015711,0.041054,0.044849,-0.040206,0.013758,0
298,0.029903,0.02352,0.082275,-0.007152,-0.040355,-0.05205,0.03675,0.057831,-0.003483,-0.037831,...,0.047293,-0.016331,0.01573,-0.006892,0.002889,0.011662,0.002231,-0.08278,0.036522,1
299,-0.005027,0.026638,0.09944,-0.011056,-0.046888,-0.007523,0.070462,0.016603,-0.021493,-0.028463,...,0.010963,-0.042642,0.045666,0.049072,0.018197,0.026171,0.059264,-0.115938,0.000682,0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
211,-0.041206,0.068625,0.068453,-0.018952,0.024623,-0.040077,0.07637,-0.009835,-0.032692,-0.037372,...,0.01702,0.021544,0.056168,0.019053,-0.016004,0.061347,0.041876,-0.043895,-0.04971,1
271,0.024179,-0.013447,0.072466,0.023402,-0.001705,-0.076872,0.035353,0.051986,0.012902,-0.040045,...,0.013969,-0.00554,0.065035,-0.018843,-0.036418,0.048326,0.047785,-0.045155,0.026087,1
251,0.053661,0.007048,0.05532,0.000168,-0.019227,-0.042684,0.003062,0.057084,-0.042769,-0.023711,...,0.039435,-0.010071,0.020271,-0.019725,-0.016525,0.038851,0.014915,-0.045939,0.019709,1
44,-0.025268,0.031403,0.098619,-0.033901,-0.044453,-0.032371,0.125864,-0.010151,-0.006881,-0.003483,...,0.019225,-0.017981,0.010251,0.049546,-0.002956,0.060103,0.100662,-0.110234,-0.083568,0
210,-0.014361,0.083844,0.105518,0.006905,-0.014392,-0.050227,0.098413,0.026913,-0.063458,0.001598,...,0.052269,-0.007599,0.043497,0.010305,-0.021516,0.091189,0.099985,-0.136647,-0.057376,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.017671,0.027869,0.029987,-0.006337,-0.058718,-0.0416,0.04735,0.043062,-0.022818,-0.052122,...,-0.019619,-0.049474,-0.002966,-0.00281,0.031547,-0.026341,-0.01763,-0.041253,-0.035566,1
21,0.009776,0.060774,0.072311,-0.032546,0.027267,-0.030231,0.045242,0.048363,-0.037525,-0.056925,...,-0.018536,-0.010069,0.04001,-0.014769,0.0361,0.019309,0.006928,-0.027482,-0.018435,1
239,0.002581,0.069615,0.073802,-0.033874,-0.039886,-0.01751,0.174993,-0.007599,-0.025805,-0.024437,...,0.042294,-0.018132,0.018385,-0.01637,0.018908,0.095877,0.094576,-0.063031,-0.063957,0
22,-0.005001,0.027463,0.067711,0.001685,-0.015014,-0.049089,0.026421,0.007331,-0.008847,-0.043589,...,0.023919,-0.028119,0.095122,0.044609,0.004182,0.059505,-0.002236,-0.055606,-0.030844,1
35,0.055123,0.08215,0.028069,-0.049235,-0.012878,-0.081961,0.06357,0.065327,-0.019936,0.005274,...,0.045961,-0.046246,0.016818,0.036221,-0.027889,0.014602,-0.00471,-0.088208,0.002718,0

In [26]:
data.to_csv("process1 test data after nlp(L12).csv")