In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process1/trian/process 1 train data row.csv",index_col=0)

In [2]:
data_row

                                               sentence  predict
835                     경기도 지역화폐 있으신가요?네OOO 님 강좌 신청됐어요.        0
1609  패키지 요금은 10월31일까지만 적용되는데 안내해드릴까요?공유프린터 사용시에는 인쇄...        0
950      네 두분 혼인신고가 되어있는 상태인가요? 반명함판 사진 1매와 신분증 필요합니다.         0
1761  고지서에 나와있는 관리번호좀 불러주시겠습니까?주택규모는 60제곱미터 이하나 전세 또...        0
1202   이런 사실에 대해서 본인께서 알고계셨던겁니까? 아니요 전혀 모르고 있던게 사실입니...        1
...                                                 ...      ...
314    네 네 그리고 저기 선생님 휴대폰에 그 바이러스 침해 흔적이 있는지 없는지를 제가...        1
10     그 아까 저한테 신한 은행 뭐 하나 더 있다고 말씀하셨는데 뭐 말씀하실 거 따로 ...        1
1981                    네, 무엇을 안내해 드릴까요?아니요, 서로 다른 겁니다.        0
1286                 가족중에 말씀이십니까?5분정도 전에 가시는 걸 권장드립니다.         0
1360                  언제 이용하실껀가요?동주민센터에 먼저 연락해보셔야 합니다.         0

[3532 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
326    사기범\u3000:\u3000음 농협 같은 경우는 지금 거의 통장을 지금 몇\u3...        1
543    보냈거든요 아 예. 아 왔네요. 지금 왔네요. 통화 중에 아 예 아 잠깐만요. 그...        1
347    어떻게 기록삭제가 바로되는데 확인이 안돼요? 그쪽에서 기록삭제 하고 납부하셨잖아요...        1
236    네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네 매 월 상...        1
779                              지역이 어디신가요?네. 바로 출동할게요.        0
...                                                 ...      ...
1850  어느분과 공동명의인가요?개인은 과세표준에 0.6~0.4%세율이 적용되고 법인은 법인...        0
1197                         납부고지서 재발급 되나요?서울자전거 앱입니다.         0
1407       네 거주지가 어디신지 여쭈어봐도 되겠습니까?네, 이체증을 확인 후 입금됩니다.         0
1741  수도요금 말씀이십니까?크리에이터는 보다 나은 콘텐츠를 제공하고, 소비자는 기만 광고...        0
250    지금? 네 어 오늘은 뭐 어떻게든 뭐 시작을 했기 때문에 마무리해야 돼요. 네 어...        1

[3532 rows x 2 columns]

In [6]:
data.to_csv("process1 train data before nlp(L12).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(3532, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
3527     NaN
3528     NaN
3529     NaN
3530     NaN
3531     NaN

[3532 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

     predict
0          1
1          1
2          1
3          1
4          0
...      ...
3527       0
3528       0
3529       0
3530       0
3531       1

[3532 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.014345,0.133075,0.069248,0.049538,-0.065452,-0.066074,0.001002,0.013879,-0.035348,0.01605,...,0.064667,-0.020818,-0.015973,0.000092,0.091268,0.117286,0.062816,0.029389,-0.062784,0.028866
1,0.061545,0.094124,0.077094,0.059245,0.002535,-0.092716,0.097947,0.000641,-0.039858,-0.071955,...,0.021152,0.026928,0.011297,0.020332,-0.044005,0.046369,0.050284,0.05159,-0.074935,0.01958
2,0.100837,0.111959,0.091216,0.05847,0.00713,-0.105768,0.086754,0.003472,-0.064661,-0.060171,...,0.019498,-0.007334,0.00936,0.065886,0.000382,0.052578,0.005429,0.071636,-0.064604,0.01705
3,0.095147,0.104638,0.019833,-0.01697,-0.028078,-0.025944,0.069098,-0.084556,-0.023074,0.031939,...,0.01644,0.01246,-0.008416,0.049657,-0.042518,0.044484,-0.04533,0.042553,-0.083781,0.024544
4,0.036873,0.116794,0.052535,0.006047,0.018818,-0.133156,0.090687,0.00702,-0.085005,-0.000181,...,0.071634,0.060648,0.082105,-0.023591,0.013258,0.022413,-0.013976,0.058212,-0.071932,-0.035079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3527,0.109256,0.099526,0.06711,0.046267,-0.022267,-0.138655,0.087721,-0.015291,-0.040703,-0.03377,...,0.041477,-0.025325,-0.015023,-0.030534,-0.074743,-0.014093,-0.019381,0.044692,-0.064795,-0.027518
3528,0.011171,0.095312,0.073304,0.053056,0.04323,-0.061039,0.027104,-0.036477,-0.069876,-0.047512,...,0.05021,0.018086,-0.004391,-0.025507,-0.013868,0.008449,-0.041917,0.066065,-0.028983,-0.018139
3529,0.079232,0.108368,0.096725,0.06374,0.015398,-0.060285,0.093259,-0.063354,-0.069918,-0.004876,...,0.02451,0.074807,0.064023,0.009134,0.033534,-0.016979,-0.016846,0.005339,-0.056906,-0.020152
3530,0.077228,0.064617,0.144688,0.045424,0.032869,-0.114116,0.071911,0.004491,-0.023915,-0.111281,...,0.038084,-0.039079,0.032536,0.024766,0.029772,0.057134,-0.011359,0.0452,0.002238,0.043543
3531,0.051413,0.137878,0.063696,0.065643,0.013118,-0.050626,0.122884,-0.075377,-0.052917,-0.082272,...,0.060544,0.017386,0.027248,0.015497,-0.034218,0.046846,-0.035675,0.065379,-0.010042,0.051914

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.014345,0.133075,0.069248,0.049538,-0.065452,-0.066074,0.001002,0.013879,-0.035348,0.01605,...,-0.020818,-0.015973,0.000092,0.091268,0.117286,0.062816,0.029389,-0.062784,0.028866,1
1,0.061545,0.094124,0.077094,0.059245,0.002535,-0.092716,0.097947,0.000641,-0.039858,-0.071955,...,0.026928,0.011297,0.020332,-0.044005,0.046369,0.050284,0.05159,-0.074935,0.01958,1
2,0.100837,0.111959,0.091216,0.05847,0.00713,-0.105768,0.086754,0.003472,-0.064661,-0.060171,...,-0.007334,0.00936,0.065886,0.000382,0.052578,0.005429,0.071636,-0.064604,0.01705,1
3,0.095147,0.104638,0.019833,-0.01697,-0.028078,-0.025944,0.069098,-0.084556,-0.023074,0.031939,...,0.01246,-0.008416,0.049657,-0.042518,0.044484,-0.04533,0.042553,-0.083781,0.024544,1
4,0.036873,0.116794,0.052535,0.006047,0.018818,-0.133156,0.090687,0.00702,-0.085005,-0.000181,...,0.060648,0.082105,-0.023591,0.013258,0.022413,-0.013976,0.058212,-0.071932,-0.035079,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3527,0.109256,0.099526,0.06711,0.046267,-0.022267,-0.138655,0.087721,-0.015291,-0.040703,-0.03377,...,-0.025325,-0.015023,-0.030534,-0.074743,-0.014093,-0.019381,0.044692,-0.064795,-0.027518,0
3528,0.011171,0.095312,0.073304,0.053056,0.04323,-0.061039,0.027104,-0.036477,-0.069876,-0.047512,...,0.018086,-0.004391,-0.025507,-0.013868,0.008449,-0.041917,0.066065,-0.028983,-0.018139,0
3529,0.079232,0.108368,0.096725,0.06374,0.015398,-0.060285,0.093259,-0.063354,-0.069918,-0.004876,...,0.074807,0.064023,0.009134,0.033534,-0.016979,-0.016846,0.005339,-0.056906,-0.020152,0
3530,0.077228,0.064617,0.144688,0.045424,0.032869,-0.114116,0.071911,0.004491,-0.023915,-0.111281,...,-0.039079,0.032536,0.024766,0.029772,0.057134,-0.011359,0.0452,0.002238,0.043543,0
3531,0.051413,0.137878,0.063696,0.065643,0.013118,-0.050626,0.122884,-0.075377,-0.052917,-0.082272,...,0.017386,0.027248,0.015497,-0.034218,0.046846,-0.035675,0.065379,-0.010042,0.051914,1

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
2130,0.052681,0.05334,0.049926,0.050476,-0.025834,-0.075918,0.07098,-0.000335,-0.06025,-0.022353,...,0.013799,0.007726,0.015177,-0.013155,0.069447,0.024753,0.038063,-0.080425,-0.009171,0
1973,0.038633,0.117251,0.036907,0.035491,-0.001167,-0.061041,0.075565,0.006134,-0.07318,-0.056844,...,-0.080753,-0.007517,0.038763,0.028846,0.025833,-0.019822,0.069651,-0.024857,-0.006459,0
2682,0.059164,0.117286,0.061836,0.014222,0.015387,-0.106569,0.063511,-0.053788,-0.069483,-0.118864,...,-0.05148,-0.015387,-0.004514,-0.004432,0.022741,-0.014364,0.117365,-0.052121,-0.022244,0
1500,0.07958,0.104174,0.083929,0.015054,-0.004028,-0.059743,0.088963,0.023656,-0.080602,-0.007944,...,0.067732,0.05279,0.089213,0.013857,0.058137,-0.002398,0.093943,-0.038643,0.03406,1
863,0.122123,0.109663,0.07479,0.045607,-0.002871,-0.122592,0.081832,0.003311,-0.023709,-0.076324,...,0.000983,0.016179,0.072141,-0.033758,0.049317,0.042181,0.03231,-0.04946,0.015013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,-0.02056,0.114968,0.090542,0.037182,-0.033965,-0.073257,0.082439,-0.042006,-0.111205,-0.049645,...,0.035063,-0.009005,0.001712,-0.001025,0.006916,-0.042048,0.056844,-0.00209,0.003419,0
1819,0.005473,0.107869,0.017736,0.006528,0.00359,-0.080791,0.095931,-0.046186,-0.086261,-0.014261,...,0.037513,0.040081,-0.007233,0.01196,0.062608,-0.018076,0.068869,-0.078631,-0.024864,0
3039,-0.033943,0.062056,0.027151,-0.007793,0.004635,-0.118097,0.084947,-0.069223,-0.058607,-0.056586,...,0.031206,0.008606,0.008056,-0.032903,0.025994,-0.041332,0.027292,-0.057206,-0.037201,0
3290,0.12038,0.153412,0.088795,0.063998,-0.032955,-0.108393,0.082552,0.02552,-0.063058,-0.089014,...,0.038962,0.039133,0.052265,-0.042251,0.064331,0.038921,0.069663,-0.047869,0.02786,1
1124,0.055092,0.107332,0.080639,0.0545,0.007977,-0.091331,0.128289,-0.002353,-0.062055,-0.047511,...,0.062528,0.036488,0.048164,0.015712,0.034549,-0.065234,0.037178,-0.037414,-0.012771,0

In [26]:
data.to_csv("process1 train data after nlp(L12).csv")