In [19]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/normal/일반 민원 data.csv",index_col=0)
data_ab1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/fishing/6 sentence/대출사기형(6문장).csv",index_col=0)
data_ab2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/fishing/6 sentence/수사기관형(6문장).csv",index_col=0)

In [20]:
data

                                             sentence  predict
0                                   어떤 은행을 이용하고 계십니까?        0
1                                     어느지점으로 안내해드릴까요?        0
2                             지금 전화거신 핸드폰이 본인명의 맞습니까?        0
3                                    생년월일을 말씀해주시겠습니까?        0
4                                     살고계신 주소는 어디입니까?        0
...                                               ...      ...
22584                                     62400원 입니다.        0
22585                                   1423200원 입니다.        0
22586  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.        0
22587                                    1~3순위가 있습니다.        0
22588             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.        0

[22589 rows x 2 columns]

In [21]:
data=data.sample(frac=1)

In [22]:
data=data[:6000]

In [23]:
data

                                                sentence  predict
6795   여권 분실시 인터폴에 분실 여권이 등록되어 추후 입국심사 과정이 까다로워질 가능성이...        0
6200                                   최대 O권까지 빌릴 수 있습니다        0
14014                    위텍스 홈페이지나 은행 홈페이지에서 납부 가능하십니다.         0
6498             현재 코로나 관계로 모든 문화행사는 온라인으로 비대면 관람만 가능합니다        0
19914                              담배소비세액의 43.99% 되겠습니다,        0
...                                                  ...      ...
20452                                  네 궁금하신 사항 말씀해주세요.        0
3822                                                 NaN        0
5992                           포항 지진 피해 접수 전담 콜센터가 있습니다.        0
472                                상담 전화 번호도 있는데 알려드릴까요?        0
18173                                    큰 도움 못드려 죄송합니다.        0

[6000 rows x 2 columns]

In [24]:
data_ab1

                                              sentence  predict
0    여보세요 네   님 예 예 어저께 통화했던 최영환입니다 아 예 예 어떻게 가진행 결...        1
1     아 네 일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요 네 ...        1
2     매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        1
3     말씀하세요 괜찮으세요? 말씀하세요 아니 괜찮으시냐고요? 아 예 예 그럼 간단하게 ...        1
4     현재 진행하시는 대출 상품은 신용 대출은 아니고 소득 담보 대출이라 그래서 연체를...        1
..                                                 ...      ...
926   사장님께서 혹시 안쓰시는 계좌가 있으시면 저희가 월 400에서 450만원까지 선지...        1
927   저희는 그 손님들 게임머니 펀드용으로 사용하는겁니다 아 제가 400에서 600그거...        1
928   네 알겠습니다 네네 네 여보세요 뭐 어디세요? 아 네 안녕하세요 저희 그 하나캐피...        1
929   아 그래요? 네네네 고객님께서 이제 중개업체쪽에서 필요 자금 부분 신청하신 건 때...        1
930   네네 어디어디 이용중이십니까? 너무 많아가지고  네 대부업건 어디어디 이용중이세요...        1

[931 rows x 2 columns]

In [25]:
data_ab2

                                               sentence  predict
0     아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다. 본 사건 조사는 법원...        2
1      네 OOOOOO 네 성함은 OOO님 맞으시죠? 네 네 본인 김성오 일당 잘 알고 ...        2
2      네 네 이천 십 칠년이 월 삼 일 경기도 광명시 철산동 지점에서 본인의 명의로 되...        2
3      네 네 이 사건은 전자 금융 거래법 위반 금융 범죄 사기 사건으로 다수의 피해자가...        2
4      근데 이런 조사 과정에서 불법적으로 사용된 내용이 발견이 되신다면 본인 명의의 금...        2
...                                                 ...      ...
2118   아닌데요 본인께서 광명시 쪽 가셔서 금융권 업무 보신 거 아니세요? 네 아 본인께...        2
2119   제가 연락드린 요점은 그 본인이 금전적인 대가를 받고 김용식에게 통장을 판매한 사...        2
2120   그거는 그니까 만약에... 네 일단 사건 경위에 대해서 말씀 좀 드리면은 그 중고...        2
2121   죄송한데 요즘 보이싱피싱이 너무 많아가지고 그럼 본인께서 오셔서 대면조사 받으시면...        2
2122   서울시오? 저희 관할이기 때문에 저희 쪽에서 조사를 진행하는 거고 그래서 제가 일...        2

[2123 rows x 2 columns]

In [26]:
data_ab=pd.concat([data_ab1,data_ab2])

In [27]:
data_ab

                                               sentence  predict
0     여보세요 네   님 예 예 어저께 통화했던 최영환입니다 아 예 예 어떻게 가진행 결...        1
1      아 네 일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요 네 ...        1
2      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        1
3      말씀하세요 괜찮으세요? 말씀하세요 아니 괜찮으시냐고요? 아 예 예 그럼 간단하게 ...        1
4      현재 진행하시는 대출 상품은 신용 대출은 아니고 소득 담보 대출이라 그래서 연체를...        1
...                                                 ...      ...
2118   아닌데요 본인께서 광명시 쪽 가셔서 금융권 업무 보신 거 아니세요? 네 아 본인께...        2
2119   제가 연락드린 요점은 그 본인이 금전적인 대가를 받고 김용식에게 통장을 판매한 사...        2
2120   그거는 그니까 만약에... 네 일단 사건 경위에 대해서 말씀 좀 드리면은 그 중고...        2
2121   죄송한데 요즘 보이싱피싱이 너무 많아가지고 그럼 본인께서 오셔서 대면조사 받으시면...        2
2122   서울시오? 저희 관할이기 때문에 저희 쪽에서 조사를 진행하는 거고 그래서 제가 일...        2

[3054 rows x 2 columns]

In [28]:
data=pd.concat([data,data_ab])

In [29]:
data

                                                sentence  predict
6795   여권 분실시 인터폴에 분실 여권이 등록되어 추후 입국심사 과정이 까다로워질 가능성이...        0
6200                                   최대 O권까지 빌릴 수 있습니다        0
14014                    위텍스 홈페이지나 은행 홈페이지에서 납부 가능하십니다.         0
6498             현재 코로나 관계로 모든 문화행사는 온라인으로 비대면 관람만 가능합니다        0
19914                              담배소비세액의 43.99% 되겠습니다,        0
...                                                  ...      ...
2118    아닌데요 본인께서 광명시 쪽 가셔서 금융권 업무 보신 거 아니세요? 네 아 본인께...        2
2119    제가 연락드린 요점은 그 본인이 금전적인 대가를 받고 김용식에게 통장을 판매한 사...        2
2120    그거는 그니까 만약에... 네 일단 사건 경위에 대해서 말씀 좀 드리면은 그 중고...        2
2121    죄송한데 요즘 보이싱피싱이 너무 많아가지고 그럼 본인께서 오셔서 대면조사 받으시면...        2
2122    서울시오? 저희 관할이기 때문에 저희 쪽에서 조사를 진행하는 거고 그래서 제가 일...        2

[9054 rows x 2 columns]

In [30]:
data=data.sample(frac=1)

In [31]:
data

                                                sentence  predict
14518  저희 시에서는 찾아가는 수돗물 안심확인제를 실시하여 시민의 불안감을 완화시키기 위해...        0
5587                                           네, 있습니다.         0
5612                               주민등록지 동에서 찾을 수 있습니다.         0
3198                                 추가로 궁금하신 문의가 있으실까요?        0
16698                   2021년 1월 4일 -2021년 1월 29일까지 입니다.        0
...                                                  ...      ...
8355                               처리기간은 약 20일 정도 소요됩니다.        0
14592               영구임대,국민임대, 전세임대, 기존주택 매입 전세임대가 있습니다.        0
9790                             최소 6개월, 납입횟수 6회 이상입니다.         0
922     그럼 그쪽 전산망으로 이제 고객센터한테 보내야 돼요 서류를 그부분이 목요일날 이 ...        1
5571                         희망두배 청년통장 홈페이지에서 확인하시면 됩니다.        0

[9054 rows x 2 columns]

In [32]:
test_data=data[:300]

In [33]:
train_data=data[300:data.shape[0]]

In [34]:
train_data

                                                sentence  predict
16505     상가건물의 환산보증금 9억원이하의 점포에 대해 임대료를 인하하는 임대인이 대상입니다        0
589     그 뭐야 대화 내용 들어 보니까 뭐 핸드폰 번호를 적어 놨는데 그건 뭔가요? 핸드...        2
19533  서울시는 빈곤계층에 최저생활비를 지원하는 제도로 국민기초생활보장제도를 운영되고 있습...        0
174     아니요 말씀하세요. 예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고...        1
17834                          코로나로 인한거라 추세를 지켜봐야할거같아요.         0
...                                                  ...      ...
8355                               처리기간은 약 20일 정도 소요됩니다.        0
14592               영구임대,국민임대, 전세임대, 기존주택 매입 전세임대가 있습니다.        0
9790                             최소 6개월, 납입횟수 6회 이상입니다.         0
922     그럼 그쪽 전산망으로 이제 고객센터한테 보내야 돼요 서류를 그부분이 목요일날 이 ...        1
5571                         희망두배 청년통장 홈페이지에서 확인하시면 됩니다.        0

[8754 rows x 2 columns]

In [35]:
train_data.to_csv("train data.csv")
test_data.to_csv("test data.csv")