In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/train/train data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
2868    사용하시는 휴대 전화 전화전화번호 통신사는 어떻게 되세요? SKT요 본인 명의세요? 예        1
10961               그럼 온라인 구매처 알려드릴게요. 농협몰에서 구입 가능하십니다.         0
4243    네 다름이 아니구요 사장님께서 혹시 안쓰시는 은행 사용자 ID가 있으시면 저희가 ...        1
890     위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 녹음를 통해서 대...        1
7431    위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 음성 녹음를 통해서 대...        2
...                                                  ...      ...
5884    무슨소리하시는거죠? 지금 그 은행 사용자 계정 제가 신고 해놨거든요? 네 입출금 ...        1
11073             대학생을 위한 다양한 정책도 마련되어있으니 확인하시고 신청해주세요.         0
2647    수납 담당자님 은행 입출금 계좌 숫자는 바로 카카오톡으로 보내드릴거구요. 수납 가...        1
9097    아 뭐 혹시 온라인에서 가입하신적은 없으세요? 네 가입한적 없는데요 아... 자본...        1
4136    고객님 본인명의세요? 예 예 수납 담당자님 은행 사용자 ID 숫자는 바로 카카오톡...        1

[37311 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
954     아 뭐 혹시 온라인에서 가입하신적은 없으세요? 네 가입한적 없는데요 아... 재정...        1
15901                광진구에서 열리는 문화 행사에는 서울 동화축제(이)가 있습니다.        0
4836    고객님 본인명의세요? 예 예 수납 담당자님 입출금 계정 전화전화번호는 바로 카카오...        2
219     20만원 큰 자본도 아니겠지만 느낌이 이상하네요 좀. 제가 지금까지 대출을 받은거...        2
14208                                네~~즐거운 여행 되시길 바랍니다.        0
...                                                  ...      ...
429     원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...        1
270     고객님 본인명의세요? 예 예 수납 담당자님 은행 은행 계좌 전화전화번호는 바로 카...        2
5023    사무실 좀 알아보시고 연락을 주세요 아 금액을 그렇게 먼저 넣는거 처음인데 대출 ...        2
6780    수납 담당자님 사용자 계정 연락처는 바로 카카오톡으로 보내드릴거구요. 수납 가능하...        2
6784    무슨소리하시는거죠? 지금 그 사용자 ID 제가 신고 해놨거든요? 네 입출금 입출금...        2

[37311 rows x 2 columns]

In [7]:
data.to_csv("train_data_before_vector.csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_train.shape

(37311, 768)

In [15]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [16]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
37306     NaN
37307     NaN
37308     NaN
37309     NaN
37310     NaN

[37311 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [19]:
y_train

      predict
0           1
1           0
2           2
3           2
4           0
...       ...
37306       1
37307       2
37308       2
37309       2
37310       2

[37311 rows x 1 columns]

In [20]:
y_train.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [22]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.083393,-0.020136,-0.003427,0.021125,0.016512,0.015008,-0.048717,0.037176,0.057792,-0.037915,...,0.004655,-0.006514,0.030807,0.011541,-0.042234,-0.054738,0.003059,0.030819,0.010018,-0.018438
1,0.071408,-0.054099,-0.023734,-0.018022,-0.005088,-0.001611,-0.003987,0.000252,0.08325,-0.003297,...,-0.026164,-0.046347,0.014888,0.025753,-0.051669,-0.04818,0.013228,0.014168,0.007205,-0.022488
2,0.056164,-0.055892,-0.019182,-0.005803,0.035146,-0.015589,-0.024728,0.022312,0.081397,-0.054949,...,-0.011842,-0.021166,-0.015559,0.007563,-0.048717,-0.095281,-0.011063,0.030414,0.026727,-0.008912
3,0.030851,-0.067112,-0.022173,-0.003573,0.024801,-0.022989,-0.0129,0.010194,0.063629,0.041408,...,-0.016511,-0.048483,-0.040956,-0.033412,-0.059829,-0.014791,0.00561,0.035839,-0.018354,-0.039184
4,0.051079,-0.034775,-0.023575,0.01813,0.034986,0.007539,-0.089186,0.028627,0.060345,-0.002166,...,-0.027908,-0.020455,0.014197,-0.021216,-0.043747,-0.073096,0.015423,0.017931,0.015423,-0.020427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37306,0.047395,-0.045138,-0.031999,0.010337,0.006319,0.004162,-0.01299,0.006809,0.060894,0.004175,...,-0.040958,-0.028364,-0.010077,0.009899,-0.035728,-0.017262,0.011707,0.031746,0.019441,-0.032411
37307,0.060715,-0.062337,-0.021639,-0.01137,0.040515,-0.015845,-0.022563,0.021878,0.074393,-0.054775,...,-0.010989,-0.021827,-0.017839,0.000256,-0.046545,-0.097845,-0.005802,0.029495,0.027185,-0.002937
37308,0.068793,-0.04593,-0.032782,-0.003897,-0.004139,0.013053,0.011385,-0.006365,0.051806,-0.004768,...,-0.020515,-0.02315,-0.022794,0.01949,-0.037394,-0.051581,0.018745,0.022394,0.009574,-0.042832
37309,0.09856,-0.045179,-0.028527,-0.00986,0.020494,-0.00481,0.004243,0.004573,0.048868,-0.027259,...,0.000669,-0.015655,-0.001992,0.025899,-0.037561,-0.065804,0.013699,0.0263,0.011124,-0.028539
37310,0.060303,-0.02647,-0.038379,0.008172,0.000042,0.007055,0.054615,0.024539,0.097287,-0.024446,...,0.003592,-0.02321,-0.000367,0.035532,-0.051622,-0.093927,0.019155,0.042751,0.00733,0.01249

In [23]:
data=pd.concat([x_train,y_train],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.083393,-0.020136,-0.003427,0.021125,0.016512,0.015008,-0.048717,0.037176,0.057792,-0.037915,...,-0.006514,0.030807,0.011541,-0.042234,-0.054738,0.003059,0.030819,0.010018,-0.018438,1
1,0.071408,-0.054099,-0.023734,-0.018022,-0.005088,-0.001611,-0.003987,0.000252,0.08325,-0.003297,...,-0.046347,0.014888,0.025753,-0.051669,-0.04818,0.013228,0.014168,0.007205,-0.022488,0
2,0.056164,-0.055892,-0.019182,-0.005803,0.035146,-0.015589,-0.024728,0.022312,0.081397,-0.054949,...,-0.021166,-0.015559,0.007563,-0.048717,-0.095281,-0.011063,0.030414,0.026727,-0.008912,2
3,0.030851,-0.067112,-0.022173,-0.003573,0.024801,-0.022989,-0.0129,0.010194,0.063629,0.041408,...,-0.048483,-0.040956,-0.033412,-0.059829,-0.014791,0.00561,0.035839,-0.018354,-0.039184,2
4,0.051079,-0.034775,-0.023575,0.01813,0.034986,0.007539,-0.089186,0.028627,0.060345,-0.002166,...,-0.020455,0.014197,-0.021216,-0.043747,-0.073096,0.015423,0.017931,0.015423,-0.020427,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37306,0.047395,-0.045138,-0.031999,0.010337,0.006319,0.004162,-0.01299,0.006809,0.060894,0.004175,...,-0.028364,-0.010077,0.009899,-0.035728,-0.017262,0.011707,0.031746,0.019441,-0.032411,1
37307,0.060715,-0.062337,-0.021639,-0.01137,0.040515,-0.015845,-0.022563,0.021878,0.074393,-0.054775,...,-0.021827,-0.017839,0.000256,-0.046545,-0.097845,-0.005802,0.029495,0.027185,-0.002937,2
37308,0.068793,-0.04593,-0.032782,-0.003897,-0.004139,0.013053,0.011385,-0.006365,0.051806,-0.004768,...,-0.02315,-0.022794,0.01949,-0.037394,-0.051581,0.018745,0.022394,0.009574,-0.042832,2
37309,0.09856,-0.045179,-0.028527,-0.00986,0.020494,-0.00481,0.004243,0.004573,0.048868,-0.027259,...,-0.015655,-0.001992,0.025899,-0.037561,-0.065804,0.013699,0.0263,0.011124,-0.028539,2
37310,0.060303,-0.02647,-0.038379,0.008172,0.000042,0.007055,0.054615,0.024539,0.097287,-0.024446,...,-0.02321,-0.000367,0.035532,-0.051622,-0.093927,0.019155,0.042751,0.00733,0.01249,2

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
4221,0.034676,-0.066,-0.041473,0.00812,0.017598,-0.00522,-0.028693,0.022498,0.051296,-0.000499,...,-0.013779,-0.003824,0.011288,-0.043197,-0.025113,0.010422,0.019127,0.012049,-0.031734,1
15245,0.039339,-0.07512,-0.020271,-0.019712,0.002946,-0.009697,0.008116,-0.005114,0.049797,-0.008692,...,-0.052109,-0.016368,0.008024,-0.040481,-0.041971,0.015847,0.025828,0.01352,-0.020395,0
1426,0.101521,-0.045951,-0.030858,-0.003524,0.01579,-0.010032,0.00744,-0.000169,0.05006,-0.023921,...,-0.012479,0.006013,0.027156,-0.036163,-0.062832,0.01918,0.028708,0.006878,-0.030977,2
27180,0.034238,-0.063409,-0.017339,0.002946,0.015286,-0.01696,-0.027649,0.012926,0.048205,-0.014294,...,-0.034994,-0.008547,-0.00791,-0.034286,-0.076938,0.012559,0.032485,0.012744,-0.033252,0
7436,0.064443,-0.042327,-0.03217,0.026788,0.006063,-0.000491,0.031842,0.048632,0.111324,-0.026245,...,-0.024581,-0.001723,0.015166,-0.040801,-0.079627,0.020931,0.04073,0.014394,0.019704,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12490,0.07056,-0.045999,-0.033598,-0.001037,0.000136,0.013556,0.007121,-0.006789,0.05567,-0.002259,...,-0.022571,-0.019913,0.017446,-0.039905,-0.045503,0.017226,0.025638,0.008962,-0.042474,2
3347,0.071874,-0.037103,-0.024088,-0.00458,0.01203,-0.010857,-0.005602,-0.010083,0.061135,-0.010329,...,-0.022226,0.002723,0.030612,-0.040192,-0.075849,0.010253,0.011931,-0.002426,-0.028831,0
14989,0.056541,-0.058617,-0.010808,0.018694,0.03674,-0.003676,-0.043685,0.008248,0.039776,-0.007415,...,-0.018969,0.010016,-0.001497,-0.04029,-0.050764,0.005177,0.033108,0.01803,-0.0201,0
21128,0.088403,-0.038954,-0.028015,0.01759,0.012131,0.016317,-0.015222,0.02012,0.066424,-0.011725,...,-0.008698,-0.032886,0.024706,-0.0354,-0.04208,0.012919,0.027132,0.013417,-0.024624,1
20744,0.05461,-0.04373,-0.019112,0.028697,0.046456,-0.012693,-0.049154,0.041538,0.071291,-0.005427,...,-0.01742,0.027383,-0.009407,-0.062575,-0.031646,0.005053,0.050605,0.033561,-0.035638,0

In [27]:
data.to_csv("train_data_after_vector.csv")