In [1]:
import numpy as np
import pandas as pd 
data=pd.read_csv('/Users/withmocha/Desktop/DATA/Capston Design(2024)/Data(24.03.12)/csv_file_data(24.03.21)/normal/콜센터(민원)/콜센터 민원_대중교통.csv')

data

       Unnamed: 0         상담사질문(요청)                                    상담사답변
0               0               NaN                                      NaN
1               1  가산동 어디에서 출발하십니까?                                      NaN
2               2               NaN                                      NaN
3               3               NaN  가산동 주민센터에서 남대문시장으로 가는 버스노선은 505번 버스입니다.
4               4               NaN                                      NaN
...           ...               ...                                      ...
38961       38961               NaN                              네 질문 해 주세요.
38962       38962               NaN                                      NaN
38963       38963               NaN    노선마다 다르지만 순천 시내버스는 가장 늦는게 23시55분 입니다.
38964       38964               NaN                                      NaN
38965       38965               NaN                         그렇군요. 저도 감사드립니다.

[38966 rows x 3 columns]

In [2]:
data.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
data.dtypes

상담사질문(요청)    object
상담사답변        object
dtype: object

In [4]:
data.shape

(38966, 2)

In [5]:
data['상담사질문(요청)'].isnull().sum()

33499

In [6]:
data1=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[0]),columns=['상담사질문(요청)'])
data2=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[1]),columns=['상담사답변'])

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_25496/3933870051.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data1=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[0]),columns=['상담사질문(요청)'])
/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_25496/3933870051.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data2=pd.DataFrame(index=range(0,data.shape[0]-data.isnull().sum()[1]),columns=['상담사답변'])

In [7]:
print(data1.shape)
print(data2.shape)
print(data.shape)

(5467, 1)
(13749, 1)
(38966, 2)

In [8]:
print(type(data1.iloc[0,0]))
print(type(data.iloc[1,1]))

<class 'float'>
<class 'float'>

In [9]:
index=[]
for i in range(data.shape[0]):
    if type(data.iloc[i,0])==str:
        index.append(i)
    else:
        continue
        
data1_index=np.array(index)

In [10]:
index=[]
for i in range(data.shape[0]):
    if type(data.iloc[i,1])==str:
        index.append(i)
    else:
        continue
        
data2_index=np.array(index)

In [11]:
print(data2_index)

[    3     5     7 ... 38961 38963 38965]

In [12]:
for i in range(len(data1_index)):
    data1.iloc[i,0]=data.iloc[data1_index[i],0]

In [13]:
for i in range(len(data2_index)):
    data2.iloc[i,0]=data.iloc[data2_index[i],1]

In [14]:
data1

                          상담사질문(요청)
0                  가산동 어디에서 출발하십니까?
1                   수원 어디에서 출발하십니까?
2                      서울 어디로 가십니까?
3                   인천 어디에서 출발하십니까?
4                     의정부 어디로 가십니까?
...                             ...
5462         네 맞습니다. 어떤 일로 문의 주셨나요?
5463                     어떤 것 때문이죠?
5464       혹시 질문 해주시는 이유를 알 수 있을까요?
5465                  궁금증이 좀 풀리셨나요?
5466  도움이 되신다니 다행이네요. 또 궁금한 점 있으세요?

[5467 rows x 1 columns]

In [15]:
data2

                                         상담사답변
0      가산동 주민센터에서 남대문시장으로 가는 버스노선은 505번 버스입니다.
1                      문성초등학교 정류장에서 탑승하시면 됩니다.
2                                   1200원 입니다.
3      서울역에서 서울대학교로 가는 버스노선은 750A, 750B 버스입니다.
4                            약 1시간 10분정도 걸립니다.
...                                        ...
13744                    아하 알겠습니다. 잠시 찾아보겠습니다.
13745    노선마다 다르지만 순천 시내버스는 가장 빠른게 05시50분 입니다.
13746                              네 질문 해 주세요.
13747    노선마다 다르지만 순천 시내버스는 가장 늦는게 23시55분 입니다.
13748                         그렇군요. 저도 감사드립니다.

[13749 rows x 1 columns]

In [16]:
data1.to_csv("콜센터민원_대중교통_상담사질문.csv")

In [17]:
data2.to_csv("콜센터민원_대중교통_상담사답변.csv")