In [3]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process2/process2 train data row.csv",index_col=0)

In [4]:
data_row

                                               sentence  predict
973                    아 그러면 29일 이랬죠? 예 매 월 상환이 그렇죠? 원금        0
184    예 동결 처리가 어떤 뜻인지 알고 계십니까? 네 네 그 안에 들어있던 피해 자금에...        1
531                 5017 5027이요. 네 어 김명희 명의 도용 사건이에요. 네        1
772    심사자료 정리를 바로 진행 진행 도와드리겠습니다. 실제 거주하시는 지역은 울산 남...        0
1227   20만원 먼저 넣어라 이건 아닌거 같은데요? 그래서 말씀 드리잖아요. 20만원 넣...        0
...                                                 ...      ...
324    입출금이요 네 이것도 다른 금융권도 있으세요? 아니요. 아 본인이 이 두개만 사용...        1
198    어 모든 조사 과정은 녹취로서 진행이 될 거고 이 녹취 증거 자료는 본인 피해 입...        1
855    그냥 전화 누르면 전화 갑니까? 1588 2114 하시고 통화 누르시면 됩니다. ...        1
45     네 네 일단은 녹취를 제가 마쳐놨는데 소환장을 발부를 해드려서 저희 쪽에 내방을 ...        1
109       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        0

[2696 rows x 2 columns]

In [5]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [6]:
data=data_row.sample(frac=1)

In [7]:
data

                                               sentence  predict
1480                 통화 통화 괜찮으십니까? 통화 괜찮아요 네 통화 괜찮으십니까.        1
169    아 아 다른 게 아니라 그 OOO 본인 관련된 명의 도용한 건이 저희 쪽에 접수가...        1
556                      집중하실 거예요? 아 예 예. 말씀하세요. 다 들립니다        0
1486   확인하시려면 저희 서울 중앙 지검으로 나오시던지 금융감독원 방문하셔야 됩니다 네 ...        1
1046                  어디요? 햇살론 저축 은행이요 아 그러면 29일 이랬죠? 예        0
...                                                 ...      ...
370    5년이고요 네 매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로...        0
541    보안 카드 신용 카드 공인 인증서 다운 유에스비 등을 현장 압수 했어요. 문제가 ...        1
326    인터넷 뱅킹 그런거.. 예 예 보완 예 아니 저 본인께서 뭐 본인 계좌를 뭐 확인...        1
238                    아 그러면 29일 이랬죠? 예 매 월 상환이 그렇죠? 원금        0
1377   돈을 먼저 넣으라는 거는 나는 좀 이해가 안되네요.여보세요 안녕하세요 고객님 김종...        0

[2696 rows x 2 columns]

In [8]:
data.to_csv("process2 train data before nlp(base).csv")

In [9]:
from transformers import AutoModelForSequenceClassification, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("allenai/longformer-base-4096")
model = AutoModelForSequenceClassification.from_pretrained("allenai/longformer-base-4096", num_labels=2)

Some weights of LongformerForSequenceClassification were not initialized from the model checkpoint at allenai/longformer-base-4096 and are newly initialized: ['classifier.dense.bias', 'classifier.dense.weight', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [10]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [11]:
A=tokenizer(data.iloc[1,0])

In [12]:
A

{'input_ids': [0, 46747, 15722, 11936, 46747, 15722, 11936, 47672, 13859, 10470, 45209, 8210, 18537, 1437, 46873, 14292, 14285, 46747, 15722, 11936, 48444, 23133, 45209, 46, 4394, 1437, 46873, 18400, 18537, 384, 9332, 47672, 15264, 18537, 48280, 18537, 1437, 46873, 20024, 7471, 45209, 21402, 11423, 45209, 16948, 48, 47672, 10278, 5782, 48280, 711, 47672, 9357, 11936, 43998, 15113, 15375, 48589, 48, 1437, 46873, 15389, 20024, 48280, 20024, 46747, 21402, 7471, 47649, 46, 11582, 46747, 10278, 10809, 43998, 6800, 16948, 46747, 21402, 3602, 43998, 23133, 711, 46873, 7487, 7471, 47672, 9357, 4394, 43998, 11936, 48, 43998, 15113, 10674, 4, 46747, 15722, 11936, 47672, 11936, 10470, 1437, 47649, 27, 15722, 48280, 18537, 48589, 21402, 45209, 21402, 10470, 46873, 15264, 21402, 46747, 6800, 7487, 45209, 46, 10809, 45209, 9085, 48, 45209, 21402, 18537, 43998, 27969, 8906, 48444, 23133, 48444, 10470, 4, 47672, 11936, 10470, 2], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [13]:
max=0

for i in range(data.shape[0]):
    A=tokenizer(data.iloc[i,0])
    length=len(A['input_ids'])
    if length>max:
        max=length

In [14]:
max

772

In [15]:
list=[]

for i in range(max):
    list.append(i)

In [16]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [17]:
x_train.shape

(2696, 772)

In [18]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [19]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,762,763,764,765,766,767,768,769,770,771
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2691     NaN
2692     NaN
2693     NaN
2694     NaN
2695     NaN

[2696 rows x 1 columns]

In [21]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [22]:
y_train

     predict
0          1
1          1
2          0
3          1
4          0
...      ...
2691       0
2692       1
2693       1
2694       0
2695       0

[2696 rows x 1 columns]

In [23]:
y_train.isnull().sum()

predict    0
dtype: int64

In [24]:
vector=[]
A=tokenizer(data.iloc[1,0])
vector=A['input_ids']

In [25]:
vector[0]

0

In [26]:
for i in range(data.shape[0]):
    vector=[]
    A=tokenizer(data.iloc[i,0])
    vector=A['input_ids']
    for j in range(len(vector)):
        x_train.iloc[i,j]=vector[j]

In [27]:
x_train=x_train.dropna(axis=1)

In [28]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0,1437,47649,27819,8906,47649,27,10674,1437,47649,...,46873,20024,48,43998,7487,2840,43998,48,4394,43998
1,0,46747,15722,11936,46747,15722,11936,47672,13859,10470,...,14285,46747,15722,11936,48444,23133,45209,46,4394,1437
2,0,46747,6248,3602,43998,10470,3602,48589,711,43998,...,43998,711,23133,43998,15113,10674,116,46747,15722,11936
3,0,1437,47649,27,15722,48280,18537,48589,711,43998,...,15375,20024,46747,21402,7471,47649,46,11582,46747,11936
4,0,46747,25448,20024,45209,10674,10674,43998,15113,10674,...,9264,20024,45209,5543,21402,46747,21402,7471,43998,19002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0,195,45209,5782,11936,48280,20024,46873,15264,21402,...,47672,6248,10470,46747,3726,10674,46747,862,10172,47649
2692,0,47672,15264,20024,43998,15722,23133,46747,9253,20024,...,43998,15113,15375,46747,9253,20024,45209,9085,48,1437
2693,0,46747,46,18537,47649,11936,7487,45209,11936,18400,...,1437,46873,18400,18537,45209,4333,7487,46873,15389,7487
2694,0,46747,15722,11936,1437,46873,18400,18537,45209,4333,...,4394,46747,46,20024,45209,17772,11582,43998,2469,21402
2695,0,47672,9357,23133,48280,11936,47672,11423,4394,43998,...,48,4394,45209,46,4394,45209,27969,10674,1437,46873

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train=pd.DataFrame(scaler.fit_transform(x_train))

In [30]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.0,-1.929106,1.750862,1.777184,-1.427470,1.470342,-1.281212,-1.033401,-1.226262,1.954409,...,1.220345,-0.197039,-1.235636,1.169518,-0.908872,-1.141191,1.249692,-1.305357,-1.016272,1.179540
1,0.0,0.500212,-0.226844,-0.249932,0.692905,-0.353225,-0.362320,0.933670,-0.519106,-0.543869,...,-0.567213,1.317095,-0.341817,-0.651319,1.351171,0.027919,1.319492,-1.305466,-1.016272,-1.235170
2,0.0,0.500212,-0.813708,-1.313583,0.538868,-0.653202,-1.005367,0.982424,-1.267592,1.709076,...,1.062642,-1.291320,0.080799,1.169518,-0.488063,-0.689863,-1.279607,1.248743,-0.361331,-0.639506
3,0.0,-1.929106,1.750862,-1.769853,-1.045544,1.506383,0.147009,0.982424,-1.267592,1.709076,...,-0.507423,-0.197039,1.427400,-0.113734,-0.909755,1.440322,-1.283641,-0.674530,1.432413,-0.639506
4,0.0,0.500212,0.375629,0.782323,0.606725,-0.641550,-0.459696,0.738335,-0.447719,-0.530161,...,-0.842631,-0.197039,1.339695,-1.014384,-0.141030,1.388356,-0.052711,-0.899372,1.273476,-0.238615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.0,-1.995696,1.599717,-1.035354,-1.257688,1.506383,0.261746,0.891190,-0.439123,0.190717,...,1.264173,-0.977592,-0.641316,1.325636,-1.116407,-0.689863,1.408141,-1.260837,-0.682210,1.386681
2692,0.0,0.549807,-0.255215,0.782323,0.538868,-0.353225,0.501634,0.884491,-0.781315,0.098121,...,1.062642,-0.475298,-0.361605,1.325636,-0.811423,-0.151195,1.319492,-0.811098,-1.267540,-1.235170
2693,0.0,0.500212,-1.197888,0.592541,0.743448,-0.569469,-0.705603,0.802720,-0.628578,-0.011005,...,-1.271968,1.324234,-0.189103,-0.276441,1.172661,-1.055177,-0.854752,1.255634,-0.380584,-0.891921
2694,0.0,0.500212,-0.226844,-0.249932,-1.845986,1.426020,0.136439,-0.615349,1.265577,-0.956250,...,-1.109767,1.317095,-1.235750,-0.191992,1.172661,-0.280936,-0.618722,1.098392,-1.127568,-0.102450
2695,0.0,0.549807,-0.621122,1.179119,0.778805,-0.569469,2.395051,-0.993579,-1.057927,1.709076,...,-1.348159,-1.082640,1.339695,-1.326565,-1.079547,1.299750,0.325802,-0.724191,-1.187234,1.342654

In [31]:
data=pd.concat([x_train,y_train],axis=1)

In [32]:
data

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,predict
0,0.0,-1.929106,1.750862,1.777184,-1.427470,1.470342,-1.281212,-1.033401,-1.226262,1.954409,...,-0.197039,-1.235636,1.169518,-0.908872,-1.141191,1.249692,-1.305357,-1.016272,1.179540,1
1,0.0,0.500212,-0.226844,-0.249932,0.692905,-0.353225,-0.362320,0.933670,-0.519106,-0.543869,...,1.317095,-0.341817,-0.651319,1.351171,0.027919,1.319492,-1.305466,-1.016272,-1.235170,1
2,0.0,0.500212,-0.813708,-1.313583,0.538868,-0.653202,-1.005367,0.982424,-1.267592,1.709076,...,-1.291320,0.080799,1.169518,-0.488063,-0.689863,-1.279607,1.248743,-0.361331,-0.639506,0
3,0.0,-1.929106,1.750862,-1.769853,-1.045544,1.506383,0.147009,0.982424,-1.267592,1.709076,...,-0.197039,1.427400,-0.113734,-0.909755,1.440322,-1.283641,-0.674530,1.432413,-0.639506,1
4,0.0,0.500212,0.375629,0.782323,0.606725,-0.641550,-0.459696,0.738335,-0.447719,-0.530161,...,-0.197039,1.339695,-1.014384,-0.141030,1.388356,-0.052711,-0.899372,1.273476,-0.238615,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,0.0,-1.995696,1.599717,-1.035354,-1.257688,1.506383,0.261746,0.891190,-0.439123,0.190717,...,-0.977592,-0.641316,1.325636,-1.116407,-0.689863,1.408141,-1.260837,-0.682210,1.386681,0
2692,0.0,0.549807,-0.255215,0.782323,0.538868,-0.353225,0.501634,0.884491,-0.781315,0.098121,...,-0.475298,-0.361605,1.325636,-0.811423,-0.151195,1.319492,-0.811098,-1.267540,-1.235170,1
2693,0.0,0.500212,-1.197888,0.592541,0.743448,-0.569469,-0.705603,0.802720,-0.628578,-0.011005,...,1.324234,-0.189103,-0.276441,1.172661,-1.055177,-0.854752,1.255634,-0.380584,-0.891921,1
2694,0.0,0.500212,-0.226844,-0.249932,-1.845986,1.426020,0.136439,-0.615349,1.265577,-0.956250,...,1.317095,-1.235750,-0.191992,1.172661,-0.280936,-0.618722,1.098392,-1.127568,-0.102450,0
2695,0.0,0.549807,-0.621122,1.179119,0.778805,-0.569469,2.395051,-0.993579,-1.057927,1.709076,...,-1.082640,1.339695,-1.326565,-1.079547,1.299750,0.325802,-0.724191,-1.187234,1.342654,0

In [33]:
data=data.sample(frac=1)

In [34]:
train_data=data[300:]
test_data=data[:300]

In [35]:
train_data

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,predict
1555,0.0,0.549807,-0.626883,-1.682556,0.538868,-1.210605,-0.475436,0.802720,0.284143,-0.530161,...,1.161336,-0.017912,-1.326451,1.308572,-0.771095,-1.245312,1.098392,-1.229208,-0.722680,0
739,0.0,0.500212,-0.226844,-0.249932,0.744736,-0.569469,-0.475436,0.884491,-0.413050,0.307033,...,-0.281293,1.270637,-0.470893,-0.733011,1.388356,-0.052711,-0.899372,1.484563,-1.314088,0
382,0.0,-1.929106,1.702793,-0.817749,-1.507879,1.426020,-0.705603,-1.203695,1.196638,-0.827570,...,1.324234,-0.811423,-0.651319,1.308572,-1.263846,-0.309433,-1.229388,1.439698,-0.443599,0
66,0.0,-1.929106,1.702793,0.575056,-0.887808,1.330977,-1.216784,-1.164405,1.353132,-0.625646,...,1.369506,-0.423763,-0.904891,1.105837,-0.210074,-1.283526,1.248743,-0.755406,-1.313975,1
1267,0.0,0.500212,-1.156695,1.179119,0.692905,-1.210605,0.501634,0.884491,0.140629,0.098121,...,1.368203,0.348021,-0.823396,1.307302,-1.303252,-0.671058,1.298076,0.200988,-0.004241,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,0.0,0.500212,-0.099858,-1.313583,0.538868,-0.862821,-0.837160,0.802720,-0.439123,-0.648963,...,-1.328886,-1.238145,1.325636,-1.282778,-0.244756,1.415403,-0.898497,0.067144,1.179540,1
1725,0.0,0.500212,-1.147342,-0.475067,0.743448,-1.249672,-1.228435,0.982424,-1.267592,1.709076,...,-0.281293,0.080799,1.169518,-0.454458,-0.985467,1.496501,-0.899372,-0.982334,1.248247,0
1500,0.0,0.500212,-1.197888,0.782323,0.796119,-0.107508,2.465806,-1.563104,1.196638,-0.316142,...,1.161336,-0.376546,-0.722989,-1.315610,1.441647,-0.598318,-0.735348,1.485893,-0.639506,1
707,0.0,-1.998055,1.599717,-0.975880,-1.126064,1.261809,-0.995800,-0.699832,1.353132,-0.445360,...,1.317095,-0.882077,-0.904891,1.264482,-0.236864,0.049252,1.299334,-0.290449,-1.276359,1
2380,0.0,0.549807,-0.461367,-0.437034,0.692905,-0.353225,0.501634,0.802720,-0.978911,-0.190956,...,-0.726813,1.427400,-0.942998,-0.682906,1.395615,-0.217845,-0.898497,1.432413,0.270131,0

In [36]:
train_data.to_csv("process2 train data after nlp(longformer).csv")

In [37]:
test_data.to_csv("process2 test data after nlp(longformer).csv")