In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process1/process 1 train data row.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
12492                   사용하시간지 못한 일수에 대한 환불이 진행될 예정입니다.       0.0
2393    네 다름이 아니구요 사장님께서 혹시 안쓰시는 아이디가 있으시면 저희가 월 400에...      1.0
8688                               30날 초과 때 과태료과 부과됩니다.       0.0
3800    예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...      1.0
10492             군인중에서에 군부대에 있어 부대 밖으로 나오지 못하는 경우의 수입니다      0.0
...                                                  ...      ...
1612   1유형으로 선발되시각면 등록금 감면으로 혜택을 받으실꺼고, 2유형으로 선발되시간면 ...      0.0
16588                   OOO-OOOO-OOOO번호로  질문하시각면 될일같습니다.      0.0
12768                             네, 해제 등록 신청도 실행 가능합니다.      0.0
12222                                        6개월 보조 됩니다.      0.0
3374    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...      1.0

[24082 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                                sentence  predict
6900    음 자금 자금 입금 바로 되고요? 그렇죠. 당일로도 가능하시고 다만 위임 처리하실...      1.0
5245    지금 다짜고짜 여쭤보면 어떡합니까? 고객님 주민등록증도 접수도 안 해줬는데 그냥 ...      1.0
14889                                   네 한번 점검 해 보겠습니다.      0.0
2578    아 뭐 통장 식별숫자는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 다...      1.0
4481    네 다름이 아니구요 사장님께서 혹시 안쓰시는 입출금 은행 계정가 있으시면 저희가 ...      1.0
...                                                  ...      ...
4439    다른거 필요한 건 없나요? 뭐 추가적인 접수는 없으세요 아 뭐 통장 식별전화번호는...      1.0
9369    무슨소리하시는거죠? 지금 그 입출금 입출금 계좌 제가 신고 해놨거든요? 네 은행 ...      1.0
5687    고객님 본인명의세요? 예 예 수납 담당자님 로그인 계정 숫자는 바로 카카오톡으로 ...      1.0
6196                                 네 좋은 상담 되때기를 바랍니다.       0.0
10986                      20연간 입목 생장기간 4월간부터 10개월까지 입니다      0.0

[24082 rows x 2 columns]

In [6]:
data.to_csv("process1 train data before nlp(L12).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

384

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(24082, 384)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
24077     NaN
24078     NaN
24079     NaN
24080     NaN
24081     NaN

[24082 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

      predict
0         1.0
1         1.0
2         0.0
3         1.0
4         1.0
...       ...
24077     1.0
24078     1.0
24079     1.0
24080     0.0
24081     0.0

[24082 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.068084,0.134127,0.086172,0.088659,0.034593,-0.069034,0.062816,0.009578,-0.107294,-0.057466,...,0.046763,0.025364,0.009184,0.045279,0.008156,0.055845,-0.008736,0.055292,-0.022014,0.055981
1,0.044448,0.130613,0.063839,0.09842,0.014272,-0.046211,0.095446,0.020972,-0.063634,-0.013789,...,0.027453,0.0307,-0.014186,0.029883,0.031809,0.045884,-0.02604,0.046438,-0.011928,0.010551
2,0.029416,0.18162,0.012143,0.0062,-0.030092,-0.07384,0.170112,-0.077406,-0.092781,0.000489,...,0.050342,0.044132,0.011594,-0.02911,-0.002359,0.044939,-0.020852,0.067748,-0.055587,-0.039199
3,0.062822,0.161068,0.047933,0.039654,-0.015231,-0.041778,0.056107,0.004815,-0.069404,-0.085369,...,0.013818,0.023372,0.022876,0.033872,-0.041672,0.036071,-0.02092,0.074261,-0.048633,0.042813
4,0.084219,0.153814,0.056477,0.036131,-0.053846,-0.053319,0.093407,-0.067201,-0.077854,-0.042562,...,0.012709,0.021178,-0.014882,0.04605,-0.061426,0.051537,-0.032622,0.062119,-0.081519,0.011866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,0.048415,0.106509,0.022053,0.044561,-0.028083,-0.087994,0.063929,-0.028948,-0.070072,-0.110101,...,0.013682,0.007044,0.040736,0.042953,-0.060103,0.031496,0.005158,0.053712,-0.010435,0.039661
24078,0.050885,0.086578,0.049854,0.017327,0.040712,-0.054686,0.074185,-0.008528,-0.076582,-0.056845,...,0.019345,0.023508,0.038271,0.004258,0.009032,0.045561,-0.030017,0.040313,-0.094179,-0.01187
24079,0.056472,0.063662,0.113717,0.070284,0.015204,-0.114693,0.084497,-0.007559,-0.059403,-0.068652,...,0.040898,0.010854,0.012931,0.011879,-0.064198,0.060398,-0.001298,0.075548,-0.032732,0.013689
24080,-0.022343,0.137055,0.057568,-0.042022,-0.026761,-0.011329,0.140804,-0.016182,-0.111322,0.000935,...,0.017672,0.028949,0.010656,0.024128,0.019472,0.056068,-0.034158,0.055706,-0.047828,-0.032844
24081,0.053596,0.063636,0.015469,-0.052686,-0.054111,0.038709,-0.010504,0.045051,-0.059937,0.039419,...,0.060534,0.067773,-0.030281,0.054708,0.016327,0.027078,-0.052691,0.080145,0.004196,0.022944

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.068084,0.134127,0.086172,0.088659,0.034593,-0.069034,0.062816,0.009578,-0.107294,-0.057466,...,0.025364,0.009184,0.045279,0.008156,0.055845,-0.008736,0.055292,-0.022014,0.055981,1.0
1,0.044448,0.130613,0.063839,0.09842,0.014272,-0.046211,0.095446,0.020972,-0.063634,-0.013789,...,0.0307,-0.014186,0.029883,0.031809,0.045884,-0.02604,0.046438,-0.011928,0.010551,1.0
2,0.029416,0.18162,0.012143,0.0062,-0.030092,-0.07384,0.170112,-0.077406,-0.092781,0.000489,...,0.044132,0.011594,-0.02911,-0.002359,0.044939,-0.020852,0.067748,-0.055587,-0.039199,0.0
3,0.062822,0.161068,0.047933,0.039654,-0.015231,-0.041778,0.056107,0.004815,-0.069404,-0.085369,...,0.023372,0.022876,0.033872,-0.041672,0.036071,-0.02092,0.074261,-0.048633,0.042813,1.0
4,0.084219,0.153814,0.056477,0.036131,-0.053846,-0.053319,0.093407,-0.067201,-0.077854,-0.042562,...,0.021178,-0.014882,0.04605,-0.061426,0.051537,-0.032622,0.062119,-0.081519,0.011866,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,0.048415,0.106509,0.022053,0.044561,-0.028083,-0.087994,0.063929,-0.028948,-0.070072,-0.110101,...,0.007044,0.040736,0.042953,-0.060103,0.031496,0.005158,0.053712,-0.010435,0.039661,1.0
24078,0.050885,0.086578,0.049854,0.017327,0.040712,-0.054686,0.074185,-0.008528,-0.076582,-0.056845,...,0.023508,0.038271,0.004258,0.009032,0.045561,-0.030017,0.040313,-0.094179,-0.01187,1.0
24079,0.056472,0.063662,0.113717,0.070284,0.015204,-0.114693,0.084497,-0.007559,-0.059403,-0.068652,...,0.010854,0.012931,0.011879,-0.064198,0.060398,-0.001298,0.075548,-0.032732,0.013689,1.0
24080,-0.022343,0.137055,0.057568,-0.042022,-0.026761,-0.011329,0.140804,-0.016182,-0.111322,0.000935,...,0.028949,0.010656,0.024128,0.019472,0.056068,-0.034158,0.055706,-0.047828,-0.032844,0.0
24081,0.053596,0.063636,0.015469,-0.052686,-0.054111,0.038709,-0.010504,0.045051,-0.059937,0.039419,...,0.067773,-0.030281,0.054708,0.016327,0.027078,-0.052691,0.080145,0.004196,0.022944,0.0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
16476,0.019945,0.07904,0.046216,0.044017,0.020083,-0.094058,0.096141,-0.021378,-0.06855,-0.088537,...,0.023659,0.062184,0.010218,-0.004183,0.02485,-0.040351,0.03167,-0.074284,0.021266,1.0
8887,0.032058,0.100342,0.076092,0.031894,0.000647,-0.023838,0.080906,-0.010306,-0.103319,-0.06503,...,-0.015029,0.004169,0.018159,-0.008019,0.027059,-0.005579,0.064267,-0.063751,0.046161,1.0
22439,0.080826,0.113094,0.07925,0.017531,0.005576,-0.087932,0.096056,0.015065,-0.09069,-0.037402,...,0.035435,0.046336,0.031704,-0.043089,0.053217,0.033406,-0.016878,-0.112432,-0.028326,1.0
10930,0.035834,0.064725,0.085285,0.107419,0.013455,-0.103708,0.050741,0.02187,-0.067796,-0.065706,...,-0.024615,-0.0279,0.043674,-0.021185,0.058494,-0.01813,0.09385,-0.000136,0.023519,1.0
1071,0.075899,0.126783,0.064355,0.027645,0.010225,-0.104586,0.07031,0.004638,-0.082189,-0.03714,...,0.002685,0.028769,0.037441,-0.008572,0.025226,0.024134,0.075834,-0.024933,0.030128,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11271,0.056264,0.138025,0.037122,0.033312,-0.018365,-0.04741,0.05614,-0.002252,-0.077409,-0.091773,...,0.023781,0.016305,0.042674,-0.054458,0.036677,-0.014922,0.070983,-0.041285,0.05295,1.0
18633,-0.011639,0.078903,0.01839,-0.006993,-0.035733,-0.029478,0.127054,-0.095951,-0.033036,-0.032951,...,-0.016995,0.027372,0.051547,0.062,0.062722,-0.057713,0.067233,-0.059401,-0.021609,0.0
14169,0.052841,0.067405,0.060573,-0.002307,-0.000686,-0.076898,0.049198,0.007786,-0.100369,-0.015907,...,0.017283,-0.012769,0.030926,0.039033,-0.031809,0.054148,0.069413,-0.044556,0.043985,0.0
3555,0.077913,0.116052,0.075442,-0.032498,0.022527,-0.090115,0.079289,-0.043807,-0.097198,-0.046562,...,-0.015316,0.026311,-0.012231,0.007885,-0.043978,0.083423,0.06073,-0.035969,0.025244,1.0
24044,0.039349,0.145386,0.023998,0.041574,-0.051407,-0.027284,0.09594,0.017496,-0.111845,-0.030672,...,0.049753,0.014838,0.021309,-0.057003,0.06598,0.000459,0.0539,-0.029209,0.037279,1.0

In [26]:
data.to_csv("process1 train data after nlp(L12).csv")