In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd


x_train=pd.read_csv('/content/drive/MyDrive/파이썬기반기계학습/COVID-19/x_train.csv')
x_test=pd.read_csv('/content/drive/MyDrive/파이썬기반기계학습/COVID-19/x_test.csv')
y_train=pd.read_csv('/content/drive/MyDrive/파이썬기반기계학습/COVID-19/y_train.csv')
submission=pd.read_csv('/content/drive/MyDrive/파이썬기반기계학습/COVID-19/sample_submission.csv')

In [ ]:
display(x_train)

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,reproduction_rate,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,2020-01-22,1.0,NaN,NaN,NaN,0.003,NaN,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
1,2020-01-23,1.0,0.0,NaN,NaN,0.003,0.000,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
2,2020-01-24,2.0,1.0,NaN,NaN,0.006,0.003,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
3,2020-01-25,2.0,0.0,NaN,NaN,0.006,0.000,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
4,2020-01-26,5.0,3.0,NaN,NaN,0.015,0.009,NaN,NaN,NaN,...,19.1,24.6,NaN,2.77,78.86,0.926,-8925.0,-3.59,-2.63,-26.808639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,2022-01-21,70247445.0,822990.0,738600.429,867993.0,211007.102,2472.072,2218.585,2607.251,0.96,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
731,2022-01-22,70534163.0,286718.0,723219.286,868951.0,211868.337,861.235,2172.384,2610.128,0.93,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
732,2022-01-23,70890394.0,356231.0,707204.571,869628.0,212938.372,1070.036,2124.279,2612.162,0.89,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
733,2022-01-24,71793612.0,903218.0,741716.429,871731.0,215651.431,2713.058,2227.945,2618.479,0.85,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
734,2022-01-25,72271733.0,478121.0,650992.000,874845.0,217087.596,1436.165,1955.430,2627.832,0.81,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN

In [ ]:
x_test.isnull().sum()

date                                           0
total_cases                                    0
new_cases                                      0
new_cases_smoothed                             0
total_deaths                                   0
total_cases_per_million                        0
new_cases_per_million                          0
new_cases_smoothed_per_million                 0
total_deaths_per_million                       0
reproduction_rate                              3
icu_patients                                   1
icu_patients_per_million                       1
hosp_patients                                  1
hosp_patients_per_million                      1
weekly_icu_admissions                         39
weekly_icu_admissions_per_million             39
weekly_hosp_admissions                         1
weekly_hosp_admissions_per_million             1
new_tests                                      7
total_tests                                    7
total_tests_per_thousand                       7
new_tests_per_thousand                         7
new_tests_smoothed                             7
new_tests_smoothed_per_thousand                7
positive_rate                                  7
tests_per_case                                 7
total_vaccinations                             0
people_vaccinated                              0
people_fully_vaccinated                        0
total_boosters                                 0
new_vaccinations                               0
new_vaccinations_smoothed                      0
total_vaccinations_per_hundred                 0
people_vaccinated_per_hundred                  0
people_fully_vaccinated_per_hundred            0
total_boosters_per_hundred                     0
new_vaccinations_smoothed_per_million          0
new_people_vaccinated_smoothed                 0
new_people_vaccinated_smoothed_per_hundred     0
stringency_index                              18
population                                     0
population_density                             0
median_age                                     0
aged_65_older                                  0
aged_70_older                                  0
gdp_per_capita                                 0
extreme_poverty                                0
cardiovasc_death_rate                          0
diabetes_prevalence                            0
female_smokers                                 0
male_smokers                                   0
handwashing_facilities                        39
hospital_beds_per_thousand                     0
life_expectancy                                0
human_development_index                        0
excess_mortality_cumulative_absolute          39
excess_mortality_cumulative                   39
excess_mortality                              39
excess_mortality_cumulative_per_million       39
dtype: int64

In [ ]:
nul=[]

for col in x_test.columns:
  if x_train[col].isnull().sum()>326:
    x_train=x_train.drop(columns=col,axis=1)
    x_test=x_test.drop(columns=col,axis=1)
  elif x_test[col].isnull().sum()>38:
    x_train=x_train.drop(columns=col,axis=1)
    x_test=x_test.drop(columns=col,axis=1)

In [ ]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 45 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 735 non-null    object
 1   total_cases                          735 non-null    float64
 2   new_cases                            734 non-null    float64
 3   new_cases_smoothed                   728 non-null    float64
 4   total_deaths                         697 non-null    float64
 5   total_cases_per_million              735 non-null    float64
 6   new_cases_per_million                734 non-null    float64
 7   new_cases_smoothed_per_million       728 non-null    float64
 8   total_deaths_per_million             697 non-null    float64
 9   reproduction_rate                    692 non-null    float64
 10  icu_patients                         560 non-null    float64
 11  icu_patients_per_million             560 non-null    float64
 12  hosp_patients                        560 non-null    float64
 13  hosp_patients_per_million            560 non-null    float64
 14  weekly_hosp_admissions               554 non-null    float64
 15  weekly_hosp_admissions_per_million   554 non-null    float64
 16  new_tests                            696 non-null    float64
 17  total_tests                          696 non-null    float64
 18  total_tests_per_thousand             696 non-null    float64
 19  new_tests_per_thousand               696 non-null    float64
 20  new_tests_smoothed                   689 non-null    float64
 21  new_tests_smoothed_per_thousand      689 non-null    float64
 22  positive_rate                        690 non-null    float64
 23  tests_per_case                       690 non-null    float64
 24  total_vaccinations                   409 non-null    float64
 25  people_vaccinated                    409 non-null    float64
 26  people_fully_vaccinated              409 non-null    float64
 27  total_vaccinations_per_hundred       409 non-null    float64
 28  people_vaccinated_per_hundred        409 non-null    float64
 29  people_fully_vaccinated_per_hundred  409 non-null    float64
 30  stringency_index                     735 non-null    float64
 31  population                           735 non-null    float64
 32  population_density                   735 non-null    float64
 33  median_age                           735 non-null    float64
 34  aged_65_older                        735 non-null    float64
 35  aged_70_older                        735 non-null    float64
 36  gdp_per_capita                       735 non-null    float64
 37  extreme_poverty                      735 non-null    float64
 38  cardiovasc_death_rate                735 non-null    float64
 39  diabetes_prevalence                  735 non-null    float64
 40  female_smokers                       735 non-null    float64
 41  male_smokers                         735 non-null    float64
 42  hospital_beds_per_thousand           735 non-null    float64
 43  life_expectancy                      735 non-null    float64
 44  human_development_index              735 non-null    float64
dtypes: float64(44), object(1)
memory usage: 258.5+ KB

In [ ]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 45 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 39 non-null     object
 1   total_cases                          39 non-null     float64
 2   new_cases                            39 non-null     float64
 3   new_cases_smoothed                   39 non-null     float64
 4   total_deaths                         39 non-null     float64
 5   total_cases_per_million              39 non-null     float64
 6   new_cases_per_million                39 non-null     float64
 7   new_cases_smoothed_per_million       39 non-null     float64
 8   total_deaths_per_million             39 non-null     float64
 9   reproduction_rate                    36 non-null     float64
 10  icu_patients                         38 non-null     float64
 11  icu_patients_per_million             38 non-null     float64
 12  hosp_patients                        38 non-null     float64
 13  hosp_patients_per_million            38 non-null     float64
 14  weekly_hosp_admissions               38 non-null     float64
 15  weekly_hosp_admissions_per_million   38 non-null     float64
 16  new_tests                            32 non-null     float64
 17  total_tests                          32 non-null     float64
 18  total_tests_per_thousand             32 non-null     float64
 19  new_tests_per_thousand               32 non-null     float64
 20  new_tests_smoothed                   32 non-null     float64
 21  new_tests_smoothed_per_thousand      32 non-null     float64
 22  positive_rate                        32 non-null     float64
 23  tests_per_case                       32 non-null     float64
 24  total_vaccinations                   39 non-null     float64
 25  people_vaccinated                    39 non-null     float64
 26  people_fully_vaccinated              39 non-null     float64
 27  total_vaccinations_per_hundred       39 non-null     float64
 28  people_vaccinated_per_hundred        39 non-null     float64
 29  people_fully_vaccinated_per_hundred  39 non-null     float64
 30  stringency_index                     21 non-null     float64
 31  population                           39 non-null     float64
 32  population_density                   39 non-null     float64
 33  median_age                           39 non-null     float64
 34  aged_65_older                        39 non-null     float64
 35  aged_70_older                        39 non-null     float64
 36  gdp_per_capita                       39 non-null     float64
 37  extreme_poverty                      39 non-null     float64
 38  cardiovasc_death_rate                39 non-null     float64
 39  diabetes_prevalence                  39 non-null     float64
 40  female_smokers                       39 non-null     float64
 41  male_smokers                         39 non-null     float64
 42  hospital_beds_per_thousand           39 non-null     float64
 43  life_expectancy                      39 non-null     float64
 44  human_development_index              39 non-null     float64
dtypes: float64(44), object(1)
memory usage: 13.8+ KB

In [ ]:
train_mean=x_train.mean(axis=0)
test_mean=x_test.mean(axis=0)

<ipython-input-128-81472d757e54>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train_mean=x_train.mean(axis=0)
<ipython-input-128-81472d757e54>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test_mean=x_test.mean(axis=0)

In [ ]:
x_train=x_train.fillna(method='bfill')

x_test=x_test.fillna(method='ffill')

In [ ]:
x_train.isnull().sum()

date                                   0
total_cases                            0
new_cases                              0
new_cases_smoothed                     0
total_deaths                           0
total_cases_per_million                0
new_cases_per_million                  0
new_cases_smoothed_per_million         0
total_deaths_per_million               0
reproduction_rate                      0
icu_patients                           0
icu_patients_per_million               0
hosp_patients                          0
hosp_patients_per_million              0
weekly_hosp_admissions                 0
weekly_hosp_admissions_per_million     0
new_tests                              0
total_tests                            0
total_tests_per_thousand               0
new_tests_per_thousand                 0
new_tests_smoothed                     0
new_tests_smoothed_per_thousand        0
positive_rate                          0
tests_per_case                         0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
stringency_index                       0
population                             0
population_density                     0
median_age                             0
aged_65_older                          0
aged_70_older                          0
gdp_per_capita                         0
extreme_poverty                        0
cardiovasc_death_rate                  0
diabetes_prevalence                    0
female_smokers                         0
male_smokers                           0
hospital_beds_per_thousand             0
life_expectancy                        0
human_development_index                0
dtype: int64

In [ ]:
display(x_test)

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,reproduction_rate,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,2022-01-26,73000609.0,728876.0,612453.571,879016.0,219276.971,2189.375,1839.669,2640.361,0.80,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
1,2022-01-27,73489028.0,488419.0,580653.286,881478.0,220744.069,1467.098,1744.148,2647.756,0.78,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
2,2022-01-28,74090537.0,601509.0,549013.143,885445.0,222550.863,1806.794,1649.109,2659.672,0.76,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
3,2022-01-29,74260076.0,169539.0,532273.286,886590.0,223060.119,509.256,1598.826,2663.112,0.73,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
4,2022-01-30,74452942.0,192866.0,508935.429,886992.0,223639.444,579.325,1528.724,2664.319,0.70,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
5,2022-01-31,74984166.0,531224.0,455793.429,889490.0,225235.118,1595.674,1369.098,2671.823,0.67,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
6,2022-02-01,75398697.0,414531.0,446709.143,893214.0,226480.273,1245.155,1341.811,2683.009,0.65,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
7,2022-02-02,75725835.0,327138.0,389318.000,896862.0,227462.920,982.647,1169.421,2693.966,0.63,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
8,2022-02-03,75979161.0,253326.0,355733.286,899191.0,228223.853,760.933,1068.541,2700.962,0.62,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
9,2022-02-04,76350319.0,371158.0,322826.000,903410.0,229338.726,1114.873,969.695,2713.635,0.62,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
10,2022-02-05,76454925.0,104606.0,313549.857,904336.0,229652.938,314.212,941.831,2716.416,0.61,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
11,2022-02-06,76535524.0,80599.0,297511.714,904766.0,229895.039,242.101,893.656,2717.708,0.59,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
12,2022-02-07,76874772.0,339248.0,270086.571,907727.0,230914.062,1019.023,811.278,2726.602,0.58,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
13,2022-02-08,77097743.0,222971.0,242720.857,910686.0,231583.815,669.753,729.077,2735.490,0.56,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
14,2022-02-09,77286583.0,188840.0,222964.000,914166.0,232151.047,567.232,669.732,2745.944,0.55,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
15,2022-02-10,77458693.0,172110.0,211361.714,917378.0,232668.026,516.979,634.882,2755.592,0.55,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
16,2022-02-11,77669212.0,210519.0,188413.286,920024.0,233300.376,632.350,565.950,2763.540,0.55,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
17,2022-02-12,77724643.0,55431.0,181388.286,920871.0,233466.878,166.502,544.849,2766.084,0.54,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
18,2022-02-13,77781653.0,57010.0,178018.429,921344.0,233638.123,171.245,534.726,2767.505,0.54,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
19,2022-02-14,77946346.0,164693.0,153082.000,924147.0,234132.823,494.700,459.823,2775.924,0.52,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
20,2022-02-15,78062381.0,116035.0,137805.429,926768.0,234481.365,348.542,413.936,2783.797,0.52,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
21,2022-02-16,78178492.0,116111.0,127415.571,929877.0,234830.136,348.771,382.727,2793.136,0.52,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
22,2022-02-17,78280553.0,102061.0,117408.571,933121.0,235136.703,306.568,352.668,2802.880,0.54,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
23,2022-02-18,78426873.0,146320.0,108237.286,935595.0,235576.215,439.511,325.120,2810.311,0.54,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
24,2022-02-19,78460557.0,33684.0,105130.571,936244.0,235677.394,101.179,315.788,2812.261,0.54,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
25,2022-02-20,78482689.0,22132.0,100148.000,936642.0,235743.873,66.479,300.821,2813.456,0.53,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
26,2022-02-21,78563844.0,81155.0,88214.000,937500.0,235987.644,243.771,264.974,2816.033,0.53,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
27,2022-02-22,78655041.0,91197.0,84665.714,939613.0,236261.579,273.935,254.316,2822.380,0.55,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
28,2022-02-23,78738942.0,83901.0,80064.286,942443.0,236513.598,252.019,240.495,2830.881,0.57,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
29,2022-02-24,78806291.0,67349.0,75105.429,945385.0,236715.899,202.301,225.599,2839.718,0.58,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
30,2022-02-25,78881159.0,74868.0,64898.000,947659.0,236940.785,224.886,194.939,2846.549,0.59,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
31,2022-02-26,78929797.0,48638.0,67034.286,948457.0,237086.882,146.097,201.356,2848.946,0.61,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
32,2022-02-27,78947866.0,18069.0,66453.857,948639.0,237141.158,54.275,199.612,2849.492,0.61,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
33,2022-02-28,79044330.0,96464.0,68640.857,950732.0,237430.913,289.756,206.181,2855.779,0.61,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
34,2022-03-01,79091361.0,47031.0,62331.429,952423.0,237572.183,141.270,187.229,2860.859,0.59,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
35,2022-03-02,79143716.0,52355.0,57824.857,954518.0,237729.446,157.262,173.693,2867.152,0.59,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
36,2022-03-03,79196008.0,52292.0,55673.857,956261.0,237886.519,157.073,167.231,2872.387,0.59,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
37,2022-03-04,79250509.0,54501.0,52764.286,958144.0,238050.227,163.708,158.492,2878.043,0.59,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926
38,2022-03-05,79265726.0,15217.0,47989.857,958437.0,238095.936,45.708,144.150,2878.923,0.59,...,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86,0.926

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()

x_train=x_train.drop(labels='date',axis=1)
x_test=x_test.drop(labels='date',axis=1)


train_scaler=scaler.fit_transform(x_train)
test_scaler=scaler.fit_transform(x_test)

x_train=pd.DataFrame(data=train_scaler)
x_test=pd.DataFrame(data=test_scaler)

In [ ]:
y_train=y_train.drop(labels='date',axis=1)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor(n_estimators=5000)

model.fit(x_train,y_train)

pred=model.predict(x_test)

<ipython-input-139-461a14025c8f>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

In [ ]:
submission

          date  new_deaths
0   2022-01-26    2600.481
1   2022-01-27    2791.793
2   2022-01-28    2813.661
3   2022-01-29    1035.657
4   2022-01-30     567.379
5   2022-01-31    1053.722
6   2022-02-01    3048.825
7   2022-02-02    3142.121
8   2022-02-03    3221.915
9   2022-02-04    3086.870
10  2022-02-05    1499.903
11  2022-02-06    1285.426
12  2022-02-07    1729.573
13  2022-02-08    3261.120
14  2022-02-09    3319.174
15  2022-02-10    2987.407
16  2022-02-11    2778.269
17  2022-02-12    1396.416
18  2022-02-13    1320.982
19  2022-02-14    1812.077
20  2022-02-15    3483.106
21  2022-02-16    3458.961
22  2022-02-17    3290.336
23  2022-02-18    2684.572
24  2022-02-19    1184.037
25  2022-02-20     606.512
26  2022-02-21    1476.501
27  2022-02-22    1691.858
28  2022-02-23    2360.420
29  2022-02-24    1426.440
30  2022-02-25    1182.587
31  2022-02-26     891.350
32  2022-02-27     419.945
33  2022-02-28    1019.133
34  2022-03-01     688.557
35  2022-03-02     722.492
36  2022-03-03     718.745
37  2022-03-04     724.943
38  2022-03-05     245.291

In [ ]:
submission['new_deaths']=pred

submission

          date  new_deaths
0   2022-01-26   2610.3912
1   2022-01-27   2773.8932
2   2022-01-28   2791.7624
3   2022-01-29   1012.0382
4   2022-01-30    562.1158
5   2022-01-31   1032.6240
6   2022-02-01   3051.8206
7   2022-02-02   3135.5666
8   2022-02-03   3248.1148
9   2022-02-04   3123.3380
10  2022-02-05   1514.8034
11  2022-02-06   1304.4170
12  2022-02-07   1774.7928
13  2022-02-08   3300.3584
14  2022-02-09   3326.9166
15  2022-02-10   2995.2560
16  2022-02-11   2781.7364
17  2022-02-12   1412.3310
18  2022-02-13   1343.7860
19  2022-02-14   1803.2356
20  2022-02-15   3495.0532
21  2022-02-16   3474.4708
22  2022-02-17   3287.3454
23  2022-02-18   2704.8602
24  2022-02-19   1192.8202
25  2022-02-20    610.2810
26  2022-02-21   1479.1160
27  2022-02-22   1706.8872
28  2022-02-23   2372.3602
29  2022-02-24   1442.9500
30  2022-02-25   1215.1594
31  2022-02-26    916.1430
32  2022-02-27    427.7934
33  2022-02-28   1048.9680
34  2022-03-01    703.2460
35  2022-03-02    720.2956
36  2022-03-03    715.8084
37  2022-03-04    729.2802
38  2022-03-05    244.0944

In [ ]:
submission.to_csv('my_submission.csv',index=False)
files.download('my_submission.csv')