In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0521(final)/data/process/process1/process 1 train data row.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
12492                   사용하시간지 못한 일수에 대한 환불이 진행될 예정입니다.       0.0
2393    네 다름이 아니구요 사장님께서 혹시 안쓰시는 아이디가 있으시면 저희가 월 400에...      1.0
8688                               30날 초과 때 과태료과 부과됩니다.       0.0
3800    예 차후에 변동 안 되세요 예 대출 승인 나셨을 경우에 대출금 송금 받아 보실 수...      1.0
10492             군인중에서에 군부대에 있어 부대 밖으로 나오지 못하는 경우의 수입니다      0.0
...                                                  ...      ...
1612   1유형으로 선발되시각면 등록금 감면으로 혜택을 받으실꺼고, 2유형으로 선발되시간면 ...      0.0
16588                   OOO-OOOO-OOOO번호로  질문하시각면 될일같습니다.      0.0
12768                             네, 해제 등록 신청도 실행 가능합니다.      0.0
12222                                        6개월 보조 됩니다.      0.0
3374    원래는 먼저 넣는 거 아니에요. 근데 위임처리하실 경우에만 먼저 받는 거예요 아 ...      1.0

[24082 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                                sentence  predict
1931            동영상 촬영하셔서 신고하기하시기면 일부 지자체에서는 포상금도 지급됩니다.      0.0
14991                              아 그렇군요 문의 주셔서 감사함합니다.      0.0
16883                               관련됨 지자체에 제출하시기면 됩니다.      0.0
7868                   자세한 주의사안은 공공서비스예약에서 점검해주시기기 바랍니다.      0.0
786     아 뭐 통장 연락처는 안 필요한가 그거는 이제 등록하고 뭐 여쭤봐야죠? 지금 다짜...      1.0
...                                                  ...      ...
6285         청년포탈 사이트의 학자금 대출이자 지원하기공지 내용을 참조하시기기 바랍니다.       0.0
15803        건축물의 재산세 결제 기한은 매년 7. 16. ~ 7. 31.까지 되겠습니다.      0.0
920                       소명자료 제출요청이 있을 시각에 제출하시간면 됩니다.       0.0
5680   근로계약서 작성한 채용내정된자는 채용을 기대할사항이므로 회사사정일지라도 채용내정을 ...      0.0
8260      위임인이 서명 또는 날인할 위임장 위임인 신분증 사본, 대리인 신분증이 필수합니다.      0.0

[24082 rows x 2 columns]

In [6]:
data.to_csv("process1 train data before nlp(base).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(24082, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
24077     NaN
24078     NaN
24079     NaN
24080     NaN
24081     NaN

[24082 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

      predict
0         0.0
1         0.0
2         0.0
3         0.0
4         1.0
...       ...
24077     0.0
24078     0.0
24079     0.0
24080     0.0
24081     0.0

[24082 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.015143,-0.087933,-0.024579,-0.007868,-0.006201,-0.017364,0.010972,0.008672,0.045954,0.007138,...,-0.063708,-0.043975,-0.035739,-0.008693,-0.027751,-0.008611,0.013732,0.014052,0.016887,-0.02842
1,0.070349,-0.020599,0.001521,0.00322,0.050145,-0.000964,-0.093491,0.003585,0.060052,-0.010902,...,-0.01521,-0.015207,0.029213,-0.005883,-0.057801,-0.076969,0.007955,0.034614,0.028172,-0.017147
2,0.043519,-0.038204,-0.002738,0.004747,0.024266,-0.003449,-0.069063,0.027136,0.079423,-0.016961,...,-0.005515,-0.01777,0.033125,-0.007777,-0.058441,-0.082315,0.013284,0.034377,0.0232,-0.023733
3,0.074991,-0.034002,-0.007661,-0.007515,0.011862,-0.000723,-0.043505,0.006967,0.054641,-0.014227,...,-0.025562,-0.028425,0.00445,0.014352,-0.049096,-0.086461,0.015763,0.020505,0.030379,-0.01765
4,0.092924,-0.043182,-0.014891,0.025705,0.022726,0.002735,-0.011677,-0.002282,0.001957,-0.038622,...,0.007908,-0.00429,-0.01217,0.017856,-0.052648,-0.016681,-0.001648,0.032177,0.020604,-0.011822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,0.025963,-0.095853,-0.032425,-0.01751,-0.01525,-0.021563,0.015175,0.009609,0.048286,0.002611,...,-0.054826,-0.032995,-0.043294,-0.001449,-0.01224,-0.01489,0.020306,0.023354,0.011088,-0.016644
24078,0.03503,-0.109048,-0.01383,-0.041805,0.00302,-0.01725,-0.034742,0.018527,0.051058,0.000533,...,-0.019497,-0.04627,-0.028252,-0.00145,-0.043452,-0.033711,0.013625,0.012844,-0.033022,-0.038117
24079,0.043889,-0.075336,-0.015829,0.001863,-0.002591,-0.00665,-0.017208,0.010606,0.064652,-0.019782,...,-0.038266,-0.038513,-0.011181,0.01681,-0.038744,-0.062758,0.009324,0.03812,0.010516,-0.025188
24080,0.028662,-0.076935,-0.032222,-0.028278,-0.009533,-0.00006,0.046691,-0.012945,0.057967,-0.01085,...,-0.020187,-0.053648,-0.053551,0.023319,-0.025741,-0.038866,0.025866,0.012423,0.002841,-0.019568
24081,0.051202,-0.065744,-0.024951,0.006328,0.016428,-0.014644,-0.008059,-0.010473,0.03621,-0.000303,...,-0.042464,-0.034614,-0.0089,0.015284,-0.043203,-0.052403,0.012874,0.027999,0.001966,-0.029933

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.015143,-0.087933,-0.024579,-0.007868,-0.006201,-0.017364,0.010972,0.008672,0.045954,0.007138,...,-0.043975,-0.035739,-0.008693,-0.027751,-0.008611,0.013732,0.014052,0.016887,-0.02842,0.0
1,0.070349,-0.020599,0.001521,0.00322,0.050145,-0.000964,-0.093491,0.003585,0.060052,-0.010902,...,-0.015207,0.029213,-0.005883,-0.057801,-0.076969,0.007955,0.034614,0.028172,-0.017147,0.0
2,0.043519,-0.038204,-0.002738,0.004747,0.024266,-0.003449,-0.069063,0.027136,0.079423,-0.016961,...,-0.01777,0.033125,-0.007777,-0.058441,-0.082315,0.013284,0.034377,0.0232,-0.023733,0.0
3,0.074991,-0.034002,-0.007661,-0.007515,0.011862,-0.000723,-0.043505,0.006967,0.054641,-0.014227,...,-0.028425,0.00445,0.014352,-0.049096,-0.086461,0.015763,0.020505,0.030379,-0.01765,0.0
4,0.092924,-0.043182,-0.014891,0.025705,0.022726,0.002735,-0.011677,-0.002282,0.001957,-0.038622,...,-0.00429,-0.01217,0.017856,-0.052648,-0.016681,-0.001648,0.032177,0.020604,-0.011822,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24077,0.025963,-0.095853,-0.032425,-0.01751,-0.01525,-0.021563,0.015175,0.009609,0.048286,0.002611,...,-0.032995,-0.043294,-0.001449,-0.01224,-0.01489,0.020306,0.023354,0.011088,-0.016644,0.0
24078,0.03503,-0.109048,-0.01383,-0.041805,0.00302,-0.01725,-0.034742,0.018527,0.051058,0.000533,...,-0.04627,-0.028252,-0.00145,-0.043452,-0.033711,0.013625,0.012844,-0.033022,-0.038117,0.0
24079,0.043889,-0.075336,-0.015829,0.001863,-0.002591,-0.00665,-0.017208,0.010606,0.064652,-0.019782,...,-0.038513,-0.011181,0.01681,-0.038744,-0.062758,0.009324,0.03812,0.010516,-0.025188,0.0
24080,0.028662,-0.076935,-0.032222,-0.028278,-0.009533,-0.00006,0.046691,-0.012945,0.057967,-0.01085,...,-0.053648,-0.053551,0.023319,-0.025741,-0.038866,0.025866,0.012423,0.002841,-0.019568,0.0
24081,0.051202,-0.065744,-0.024951,0.006328,0.016428,-0.014644,-0.008059,-0.010473,0.03621,-0.000303,...,-0.034614,-0.0089,0.015284,-0.043203,-0.052403,0.012874,0.027999,0.001966,-0.029933,0.0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
8620,0.031141,-0.024905,-0.014686,0.013713,0.048568,-0.000297,-0.076064,0.051279,0.060631,-0.002774,...,0.008782,0.01773,-0.024913,-0.055763,-0.053375,0.01678,0.013943,0.040411,-0.03186,0.0
6504,0.042042,-0.058869,-0.021062,0.00794,0.016243,-0.008747,0.006296,0.014383,0.058583,0.037385,...,-0.026977,-0.041494,-0.008822,-0.024273,0.011414,0.01382,0.032365,-0.02604,-0.041349,1.0
10213,0.042427,-0.041382,-0.00965,-0.001418,0.035049,0.005404,-0.017717,0.016439,-0.000525,-0.030119,...,-0.01868,-0.067508,0.011138,-0.031594,0.00252,-0.013368,0.005618,0.032551,-0.016693,1.0
16368,0.069545,-0.064686,-0.018986,-0.005506,0.015363,-0.004485,-0.005226,0.002832,0.068258,-0.025835,...,-0.007478,0.000091,0.022763,-0.045421,-0.068482,-0.002581,0.020759,0.018432,-0.017854,1.0
5504,0.055216,-0.021964,-0.037235,0.004305,-0.008598,0.007816,-0.0083,0.024681,0.041541,-0.002053,...,-0.016971,-0.038213,0.008892,-0.032325,-0.026938,0.024946,0.030004,0.009447,-0.043597,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,0.059678,-0.019469,-0.001239,0.033039,0.056483,0.002684,-0.082536,0.040453,0.076271,-0.011522,...,-0.011296,0.017051,-0.008498,-0.041097,-0.026772,-0.004972,0.023918,0.020927,-0.028353,0.0
18451,0.077545,-0.050442,-0.025179,0.002435,0.020539,-0.00527,-0.0219,0.014242,0.065954,-0.022793,...,-0.004715,0.00611,0.017703,-0.041473,-0.065994,-0.003259,0.025954,0.034742,-0.018319,1.0
12722,0.049521,-0.042754,0.012144,0.007339,0.036435,0.009288,-0.070911,0.031703,0.074243,-0.018008,...,-0.019681,0.022712,-0.011637,-0.070254,-0.055841,0.018464,0.029039,0.016198,-0.034022,0.0
17958,0.071861,-0.06043,-0.025905,-0.004843,0.014553,-0.00915,-0.009275,0.013233,0.057288,-0.021524,...,-0.005703,0.003908,0.017028,-0.037993,-0.064335,0.005273,0.021538,0.028765,-0.023204,1.0
7067,0.024767,-0.024366,-0.029549,0.003504,0.014644,-0.002221,-0.033688,0.010263,0.073428,0.001678,...,-0.032184,-0.010046,-0.010315,-0.041404,-0.03445,0.007475,0.03623,0.015718,-0.029008,0.0

In [26]:
data.to_csv("process1 train data after nlp(base).csv")