In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/final/process2/trian/process2 train data row.csv",index_col=0)

In [2]:
data_row

                                              sentence  predict
444   근데 뭐 제 돈을 가져갔다 모를 수도 있는데 그걸 알려주시나요? 그렇죠. 그리고 ...        1
560   너무 복잡하진않죠? 예 알겠습니다. 그럼 전화 제가 다시 끊어 드릴 건데 어 나오...        1
94    아 그거까지 해야되요? 방문을 해달라고 하신 거 아니에요 지금? 아니 뭐 찾아와서...        0
83    피해자 ; 아 네 네 그래서 저 실례가 안 된다면 어디신지 잠시 여쭤봐도 될까요?...        1
977   없어요? 네 그러면  씨 이름 앞으로 사건 코드 번호 16자리를 부여받은 경험이 ...        1
..                                                 ...      ...
103   여기에 대해서만 간단하게 좀 전달 좀 해드릴 겁니다. 네 어 2017년 4월 13...        1
904   네 예 청약을 해지하신 다음에 일반 지금 입출금 사용하고 계시는 농협 은행으로 넣...        1
77    고객님 본인명의세요? 예 예 수납 담당자님 계좌 번호는 바로 카카오톡으로 보내드릴...        0
468   저희는 칠십만원 정도 있고 지금 해외 다른 건 아니 저한테 보냈거든요 그거는 그때...        1
79    모르시면 모르신다 진술만 간단하게 좀 해주시면 돼요. 피해자 :\u3000네 어 ...        1

[1532 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data=data_row.sample(frac=1)

In [5]:
data

                                               sentence  predict
1062   예 어머니께서 이제 만들어 주셨을 수도 있을 거 같은데 한 번이라도 들어 보신 적...        1
398    네 자 일단은 그 잘 들으세요 ooo씨. 뭐 금융 범죄 금융 계좌 추적 민원이에요...        1
536    어디요? 햇살론 저축 은행이요 아 그러면 29일 이랬죠? 예 매 월 상환이 그렇죠...        0
545    말씀 좀 구해보시고 어 어떻게 그 일단 출국 출근은 하시더라도 조사를 받 네 받아...        1
580    몇가지만 여쭤볼게요. 혹시 라고 아는 분이에요? 사람이 전라도 태생 42세 남성이...        1
...                                                 ...      ...
215    하나 은행 하나랑 우리 은행 하나 제 명의로 명의 도용 되가지고 대포 통장 만들었...        1
1      5년이고요 네 매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로...        0
516    아니요 말씀하세요. 예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고...        0
514    통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요....        0
522    아 지금은 좀 연락이 이제 가능하신 건가요? 아네네 대리님 그 남의 돈 드시니까 ...        0

[1532 rows x 2 columns]

In [6]:
data.to_csv("process2 train data before nlp(base).csv")

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [8]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [9]:
A=model.encode(data.iloc[0,0])

In [10]:
A.shape[0]

768

In [11]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [12]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [13]:
x_train.shape

(1532, 768)

In [14]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [15]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
y_train

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
1527     NaN
1528     NaN
1529     NaN
1530     NaN
1531     NaN

[1532 rows x 1 columns]

In [17]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [18]:
y_train

     predict
0          1
1          1
2          0
3          1
4          1
...      ...
1527       1
1528       0
1529       0
1530       0
1531       0

[1532 rows x 1 columns]

In [19]:
y_train.isnull().sum()

predict    0
dtype: int64

In [20]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [21]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.102013,-0.003245,-0.020727,0.008192,0.024465,0.001665,-0.026779,0.014428,0.033266,-0.036161,...,0.019942,0.013252,-0.007427,-0.00235,-0.055044,-0.06586,0.003369,0.053359,0.018942,-0.016808
1,0.076855,0.012518,-0.017878,0.007993,-0.0126,-0.008506,-0.017193,0.016321,0.025296,0.004886,...,-0.00087,-0.041075,-0.035647,-0.001343,-0.029965,0.014209,0.037505,0.009631,-0.002684,-0.035646
2,0.072516,-0.005955,-0.006723,-0.001131,0.023039,0.010107,0.005649,0.038667,0.042957,-0.017927,...,0.034015,-0.001893,-0.025481,0.013446,-0.052102,-0.008174,0.010334,0.040292,0.003952,-0.024813
3,0.062181,-0.014248,-0.029074,-0.02724,-0.002181,0.004022,0.020286,-0.000715,0.050841,-0.004023,...,-0.0196,-0.021174,-0.042939,0.013775,-0.039824,-0.072384,0.04528,0.03863,0.003607,-0.048226
4,0.021307,-0.068518,-0.019847,-0.00475,0.009184,-0.003248,-0.000153,0.021271,0.026733,0.00767,...,-0.046167,-0.035054,-0.063591,-0.000611,-0.024932,0.027851,0.034014,0.023573,-0.055634,-0.043422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,0.036018,-0.02776,-0.021905,0.021756,0.05176,0.024635,0.00434,-0.002781,-0.000249,0.001365,...,-0.019142,0.002283,-0.004697,-0.005531,-0.01121,-0.024617,0.021326,0.028984,-0.059801,-0.048846
1528,0.079173,-0.028472,-0.024646,0.018732,0.026377,0.017519,-0.055879,0.040902,0.030859,-0.027777,...,-0.005715,-0.024199,0.023252,0.037438,-0.007757,-0.023396,0.026402,0.022037,0.006222,-0.012285
1529,0.090118,-0.02156,-0.019161,0.005983,0.01663,-0.014897,0.009884,0.009348,0.054284,-0.003595,...,0.022086,-0.01585,-0.033755,0.005947,-0.042687,-0.056188,0.041203,0.050026,0.015913,-0.042396
1530,0.068044,-0.062082,-0.034719,0.011775,0.015938,-0.00105,-0.00764,-0.00951,0.077097,-0.000045,...,-0.012404,0.013411,-0.018595,0.019521,-0.020421,-0.010992,-0.00127,0.042069,-0.018181,-0.027355
1531,0.098585,-0.037216,-0.033925,0.002511,-0.011128,0.009425,-0.015128,0.035685,0.083893,-0.016724,...,0.017204,-0.019579,-0.007247,0.003844,-0.032681,-0.058276,0.004287,0.034679,0.008463,-0.016802

In [22]:
data=pd.concat([x_train,y_train],axis=1)

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.102013,-0.003245,-0.020727,0.008192,0.024465,0.001665,-0.026779,0.014428,0.033266,-0.036161,...,0.013252,-0.007427,-0.00235,-0.055044,-0.06586,0.003369,0.053359,0.018942,-0.016808,1
1,0.076855,0.012518,-0.017878,0.007993,-0.0126,-0.008506,-0.017193,0.016321,0.025296,0.004886,...,-0.041075,-0.035647,-0.001343,-0.029965,0.014209,0.037505,0.009631,-0.002684,-0.035646,1
2,0.072516,-0.005955,-0.006723,-0.001131,0.023039,0.010107,0.005649,0.038667,0.042957,-0.017927,...,-0.001893,-0.025481,0.013446,-0.052102,-0.008174,0.010334,0.040292,0.003952,-0.024813,0
3,0.062181,-0.014248,-0.029074,-0.02724,-0.002181,0.004022,0.020286,-0.000715,0.050841,-0.004023,...,-0.021174,-0.042939,0.013775,-0.039824,-0.072384,0.04528,0.03863,0.003607,-0.048226,1
4,0.021307,-0.068518,-0.019847,-0.00475,0.009184,-0.003248,-0.000153,0.021271,0.026733,0.00767,...,-0.035054,-0.063591,-0.000611,-0.024932,0.027851,0.034014,0.023573,-0.055634,-0.043422,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,0.036018,-0.02776,-0.021905,0.021756,0.05176,0.024635,0.00434,-0.002781,-0.000249,0.001365,...,0.002283,-0.004697,-0.005531,-0.01121,-0.024617,0.021326,0.028984,-0.059801,-0.048846,1
1528,0.079173,-0.028472,-0.024646,0.018732,0.026377,0.017519,-0.055879,0.040902,0.030859,-0.027777,...,-0.024199,0.023252,0.037438,-0.007757,-0.023396,0.026402,0.022037,0.006222,-0.012285,0
1529,0.090118,-0.02156,-0.019161,0.005983,0.01663,-0.014897,0.009884,0.009348,0.054284,-0.003595,...,-0.01585,-0.033755,0.005947,-0.042687,-0.056188,0.041203,0.050026,0.015913,-0.042396,0
1530,0.068044,-0.062082,-0.034719,0.011775,0.015938,-0.00105,-0.00764,-0.00951,0.077097,-0.000045,...,0.013411,-0.018595,0.019521,-0.020421,-0.010992,-0.00127,0.042069,-0.018181,-0.027355,0
1531,0.098585,-0.037216,-0.033925,0.002511,-0.011128,0.009425,-0.015128,0.035685,0.083893,-0.016724,...,-0.019579,-0.007247,0.003844,-0.032681,-0.058276,0.004287,0.034679,0.008463,-0.016802,0

In [24]:
data=data.sample(frac=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
744,0.043078,-0.050452,-0.031137,0.008292,0.0236,-0.004365,0.003122,-0.015657,0.005886,-0.022612,...,-0.023135,-0.018216,0.005023,-0.04085,-0.028039,0.039825,0.012674,0.001627,-0.045246,1
1287,0.096354,-0.034512,-0.023172,0.020184,0.027082,-0.005974,-0.026599,0.021183,0.06621,-0.029791,...,-0.002364,0.005712,0.028058,-0.03996,-0.051352,-0.011591,0.035369,0.018552,-0.01569,0
1085,0.055758,-0.005326,-0.038845,-0.004477,0.013794,0.005463,0.00497,-0.005508,0.059626,0.00695,...,-0.009995,-0.015583,-0.000062,-0.043795,-0.029255,0.019135,0.046351,0.016176,-0.04539,1
1105,0.057661,-0.020169,-0.03649,-0.012114,-0.007536,0.009541,0.005147,-0.003118,0.057112,0.00347,...,-0.021698,-0.028114,0.010806,-0.036559,-0.042335,0.027408,0.036842,0.003416,-0.03826,1
1099,0.084538,-0.048436,-0.021642,0.04371,0.00216,0.010679,0.029695,0.012209,0.040403,-0.005309,...,-0.004835,-0.032909,-0.018467,-0.040125,-0.044182,0.010288,-0.010474,0.001798,-0.037051,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,0.074236,0.001292,-0.024857,0.017635,-0.009916,0.014008,-0.030139,-0.00386,0.062821,0.016533,...,0.004696,0.029834,-0.020498,-0.045387,-0.051133,0.009698,0.022053,-0.002892,-0.043821,1
968,0.111722,-0.015724,-0.028355,0.024686,0.005778,0.002768,-0.000911,0.003832,0.013537,-0.02886,...,-0.011484,-0.014344,0.02287,-0.045492,-0.029669,0.000854,0.030269,0.009566,-0.014869,0
780,0.073953,-0.031509,-0.034848,-0.00301,0.002352,0.004605,0.013721,-0.007677,0.055978,0.00468,...,-0.026276,-0.031089,0.001846,-0.033731,-0.045328,0.02823,0.020006,0.012729,-0.033355,1
1140,0.079977,-0.030068,-0.023001,0.020224,0.002265,0.017982,-0.011274,0.006264,0.063067,0.002875,...,0.002667,-0.003834,0.006973,-0.045958,-0.031906,0.020211,0.021819,0.021288,-0.049615,1
658,0.069285,-0.008497,-0.036886,-0.025562,0.0192,0.011984,-0.038574,0.012987,0.045415,-0.001501,...,-0.020254,-0.026486,0.018867,-0.008987,-0.013603,0.04672,0.021596,0.000012,-0.033974,0

In [26]:
data.to_csv("process2 train data after nlp(base).csv")