In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/test/sentence 1/test data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
9069            아 네 그 국민 은행 입출금 계좌 두 계좌는 용도가 동일하시지 않습니까?        2
535                               그거는 뭐 고객님께서 결정을 해주셔야죠.        1
3424                                그거는 수사관이 다 드리는 돈이에요.        2
20978                       네 직인생략은 수료증 효력에는 전혀 문제없습니다.         0
1458                                              얼마정도요?        1
...                                                  ...      ...
5247    근데 아무래도 이제 이런 뭐 뺄 수는 없기 때문에 이게 지금 뭐 포함이 안 되는 ...        2
9209                                            주소 알려주세요        2
778                                   사기범 :제가기다리고있겠 습니다.        2
7205                                             농협 같은 거        2
730                                     예 네 최첨단 할 때 첨단이고        2

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    2
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                          sentence  predict
4242                  저희는 그 손님들 게임머니 펀드용으로 사용하는겁니다        1
9268                                      증명서 보내세요        2
7205                                       농협 같은 거        2
14914            학생증, 여권 , 대리인 신청의 경우 증명서류가 필요합니다.        0
3072                             저 지금 현대백화점까지 왔어요.        2
...                                            ...      ...
3345                      울산요 지방 같은 경우는 시간이 좀 걸려요.        1
11574  네, 그럼 신청서 작성하실때 이미지파일과 블로그 주소를 같이 올려주시면 되세요        0
21114                                  사본도 가능하십니다.        0
14994                        가까운 주민센터에서 수령 가능하십니다.        0
4024                                      네 수사관이에요        2

[298 rows x 2 columns]

In [22]:
data.to_csv("test_data_before_vector.csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_test.shape

(298, 768)

In [15]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [16]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
293     NaN
294     NaN
295     NaN
296     NaN
297     NaN

[298 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [19]:
y_test

    predict
0         1
1         2
2         2
3         0
4         2
..      ...
293       1
294       0
295       0
296       0
297       2

[298 rows x 1 columns]

In [20]:
y_test.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [23]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.019099,-0.104256,-0.01803,0.005671,0.000206,-0.04035,-0.007208,0.017294,0.014694,0.011154,...,-0.062231,-0.037447,-0.022658,-0.018268,-0.007963,0.006181,0.032666,0.004771,0.022066,-0.014532
1,0.020117,-0.025861,-0.032079,0.021511,0.025773,0.003988,-0.066191,0.053363,0.067039,-0.024414,...,-0.045366,-0.028166,-0.020351,-0.024914,-0.054272,-0.053093,0.003453,0.026747,0.050277,-0.020252
2,0.043454,0.011166,-0.002768,0.008319,0.056026,0.022053,-0.097502,0.052376,0.066764,0.000473,...,-0.020205,-0.005991,0.055417,-0.021152,-0.074921,-0.025986,0.015827,0.021306,0.047535,-0.045148
3,0.030423,-0.064992,-0.021727,-0.01427,-0.007487,-0.022479,-0.004361,0.007006,0.042675,-0.010948,...,-0.061283,-0.058934,-0.032113,-0.004783,-0.025371,-0.015102,0.00935,0.032275,0.01489,-0.018156
4,0.02884,0.005714,0.000585,0.019787,0.065797,0.010164,-0.088089,0.041887,0.043597,-0.003257,...,-0.016522,-0.012855,0.021575,-0.027208,-0.060604,-0.084988,0.009013,0.030986,0.031757,-0.030526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,0.058292,-0.035155,-0.015194,0.005451,0.025302,-0.000608,-0.058754,0.014193,0.058671,-0.038786,...,-0.022038,-0.039329,0.00414,0.005026,-0.046963,-0.064573,-0.004561,0.032041,0.040218,-0.010622
294,0.039668,-0.078354,-0.027025,0.015098,0.010842,-0.017634,-0.01572,0.01108,0.047333,-0.002592,...,-0.047062,-0.023923,0.002176,-0.006603,-0.034102,-0.072358,0.019209,0.019989,-0.00018,-0.0344
295,0.037706,-0.032181,-0.00102,-0.003804,0.067689,0.013585,-0.085335,0.031077,0.066368,0.002271,...,-0.032449,-0.016005,-0.004872,-0.037409,-0.037489,-0.04351,0.000274,0.034143,0.057632,0.001419
296,0.055336,-0.069189,-0.008533,-0.024614,0.031422,-0.016245,-0.031454,-0.005556,0.04758,-0.023323,...,-0.035146,-0.039346,0.004434,0.004005,-0.043663,-0.074321,0.009069,0.033436,0.025823,-0.014112
297,0.044637,-0.022907,-0.010693,-0.027367,0.036208,0.007632,-0.034782,0.0203,0.062207,-0.024301,...,-0.02471,-0.021648,0.014846,-0.0171,-0.060085,-0.087328,-0.015236,0.012522,0.033853,-0.01795

In [24]:
data=pd.concat([x_test,y_test],axis=1)

In [25]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,-0.019099,-0.104256,-0.01803,0.005671,0.000206,-0.04035,-0.007208,0.017294,0.014694,0.011154,...,-0.037447,-0.022658,-0.018268,-0.007963,0.006181,0.032666,0.004771,0.022066,-0.014532,1
1,0.020117,-0.025861,-0.032079,0.021511,0.025773,0.003988,-0.066191,0.053363,0.067039,-0.024414,...,-0.028166,-0.020351,-0.024914,-0.054272,-0.053093,0.003453,0.026747,0.050277,-0.020252,2
2,0.043454,0.011166,-0.002768,0.008319,0.056026,0.022053,-0.097502,0.052376,0.066764,0.000473,...,-0.005991,0.055417,-0.021152,-0.074921,-0.025986,0.015827,0.021306,0.047535,-0.045148,2
3,0.030423,-0.064992,-0.021727,-0.01427,-0.007487,-0.022479,-0.004361,0.007006,0.042675,-0.010948,...,-0.058934,-0.032113,-0.004783,-0.025371,-0.015102,0.00935,0.032275,0.01489,-0.018156,0
4,0.02884,0.005714,0.000585,0.019787,0.065797,0.010164,-0.088089,0.041887,0.043597,-0.003257,...,-0.012855,0.021575,-0.027208,-0.060604,-0.084988,0.009013,0.030986,0.031757,-0.030526,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,0.058292,-0.035155,-0.015194,0.005451,0.025302,-0.000608,-0.058754,0.014193,0.058671,-0.038786,...,-0.039329,0.00414,0.005026,-0.046963,-0.064573,-0.004561,0.032041,0.040218,-0.010622,1
294,0.039668,-0.078354,-0.027025,0.015098,0.010842,-0.017634,-0.01572,0.01108,0.047333,-0.002592,...,-0.023923,0.002176,-0.006603,-0.034102,-0.072358,0.019209,0.019989,-0.00018,-0.0344,0
295,0.037706,-0.032181,-0.00102,-0.003804,0.067689,0.013585,-0.085335,0.031077,0.066368,0.002271,...,-0.016005,-0.004872,-0.037409,-0.037489,-0.04351,0.000274,0.034143,0.057632,0.001419,0
296,0.055336,-0.069189,-0.008533,-0.024614,0.031422,-0.016245,-0.031454,-0.005556,0.04758,-0.023323,...,-0.039346,0.004434,0.004005,-0.043663,-0.074321,0.009069,0.033436,0.025823,-0.014112,0
297,0.044637,-0.022907,-0.010693,-0.027367,0.036208,0.007632,-0.034782,0.0203,0.062207,-0.024301,...,-0.021648,0.014846,-0.0171,-0.060085,-0.087328,-0.015236,0.012522,0.033853,-0.01795,2

In [26]:
data=data.sample(frac=1)

In [27]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
44,0.056711,-0.060076,-0.031958,-0.001777,-0.003604,-0.012684,0.017399,-0.01066,0.05547,-0.001826,...,-0.029439,-0.026683,0.019044,-0.031712,-0.041407,0.023138,0.027479,-0.005163,-0.031843,0
171,0.074944,-0.045751,-0.007778,-0.002672,0.02824,0.005112,-0.057693,0.023933,0.0462,-0.014622,...,-0.027458,0.002924,-0.003424,-0.044315,-0.047808,0.019583,0.019474,0.0297,-0.017412,0
274,0.019312,-0.101841,-0.028591,0.01233,-0.005509,-0.013066,0.013984,0.010444,0.049123,0.007514,...,-0.039066,-0.032407,-0.00277,-0.021146,-0.013117,0.036946,0.013022,-0.022689,-0.03663,2
275,0.024109,-0.040276,-0.017187,0.004503,0.024957,-0.007877,-0.053037,0.043623,0.048843,0.00218,...,-0.023953,0.009843,-0.008359,-0.051463,-0.050527,0.018333,0.0148,0.03988,-0.019558,2
7,0.046605,-0.064899,-0.02482,0.010516,0.015958,-0.016164,-0.010714,-0.006663,0.036197,0.001099,...,-0.033957,-0.007626,0.011221,-0.039286,-0.046441,0.012583,0.030781,-0.001008,-0.030926,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,0.0356,-0.03372,-0.022381,-0.009095,0.018319,0.008709,-0.020675,0.04946,0.083734,-0.007385,...,-0.04038,-0.040234,-0.010951,-0.056272,-0.014883,-0.007526,0.034894,0.00317,-0.039798,0
137,0.048064,-0.079922,-0.012604,-0.043262,0.043363,-0.002384,0.009901,0.018047,0.051578,-0.051987,...,-0.019954,0.010515,0.011947,-0.055333,-0.057865,0.015773,0.022141,0.022577,-0.020521,1
246,0.041688,-0.077052,-0.027643,0.023213,-0.00269,-0.018474,-0.044285,0.043757,0.043142,-0.019067,...,-0.025019,-0.029815,-0.008062,-0.025718,-0.017749,0.010087,0.029177,0.01416,-0.019479,2
53,0.062363,-0.006561,-0.017743,0.01721,0.023084,0.010052,-0.087838,0.030438,0.063237,0.002961,...,-0.008753,0.016917,-0.002146,-0.040565,-0.044331,0.0117,0.026464,0.028297,-0.025984,0
183,0.03523,-0.014809,-0.009671,0.040255,0.03626,0.012086,-0.064657,0.039916,0.080972,0.011073,...,-0.010339,0.049278,-0.027817,-0.041868,-0.06277,0.000367,0.010139,0.025385,-0.019829,2

In [28]:
data.to_csv("test_data_after_vector.csv")