In [10]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/train/sentence 1/train data.csv",index_col=0)

In [11]:
data_row

                                               sentence  predict
9823           예 더 궁금한 점 없으시면 상담 종료하겠습니다. 상담원 OOO이었습니다.        0
4928                              죄송하지만 이미 신청기간이 지났어요.         0
9074                네, 청년을 대상으로 저렴하게 임대주택을 공급하는 서비스입니다.        0
8678                                             몇몇 분들만        2
9473   금융 개인 정보 유출이 나 이 부분으로 인해서 금융범죄의 피해를 입으신 건지 확인...        2
...                                                 ...      ...
6409                                네 네 그리고 그 3번에 보시면요.        2
3351                                          무슨말인지 알죠?        2
628                                      네 어떤것을 도와드릴까요?        0
3264                         아 제거 KB국민은행에 상환이 다 안되있던데요?        1
263                                        아 그거는 모르겠는데.        2

[20492 rows x 2 columns]

In [12]:
data_row.isnull().sum()

sentence    169
predict       0
dtype: int64

In [13]:
data_row=data_row.dropna()

In [14]:
data=data_row.sample(frac=1)

In [15]:
data

                                        sentence  predict
5799                  가 이걸 들고 자택으로 귀가를 하실 수가 없어요        2
2091                                 아니요 혼자 있어요.        2
10410  서울시내 35개소 하이프라자 직영 LG베스트샵에서 가입하실 수 있습니다.         0
3086                   4천만원 어차피 내일 그 뭐 여행 가신다면서.        2
6192                   온라인에서는 무료민원으로 발급 가능 하십니다.        0
...                                          ...      ...
511          신한 은행 입출금 계좌는 잔액이 얼마 미만은 본인 계좌 맞아요?        2
20666                       네 잠시만요 바로 답변 드리겠습니다.        0
9273                              네 어디서 뭐하고 계셨는지        2
3256               가능합니다. 혹시 저희 기관은 어떻게 아시게 됐나요?        0
4478                   아... 돈은 만약에 하면 어떻게 받는거에요?        1

[20323 rows x 2 columns]

In [16]:
data.to_csv("train_data_before_vector.csv")

In [17]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [18]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [19]:
A=model.encode(data.iloc[0,0])

In [20]:
A.shape[0]

768

In [21]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [22]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [23]:
x_train.shape

(20323, 768)

In [24]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [25]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
20318     NaN
20319     NaN
20320     NaN
20321     NaN
20322     NaN

[20323 rows x 1 columns]

In [27]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [28]:
y_train

      predict
0           2
1           2
2           0
3           2
4           0
...       ...
20318       2
20319       0
20320       2
20321       0
20322       1

[20323 rows x 1 columns]

In [29]:
y_train.isnull().sum()

predict    0
dtype: int64

In [30]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [31]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.063577,-0.062032,-0.023451,0.009231,0.039372,-0.000568,-0.030423,0.027775,0.061109,0.003499,...,-0.03576,-0.014266,0.007088,0.002965,-0.039665,-0.032367,0.007041,0.034014,0.005812,-0.023787
1,0.037744,-0.010986,-0.003254,0.002863,0.068416,0.030967,-0.099128,0.020649,0.099035,-0.014554,...,-0.001226,-0.020958,0.041355,-0.023158,-0.05702,-0.02029,0.007968,0.02257,0.039632,-0.008712
2,0.033139,-0.111609,-0.013402,0.007981,0.017567,-0.0114,0.013919,0.007949,0.039855,-0.010294,...,-0.071199,-0.068989,-0.060063,0.007633,-0.033073,-0.040915,0.022561,0.002532,-0.016723,-0.023844
3,0.021195,-0.082051,-0.017749,0.041421,-0.008736,-0.027444,-0.0199,-0.009974,0.035775,-0.013731,...,-0.077487,-0.029766,-0.056841,-0.004803,-0.024549,-0.00694,0.017959,0.014247,-0.0061,-0.036502
4,0.061999,-0.06344,-0.013643,-0.006604,0.008376,0.0003,-0.042538,0.004991,0.033823,-0.017264,...,-0.045841,-0.034943,-0.018851,0.007536,-0.034065,-0.046814,0.015203,0.015631,0.020099,-0.006951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20318,0.029724,-0.072793,-0.003159,0.011218,0.011614,-0.000548,-0.008436,0.026268,0.062815,-0.015951,...,-0.03444,-0.01989,-0.002368,0.015423,-0.046394,-0.064892,0.016627,0.029915,-0.001517,-0.033523
20319,0.028372,-0.012588,-0.022692,0.009294,0.053959,0.012728,-0.067673,0.040417,0.082103,-0.004731,...,-0.012139,-0.007766,0.014192,-0.024581,-0.060909,-0.052152,-0.005236,0.02659,0.044483,-0.029653
20320,0.04662,-0.0105,-0.020075,0.002753,0.057223,0.010488,-0.06422,0.038502,0.060612,-0.012002,...,-0.020287,0.003237,0.00502,-0.016448,-0.056557,-0.050303,0.000937,0.013425,0.037247,-0.024924
20321,0.054704,-0.001745,-0.00296,0.015317,0.003787,-0.003174,-0.071593,0.034978,0.107971,-0.003286,...,-0.025643,-0.013159,0.030584,0.00947,-0.040694,-0.039129,0.008226,0.021771,0.032072,-0.014411
20322,0.065433,0.000716,-0.011027,0.02781,0.037964,0.004408,-0.027535,0.030345,0.088557,-0.000529,...,0.003497,-0.005631,0.043729,0.011001,-0.043537,0.016976,-0.022233,0.046905,-0.00781,-0.028403

In [32]:
data=pd.concat([x_train,y_train],axis=1)

In [33]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.063577,-0.062032,-0.023451,0.009231,0.039372,-0.000568,-0.030423,0.027775,0.061109,0.003499,...,-0.014266,0.007088,0.002965,-0.039665,-0.032367,0.007041,0.034014,0.005812,-0.023787,2
1,0.037744,-0.010986,-0.003254,0.002863,0.068416,0.030967,-0.099128,0.020649,0.099035,-0.014554,...,-0.020958,0.041355,-0.023158,-0.05702,-0.02029,0.007968,0.02257,0.039632,-0.008712,2
2,0.033139,-0.111609,-0.013402,0.007981,0.017567,-0.0114,0.013919,0.007949,0.039855,-0.010294,...,-0.068989,-0.060063,0.007633,-0.033073,-0.040915,0.022561,0.002532,-0.016723,-0.023844,0
3,0.021195,-0.082051,-0.017749,0.041421,-0.008736,-0.027444,-0.0199,-0.009974,0.035775,-0.013731,...,-0.029766,-0.056841,-0.004803,-0.024549,-0.00694,0.017959,0.014247,-0.0061,-0.036502,2
4,0.061999,-0.06344,-0.013643,-0.006604,0.008376,0.0003,-0.042538,0.004991,0.033823,-0.017264,...,-0.034943,-0.018851,0.007536,-0.034065,-0.046814,0.015203,0.015631,0.020099,-0.006951,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20318,0.029724,-0.072793,-0.003159,0.011218,0.011614,-0.000548,-0.008436,0.026268,0.062815,-0.015951,...,-0.01989,-0.002368,0.015423,-0.046394,-0.064892,0.016627,0.029915,-0.001517,-0.033523,2
20319,0.028372,-0.012588,-0.022692,0.009294,0.053959,0.012728,-0.067673,0.040417,0.082103,-0.004731,...,-0.007766,0.014192,-0.024581,-0.060909,-0.052152,-0.005236,0.02659,0.044483,-0.029653,0
20320,0.04662,-0.0105,-0.020075,0.002753,0.057223,0.010488,-0.06422,0.038502,0.060612,-0.012002,...,0.003237,0.00502,-0.016448,-0.056557,-0.050303,0.000937,0.013425,0.037247,-0.024924,2
20321,0.054704,-0.001745,-0.00296,0.015317,0.003787,-0.003174,-0.071593,0.034978,0.107971,-0.003286,...,-0.013159,0.030584,0.00947,-0.040694,-0.039129,0.008226,0.021771,0.032072,-0.014411,0
20322,0.065433,0.000716,-0.011027,0.02781,0.037964,0.004408,-0.027535,0.030345,0.088557,-0.000529,...,-0.005631,0.043729,0.011001,-0.043537,0.016976,-0.022233,0.046905,-0.00781,-0.028403,1

In [34]:
data=data.sample(frac=1)

In [35]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
6702,0.068081,-0.056239,-0.019021,-0.02509,-0.005837,0.000336,0.019997,-0.007148,0.060683,-0.01203,...,-0.035344,-0.025472,0.012888,-0.048334,-0.06116,0.018006,0.012246,0.033173,-0.027132,0
10656,0.057598,-0.055984,0.001269,-0.032158,0.03964,-0.000089,-0.045828,0.009404,0.064975,-0.026866,...,-0.030553,0.029377,0.009995,-0.060638,-0.076704,0.01229,0.024018,0.025081,-0.011177,0
15150,0.043729,-0.057656,-0.034226,0.010653,0.030365,-0.004821,-0.020315,0.006773,0.038257,-0.006236,...,-0.016035,-0.021165,-0.000375,-0.040309,-0.029949,0.00567,0.03746,0.019679,-0.045981,2
19013,0.038672,0.037888,0.003315,0.048451,0.072535,0.029248,-0.09509,0.04904,0.066016,0.022115,...,0.014948,0.077638,-0.020985,-0.049424,0.005692,0.001576,0.026644,0.014949,-0.029362,1
19856,0.035656,-0.021348,-0.007308,0.019653,0.031415,0.001607,-0.079395,0.048559,0.072392,-0.008337,...,-0.031299,0.025855,-0.013033,-0.053105,-0.03908,0.023312,0.028789,0.037208,-0.019803,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14554,0.030436,-0.013888,-0.023153,0.001383,0.040612,0.00831,-0.055057,0.020981,0.094928,-0.015508,...,-0.040328,0.011313,-0.023885,-0.065066,-0.035611,-0.022943,0.038518,0.025133,-0.02345,0
8909,0.075469,-0.035791,-0.019274,0.034627,0.009696,-0.01632,0.0138,-0.012563,0.04224,-0.003039,...,-0.043293,-0.00971,0.000526,-0.030738,-0.041801,0.024832,0.021644,-0.002927,-0.050988,0
12597,0.050968,-0.138988,-0.011835,0.004274,0.029267,0.021201,0.056296,-0.010826,0.006245,0.013582,...,0.035958,0.044038,0.049036,-0.048571,0.047213,0.010352,-0.001775,-0.060403,-0.049395,2
12428,0.023058,-0.072633,0.006806,0.008336,0.008375,-0.014838,-0.029651,0.02104,0.033438,-0.008126,...,-0.041635,-0.058966,-0.02702,-0.054245,-0.033828,0.013196,0.004331,0.000539,-0.006279,0
12568,0.041824,-0.026018,0.00151,-0.012775,0.035288,0.037778,-0.053581,0.027424,0.021299,-0.003218,...,-0.040991,0.000209,-0.013838,-0.059107,0.00175,0.028955,0.018203,-0.00845,-0.011034,0

In [36]:
data.to_csv("train_data_after_vector.csv")