In [1]:
import os
from openai import OpenAI
import pandas as pd

In [2]:
data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0504/gpt/train/sentence 4/train_data_before_vector.csv",index_col=0)
data_row

                                                sentence  predict
17414                    인천,김해,제주 공항에 국제운전면허 발급센터도 있습니다.        0
13248                             국립중앙박물관 홈페이지에서 가능합니다.         0
2913    저희가 주민 번호 은행권에 계좌 번호 비밀 번호 등을 묻지 않는다고 말씀... 아...        2
13131                                          네 그러시군요.         0
817     피해자 :폐쇠한 것 같 아요 그거자체 를. 음 신한 은행은 신한 은행은 제가 기억...        2
...                                                  ...      ...
1153    좀. 제가 지금까지 대출을 받은거 다 아시겠지만 받으면은 제외하거나 빼서 들어오지...        1
9952   물론입니다. 제보자님께 해가 가지않도록 비리신고제도를 운영하고 있고 보호 제도를 마...        0
2451                                 자녀분들의 나이가 어떻게 되시나요?        0
1430    발생한 비용에 대해서이자라든지 금액적인 부분에 대해서 본인께서 걱정하실 필요없구요...        2
390     예 예 그리고 신분증 앞 면 2가지 사진 찍어서 카톡으로 좀 보내 주시구요. 카카...        1

[10244 rows x 2 columns]

In [3]:
data_row=data_row[:300]

In [5]:
data_row.to_csv("gpt data before vector.csv")

In [6]:
data_row

                                                sentence  predict
17414                    인천,김해,제주 공항에 국제운전면허 발급센터도 있습니다.        0
13248                             국립중앙박물관 홈페이지에서 가능합니다.         0
2913    저희가 주민 번호 은행권에 계좌 번호 비밀 번호 등을 묻지 않는다고 말씀... 아...        2
13131                                          네 그러시군요.         0
817     피해자 :폐쇠한 것 같 아요 그거자체 를. 음 신한 은행은 신한 은행은 제가 기억...        2
...                                                  ...      ...
5316                      자격상실 기준 상황 발생 시 즉시 제출하셔야 합니다.         0
4       이 두개 계좌 계설 사실에 대해서 전혀 모르신다는 말씀 이시죠? 네 네 본인은 네...        2
2480    블로그 같은데 올리신다던가 이것 또한 본인을 법적 처벌 가능해요. 그런 행위 하면...        2
4035                               질문 하시는 이유가 따로 있으신건가요?        0
504     무슨소리하시는거죠? 지금 그 계좌 제가 신고 해놨거든요? 네 계좌에 돈을 다 빼가...        1

[300 rows x 2 columns]

In [7]:
client = OpenAI(
    api_key = "key"
)

In [4]:
Y=pd.DataFrame(index=range(data_row.shape[0]),columns=['predict'])
gpt_data=pd.DataFrame(index=range(data_row.shape[0]),columns=['predict'])

In [9]:
Y

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

### 일반=0/대출사기형=1/수사기관형=2   gpt4 한번 질문하는데 2.2917076원

In [11]:
question="이 대화가 아주 정말 조금이라도 피싱이 의심이 되면 0을 출력하고 이 문장이 피싱이 정말 의심이 되지 않으면 1을 출력해, 0아님 1만 출력해"
A=" 이천 십 칠년 시 월 십육일 경남 마산 양덕동점에서 경남 은행과 국민은행 두 통장을 개설한 사실이 있습니까? 아니요 없으시고 두 통장은 불법 현장에서 발견되었기 때문에 본인 동의 없이 동결 처리된 상태입니다. 동결 처리는 어떤 뜻인지 알고 계신가요"+' '+question
A

' 이천 십 칠년 시 월 십육일 경남 마산 양덕동점에서 경남 은행과 국민은행 두 통장을 개설한 사실이 있습니까? 아니요 없으시고 두 통장은 불법 현장에서 발견되었기 때문에 본인 동의 없이 동결 처리된 상태입니다. 동결 처리는 어떤 뜻인지 알고 계신가요 이 대화가 아주 정말 조금이라도 피싱이 의심이 되면 0을 출력하고 이 문장이 피싱이 정말 의심이 되지 않으면 1을 출력해, 0아님 1만 출력해'

In [57]:
completion = client.chat.completions.create(
  model = "gpt-4-turbo-2024-04-09",
  messages = [
    {"role": "system", "content": A}
    
  ]
)
completion.choices[0].message.content.strip()

'0'

In [20]:
for i in range(data_row.shape[0]):#반복 횟수 설정? 바꿔야 할 수도
    completion = client.chat.completions.create(
    model = "gpt-4-turbo-2024-04-09",# model 바꿔야 할 수도 있음 우선 놔두고
    messages = [
        {"role": "system", "content": data_row.iloc[i,0]+' '+question}
    
        ]
    
    )
    Y.iloc[i,0]=completion.choices[0].message.content.strip()

In [21]:
Y

    predict
0         1
1         1
2         1
3         1
4         0
..      ...
295       0
296       0
297       0
298       1
299       0

[300 rows x 1 columns]

In [22]:
Y.to_csv("gpt predction data.csv")

In [27]:
gpt_data# 0이면 보이스 피싱 1이면 피싱 아님

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [4]:
Y=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0504/gpt/test/use gpt/gpt predction data.csv",index_col=0)

In [6]:
for i in range(data_row.shape[0]): #벡터화
    if Y.iloc[i,0]=='0':
        data_row.iloc[i,0]=data_row.iloc[i,0]+'본인'
    elif Y.iloc[i,0]=='1':
        data_row.iloc[i,0]=data_row.iloc[i,0]+'가능'

In [7]:
data_row.to_csv("gpt test data before vector.csv")

In [8]:
from sentence_transformers import SentenceTransformer


model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [9]:
A=model.encode(data_row.iloc[0,0])

In [10]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [11]:
x_train=pd.DataFrame(index=range(0,data_row.shape[0]),columns=list)
y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [12]:
for i in range(data_row.shape[0]):
    y_train.iloc[i,0]=data_row.iloc[i,1]

In [13]:
y_train

    predict
0         0
1         0
2         2
3         0
4         2
..      ...
295       0
296       2
297       2
298       0
299       1

[300 rows x 1 columns]

In [14]:
for i in range(data_row.shape[0]):
    vector=[]
    vector=model.encode(data_row.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [15]:
X=x_train

In [16]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.052607,-0.053146,-0.012321,-0.014028,0.00689,-0.004457,-0.028779,0.008729,0.079076,-0.018651,...,-0.043108,-0.035216,-0.004926,0.002643,-0.041705,-0.073804,0.011732,0.023657,0.023674,-0.021644
1,0.06564,-0.056633,-0.012326,-0.016592,-0.000792,0.000747,-0.054616,0.016118,0.057677,-0.018877,...,-0.039779,-0.044232,-0.005241,0.006694,-0.043336,-0.056174,0.029313,0.019381,0.020676,-0.005578
2,0.069203,0.005305,-0.026596,0.008959,0.006379,0.003055,-0.019259,0.008808,0.090986,-0.012824,...,-0.005861,0.003346,0.024238,-0.002917,-0.040966,-0.080141,0.006348,0.023794,0.016556,-0.028141
3,0.048832,-0.030371,-0.013756,-0.014487,0.036973,0.022373,-0.071002,0.022927,0.065173,-0.012395,...,-0.019117,-0.019971,0.005966,-0.027569,-0.053896,-0.080093,-0.018758,0.014429,0.03731,-0.016282
4,0.046536,-0.022251,-0.027004,0.025981,0.022376,-0.013689,-0.050304,0.025515,0.044787,0.012179,...,-0.053641,-0.000852,0.002012,0.01753,-0.016844,-0.010146,-0.008205,0.021647,0.003026,-0.051527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.040003,-0.064648,-0.018835,-0.006117,0.010363,-0.005344,-0.034186,0.012278,0.054149,-0.011063,...,-0.040477,-0.040163,-0.005274,0.008005,-0.04159,-0.055268,0.020849,0.034811,0.020718,-0.021949
296,0.073091,-0.028996,-0.028392,0.00092,0.015825,-0.018732,-0.012348,0.011915,0.070874,-0.03119,...,0.01997,-0.004783,-0.014253,0.007529,-0.056072,-0.091468,0.01198,0.028562,0.030464,-0.030895
297,0.083376,-0.068627,-0.036659,-0.003334,-0.010199,0.016196,0.021092,-0.002018,0.034819,-0.000455,...,-0.062952,-0.006444,-0.035012,0.003636,-0.040252,-0.028809,0.022249,0.034587,-0.033327,-0.045664
298,0.070441,-0.014618,-0.001047,0.005914,0.016108,-0.001186,-0.043199,0.024911,0.077226,-0.016414,...,-0.007053,-0.020586,0.030968,0.016237,-0.047834,-0.050271,0.007913,0.022933,0.015934,-0.017663
299,0.075807,-0.044541,-0.020139,0.011083,0.033347,-0.004144,-0.035892,0.009996,0.074813,-0.026232,...,0.022908,-0.014597,0.012359,0.011215,-0.050336,-0.058497,-0.020681,0.026548,0.030621,-0.011081

In [17]:
data_save=pd.concat([x_train,y_train],axis=1)
data_save

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.052607,-0.053146,-0.012321,-0.014028,0.00689,-0.004457,-0.028779,0.008729,0.079076,-0.018651,...,-0.035216,-0.004926,0.002643,-0.041705,-0.073804,0.011732,0.023657,0.023674,-0.021644,0
1,0.06564,-0.056633,-0.012326,-0.016592,-0.000792,0.000747,-0.054616,0.016118,0.057677,-0.018877,...,-0.044232,-0.005241,0.006694,-0.043336,-0.056174,0.029313,0.019381,0.020676,-0.005578,0
2,0.069203,0.005305,-0.026596,0.008959,0.006379,0.003055,-0.019259,0.008808,0.090986,-0.012824,...,0.003346,0.024238,-0.002917,-0.040966,-0.080141,0.006348,0.023794,0.016556,-0.028141,2
3,0.048832,-0.030371,-0.013756,-0.014487,0.036973,0.022373,-0.071002,0.022927,0.065173,-0.012395,...,-0.019971,0.005966,-0.027569,-0.053896,-0.080093,-0.018758,0.014429,0.03731,-0.016282,0
4,0.046536,-0.022251,-0.027004,0.025981,0.022376,-0.013689,-0.050304,0.025515,0.044787,0.012179,...,-0.000852,0.002012,0.01753,-0.016844,-0.010146,-0.008205,0.021647,0.003026,-0.051527,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.040003,-0.064648,-0.018835,-0.006117,0.010363,-0.005344,-0.034186,0.012278,0.054149,-0.011063,...,-0.040163,-0.005274,0.008005,-0.04159,-0.055268,0.020849,0.034811,0.020718,-0.021949,0
296,0.073091,-0.028996,-0.028392,0.00092,0.015825,-0.018732,-0.012348,0.011915,0.070874,-0.03119,...,-0.004783,-0.014253,0.007529,-0.056072,-0.091468,0.01198,0.028562,0.030464,-0.030895,2
297,0.083376,-0.068627,-0.036659,-0.003334,-0.010199,0.016196,0.021092,-0.002018,0.034819,-0.000455,...,-0.006444,-0.035012,0.003636,-0.040252,-0.028809,0.022249,0.034587,-0.033327,-0.045664,2
298,0.070441,-0.014618,-0.001047,0.005914,0.016108,-0.001186,-0.043199,0.024911,0.077226,-0.016414,...,-0.020586,0.030968,0.016237,-0.047834,-0.050271,0.007913,0.022933,0.015934,-0.017663,0
299,0.075807,-0.044541,-0.020139,0.011083,0.033347,-0.004144,-0.035892,0.009996,0.074813,-0.026232,...,-0.014597,0.012359,0.011215,-0.050336,-0.058497,-0.020681,0.026548,0.030621,-0.011081,1

In [18]:
data_save.to_csv("gpt test data.csv")